<div class="table-scroll-wrapper status-table-wrapper score-table">
  <table class="table table-resource">
    <thead>
    <tr class="borderless-row">
      <th class="user-name"><%= t('.user') %></th>
      <% feedbacks[:evaluation_exercises].each do |exercise| %>
        <th class="status-header"><%= exercise.exercise.name %></th>
      <% end %>
      <th class="status-header">
        <%= t ".total" %>
      </th>
    </tr>
    <% maximum = @evaluation.maximum_score %>
    <% average = @evaluation.average_score(feedbacks[:evaluation_exercises]) %>
    <tr>
      <th class="user-name"><%= t ".average" %></th>
      <% feedbacks[:evaluation_exercises].each do |exercise| %>
        <th class="status">
          <% max_score = exercise.maximum_score %>
          <% if max_score.present? %>
            <%= format_score exercise.average_score %> / <%= format_score max_score %>
          <% else %>
            -
          <% end %>
        </th>
      <% end %>
      <th class="status">
        <%= format_score average %> / <%= format_score maximum %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% evaluation.users.order(last_name: :asc, first_name: :asc).each do |user| %>
      <% feedback_l = feedbacks[:feedbacks][user.id] %>
      <% average = feedbacks[:averages][user.id] %>
      <tr>
        <td class="user-name ellipsis-overflow">
          <%= link_to user.full_name, course_member_path(@evaluation.series.course, user), title: user.full_name, class: "ellipsis-overflow", target: "_blank" %>
        </td>
        <% feedback_l.each do |feedback| %>
          <td class="status">
            <%= render partial: 'grade_status', locals: { evaluation: @evaluation, feedback: feedback } %>
          </td>
        <% end %>
        <td class="status">
          <%= format_score average %> / <%= format_score maximum %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
