<div class="table-scroll-wrapper status-table-wrapper">
  <table class="table table-resource">
    <thead>
      <tr>
        <th class="user-name"><%= t('.user') %></th>
        <% feedbacks[:exercises].each do |exercise| %>
          <th class="status-header"><%= exercise.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% users.order(last_name: :asc, first_name: :asc).each do |user| %>
        <% feedback_l = feedbacks[:feedbacks][user.id] %>
        <tr>
          <td class="user-name ellipsis-overflow">
            <%= link_to user.full_name,
                        evaluation_feedback_path(@evaluation, feedback_l.first),
                        title: t('.evaluate_user', user: user.full_name ),
                        class: "ellipsis-overflow",
                        target: "_blank" %>
          </td>
          <% feedback_l.each do |feedback| %>
            <td class="status">
              <%= link_to evaluation_feedback_path(@evaluation, feedback),
                          class: "btn btn-text with-icon #{feedback.completed? ? "text-muted" : ""}" do %>
                <% if feedback&.submission.present? %>
                    <%= submission_status_icon feedback.submission %>
                <% else %>
                    <i class="mdi mdi-18 mdi-cancel text-muted"></i>
                <% end %>
                <% if feedback.completed? %>
                 <%= t "evaluations.exercises_progress_table.evaluated" %>
                <% else %>
                  <%= t "evaluations.exercises_progress_table.evaluate" %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
