<div class="table-scroll-wrapper">
  <table class="table activity-table table-resource">
    <thead>
    <tr>
      <th class="status-icon"></th>
      <th><%= t "activities.index.activity_title" %></th>
      <th class='count'><%= t "evaluations.show.evaluation_progress" %></th>
      <th class="status-icon"></th>
    </tr>
    </thead>
    <tbody>
    <% local_assigns[:metadata][:per_exercise].each do |meta| %>
      <tr>
        <td class='type-icon'>
          <i class=<%"mdi mdi-#{meta[:exercise].programming_language&.icon || "file-document-edit-outline" } mdi-18"%> title="<%= t "activities.index.type.exercise" %>"></i>
        </td>

        <td>
          <%= link_to(meta[:exercise].name, course_series_activity_path(local_assigns[:series].course, local_assigns[:series], meta[:exercise]), target: '_blank') %>
        </td>

        <td>
          <span data-toggle="tooltip" data-html="true" title="<%= t('evaluations.show.progress_html', feedback_count: meta[:done], feedback_total: meta[:total]) %>">
                <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
                  <line x1="0" y1="0.5" x2="<%= meta[:done].to_f / meta[:total] %>" y2="0.5" class="info"></line>
                  <line x1="<%= meta[:done].to_f / meta[:total] %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
                </svg>
              </span>
        </td>

        <td>
          <% if meta[:next_incomplete_feedback].present? %>
            <%= link_to meta[:next_incomplete_feedback], title: t('evaluations.show.next_incomplete_feedback'), class: 'btn btn-icon' do %>
              <i class="mdi mdi-chevron-right mdi-18"></i>
            <% end %>
          <% else %>
            <span><i class="mdi mdi-check colored-correct mdi-18"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
