<%
  if feedback.submission.blank?
    submission_status_text = t "evaluations.feedback_status.no_submission"
  else
    submission_status_text = Submission.human_enum_name(:status, feedback.submission.status)
  end

  if feedback.completed?
    title_text = t "evaluations.feedback_status.feedback_finished", status: submission_status_text
  else
    title_text = t "evaluations.feedback_status.feedback_unstarted", status: submission_status_text
  end
%>
<span class='feedback score-text <%= "active" if local_assigns[:current] == feedback %>'>
  <%= link_to evaluation_feedback_path(evaluation, feedback) do %>
    <% if feedback.completed? %>
      <span title="<%= title_text %>">
        <%= format_score feedback.score %>
      </span>
    <% else %>
      <span class="provisional" title="<%= title_text %>">
        <%= format_score feedback.score %>
      </span>
    <% end %>
  <% end %>
</span>
