<%
  if feedback.submission.blank?
    submission_status = "not-started"
  elsif feedback.submission.accepted
    submission_status = "correct"
  else
    submission_status = "wrong"
  end
%>

<% if feedback.rubrics.present? %>
  <span class='feedback <%= submission_status %> <%= "active" if local_assigns[:current] == feedback %>'>
    <%= link_to evaluation_feedback_path(evaluation, feedback), class: "btn btn-icon" do %>
      <% if feedback.completed? %>
        <span title="<%= feedback.exercise.name %>: <%= t "evaluations.feedback_status.submission_" + submission_status %><%= t "evaluations.feedback_status.feedback_finished" %>">
            <span><%= format_score feedback.score %></span>
        </span>
      <% else %>
        <span class="provisional" title="<%= feedback.exercise.name %>: <%= t "evaluations.feedback_status..submission_" + submission_status %><%= t "evaluations.feedback_status.feedback_unstarted" %>">
          <%= format_score feedback.score %>
        </span>
      <% end %>
    <% end %>
  </span>
<% else %>
  -
<% end %>