<span class='feedback score-text <%= "active" if local_assigns[:current] == feedback %>'>
  <%= link_to evaluation_feedback_path(evaluation, feedback) do %>
    <% if feedback.completed? %>
      <span title="<%= feedback_title(feedback) %>">
        <%= format_score feedback.score %>
      </span>
    <% else %>
      <span class="provisional" title="<%= feedback_title(feedback) %>">
        <%= format_score feedback.score %>
      </span>
    <% end %>
  <% end %>
</span>
