<div class="table-scroll-wrapper">
  <table class="table table-index table-resource evaluation-users-table">
    <thead>
    <tr>
      <th class="status-icon"></th>
      <th class='status-icon'></th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= t("course_members.members_table.labels") %></th>
      <th><%= t('.status') %></th>
    </tr>
    </thead>
    <tbody>
    <% course_memberships.each do |course_membership| %>
      <% user = course_membership.user %>
      <tr id="user-row-<%= user.id %>" class="user-row <%= "table-active" if @evaluation.users.include?(user) %>">
        <%= render partial: 'evaluations/member_row', locals: { user: user, course_membership: course_membership, confirm: confirm } %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if course_memberships.empty? %>
  <p class="text-center text-muted lead table-placeholder"><%= t 'users.index.no_users' %></p>
<% end %>
<center>
  <%= page_navigation_links course_memberships, true, 'evaluations', { id: @evaluation.id }, 'edit' %>
</center>
