<% content_for :javascripts do %>
  <%= javascript_include_tag 'evaluation' %>
<% end %>
<div class="row">
  <div class="col-sm-6">
    <%= link_to set_anonymous_evaluation_path(@evaluation, anonymous: true, format: :js), method: :post do %>
      <div class="option-btn <%= "chosen-option" if @evaluation.anonymous %>" id="yes-anonymize" data-answer="<%= t('score_items.new.yes_answer') %>">
        <div class="option-btn-title">
          <h3>
            <%= t('score_items.new.yes_answer') %>
            <br>
            <small><%= t('score_items.new.yes_anonymous_explanation') %></small>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= link_to set_anonymous_evaluation_path(@evaluation, anonymous: false, format: :js), method: :post do %>
      <div class="option-btn <%= "chosen-option" unless @evaluation.anonymous %>" id="no-anonymize" data-answer="<%= t('score_items.new.no_answer') %>">
        <div class="option-btn-title">
          <h3>
            <%= t('score_items.new.no_answer') %>
            <br>
            <small><%= t('score_items.new.no_anonymous_explanation') %></small>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  dodona.ready.then(dodona.initAnonymizeButtonsNewEval)
</script>
