<% content_for :javascripts do %>
  <%= javascript_pack_tag 'evaluation' %>
<% end %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card evaluation-user-select">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-lg-push-6">
            <div class="callout callout-info">
              <h4><%= t('evaluations.add_users.explanation_title') %></h4>
              <p><%= t('evaluations.add_users.explanation_part1') %></p>
              <p><%= t('evaluations.add_users.explanation_part2') %></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-lg-pull-6">
            <div class="card-subtitle">
              <h4><%= t('evaluations.edit_users.mass_edit') %></h4>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="user-select-option">
                  <%= link_to set_multi_user_evaluation_path(@evaluation, type: 'enrolled', format: :js) do %>
                    <%= t('evaluations.add_users.users_in_course_html', count: @user_count_course) %>
                    <div class="clearfix"></div>
                    <i class="loader mdi mdi-spin mdi-loading hidden"></i>
                    <div class="button btn-text"><%= t('.select_users') %></div>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="user-select-option">
                  <%= link_to set_multi_user_evaluation_path(@evaluation, type: 'submitted', format: :js) do %>
                    <%= t('evaluations.add_users.users_submitted_html', count: @user_count_series) %>
                    <div class="clearfix"></div>
                    <i class="loader mdi mdi-spin mdi-loading hidden"></i>
                    <div class="button btn-text"><%= t('.select_users') %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <p class="selected-users">
              <span id="users-count-wrapper">
                <%= t("evaluations.edit_users.users_selected_html", count: @evaluation.users.count) %>
              </span>
              <%= link_to t('evaluations.edit_users.clear'), set_multi_user_evaluation_path(@evaluation, type: 'none', format: :js), remote: true, method: :post %>.
            </p>
          </div>
        </div>
      </div>
      <div class="card-actions card-border">
        <% if @graded %>
          <%= link_to t('evaluations.new.next'), new_evaluation_rubric_path(@evaluation), class: "btn btn-text btn-primary" %>
        <% else %>
          <%= link_to t('evaluations.new.next'), evaluation_path(@evaluation), class: "btn btn-text btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-supporting-text">
        <%= render partial: 'edit_users', locals: { confirm: false } %>
      </div>
    </div>
  </div>
</div>
<script>
  $(window.dodona.interceptAddMultiUserClicks);
</script>
