<div class="row">
  <div class="col-sm-10 offset-sm-1 col-xs-12">
    <div class="card evaluation-user-select">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <p class="selected-users">
          <span id="users-count-wrapper">
            <%= t("evaluations.edit_users.users_selected_html", count: @evaluation.users.count) %>
          </span>
          <%= link_to t('evaluations.edit_users.clear'), set_multi_user_evaluation_path(@evaluation, type: 'none', format: :js), remote: true, method: :post, data: { confirm: t('evaluations.members_table.remove_users_consequences') } %>.
        </p>
        <%= link_to t('evaluations.edit_users.back_to_evaluation'), evaluation_path(@evaluation), class: "btn btn-text btn-primary float-end" %>
        <%= render partial: 'edit_users', locals: { confirm: true } %>
      </div>
    </div>
  </div>
</div>
