<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card series-edit">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t(".create_evaluation") %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="col-md-6 col-sm-12 col-md-push-6">
          <div class="callout callout-info">
            <h4><%= t ".explanation_title" %></h4>
            <%= t ".explanation_html" %>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-md-pull-6">
          <%= render 'form', evaluation: @evaluation %>
        </div>
      </div>
      <div class="card-actions card-border">
        <button type="submit" class="btn btn-primary btn-text" form="new_evaluation"><%= t '.next' %></button>
      </div>
    </div>
  </div>
</div>
