<div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="callout callout-info">
          <%= t('.explanation', series: @evaluation.series.name, deadline: l(@evaluation.deadline, format: :submission)) %>
        </div>
        <%# If the user can view any of the grades in this evaluation. %>
        <% graded = policy_scope(@evaluation.score_items).any? %>
        <table class="table table-resource grade-feedback-table">
          <thead>
            <tr>
              <th><%= t '.exercise' %></th>
              <th><%= t '.feedback' %></th>
              <th><%= t '.grade' %></th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% @feedbacks.each do |fb| %>
              <% show_total = policy(fb.evaluation_exercise).show_total? %>
              <% scores = policy_scope(fb.scores).includes(:score_item) %>
              <tr>
                <%# The last row is normally borderless, but this doesn't work due to the rowspan. %>
                <td class="align-top <%= "border-bottom-0" if fb === @feedbacks.last %>"
                    rowspan="<%= 1 + scores.length %>">
                  <%= link_to fb.exercise.name, activity_scoped_path(activity: fb.exercise, series: @evaluation.series) %>
                </td>
                <td>
                  <% if graded %>
                    <% if fb.maximum_score %>
                      <%= t "feedbacks.score_table.total_score" %>
                    <% else %>
                      <%= t ".no_grading" %>
                    <% end %>
                    <br>
                    <span class="text-muted small">
                      <% if fb.submission.present? %>
                        <%= t('.annotation_count', count: fb.submission.annotations.count) %>
                      <% else %>
                        <%= t('.no_submission') %>
                      <% end %>
                    </span>
                  <% else %>
                    <% if fb.submission.present? %>
                      <%= t('.annotation_count', count: fb.submission.annotations.count) %>
                    <% else %>
                      <%= t('.no_submission') %>
                    <% end %>
                  <% end %>
                </td>
                <td class="align-top">
                  <% if show_total %>
                    <% if fb.maximum_score %>
                      <%= format_score fb.score %> / <%= format_score fb.maximum_score %>
                    <% elsif graded %>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t ".no_grading" %>">
                        -
                      </span>
                    <% end %>
                  <% else %>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t ".invisible_total" %>">
                      -
                    </span>
                  <% end %>
                </td>
                <td class="actions align-top">
                  <% if fb.submission.present? %>
                    <%= link_to submission_path(fb.submission, anchor: 'code') do %>
                      <i class="mdi mdi-chevron-right mdi-18"></i>
                    <% end %>
                  <% end %>
              </tr>
              <% scores.each do |score| %>
                <tr>
                  <td class="subscore-row">
                    <%= score.score_item.name %>
                    <br>
                    <span class="text-muted small"><%= score.score_item.description %></span>
                  </td>
                  <td class="align-top">
                    <%= format_score score.score %> / <%= format_score score.score_item.maximum %>
                  </td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
