<div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="callout callout-info">
          <%= t('.explanation', series: @evaluation.series.name, deadline: l(@evaluation.deadline, format: :submission)) %>
        </div>
        <table class="table table-resource">
          <thead>
            <tr>
              <th><%= t('.exercise') %></th>
              <th><%= t('.no_annotations') %></th>
              <th><%= t('.grade') %></th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% @feedbacks.each do |fb| %>
              <tr>
                <td><%= link_to fb.exercise.name, activity_path(fb.exercise) %></td>
                <td><%= fb.submission.present? ? t('.annotation_count', count: fb.submission.annotations.count) : t('.no_submission') %></td>
                <td><%= render 'feedbacks/score_link', feedback: fb %></td>
                <td class="actions">
                  <% if fb.submission.present? %>
                    <%= link_to submission_path(fb.submission, anchor: 'code') do %>
                      <i class="mdi mdi-chevron-right mdi-18"></i>
                    <% end %>
                  <% end %>
              </tr>
              <tr class="collapse" id="<%= "score-details-#{fb.id}" %>">
                <td colspan="4">
                  <%= render 'feedbacks/score_table', feedback: fb %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
