<% content_for :javascripts do %>
  <%= javascript_pack_tag 'evaluation' %>
<% end %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card evaluation-user-select">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @title %></h2>
      </div>
      <% if @new_rubrics %>
        <div class="card-supporting-text card-border">
          <div class="row">
            <div class="col-lg-12">
              <p><%= t('.explanation_part1') %></p>
              <% if @creating %>
                <p><%= t('.explanation_part2') %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card-actions card-border">
        <% if @new_rubrics %>
          <%= link_to t('evaluations.new.next'), evaluation_path(@evaluation), class: "btn btn-text btn-primary" %>
        <% else %>
          <%= link_to t('.to_evaluation'), evaluation_path(@evaluation), class: "btn btn-text btn-primary" %>
        <% end %>
      </div>
    </div>
    <% if @new_rubrics %>
      <div class="card rubrics-card">
        <div class="card-supporting-text">
          <h4><%= t "rubrics.exercise.all" %></h4>
          <%= form_for(:rubric, html: { class: 'form-horizontal' }, url: add_all_evaluation_rubrics_path(@evaluation) ) do |f| %>
            <div class="field form-group">
              <%= f.label :name, :class => "col-sm-3 control-label" %>
              <div class="col-sm-6"><%= f.text_field :name, required: true, class: "form-control" %></div>
            </div>
            <div class="field form-group">
              <%= f.label :description, :class => "col-sm-3 control-label" %>
              <div class="col-sm-6"><%= f.text_area :description, class: "form-control", rows: "2" %></div>
              <span class="help-block col-sm-offset-3 col-sm-6"><%= t "rubrics.form.description-help" %></span>
            </div>
            <div class="field form-group">
              <%= f.label :maximum, :class => "col-sm-3 control-label" %>
              <div class="col-sm-6"><%= f.number_field :maximum, step: 0.01, min: 0, required: true, class: "form-control" %></div>
            </div>
            <div class="field form-group">
              <%= f.label :visible, t("rubrics.form.visible"), class: 'col-sm-3 control-label' %>
              <div class="col-sm-6">
                <div class="checkbox">
                  <%= label_tag do %>
                    <%= f.check_box :visible %>
                    <span class="checkbox-label"><%= t "rubrics.form.visible-help" %></span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <%= f.submit t("rubrics.form.save"), class: "btn btn-primary btn-text" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% @evaluation.evaluation_exercises.each do |evaluation_exercise| %>
      <div id="card-<%= evaluation_exercise.id %>">
        <%= render 'rubrics/exercise', evaluation_exercise: evaluation_exercise, new: nil %>
      </div>
    <% end %>
  </div>
</div>
