<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title', series: @evaluation.series.name) %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="row">
          <div class="col-lg-6 col-md-12 order-lg-1">
            <div class="callout callout-info">
              <h4><%= t ".explanation_title" %></h4>
              <p><%= t ".explanation_part1_html" %></p>
              <p><%= t ".explanation_part2_html" %></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 order-lg-0">
            <p><%= t '.deadline_html', users: @evaluation.users.count, exercises: @evaluation.exercises.count, deadline: l(@evaluation.deadline, format: :submission) %></p>
            <%= render partial: 'exercises_progress_table', locals: { metadata: @evaluation.metadata, series: @evaluation.series } %>
          </div>
        </div>
      </div>
      <div class="card-actions card-border">
        <%= link_to t('evaluations.edit_score_items'), evaluation_score_items_path(@evaluation), class: "btn-text" %>
        <%= link_to t('evaluations.edit.title'), edit_evaluation_path(@evaluation), class: "btn-text" %>
        <%= link_to (@evaluation.released ? t('.unrelease') : t('.release')),
                    evaluation_path(@evaluation, evaluation: { released: !@evaluation.released }),
                    class: "btn-primary btn-text",
                    method: :patch %>
        <a class="btn btn-icon dropdown-toggle" data-bs-toggle="dropdown">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <%= link_to t('evaluations.destroy'),
                        evaluation_path(@evaluation),
                        method: :delete,
                        class: "dropdown-item",
                        data: { confirm: t('general.are_you_sure') }
                        %>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-supporting-text">
        <div class="card-tab">
          <ul id="user-tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation">
              <a href="#evaluation-details" data-bs-toggle="tab" class="active"><%= t '.evaluation_details' %></a></li>
            <% if @evaluation.graded? %>
              <li role="presentation"><a href="#grading-details" data-bs-toggle="tab"><%= t '.grading_details' %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="evaluation-details">
              <p class="help-block"><%= t ".evaluation_details_info_html" %></p>
              <%= render 'evaluation_table', feedbacks: @feedbacks, evaluation: @evaluation %>
            </div>
            <% if @evaluation.graded? %>
              <div role="tabpanel" class="tab-pane" id="grading-details">
                <div class="table-toolbar">
                  <div class="table-toolbar-tools">
                    <p class="search help-block">
                      <%= t ".grading_details_info_html" %>
                    </p>
                    <div class="btn-group">
                      <%= link_to export_grades_evaluation_path(@evaluation, format: :csv), class: 'btn btn-secondary btn-small', title: t('evaluations.download') do %>
                        <i class="mdi mdi-download mdi-18"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <p class="help-block"></p>
                <%= render 'evaluation_grade_table', feedbacks: @feedbacks, evaluation: @evaluation %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
