<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t("score_items.form.close") %>">
      <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><%= t("score_items.exercise.copy_title", name: evaluation_exercise.exercise.name) %></h4>
  </div>

  <%= form_for(:copy, url: copy_evaluation_score_items_path(@evaluation), html: { class: 'form-horizontal' }, namespace: evaluation_exercise.id, remote: true) do |f| %>
    <div class="modal-body">
      <%= f.hidden_field :to, value: evaluation_exercise.id %>
      <div class="field form-group row">
        <%= f.label t("score_items.copy.exercise"), :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-6">
          <%= f.collection_select :from,
                                  evaluation.evaluation_exercises.filter { |o| o.id != evaluation_exercise.id },
                                  :id,
                                  ->(e) { e.exercise.name },
                                  { include_blank: t("score_items.copy.choose") },
                                  { class: "form-control", required: true } %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit t("score_items.copy.copy"), class: "btn btn-primary btn-text" %>
    </div>
  <% end %>
</div>
