<% content_for :javascripts do %>
  <%= javascript_include_tag 'score_item' %>
<% end %>
<% maximum_score = evaluation_exercise.maximum_score %>
<div id="score-items-<%= evaluation_exercise.id %>">
  <h4 class="d-flex justify-content-between align-items-baseline">
    <%= evaluation_exercise.exercise.name %>
    <a class="btn btn-text edit-btn">
      <%= t ".edit" %>
    </a>
  </h4>

  <table class="table table-resource score-items-table" id="table-for-<%= evaluation_exercise.id %>">
    <thead>
    <tr>
      <th><%= ScoreItem.human_attribute_name(:name) %></th>
      <th><%= ScoreItem.human_attribute_name(:description) %></th>
      <th><%= ScoreItem.human_attribute_name(:maximum) %></th>
      <th><%= ScoreItem.human_attribute_name(:visible) %></th>
    </tr>
    </thead>
    <tbody>
    <% if evaluation_exercise.score_items.empty? %>
      <tr>
        <td class="placeholder-text" colspan="5">
          <div><%= t 'score_items.exercise.nothing' %></div>
          <div>
            <a class="btn btn-text edit-btn">
              <%= t ".add" %>
            </a>
          </div>
        </td>
      </tr>
    <% else %>
      <% evaluation_exercise.score_items.each do |score_item| %>
        <tr>
          <td class="name"><%= score_item.name %></td>
          <td class="description"><%= markdown score_item.description %></td>
          <td class="maximum"><%= format_score score_item.maximum %></td>
          <td class="visibility">
            <% if score_item.visible %>
              <i class="mdi mdi-18 mdi-eye"></i>
            <% else %>
              <i class="mdi mdi-18 mdi-eye-off"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr class="maximum-row">
      <td colspan="2" class="wide-description"><%= t '.max' %></td>
      <td class="maximum">
        <%= format_score maximum_score %>
      </td>
      <td class="visibility">
        <%= form_for evaluation_exercise, namespace: evaluation_exercise.id, method: :patch, remote: :true do |f| %>
          <div class="form-check form-switch">
            <%= f.check_box :visible_score,
                            class: "form-check-input total-visibility-checkbox",
                            disabled: maximum_score.nil?,
                            title: t(".total_visibility"),
                            'data-bs-toggle': "tooltip" %>
          </div>
        <% end %>
      </td>
    </tr>
    </tbody>

  </table>
  <d-score-item-input-table
    class="d-none"
    route="<%=evaluation_evaluation_exercise_score_items_path(@evaluation.id, evaluation_exercise.id, format: :js) %>"
    score-items="<%= evaluation_exercise.score_items.to_json %>"
  ></d-score-item-input-table>
</div>
<script>
    window.dodona.initVisibilityCheckboxes(document.getElementById("score-items-<%= evaluation_exercise.id %>"));
    window.dodona.initEditButton(document.getElementById("score-items-<%= evaluation_exercise.id %>"));
</script>
