<% content_for :javascripts do %>
  <%= javascript_include_tag 'score_item' %>
<% end %>
<% maximum_score = evaluation_exercise.maximum_score %>
<div id="score-items-<%= evaluation_exercise.id %>">
  <h4>
    <%= evaluation_exercise.exercise.name %>
  </h4>

  <table class="table table-resource score-items-table"
         id="table-for-<%= evaluation_exercise.id %>"
         title="<%= t ".edit" %>">
    <thead>
    <tr>
      <th><%= ScoreItem.human_attribute_name(:name) %></th>
      <th><%= ScoreItem.human_attribute_name(:description) %></th>
      <th><%= ScoreItem.human_attribute_name(:maximum) %></th>
      <th><%= ScoreItem.human_attribute_name(:visible) %></th>
    </tr>
    </thead>
    <tbody>
    <% if evaluation_exercise.score_items.empty? %>
      <tr>
        <td class="placeholder-text" colspan="4">
          <%= t 'score_items.exercise.nothing' %>
        </td>
      </tr>
    <% else %>
      <% evaluation_exercise.score_items.each do |score_item| %>
        <tr>
          <td class="name"><%= score_item.name %></td>
          <td class="description"><%= markdown score_item.description %></td>
          <td class="maximum"><%= format_score score_item.maximum %></td>
          <td class="visibility">
            <% if score_item.visible %>
              <i class="mdi mdi-18 mdi-eye"></i>
            <% else %>
              <i class="mdi mdi-18 mdi-eye-off"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr class="maximum-row">
      <td class="name"><%= t '.max' %></td>
      <td class="add-score-items">
        <a class="btn btn-text edit-btn">
          <%= t ".add" %>
        </a>
      </td>
      <td class="maximum">
        <%= format_score maximum_score %>
      </td>
      <td class="visibility">
        <% if evaluation_exercise.visible_score %>
          <i class="mdi mdi-18 mdi-eye"></i>
        <% else %>
          <i class="mdi mdi-18 mdi-eye-off"></i>
        <% end %>
      </td>
    </tr>
    </tbody>

  </table>
  <d-score-item-input-table
    class="d-none"
    route="<%=evaluation_exercise_path(evaluation_exercise.id, format: :js) %>"
    score-items="<%= evaluation_exercise.score_items.to_json %>"
    <% if evaluation_exercise.visible_score? %>
      total-visible="true"
    <% end %>
  ></d-score-item-input-table>
</div>
<script>
    window.dodona.initVisibilityCheckboxes(document.getElementById("score-items-<%= evaluation_exercise.id %>"));
    window.dodona.initEditButton(document.getElementById("score-items-<%= evaluation_exercise.id %>"));
</script>
