<% content_for :javascripts do %>
  <%= javascript_pack_tag 'score_item' %>
<% end %>
<% amount = evaluation_exercise.score_items.size %>
<table class="table table-resource score-items-table" id="table-for-<%= evaluation_exercise.id %>">
  <thead>
  <tr>
    <th><%= t ".name" %></th>
    <th><%= t ".description" %></th>
    <th><%= t ".maximum" %></th>
    <th><%= t ".visible" %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if amount >= 2 %>
    <tr>
      <td><%= t ".total" %></td>
      <td class="description"><%= t ".total-description" %></td>
      <td class="maximum"><%= format_score evaluation_exercise.score_items.map(&:maximum).sum %></td>
      <td class="visibility">
        <% if evaluation_exercise.score_items.map(&:visible).any? %>
          <i class="mdi mdi-eye mdi-18 colored-secondary" title="<%= t ".visible-yes" %>"></i>
        <% else %>
          <i class="mdi mdi-eye-off mdi-18 colored-secondary" title="<%= t ".visible-no" %>"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% evaluation_exercise.score_items.each do |score_item| %>
    <tr>
      <td><%= score_item.name %></td>
      <td class="description"><%= markdown score_item.description %></td>
      <td class="maximum"><%= format_score score_item.maximum %></td>
      <td class="visibility">
        <% if score_item.visible %>
          <i class="mdi mdi-eye mdi-18 colored-secondary" title="<%= t ".visible-yes" %>"></i>
        <% else %>
          <i class="mdi mdi-eye-off mdi-18 colored-secondary" title="<%= t ".visible-no" %>"></i>
        <% end %>
      </td>
      <td class="actions">
        <%= button_to evaluation_score_item_path(evaluation, score_item),
                      title: t('.delete'),
                      method: :delete,
                      remote: true,
                      data: { confirm: t('general.are_you_sure') },
                      class: 'btn btn-sm btn-default btn-danger' do %>
          <i class="mdi mdi-delete mdi-18" aria-hidden='true'></i>
        <% end %>
        <%= link_to '#', title: t('.edit'), class: 'btn btn-sm btn-default edit-button', data: { score_item: score_item.id } do %>
          <i class="mdi mdi-pencil mdi-18" aria-hidden='true'></i>
        <% end %>
      </td>
    </tr>
    <tr class="hidden" id="form-row-<%= score_item.id %>">
      <td colspan="5">
        <%= render 'score_items/form', score_item: score_item, evaluation_exercise: evaluation_exercise, evaluation: @evaluation %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
    window.dodona.initInlineEditButton(document.getElementById("table-for-<%= evaluation_exercise.id %>"));
</script>