<% content_for :javascripts do %>
  <%= javascript_pack_tag 'score_item' %>
<% end %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card evaluation-user-select">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <p class="selected-score-items">
          <span class="summary-text">
            <%= t('.summary', count: @evaluation.score_items.count, score: format_score(@evaluation.maximum_score)) %>
          </span><br>
          <%= link_to t("score_items.new.show_all"), modify_grading_visibility_evaluation_path(@evaluation, visible: true), method: :post %>
          <br>
          <%= link_to t("score_items.new.hide_all"), modify_grading_visibility_evaluation_path(@evaluation, visible: false), method: :post %>
        </p>
        <%= link_to t('score_items.index.to_evaluation'), evaluation_path(@evaluation), class: "btn btn-text btn-primary pull-right" %>

        <% @evaluation.evaluation_exercises.each do |evaluation_exercise| %>
          <div id="card-<%= evaluation_exercise.id %>">
            <%= render 'score_items/exercise', evaluation_exercise: evaluation_exercise, new: nil %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-score-item-to-all" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <%= render 'score_items/form',
               score_item: ScoreItem.new,
               evaluation_exercise: nil,
               title: t("score_items.new.add_all.title"),
               form_options: { url: add_all_evaluation_score_items_path(@evaluation) } %>
  </div>
</div>
