<% content_for :javascripts do %>
  <%= javascript_pack_tag 'score_item' %>
<% end %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card evaluation-user-select">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <p><%= t('.explanation_part1') %></p>
        <p><%= t('.explanation_part2') %></p>
      </div>
      <div class="card-actions card-border">
        <%= link_to t('.to_evaluation'), evaluation_path(@evaluation), class: "btn btn-text btn-primary" %>
        <a class="btn btn-icon dropdown-toggle hidden-print" data-toggle="dropdown">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <%= link_to t(".show_all"), modify_grading_visibility_evaluation_path(@evaluation, visible: true), method: :post %>
            </li>
            <li>
              <%= link_to t(".hide_all"), modify_grading_visibility_evaluation_path(@evaluation, visible: false), method: :post %>
            </li>
        </ul>
      </div>
    </div>
    <div class="page-subtitle">
      <h3><%= t ".exercises" %></h3>
      <div class="flex-spacer"></div>
      <div>
        <a href="#add-score-item-to-all" class="btn with-text btn-primary btn-fab-extended"
           data-toggle="modal" title="<%= t '.add_all.title' %>">
          <i class="mdi mdi-plus icon"></i>
          <span class="text"><%= t '.add_all.text' %></span>
        </a>
      </div>
    </div>
    <div class="card score-items-card">
      <div class="card-supporting-text">
        <% @evaluation.evaluation_exercises.each do |evaluation_exercise| %>
          <div id="card-<%= evaluation_exercise.id %>">
            <%= render 'score_items/exercise', evaluation_exercise: evaluation_exercise, new: nil %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-score-item-to-all" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <%= render 'score_items/form',
               score_item: ScoreItem.new,
               evaluation_exercise: nil,
               title: t(".add_all.title"),
               form_options: { url: add_all_evaluation_score_items_path(@evaluation) } %>
  </div>
</div>
