<% content_for :javascripts do %>
  <%= javascript_pack_tag 'score_item' %>
<% end %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <h2><%= @title %></h2>
    <p><%= t '.info' %></p>
    <div id="stepper" class="panel-group stepper" role="tablist">
      <div id="choice-panel" class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <span class="step-circle">1</span>
            <a role="button" data-bs-toggle="collapse" href="#choice-step">
              <%= t('.choose') %>
              <span class="answer"></span>
            </a>
          </h4>
        </div>
        <div id="choice-step" class="panel-collapse collapse <%= "in" unless @evaluation.score_items.any? %>" role="tabpanel">
          <div class="panel-body panel-body-transparent">
            <div class="row">
              <div class="col-sm-6">
                <div class="option-btn" id="yes-grading" data-answer="<%= t('.yes_answer') %>">
                  <div class="option-btn-title">
                    <h3>
                      <%= t('.yes_answer') %>
                      <br>
                      <small><%= t('.yes_explanation') %></small>
                    </h3>
                  </div>
                  <div><i class="mdi mdi-chevron-right"></i></div>
                </div>
              </div>
              <div class="col-sm-6">
                <%= link_to evaluation_path(@evaluation), class: "option-btn" do %>
                  <div class="option-btn-title">
                    <h3>
                      <%= t('.no_answer') %>
                      <br>
                      <small><%= t('.no_explanation') %></small>
                    </h3>
                  </div>
                  <div><i class="mdi mdi-chevron-right"></i></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="items-panel" class="panel panel-default<%= " hidden" unless @evaluation.score_items.any? %>">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <span class="step-circle">2</span>
            <a role="button" data-bs-toggle="collapse" href="#choose-step">
              <%= t '.second_step' %>
            </a>
          </h4>
        </div>
        <div id="choose-step" class="panel-collapse collapse<%= " in" if @evaluation.score_items.any? %>" role="tabpanel">
          <div class="panel-body">
            <div class="stepper-part">
              <div class="score-item-toolbar">
                <div class="score-item-toolbar-tools">
                  <p class="description-text">
                    <%= t '.second_explanation' %><br>
                    <span class="summary-text">
                      <%= t('.summary_html', count: @evaluation.score_items.count, score: format_score(@evaluation.maximum_score)) %>
                    </span>
                  </p>
                  <div class="btn-group actions">
                    <a class="btn btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                      <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <%= link_to t(".show_all"), modify_grading_visibility_evaluation_path(@evaluation, visible: true), method: :post, class: "dropdown-item" %>
                      </li>
                      <li>
                        <%= link_to t(".hide_all"), modify_grading_visibility_evaluation_path(@evaluation, visible: false), method: :post, class: "dropdown-item" %>
                      </li>
                      <li>
                        <a href="#add-score-item-to-all" data-bs-toggle="modal"><%= t '.add_all' %></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <% @evaluation.evaluation_exercises.each do |evaluation_exercise| %>
                <div id="card-<%= evaluation_exercise.id %>">
                  <%= render 'score_items/exercise', evaluation_exercise: evaluation_exercise, new: nil %>
                </div>
              <% end %>
            </div>
            <div class="stepper-actions stepper-border">
              <%= link_to t('.to_evaluation'), evaluation_path(@evaluation), class: "btn btn-text btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add-score-item-to-all" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <%= render 'score_items/form',
               score_item: ScoreItem.new,
               evaluation_exercise: nil,
               title: t(".add_all"),
               form_options: { url: add_all_evaluation_score_items_path(@evaluation) } %>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initScoreItemPanels();
    });
</script>
