<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(RightsRequest).create? or @rights_request.errors.any? %>
          <div class="card-title-fab">
            <%= render 'fab_button', form: 'new_rights_request', icon: 'send' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <% if policy(RightsRequest).create?  or @rights_request.errors.any? %>
          <%= render 'form', rights_request: @rights_request %>
        <% else %>
          <div class="callout callout-info"><p>
            <% if !current_user&.student? %>
              <%= t '.request_not_possible_no_student' %>
            <% elsif !current_user.rights_request.nil? %>
              <%= t '.request_not_possible_pending' %>
            <% elsif !current_user.institution.present? %>
              <%= t '.request_not_possible_no_institution' %>
            <% else %>
              <%= t '.request_not_possible' %>
            <% end %>
          </p></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
