<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rights_request.user_id_id %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @rights_request.institution_name %>
</p>

<p>
  <strong>Context:</strong>
  <%= @rights_request.context %>
</p>

<%= link_to 'Edit', edit_rights_request_path(@rights_request) %> |
<%= link_to 'Back', rights_requests_path %>
