<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
    <thead>
    <tr>
      <th><%= Institution.human_attribute_name(:name) %></th>
      <th><%= Institution.human_attribute_name(:short_name) %></th>
      <th><%= t('institutions.index.number_of_users') %></th>
      <th><%= t('institutions.index.number_of_courses') %></th>
      <th><%= Institution.human_attribute_name(:providers) %></th>
      <th class="actions"></th>
    </tr>
    </thead>
    <tbody>
    <% institutions.each do |institution| %>
      <tr>
        <td><%= link_to institution.name, institution %></td>
        <td><%= institution.short_name %></td>
        <td><%= link_to institution.users.length, users_url(institution_id: institution.id) %></td>
        <td><%= link_to institution.courses.length, courses_url(institution_id: institution.id) %></td>
        <td><%= institution.providers.map { |p| t("activerecord.attributes.provider.#{p.class.sym}") }.join(',') %></td>
        <td class="actions">
          <% if policy(institution).edit? %>
            <%= link_to edit_institution_path(institution), title: t("institutions.index.edit"), class: "btn btn-sm btn-default" do %>
              <i class="mdi mdi-pencil mdi-18"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if institutions.empty? %>
  <p class="text-center text-muted lead table-placeholder"><%= t 'institutions.index.no_institutions' %></p>
<% end %>
<center><%= page_navigation_links institutions, true, 'institutions', {} %></center>