<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
    <thead>
    <tr>
      <th></th>
      <th><d-sort-button column="name"><%= Institution.human_attribute_name(:name) %></d-sort-button></th>
      <th><d-sort-button column="short_name"><%= Institution.human_attribute_name(:short_name) %></d-sort-button></th>
      <th><d-sort-button column="users"><%= t('institutions.index.number_of_users') %></d-sort-button></th>
      <th><d-sort-button column="courses"><%= t('institutions.index.number_of_courses') %></d-sort-button></th>
      <th><%= Institution.human_attribute_name(:providers) %></th>
      <th><d-sort-button column="most_similar"><%= t('institutions.index.most_similar') %></d-sort-button></th>
      <th class="actions"></th>
    </tr>
    </thead>
    <tbody>
    <% institutions.each do |institution| %>
      <tr>
        <td>
          <% if institution.other? %><i class="mdi mdi-18 mdi-domain" title="Other"></i><% end %>
          <% if institution.higher? %><i class="mdi mdi-18 mdi-school" title="Higher"></i><% end %>
        </td>
        <td>
          <%= link_to institution.name, institution %>
          <% if institution.generated_name? %>
            <span class="generated-name-icon" title="<%= t 'institutions.index.generated_name' %>"><i class="mdi mdi-18 mdi-cogs icon"></i></span>
          <% end %>
        </td>
        <td><%= institution.short_name %></td>
        <td><%= link_to institution.users.length, users_url(institution_id: institution.id) %></td>
        <td><%= link_to institution.courses.length, courses_url(institution_id: institution.id) %></td>
        <td><%= institution.providers.map { |p| t("activerecord.attributes.provider.#{p.class.sym}") }.join(',') %></td>
        <td><%= link_to "#{institution.most_similar_institution[:name]} (#{institution.most_similar_institution[:score]})", institution_path(institution.most_similar_institution[:id]) if institution.most_similar_institution[:score] > 0%> </td>
        <td class="actions">
          <% if policy(institution).edit? %>
            <%= link_to edit_institution_path(institution), title: t("institutions.index.edit"), class: "btn btn-icon" do %>
              <i class="mdi mdi-pencil"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if institutions.empty? %>
  <p class="text-center text-muted lead table-placeholder"><%= t 'institutions.index.no_institutions' %></p>
<% end %>
<center><%= page_navigation_links institutions, true, 'institutions', {} %></center>
