<div class="row">
  <div class="col-sm-10 offset-sm-1 col-xs-12">
    <div class="card profile">
      <div class="card-supporting-text">
        <div>
          <span class="profile-line">
            <span class="name"><%= @institution.name %></span> (<%= @institution.short_name %>)
            <% if @institution.generated_name? %>
              <span class="generated-name-icon" title="<%= t 'institutions.index.generated_name' %>"><i class="mdi mdi-18 mdi-cogs icon"></i></span>
            <% end %>
          </span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4><%= t ".staff" %></h4>
            <%= render partial: 'staff_table', locals: {staff: @staff} %>
          </div>
        </div>
      </div>
      <% if policy(@institution).edit? %>
        <div class="card-actions card-border">
          <% if policy(@institution).edit? %>
            <%= link_to t(".edit"), edit_institution_path(@institution), class: "btn-text btn-primary"  %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= Institution.human_attribute_name(:providers) %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="table-scroll-wrapper">
          <table class="table table-index table-resource">
            <thead>
            <tr>
              <th><%= Provider.human_attribute_name(:type) %></th>
              <th><%= Provider.human_attribute_name(:mode) %></th>
              <th><%= Provider.human_attribute_name(:identifier) %></th>
              <th><%= t('.providers.number_of_identities') %></th>
            </tr>
            </thead>
            <tbody>
            <% @institution.providers.each do |provider| %>
              <tr>
                <td><%= t("activerecord.attributes.provider.#{provider.class.sym}") %></td>
                <td><%= provider.mode %></td>
                <td><%= provider.identifier_string %></td>
                <td><%= provider.identities.count %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
