<% announcements.each do |announcement| %>
  <div class="announcement alert alert-<%= announcement.style %>" role="alert">
    <div style="display: flex; flex-direction: row;  justify-content: space-between;">
      <div>
        <%= markdown(announcement.text) %>
      </div>
      <%= link_to mark_as_read_announcement_path(announcement), remote: true, method: :post, title: t(".dismiss") do %>
        <i class="mdi mdi-close mdi-18"></i>
      <% end %>
    </div>
    <% if current_user.zeus? %>
      <hr>
      <div style="display: flex; flex-direction: row;  justify-content: space-between;">
        <div>
          <i class="mdi mdi-android mdi-18"></i>
          <% if announcement.institution_id.present? %>
            <%= t ".shown_to_institution", user_group: announcement.user_group, institution: announcement.institution_id %>
          <% else %>
            <%= t ".shown_to", user_group: announcement.user_group %>
          <% end %>
          <% if announcement.start_delivering_at.present? %>
            <%= t ".start_delivering_at", start_delivering_at: I18n.localize(announcement.start_delivering_at, format: :announcement) %>
          <% end %>
          <% if announcement.stop_delivering_at.present? %>
            <%= t ".stop_delivering_at", stop_delivering_at: I18n.localize(announcement.stop_delivering_at, format: :announcement) %>
          <% end %>
        </div>
        <%= link_to announcement_path(announcement), :method => :delete, title: t(".destroy") do %>
          <i class="mdi mdi-delete mdi-18"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
