<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "edit_announcement_#{@announcement.id}", icon: 'send' %>
        </div>
      </div>
      <div class="card-supporting-text mt-3">
        <div class="col-sm-12">
          <%= render 'form', announcement: @announcement %>
          <% if policy(@announcement).destroy? %>
            <div class="card-actions card-border">
              <%= link_to @announcement, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn  btn-danger float-end" do %>
                <i class="mdi mdi-delete mdi-18"></i>
                <%= t ".destroy" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
