<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(Announcement).new? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: new_announcement_path, icon: 'plus' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="table-scroll-wrapper">
          <table class="table table-index table-resource">
            <thead>
            <tr>
              <th></th>
              <% if current_user&.zeus? %>
                <th><%= t ".start" %></th>
                <th><%= t ".stop" %></th>
                <th><%= t ".number_of_reads" %></th>
                <th><%= Announcement.human_attribute_name("user_group") %></th>
              <% end %>
              <th><%= t ".text" %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @announcements.each do |announcement| %>
              <tr class="announcement">
                <td class="status-col">
                  <%= style_icon announcement.style %>
                  <% if current_user&.zeus? %>
                    <% if announcement.waiting? %>
                      <i class="mdi mdi-alarm mdi-18" title="<%= t ".waiting" %>"></i>
                    <% elsif announcement.active? %>
                      <i class="mdi mdi-bullhorn mdi-18" title="<%= t ".active" %>"></i>
                    <% elsif announcement.stopped? %>
                      <i class="mdi mdi-pause-octagon mdi-18" title="<%= t ".stopped" %>"></i>
                    <% end %>
                  <% end %>
                </td>
                <% if current_user&.zeus? %>
                  <td>
                    <% if announcement.start_delivering_at.present? %>
                      <span title="<%= l announcement.start_delivering_at, format: :submission %>">
                        <% readable_time = time_ago_in_words announcement.start_delivering_at %>
                        <%= announcement.start_delivering_at.before?(Time.now) ? t(".ago", readable_time: readable_time) : t(".from_now", readable_time: readable_time) %>
                      </span>
                    <% end %>
                  </td>
                  <td>
                    <% if announcement.stop_delivering_at.present? %>
                      <span title="<%= l announcement.stop_delivering_at, format: :submission %>">
                        <% readable_time = time_ago_in_words announcement.stop_delivering_at %>
                        <%= announcement.stop_delivering_at.before?(Time.now) ? t(".ago", readable_time: readable_time) : t(".from_now", readable_time: readable_time) %>
                      </span>
                    <% end %>
                  </td>
                  <td><%= announcement.number_of_reads %></td>
                  <td>
                    <% if announcement.institution.present? %>
                      <%= t ".users_from_institution", users: Announcement.human_enum_name("user_group", announcement.user_group), institution: announcement.institution.name %>
                    <% else %>
                      <%= Announcement.human_enum_name("user_group", announcement.user_group) %>
                    <% end %>
                  </td>
                <% end %>
                <td>
                  <div class="markdown-col">
                    <%= markdown announcement.text %>
                  </div>
                </td>
                <td class="actions">
                  <% if policy(announcement).edit? %>
                    <%= link_to edit_announcement_path(announcement), class: "btn btn-sm btn-secondary" do %>
                      <i class="mdi mdi-pencil mdi-18"></i>
                    <% end %>
                  <% end %>
                  <% if policy(announcement).destroy? %>
                    <%= link_to announcement, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn btn-sm btn-danger" do %>
                      <i class="mdi mdi-delete mdi-18"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
