<%= form_for(repository, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="callout callout-info">
    <%= t 'repositories.new.help_html' %>
  </div>
  <% if repository.errors.any? %>
    <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => repository.errors.count) %></h4>
      <ul>
        <% repository.errors.full_messages.each do |message| %>
          <li><%= markdown message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group row">
    <div class="col-sm-3 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-sm-6"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="field form-group row">
    <div class="col-sm-3 col-form-label">
      <%= f.label :remote %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :remote,
                       class: "form-control",
                       placeholder: "git@github.com/...",
                       disabled: repository.new_record?.! %>
    </div>
    <span class="help-block offset-sm-3 col-sm-6">
      <% if repository.new_record? %>
        <%= t ".remote_help" %>
      <% else %>
        <%= t('.remote_cant_be_edited_html') %>
      <% end %>
    </span>
  </div>
  <div class="field form-group row">
    <%= f.label :judge, :class => "col-sm-3 col-form-label" %>
    <div class="col-sm-6"><%= f.select :judge_id, Judge.all.collect {|j| [j.name, j.id]}, {}, {class: "form-select"} %></div>
    <span class="help-block offset-sm-3 col-sm-6">
      <% if repository.new_record? %>
        <%= markdown t ".judge_help_markdown" %>
      <% else %>
        <%= markdown t ".judge_help_edit_markdown" %>
      <% end %>
    </span>
  </div>

  <% if f.permission?(:featured) %>
    <div class="field form-group row">
      <%= f.label :featured, t(".featured.title"), class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-6 pt-2">
        <div class="form-check">
          <%= f.check_box :featured, class: 'form-check-input' %>
          <%= f.label :featured, t(".featured.toggle-label"), class: 'form-check-label' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
