<%= content_for :javascripts do %>
  <%= javascript_include_tag 'repository' %>
<% end %>
<%= render 'navbar_links' %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @repository.name + " - " + t(".admins") %></h2>
      </div>
      <div class="card-supporting-text">
        <p><%= raw t(".admin_explanation") %></p>
        <div id="admin-table-wrapper">
          <%= render(partial: 'users/repository_users_table', locals: {users: @users, show_delete_button: true, paginate: false}) %>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <h3><%= t ".add_admins" %></h3>
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: available_for_repository_users_path(:repository_id => @repository.id), eager: true}) %>
        <div id="users-table-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        dodona.initAdminsEdit();
    });
</script>
