<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'repository' %>
<% end %>
<%= render 'navbar_links' %>

<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @repository.name + " - " + t(".admins") %></h2>
      </div>
      <div class="card-supporting-text">
        <ul><%= raw t(".admin_explanation") %></ul>
      </div>
      <div class="card-supporting-text card-border">
        <div id="admin-table-wrapper">
          <%= render(partial: 'users/users_table', locals: {users: @users, show_delete_button: true}) %>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: users_path(:repository_id => @repository.id), eager: true}) %>
        <div id="users-table-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
      dodona.initAdminsEdit();
  })
</script>
