<%= content_for :javascripts do %>
  <%= javascript_include_tag 'repository' %>
<% end %>
<%= render 'navbar_links' %>

<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @repository.name + " - " + t(".courses") %></h2>
      </div>
      <div class="card-supporting-text">
        <ul><%= raw t(".access_explanation") %></ul>
        <h3><%= t(".courses") %></h3>
        <p class="h4-info-text"><%= t(".short_explanation", name: @repository.name) %></p>
        <div id="allowed-courses-table-wrapper" class="repository-courses-table-wrapper">
          <%= render(partial: 'courses/repo_courses_table', locals: {courses: @courses, show_delete_button: true}) %>
        </div>
      </div>
      <div class="card-supporting-text">
        <h3><%= t('.add_courses') %></h3>
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: courses_path(:repository_id => @repository.id), eager: true}) %>
        <div id="courses-table-wrapper" class="repository-courses-table-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        dodona.initCoursesEdit();
    });
</script>
