<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(Repository).new? %>
          <div class="card-title-fab">
            <%= render 'application/fab_link', url: new_repository_path, icon: 'plus' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="table-scroll-wrapper">
          <table class="table table-index table-resource">
            <thead>
            <tr>
              <th></th>
              <th><%= Repository.human_attribute_name("name") %></th>
              <th><%= Repository.human_attribute_name("remote") %></th>
              <% if policy(User).server_access? %>
                <th><%= Repository.human_attribute_name("path") %></th>
              <% end %>
              <th><%= Repository.human_attribute_name("judge") %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @repositories.each do |repository| %>
              <tr>
                <td>
                  <% if current_user.repositories.include? repository %>
                    <span title="<%= t(".admin") %>"><i class="mdi mdi-account-outline mdi-18"></i></span>
                  <% end %>
                </td>
                <td><%= link_to repository.name, repository %></td>
                <td><%= repository.remote %> </td>
                <% if policy(User).server_access? %>
                  <td><%= repository.path %> </td>
                <% end %>
                <td><%= link_to repository.judge.name, repository.judge %></td>
                <td class="actions">
                  <% if policy(repository).admins? %>
                    <%= link_to admins_repository_path(repository), class: "btn btn-sm btn-secondary", title: t(".admins") do %>
                      <i class="mdi mdi-account-multiple mdi-18"></i>
                    <% end %>
                  <% end %>
                  <% if policy(repository).courses? %>
                    <%= link_to courses_repository_path(repository), class: "btn btn-sm btn-secondary", title: t(".courses") do %>
                      <i class="mdi mdi-book-multiple mdi-18"></i>
                    <% end %>
                  <% end %>
                  <% if policy(repository).edit? %>
                    <%= link_to edit_repository_path(repository), class: "btn btn-sm btn-secondary", title: t(".edit") do %>
                      <i class="mdi mdi-pencil mdi-18"></i>
                    <% end %>
                  <% end %>
                  <% if policy(repository).destroy? %>
                    <%= link_to repository, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn btn-sm btn-danger", title: t(".delete") do %>
                      <i class="mdi mdi-delete mdi-18"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
