<%= render 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @repository.name %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="<%= current_user.repository_admin?(@repository) ? "col-sm-6" : "col-sm-12" %> col-xs-12">
          <p>
            <strong><%= t ".repository" %>:</strong> <%= @repository.name %>
          </p>
          <% if current_user.repository_admin?(@repository) %>
            <p>
              <strong><%= Repository.human_attribute_name("remote") %>:</strong> <%= @repository.remote %>
            </p>
          <% end %>
          <% if policy(User).server_access? %>
            <p>
              <strong><%= Repository.human_attribute_name("path") %>:</strong> <%= @repository.path %>
            </p>
          <% end %>
          <p>
            <strong><%= Repository.human_attribute_name("judge") %>
              :</strong> <%= link_to @repository.judge.name, @repository.judge %>
          </p>
          <p>
            <strong><%= t(".exercises") %>:</strong> <%= @repository.exercises.count %>
          </p>
          <p>
            <strong><%= t(".content_pages") %>:</strong> <%= @repository.content_pages.count %>
          </p>
          <% if policy(@repository).reprocess? %>
            <div class="pull-right">
              <%= link_to t(".reprocess"), reprocess_repository_path(@repository), class: "btn-text" %>
            </div>
          <% end %>
        </div>
        <% if current_user.repository_admin?(@repository) %>
          <div class="col-sm-6 col-xs-12">
            <div class="callout callout-info">
              <h4>Webhook</h4>
              <p><%= t ".webhook_html" %></p>
              <div class="input-group intput-froup-sm">
                <%= text_field_tag :webhook_link, webhook_repository_url(@repository), readonly: true, class: 'form-control' %>
                <span class="input-group-btn">
                <%= clipboard_button_for :webhook_link %>
              </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text card-border">
        <h3><%= t ".learning_activities" %></h3>
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: activities_path(repository_id: @repository.id), eager: true, activity_types: [ContentPage, Exercise]}) %>
        <div id="activities-table-wrapper">
        </div>
      </div>
      <% if policy(@repository).public? %>
        <div class="card-supporting-text">
          <div class="table-scroll-wrapper">
            <% if @files.present?%>
              <table class="table table-index table-resource">
                <thead>
                  <tr>
                    <th><%= t ".public_files" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @files.each do |file| %>
                    <tr>
                      <td><%= link_to file.to_s, public_repository_url(@repository, file) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p class="lead text-center"><%= t ".public_files_placeholder", url:  public_repository_url(@repository, '') %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
