<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @repository.name %></h2>
        <% if policy(@repository).edit? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: edit_repository_path(@repository), icon: 'pencil' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="col-sm-6 col-xs-12">
          <p>
            <strong><%= t ".repository" %>:</strong> <%= @repository.name %>
          </p>
          <p>
            <strong><%= Repository.human_attribute_name("remote") %>:</strong> <%= @repository.remote %>
          </p>
          <% if policy(User).server_access? %>
          <p>
            <strong><%= Repository.human_attribute_name("path") %>:</strong> <%= @repository.path %>
          </p>
          <% end %>
          <p>
            <strong><%= Repository.human_attribute_name("judge") %>:</strong> <%= link_to @repository.judge.name, @repository.judge %>
          </p>
          <p>
            <strong># <%= Repository.human_attribute_name("exercises") %>:</strong> <%= @repository.exercises.count %>
          </p>
          <% if policy(@repository).reprocess? %>
          <p>
            <%= link_to t(".reprocess"), reprocess_repository_path(@repository) %>
          </p>
          <% end %>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-title card-title-colored">
              <h2 class="card-title-text">Webhook</h2>
            </div>
            <div class="card-supporting-text">
              <p><%= t ".webhook" %></p>
              <p><%= webhook_repository_url(@repository) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <h3><%= t ".exercises" %></h3>
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: exercises_path(repository_id: @repository.id), eager: true}) %>
        <div id="exercises-table-wrapper">
        </div>
      </div>
    </div>
  </div>
</div>
