<%= render 'navbar_links' %>
<% content_for :javascripts do %>
  <%= javascript_pack_tag 'activities' %>
<% end %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @repository.name %></h2>
      </div>
      <div class="card-supporting-text row">
        <div class="<%= current_user.repository_admin?(@repository) ? "col-sm-6" : "col-sm-12" %> col-12">
          <p>
            <strong><%= t ".repository" %>:</strong> <%= @repository.name %>
          </p>
          <% if current_user.repository_admin?(@repository) %>
            <p>
              <strong><%= Repository.human_attribute_name("remote") %>:</strong> <%= @repository.remote %>
            </p>
          <% end %>
          <% if policy(User).server_access? %>
            <p>
              <strong><%= Repository.human_attribute_name("path") %>:</strong> <%= @repository.path %>
            </p>
          <% end %>
          <p>
            <strong><%= Repository.human_attribute_name("judge") %>
              :</strong> <%= link_to @repository.judge.name, @repository.judge %>
          </p>
          <p>
            <strong><%= t(".exercises") %>:</strong> <%= @repository.exercises.count %>
          </p>
          <p>
            <strong><%= t(".content_pages") %>:</strong> <%= @repository.content_pages.count %>
          </p>
        </div>
        <% if current_user.repository_admin?(@repository) %>
          <div class="col-sm-6 col-12">
            <% if @repository.clone_incomplete? %>
              <div class="callout callout-warning">
                <span><%= t ".clone_incomplete" %></span>
              </div>
            <% end %>
            <div class="callout callout-info">
              <h4>Webhook</h4>
              <p><%= t ".webhook_html" %></p>
              <div class="input-group intput-froup-sm">
                <%= text_field_tag :webhook_link, webhook_repository_url(@repository), readonly: true, class: 'form-control' %>
                <%= clipboard_button_for :webhook_link %>
              </div>
            </div>
          </div>
        <% end %>
        <% if policy(@repository).reprocess? %>
          <div class="col-12">
            <div class="float-end">
              <%= link_to t(".reprocess"), reprocess_repository_path(@repository), class: "btn-text" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text card-border">
        <h4><%= t ".learning_activities" %></h4>
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: activities_path(repository_id: @repository.id), eager: true, activity_types: [ContentPage, Exercise], description_languages: ["en", "nl"], labels: @labels, programming_languages: @programming_languages, judges: @judges}) %>
        <div id="activities-table-wrapper">
        </div>
      </div>
      <% if policy(@repository).public? %>
        <div class="card-supporting-text card-border">
          <h4><%= t ".public_files" %></h4>
          <p class="h4-info-text"><%= t ".public_files_info_html" %></p>
          <div class="table-scroll-wrapper">
            <% if @files.present?%>
                <table class="table table-index table-resource">
                  <thead>
                    <td><%= t ".file_name"%></td>
                    <td><%= t ".file_url" %></td>
                  </thead>
                  <tbody>
                    <% @files.each do |file| %>
                      <tr>
                        <td><%= file.to_s %></td>
                        <td><%= link_to nil, public_repository_url(@repository, media: file) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            <% else %>
              <p class="lead text-center"><%= t ".public_files_placeholder"%></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
