<div class="row">
  <div>
    <div class="row">
      <h1><%= t ".title" %></h1>
      <span><%= t ".message"%></span>
    </div>
    <div class="row">
      <h3 class="mb-2"><%= t(".user_title") %></h3>
      <div class="profile">
        <%= render partial: "users/user_short", locals: {user: @user} %>
      </div>
    </div>
    <div class="row">
      <h3><%= t(".providers_title") %></h3>
      <span class="mb-2"><%= t ".providers_message"%></span>
      <% @known_providers.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
    </div>
    <div class="row">
      <h3 class="mb-2"><%= t(".contact_support_title") %></h3>
      <span><%= link_to  t(".contact_support"), contact_path, class: "btn btn-outline-primary btn-lg" %></span>
    </div>
  </div>
</div>
