<%= content_for :javascripts do %>
  <%= javascript_include_tag 'sign_in' %>
<% end %>
<div class="row">
  <div class="sign-in-dialog-wrapper">
    <div class="sign-in-divider row">
      <div class="sign-in-dialog-header">
        <h1><%= t("layout.menu.log_in") %><br>
          <small><%= t ".select-institution" %></small>
        </h1>
      </div>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-footer">
          <h2><%= t ".higher-education" %></h2>
        </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @universities.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
      <% @colleges.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-footer">
          <h2><%= t ".other-education" %><br>
          <small><%= t ".ilearn-help" %></small></h2>
        </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @generic_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(:user, provider.sym), method: :post, class: 'institution-sign-in col-md-6 col-xl-4' do %>
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag "idp/#{provider.logo}", class: "img-fluid" %>
            </div>
            <div class="option-btn-title">
              <h3><%= provider.readable_name %><br>
                <small><%= t('.sign-in-with', provider: provider.readable_name) %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-header">
          <h1>
            <small><%= t('.sign-in-help') %></small>
          </h1>
      </div>
    </div>
    <d-sign-in-search-bar
      institutions="<%= @oauth_providers.map{|i| {name: i.institution.name, provider: i.type}}.to_json %>"
      providers="<%= @generic_providers.map{|p| [p, {name: p.readable_name, link: omniauth_authorize_path(:user, p.sym) }]}.to_h.to_json %>"
    ></d-sign-in-search-bar>

    <div class="sign-in-divider row">
      <div class="sign-in-dialog-footer">
        <h2><%= t ".private-accounts" %><br>
          <small><%= t ".private-accounts-help" %></small></h2>
      </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @private_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(:user, provider.class.sym), method: :post, class: 'institution-sign-in col-md-6 col-xl-4' do %>
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag "idp/#{provider.logo}", class: "img-fluid" %>
            </div>
            <div class="option-btn-title">
              <h3><%= provider.readable_name %><br>
                <small><%= t('.sign-in-with', provider: provider.readable_name) %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="sign-in-divider row">
        <div class="sign-in-dialog-footer">
          <h2><%= t ".other" %></h2>
        </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @other.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
    </div>
  </div>
</div>
