<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'sign_in' %>
<% end %>
<div class="row">
  <div class="sign-in-dialog-wrapper">
    <div class="sign-in-divider row">
      <div class="sign-in-dialog-header">
        <h1><%= t("layout.menu.log_in") %><br>
          <small><%= t ".select-institution" %></small>
        </h1>
      </div>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-footer">
          <h2><%= t ".higher-education" %></h2>
        </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @universities.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
      <% @colleges.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-footer">
          <h2><%= t ".secondary-education" %><br>
          <small><%= t ".ilearn-help" %></small></h2>
        </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @generic_providers.values.each do |provider| %>
        <%= link_to provider[:link], class: 'institution-sign-in col-md-6 col-xl-4' do %>
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag "idp/#{provider[:image]}", class: "img-fluid" %>
            </div>
            <div class="option-btn-title">
              <h3><%= provider[:name] %><br>
                <small><%= t('.sign-in-with', provider: provider[:name]) %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-header">
          <h1>
            <small><%= t('.sign-in-help') %></small>
          </h1>
      </div>
    </div>
    <div class="input-group input-group-lg autocomplete" id="scrollable-dropdown-menu">
      <div class="card">
        <input class="typeahead" type="text" placeholder="<%= t ".institution-search" %>">
      </div>
      <a class="btn btn-primary btn-lg login-button" id="sign-in" href="" disabled=true><%= t 'layout.menu.log_in' %></a>
    </div>

    <div class="sign-in-divider row">
        <div class="sign-in-dialog-footer">
          <h2><%= t ".other" %></h2>
        </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <% @other.each do |provider| %>
        <%= render partial: 'auth/provider_button', locals: { provider: provider } %>
      <% end %>
    </div>
  </div>
</div>
<script>
  const institutions = <%= raw @oauth_providers.map{|i| {id: i.id, name: i.institution.name, type: i.type}}.to_json %>;
  const links = <%= raw @generic_providers.to_json %>;
  window.dodona.initInstitutionAutoSelect(institutions, links);
</script>
