<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'sign_in' %>
<% end %>
<div class="row">
  <div class="sign-in-dialog-wrapper">
    <div class="sign-in-dialog-header">
      <h1><%= t("layout.menu.log_in") %><br>
        <small><%= t ".select-institution" %></small>
      </h1>
    </div>
    <div class="sign-in-dialog-institutions row">
      <%
          # TODO: This distinction is no longer required as saml uses omniauth
          #       now. However, this is kept for now to retain the previous order
          #       of institutions. Remove this when restyling the sign-in page.
      %>
      <% @providers.saml.each do |provider| %>
        <% institution = provider.institution %>
        <%= link_to omniauth_authorize_path(:user, Provider::Saml.sym, provider: provider), class: 'institution-sign-in' do %>
          <div class="col-sm-6 col-lg-4">
            <div class="option-btn">
              <div class="option-btn-img">
                <%= image_tag "idp/#{institution.logo}", class: "img-responsive" %>
              </div>
              <div class="option-btn-title">
                <h3><%= institution.short_name %><br>
                  <small><%= institution.name %></small>
                </h3>
              </div>
              <div><i class="mdi mdi-chevron-right"></i></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to omniauth_authorize_path(:user, Provider::Office365.sym), class: 'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag 'idp/Howest.jpg', class: "img-responsive" %>
            </div>
            <div class="option-btn-title">
              <h3>Hogeschool West-Vlaanderen<br>
                <small><%= t('.sign-in-with-office-365') %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        </div>
      <% end %>
      <%= link_to omniauth_authorize_path(:user, Provider::Office365.sym), class: 'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag 'idp/ucll.png', class: "img-responsive" %>
            </div>
            <div class="option-btn-title">
              <h3>UC Leuven Limburg<br>
                <small><%= t('.sign-in-with-office-365') %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        </div>
      <% end %>
      <%= link_to omniauth_authorize_path(:user, Provider::Office365.sym), class: 'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag 'idp/artevelde.png', class: "img-responsive" %>
            </div>
            <div class="option-btn-title">
              <h3>Arteveldehogeschool<br>
                <small><%= t('.sign-in-with-office-365') %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="sign-in-divider row">
      <div class="col-xs-12">
        <div class="divider"></div>
      </div>
    </div>
    <div class="sign-in-dialog-institutions row">
      <%= link_to omniauth_authorize_path(:user, Provider::Smartschool.sym), class: 'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag 'idp/smartschool.png', class: "img-responsive" %>
            </div>
            <div class="option-btn-title">
              <h3>Smartschool<br>
                <small><%= t('.sign-in-with-smartschool') %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        </div>
      <% end %>
      <%= link_to omniauth_authorize_path(:user, Provider::Office365.sym), class: 'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag 'idp/office365.png', class: "img-responsive" %>
            </div>
            <div class="option-btn-title">
              <h3>Office 365<br>
                <small><%= t('.sign-in-with-office-365') %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        </div>
      <% end %>
      <%= link_to omniauth_authorize_path(:user, Provider::GSuite.sym), class: 'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="option-btn">
            <div class="option-btn-img">
              <%= image_tag 'idp/google_oauth2.png', class: "img-responsive" %>
            </div>
            <div class="option-btn-title">
              <h3>G Suite<br>
                <small><%= t('.sign-in-with-g-suite') %></small>
              </h3>
            </div>
            <div><i class="mdi mdi-chevron-right"></i></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="sign-in-divider row">
        <div class="sign-in-dialog-header">
          <h1>
            <small><%= t('.sign-in-help') %></small>
          </h1>
      </div>
    </div>
    <div class="input-group input-group-lg" id="scrollable-dropdown-menu">
    <div class="card">
      <input class="typeahead" type="text" placeholder="<%= t "institutions.index.title" %>">
    </div>
      <a class="btn btn-primary btn-lg login-button" id="sign-in" href=""><%= t 'layout.menu.log_in' %></a>
    </div>
  </div>
</div>
<script>
  let institutions = <%= raw @oauth_providers.map{|i| {id: i.id, name: i.institution.name, type: i.type}}.to_json %>;
  let links = {
    "Provider::GSuite": "<%= omniauth_authorize_path(:user, Provider::GSuite.sym) %>",
    "Provider::Office365": "<%= omniauth_authorize_path(:user, Provider::Office365.sym) %>",
    "Provider::Smartschool": "<%= omniauth_authorize_path(:user, Provider::Smartschool.sym) %>",
  };
  window.dodona.initInstitutionAutoSelect(institutions, links);
</script>