<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(Judge).new? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: new_judge_path, icon: 'plus' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="table-scroll-wrapper">
          <table class="table table-index table-resource">
            <thead>
            <tr>
              <th><%= Judge.human_attribute_name("name") %></th>
              <th><%= Judge.human_attribute_name("image") %></th>
              <% if policy(User).server_access? %>
                <th><%= Judge.human_attribute_name("path") %></th>
              <% end %>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @judges.each do |judge| %>
              <tr>
                <td><%= link_to judge.name, judge %></td>
                <td><%= judge.image %> </td>
                <% if policy(User).server_access? %>
                  <td><%= judge.path %> </td>
                <% end %>
                <td class="actions">
                  <% if policy(judge).edit? %>
                    <%= link_to edit_judge_path(judge), class: "btn btn-sm btn-secondary" do %>
                      <i class="mdi mdi-pencil mdi-18"></i>
                    <% end %>
                  <% end %>
                  <% if policy(judge).destroy? %>
                    <%= link_to judge, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn btn-sm btn-danger" do %>
                      <i class="mdi mdi-delete mdi-18"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
