<% unless @judge.clone_complete? %>
  <div class="callout callout-warning">
    <span><%= t ".clone_incomplete" %></span>
  </div>
<% end %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @judge.name %></h2>
        <% if policy(@judge).edit? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: edit_judge_path(@judge), icon: 'pencil' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="col-sm-6 col-12">
          <p>
            <strong><%= t ".judge" %>:</strong> <%= @judge.name %>
          </p>
          <p>
            <strong><%= Judge.human_attribute_name("remote") %>:</strong> <%= @judge.remote %>
          </p>
          <p>
            <strong><%= Judge.human_attribute_name("image") %>:</strong> <%= @judge.image %>
          </p>
          <% if policy(User).server_access? %>
            <p>
              <strong><%= Judge.human_attribute_name("path") %>:</strong> <%= @judge.path %>
            </p>
          <% end %>
          <p>
            <strong><%= Judge.human_attribute_name("renderer") %>:</strong> <%= @judge.renderer %>
          </p>
          <p>
            <strong><%= t ".all_submissions" %>:</strong> <%= link_to Submission.of_judge(@judge).count, judge_submissions_path(@judge), title: @judge.name, class: "ellipsis-overflow"  %>
          </p>
          <p>
            <strong><%= t ".all_exercises" %>:</strong> <%= link_to Activity.by_judge(@judge).count, activities_url(judge_id: @judge.id), title: @judge.name, class: "ellipsis-overflow" %>
          </p>
        </div>
        <div class="col-sm-6 col-12">
          <div class="callout callout-info">
            <h4>Webhook</h4>
            <p><%= t ".webhook_html" %></p>
            <div class="input-group">
              <%= text_field_tag :webhook_link, webhook_judge_url(@judge), readonly: true, class: 'form-control' %>
              <%= clipboard_button_for :webhook_link %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
