<%= content_for :javascripts do %>
  <%= javascript_include_tag 'lti' %>
<% end %>
<script type="application/javascript">
    // Our server side detection is not perfect, so sometimes we redirected to this page
    // even if the page is not in an iframe.
    // This should be done before the HTML below, to prevent the HTML from flashing.
    window.dodona.ltiMaybeRedirect("<%= @browser_path %>");
</script>

<div id="lti_before_text">
  <h2><%= t ".welcome" %></h2>
  <p><%= t ".first_time" %></p>
  <p class="text-center">
    <a class="btn btn-primary btn-lg" id="lti_redirect_button" href="<%= @path %>" target="_blank">
      <%= t ".login" %>
    </a>
  <p><%= t ".after" %></p>
</div>

<div id="lti_after_text" class="hidden">
  <p><%= t ".after_clicked" %></p>
</div>

<script type="application/javascript">
    window.dodona.initLtiRedirect();
</script>
