<%= form_for(label, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if label.errors.any? %>
    <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => label.errors.count) %></h4>
      <ul>
        <% label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group row">
    <%= f.label :name, :class => "col-sm-3 col-form-label" %>
    <div class="col-sm-4"><%= f.text_field :name, class: 'form-control' %></div>
  </div>
<% end %>
