<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
    <colgroup>
      <col class="col-8"/>
      <col class="col-3"/>
      <col class="col-1"/>
    </colgroup>
    <thead>
    <tr>
      <th><%= t "labels.index.name" %></th>
      <th><%= t "labels.index.exercises" %></th>
      <th><%= t "labels.index.actions" %></th>
    </tr>
    </thead>
    <tbody>
    <% labels.each do |label| %>
      <tr>
        <td><%= link_to label.name, label_path(label) %></td>
        <td><%= link_to label.activities.count, activities_path({"labels[]" => label.name}) %></td>
        <td>
          <% if policy(Label).edit? %>
            <%= link_to edit_label_path(label), class: "btn btn-sm btn-secondary" do %>
              <i class="mdi mdi-pencil mdi-18"></i>
            <% end %>
          <% end %>
          <% if policy(Label).destroy? %>
            <%= link_to label, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn btn-sm btn-danger" do %>
              <i class="mdi mdi-delete mdi-18"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
