<% content_for :javascripts do %>
  <% javascript_include_tag 'course_membership' %>
<% end %>
<%= form_for(course_membership, :url => course_member_path(course, user), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if course_membership.errors.any? %>
    <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => exercise.errors.count) %></h4>
      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group row">
    <div class="row">
      <%= f.label :course_labels, :class => 'col-sm-2 col-10 col-form-label' %>
      <div class="col-sm-10 col-10">
        <d-course-labels-search-bar
          labels="<%= @course_labels.map{|cl| {id: cl.id, name: cl.name}}.to_json %>"
          selected_labels="<%= @course_membership.course_labels.map(&:name).to_json %>"
        ></d-course-labels-search-bar>
      </div>
    </div>
  </div>
<% end %>
