<% content_for :javascripts do %>
  <% javascript_pack_tag 'course_membership' %>
<% end %>
<%= form_for(course_membership, :url => course_member_path(course, user), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if course_membership.errors.any? %>
    <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => exercise.errors.count) %></h4>
      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group row">
    <div class="row">
      <%= f.label :course_labels, :class => 'col-sm-2 col-10 order-sm-1 col-form-label' %>
      <div class="col-sm-8 order-sm-0 col-10">
        <%= f.text_field :course_labels, class: 'form-control', disable: !f.permission?(:course_labels), value: course_membership.course_labels.map(&:name).join(','), placeholder: t('.course_labels') %>
        <small><%= t '.labels_delimiter' %></small>
      </div>
    </div>
  </div>
<% end %>
<script>
    $(function () {
        dodona.initCourseMemberLabelsEdit(<%= raw @course_labels.map{|cl| {id: cl.id, name: cl.name}}.to_json %>);
    });
</script>
