<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
    <thead>
    <tr>
      <th class='status-icon'></th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= User.human_attribute_name("email") %></th>
      <th><%= User.human_attribute_name("institution") %></th>
      <th class="d-none d-sm-table-cell"><%= t("users.index.progress") %></th>
      <th><%= t(".labels") %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% course_memberships.each do |course_membership| %>
      <% user = course_membership.user %>
      <tr>
        <td>
          <% if course_membership.course_admin? %>
            <i class="mdi mdi-school course-mdi-icon mdi-18" title='<%= t "users.users_table.course_admin" %>'></i>
          <% elsif user.staff? %>
            <span class="mdi mdi-alert mdi-18" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= t(".teacher_rights") %>"></span>
          <% end %>
          <% if user.username.blank? %>
            <i class="mdi mdi-alert mdi-18" title='<%= t "users.users_table.no_institution" %>'></i>
          <% end %>
        </td>
        <td>
          <% if course_membership.pending? || course_membership.unsubscribed? %>
            <%= link_to user.full_name, user, title: user.full_name, class: "ellipsis-overflow" %>
          <% else %>
            <%= link_to user.full_name, course_member_path(@course, user), title: user.full_name, class: "ellipsis-overflow" %>
          <% end %>
        </td>
        <td><%= mail_to(user.email, nil, { title: t('.send_mail') }) %></td>
        <td><%= user.institution&.name %></td>
        <td class="d-none d-sm-table-cell">
          <%= render partial: 'application/progress_chart',
              locals: {
                total: @course.exercises_count,
                tried: user.attempted_exercises(course: @course),
                correct: user.correct_exercises(course: @course),
                info_tried: 'course_members.members_table.member_progress_chart_info_tried',
                info_correct: 'course_members.members_table.member_progress_chart_info_correct'
              }
            %>
        </td>
        <td class='course-membership-labels'>
          <% course_membership.course_labels.each do |label| %>
            <span class="token accent-orange"><%= label.name %></span>
          <% end %>
        </td>
        <td class="actions">
          <%= render partial: 'course_membership_buttons',
                     locals: {course: @course, user: user, membership_status: course_membership.status} %>
          <% if policy(user).impersonate? %>
            <%= link_to impersonate_user_path(user), class: "btn btn-sm btn-secondary", title: t("layout.impersonate.impersonate") do %>
              <i class="mdi mdi-account mdi-18"></i>
            <% end %>
          <% end %>
          <% if policy(user).edit? %>
            <%= link_to edit_user_path(user), title: t("users.index.edit"), class: "btn btn-sm btn-secondary" do %>
              <i class="mdi mdi-pencil mdi-18"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if course_memberships.empty? %>
  <p class="text-center text-muted lead table-placeholder"><%= t 'users.index.no_users' %></p>
<% end %>
<center>
  <%= page_navigation_links course_memberships, true, 'course_members' %>
</center>
