<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<%= render partial: 'courses/navbar_links' %>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @course.name + " - " + t("courses.show.users") %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <div class="card-tab">
          <ul id="user-tabs" class="nav nav-tabs" data-baseurl="<%= course_members_path(@course) %>" role="tablist">
            <li role="presentation" class="active"><a href="#enrolled"><%= t 'courses.show.subscribed' %></a></li>
            <% if @course.moderated || !@course.pending_members.empty? %>
              <li role="presentation"><a href="#pending"><%= t 'courses.show.pending' %>
                <span class="badge badge-pending" id="pending-count"><%= @course.pending_members.count unless @course.pending_members.empty? %></span></a>
              </li>
            <% end %>
            <li role="presentation"><a href="#unsubscribed"><%= t 'courses.show.unsubscribed' %></a></li>
          </ul>
        </div>
        <% content_for :modal do %>
          <div class="modal fade" id="labelsUploadModal" tabindex="-1" role="dialog" data-course_id="<%= @course.id %>">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t(".close") %>">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title"><%= t(".edit_all_labels") %></h4>
                </div>
                <div class="modal-body">
                  <ol>
                    <li>
                      <p>
                        <%= t ".first_download_labels" %>
                      </p>
                      <p>
                        <a class="btn-text btn-secondary" href="<%= download_labels_csv_course_members_path(@course) %>"><%= t ".download" %>
                        </a>
                      </p>
                    </li>
                    <li>
                      <p>
                        <%= t ".then_edit" %>
                      </p>
                    </li>
                    <li>
                      <p>
                        <%= t ".finally_upload" %>
                      </p>
                      <input type="file" id="newCsvFileInput"/>
                    </li>
                  </ol>
                </div>
                <div class="modal-footer">
                  <button id="labelsUploadButton" type="button" class="btn btn-text btn-primary"><%= t(".upload") %></button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= render partial: 'layouts/searchbar',
                   locals: {
                       eager: false,
                       actions: [
                           {
                               icon: 'check',
                               text: t("courses.show.accept_all"),
                               confirm: t("courses.show.confirm_accept_all"),
                               action: mass_accept_pending_course_path(@course),
                               type: 'pending'
                           },
                           {
                               icon: 'minus',
                               text: t("courses.show.decline_all"),
                               confirm: t("courses.show.confirm_decline_all"),
                               action: mass_decline_pending_course_path(@course),
                               type: 'pending'
                           },
                           {
                               icon: 'palette-swatch',
                               text: t(".edit_all_labels"),
                               js: '$("#labelsUploadModal").modal("show")',
                               type: 'enrolled'
                           }
                       ],
                       course_labels: @course_labels,
                       institutions: Institution.of_course_by_members(@course)
                   } %>
        <div id="users-table-wrapper">
          <%= render partial: 'members_table',
                     locals: {
                         course_memberships: @course_memberships,
                         pagination_opts: @pagination_opts
                     } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(dodona.initCourseMembers);
</script>
