<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>

<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card profile">
      <div class="card-supporting-text">
        <div>
          <span class="user-icon float-start"><i class="mdi mdi-36 <%= @course_membership.course_admin? ? "mdi-school" : "mdi-account" %>">
          </i></span>
          <span class="profile-line">
            <span class="name">
              <%= @user.full_name %>
            </span>
            <% if @user.username.present? %>
              <span>(<%= @user.username %>)</span>
            <% end %>
            <span class="labels">
              <% @course_membership.course_labels.each do |label| %>
                <span class="badge bg-primary"><%= label.name %></span>
              <% end %>
            </span>
          </span>
          <span class="profile-byline text-muted">
            <% if @user.institution.present? and policy(@user.institution).show?%>
              <%= link_to(@user.institution&.name, institution_path(@user.institution), class: "text-muted") %>
            <% else %>
              <%= @user.institution&.name %>
            <% end %>
            <% if @user.institution&.name.present? and @user.email.present? %>
              &middot;
            <% end %>
            <%= @user.email %>
          </span>
        </div>
        <div class="row">
          <div class="col-12">
            <h4><%= t "users.show.stats" %></h4>
            <div class="row">
              <div class="col-12 col-sm-4 stat">
                <a class="card-title-link" href="<%= user_submissions_path(@user, course_id: @course.id) %>">
                  <h1><%= @user.submissions.in_course(@course).count %></h1>
                  <%= t "users.show.submissions" %>
                </a>
              </div>
              <div class="col-12 col-sm-4 stat">
                <h1><%= @user.correct_exercises(course: @course) %></h1>
                <%= t "users.show.correctly_solved" %>
              </div>
              <div class="col-12 col-sm-4 stat">
                <h1><%= @user.unfinished_exercises(@course) %></h1>
                <%= t "users.show.unfinished" %>
              </div>
            </div>
          </div>
        </div>
        <%= render partial: 'visualizations/punchcard', locals: {course: @course, user: @user} %>
        <%= render partial: 'visualizations/heatmap', locals: {course: @course, user: @user} %>
      </div>
      <% if policy(@course_membership).update? or policy(@user).impersonate? %>
        <div class="card-actions card-border">
          <% if policy(@user).impersonate? %>
            <%= link_to t("layout.impersonate.impersonate"), impersonate_user_path(@user), class: "btn-text" %>
          <% end %>
          <% if policy(@course_membership).update? %>
            <button class="btn-text" data-bs-toggle="modal" data-bs-target="#labelsEditModal">
              <%= t ".edit_labels" %>
            </button>
            <% content_for :modal do %>
              <div class="modal fade" id="labelsEditModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title"><%= t ".edit_labels" %></h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t(".close") %>"></button>
                    </div>
                    <div class="modal-body">
                      <%= render 'form', course: @course, user: @user, course_membership: @course_membership %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn-text" data-bs-dismiss="modal"><%= t(".close") %></button>
                      <button type="submit" class="btn-text btn-primary" form="<%= "edit_course_membership_#{@course_membership.id}" %>"><%= t(".save") %></button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <h2><%= t(".course_overview") + @user.full_name %></h2>
    <div id="series-listing">
      <% @series.first(@series_loaded).each do |series| %>
        <%= render(partial: 'series/series', locals: {series: series, loaded: true, user: @user}) %>
      <% end %>
      <% @series.offset(@series_loaded).each do |series| %>
        <%= render(partial: 'series/series', locals: {series: series, loaded: false, user: @user}) %>
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript">
    $(dodona.initCourseShow);
</script>
