<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
    <thead>
    <th><%= SavedAnnotation.human_attribute_name("annotations_count")%></th>
    <th><%= SavedAnnotation.human_attribute_name("title")%></th>
    <th><%= SavedAnnotation.human_attribute_name("annotation_text")%></th>
    <th><%= SavedAnnotation.human_attribute_name("course")%></th>
    <th><%= SavedAnnotation.human_attribute_name("exercise")%></th>
    </thead>
    <tbody>
    <% @saved_annotations.each do |sa| %>
      <tr>
        <td><%= sa.annotations_count %></td>
        <td class="ellipsis-overflow" title="<%= sa.title%>"><%= sa.title%></td>
        <td class="ellipsis-overflow" title="${sa.annotation_text%>"><%= sa.annotation_text%></td>
        <td><d-filter-button param="course_id" value="<%= sa.course.id %>"><%= sa.course.name%></d-filter-button></td>
        <td><d-filter-button param="exercise_id" value="<%= sa.exercise.id %>"><%= sa.exercise.name%></d-filter-button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<center><%= page_navigation_links @saved_annotations, true, 'saved_annotations', params %></center>
