<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @saved_annotation.title %></h2>
        <% if false && policy(@saved_annotation).edit? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: edit_saved_annotation_path(@saved_annotation), icon: 'pencil' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text row">
        <p>
          <strong><%= SavedAnnotation.human_attribute_name("annotation_text") %>:</strong> <%= markdown @saved_annotation.annotation_text %>
        </p>
        <p>
          <strong><%= SavedAnnotation.human_attribute_name("course") %>:</strong> <%= link_to @saved_annotation.course.name, course_path(@saved_annotation.course) %>
        </p>
        <p>
          <strong><%= SavedAnnotation.human_attribute_name("exercise") %>:</strong> <%= link_to @saved_annotation.exercise.name, course_activity_path(@saved_annotation.course ,@saved_annotation.exercise) %>
        </p>
        <p>
          <strong><%= SavedAnnotation.human_attribute_name("annotations_count") %>:</strong> <%= @saved_annotation.annotations_count %>
        </p>
      </div>
    </div>
  </div>
</div>
