<table class="table table-index table-resource">
  <tbody>
  <% notifications.each do |n| %>
    <tr class="notification" data-id="<%= n.id %>">
      <td>
        <a class="notification-link" href="<%= notifiable_url n %>"><%= t n.message %></a>
        <div class="text-muted">
          <small>
            <span><%= "#{time_ago_in_words n.created_at} #{t 'series.deadline.ago'}" %></span>
          </small>
        </div>
      </td>
      <td class="actions">
        <span class="btn-icon">
          <% if n.read %>
            <i class="mdi mdi-circle-medium mdi-18 read-indicator" ></i>
          <% else %>
            <i class="mdi mdi-check mdi-18 read-indicator"></i>
          <% end %>
        </span>
        <%= link_to notification_path(n), method: :delete, remote: true, class: "btn-icon" do %>
          <i class="mdi mdi-close mdi-18"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  <script>
    $(() => {
      <% notifications.each do |n| %>
        new dodona.Notification(<%= n.id %>, "<%= notification_path(n, format: :json) %>", <%= n.read %>);
      <% end %>
    })
  </script>
  </tbody>
</table>
