<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
  <thead>
    <tr>
      <th class='status-icon'></th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= User.human_attribute_name("email") %></th>
      <th class='text-right'><%=  t("users.index.progress")  %></th>
      <th class='text-right'><%=  t("users.index.access_level") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <% unless @course %>
            <% if user.zeus? %>
              <i class="material-icons md-18" title='<%= t ".zeus" %>'>supervisor_account</i>
            <% end %>
            <% if user.staff? %>
              <i class="material-icons md-18" title='<%= t ".staff" %>'>perm_identity</i>
            <% end %>
          <% end %>
          <% if @course && user.course_admin?(@course) %>
            <i class="material-icons md-18" title='<%= t ".course_admin" %>'>school</i>
          <% end %>
          <% if user.username.blank? %>
            <i class="material-icons md-18" title='<%= t ".no_ugent" %>'>warning</i>
          <% end %>
        </td>
        <% if @course && user.member_of?(@course) %>
          <td><%= link_to user.full_name, course_member_path(@course, user), title: user.full_name, class: "ellipsis-overflow" %></td>
        <% else %>
          <td><%= link_to user.full_name, user, title: user.full_name, class: "ellipsis-overflow" %></td>
        <% end %>
        <td><%= user.email %></td>
        <td class='text-right'>
          <%=  link_to "#{user.correct_exercises(@course)}/#{user.attempted_exercises(@course)}", user_submissions_path(user)  %>
        </td>
        <% if @course %>
          <td class='text-right'>
            <%=  t("activerecord.attributes.course_membership.statuses.#{user.membership_status_for(@course)}")  %>
          </td>
        <% end %>
        <td class="actions">
          <% if @course %>
            <%= render partial: 'courses/course_membership_buttons',
                       locals: {course: @course, user: user} %>
          <%  end  %>
          <% if policy(user).impersonate? %>
            <%= link_to impersonate_user_path(user), class: "btn btn-sm btn-default", title: t("layout.impersonate.impersonate") do %>
              <i class="material-icons md-18">person</i>
            <% end %>
          <% end %>
          <% if policy(user).edit?  %>
            <%= link_to edit_user_path(user), title: t("users.index.edit"), class: "btn btn-sm btn-default" do %>
              <i class="material-icons md-18">edit</i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table></div>
<% if users.empty? %>
  <p class="text-center text-muted lead table-placeholder"><%= t 'users.index.no_users' %></p>
<% end %>
<% if local_assigns.fetch(:paginate, true) %>
  <center>
    <%= user_page_navigation_links users, local_assigns.fetch(:pagination_opts, {}) %>
  </center>
<% end %>

