<div class="table-scroll-wrapper">
  <table class="table table-index table-resource">
    <thead>
    <tr>
      <th class='status-icon'></th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= User.human_attribute_name("email") %></th>
      <th><%= User.human_attribute_name("institution") %></th>
      <th class='text-right'><%= t("users.index.progress") %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <% if user.zeus? %>
            <i class="mdi mdi-android mdi-18" title='<%= t ".zeus" %>'></i>
          <% end %>
          <% if user.staff? %>
            <i class="mdi mdi-school mdi-18" title='<%= t ".staff" %>'></i>
          <% end %>
          <% unless user.institution.present? %>
            <i class="mdi mdi-alert mdi-18" title='<%= t ".no_institution" %>'></i>
          <% end %>
        </td>
        <td><%= link_to user.full_name, user, title: user.full_name, class: "ellipsis-overflow" %></td>
        <td><%= user.email %></td>
        <td><%= user.institution&.name %></td>
        <td class='text-right'>
          <%= link_to "#{user.correct_exercises}/#{user.attempted_exercises}", user_submissions_path(user) %>
        </td>
        <td class="actions">
          <% if policy(user).impersonate? %>
            <%= link_to impersonate_user_path(user), class: "btn btn-sm btn-secondary", title: t("layout.impersonate.impersonate") do %>
              <i class="mdi mdi-account mdi-18"></i>
            <% end %>
          <% end %>
          <% if policy(user).edit? %>
            <%= link_to edit_user_path(user), title: t("users.index.edit"), class: "btn btn-sm btn-secondary" do %>
              <i class="mdi mdi-pencil mdi-18"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if users.empty? %>
  <p class="text-center text-muted lead table-placeholder"><%= t 'users.index.no_users' %></p>
<% end %>
<% if local_assigns.fetch(:paginate, true) %>
  <center>
    <%= user_page_navigation_links users, local_assigns.fetch(:pagination_opts, {}) %>
  </center>
<% end %>
