<table class="table table-index table-resource">
  <thead>
    <tr>
      <th class='status-icon'></th>
      <th><%= User.human_attribute_name("username") %></th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= User.human_attribute_name("email") %></th>
      <th class='text-right'><%= t("users.index.progress") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <% if user.zeus? %>
            <span class="glyphicon glyphicon-king" title='zeus'></span>
          <% end %>
          <% if user.staff? %>
            <span class="glyphicon glyphicon-queen" title='staff'></span>
          <% end %>
          <% if user.username.blank? %>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
          <% end %>
        </td>
        <td>
          <%= link_to user.short_name, user %>
        </td>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td class='text-right'>
          <%= link_to "#{user.correct_exercises}/#{user.attempted_exercises}", user_submissions_path(user) %>
        </td>
        <td class="actions">
          <% if policy(user).impersonate? %>
            <%= link_to impersonate_user_path(user), class: "btn btn-sm btn-default", title: t("layout.impersonate.impersonate") do %><span class="glyphicon glyphicon-user"></span><% end %>
          <% end %>
          <% if policy(user).edit? %>
            <%= link_to edit_user_path(user), class: "btn btn-sm btn-default" do %><span class="glyphicon glyphicon-pencil"></span><% end %>
          <% end %>
          <% if policy(user).destroy? %>
            <%= link_to user, method: :delete, data: { confirm: t("general.are_you_sure") }, class: "btn btn-sm btn-danger" do %><span class="glyphicon glyphicon-trash"></span><% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><%= page_navigation_links users, true, "users" if users.try(:total_pages) %></center>
