<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @user.full_name %></h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_user_#{@user.id}", mdi_icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', user: @user %>
      </div>

    </div>
    <div class="card">
      <div class="card-supporting-text card-border">
        <div class="col-xs-12">
          <h4><%= t '.api_tokens' %></h4>
          <p class="h4-info-text"><%= t ".token_help_html" %></p>
          <div id="fresh-token">
          </div>
          <h5><%= t '.create_new_token' %></h5>
          <div id="new-token-form">
            <%= render 'api_tokens/form', user: @user %>
          </div>
          <h5><%= t '.active_tokens' %></h5>
          <div id="token-table-placeholder">
            <%= render 'api_tokens/table', user: @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
