<div class="row">
  <div class="col-sm-10 offset-sm-1 col-12">
    <div class="card profile">
      <div class="card-supporting-text">
        <div>
          <span class="user-icon float-start">
            <% if @user.permission == "student" %>
              <i class="mdi mdi-account mdi-36" title="<%= @user.permission %>">
            <% elsif @user.permission == "staff" %>
              <i class="mdi mdi-school mdi-36" title="<%= @user.permission %>">
            <% else %>
              <i class="mdi mdi-android mdi-36" title="<%= @user.permission %>">
            <% end %>
              </i>
          </span>
          <span class="profile-line">
            <span class="name">
              <%= @user.full_name %>
            </span>
            <% if @user.username.present? %>
              <span>(<%= @user.username %>)</span>
            <% end %>
          </span>
          <span class="profile-byline text-muted">
            <% if @user.institution.present? and policy(@user.institution).show?%>
              <%= link_to(@user.institution&.name, institution_path(@user.institution), class: "text-muted") %>
            <% else %>
              <%= @user.institution&.name %>
            <% end %>
            <% if @user.institution&.name.present? and @user.email.present? %>
              &middot;
            <% end %>
            <%= @user.email %>
          </span>
          <p class="timezone">
            <%= t ".timezone" %> <b><%= @user.time_zone %></b>.
          </p>
        </div>
        <% if @user.token.present? %>
          <div class="callout callout-warning">
            <h4><%= t ".sign_in" %></h4>
            <p><%= t ".token_sign_in" %></p>
            <p><%= token_sign_in_user_url(@user, @user.token) %></p>
          </div>
        <% end %>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4><%= t ".stats" %></h4>
            <div class="row">
              <div class="col-6 stat">
                <a class="card-title-link" href="<%= user_submissions_path(@user) %>">
                  <h1><%= @user.submissions.count %></h1>
                  <%= t ".submissions" %>
                </a>
              </div>
              <div class="col-6 stat">
                <h1><%= @user.subscribed_courses.count %></h1>
                <%= t ".courses" %>
              </div>
              <div class="col-6 stat">
                <h1><%= @user.correct_exercises %></h1>
                <%= t ".correctly_solved" %>
              </div>
              <div class="col-6 stat">
                <h1><%= @user.unfinished_exercises %></h1>
                <%= t ".unfinished" %>
              </div>
            </div>
          </div>
          <div class="col-sm-12 offset-md-1 col-md-5">
            <h4><%= t ".my_courses" %></h4>
            <% if @user.subscribed_courses.empty? %>
              <%= t ".no_courses" %>
            <% else %>
              <% @user.subscribed_courses.each do |course| %>
                <p>
                <div>
                  <%= link_to course.name, course, class: "course-link", title: course.name %>
                  <% if course.teacher.present? %>
                    <span class="text-muted"> &middot; <%= course.teacher %></span>
                  <% end %>
                </div>
                <span class="small text-muted"><%= course.year %></span>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% if policy(@user).edit? or policy(@user).impersonate? or policy(@user).download_submissions? %>
        <div class="card-actions card-border">
          <% if policy(@user).impersonate? %>
            <%= link_to t("layout.impersonate.impersonate"), impersonate_user_path(@user), class: "btn-text" %>
          <% end %>
          <% if policy(@user).edit? %>
            <%= link_to t(".edit"), edit_user_path(@user), class: "btn-text btn-primary" %>
          <% end %>
          <% if policy(@user).download_submissions? %>
            <a class="btn btn-icon dropdown-toggle hidden-print" data-bs-toggle="dropdown">
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to t('.download_my_submissions'), users_exports_path(@user) %>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if policy(@user).edit? %>
      <div class="card">
        <div class="card-supporting-text card-border">
          <div class="col-12">
            <h4><%= t '.api_tokens' %></h4>
            <p class="h4-info-text"><%= t ".token_help_html" %></p>
            <div id="fresh-token">
            </div>
            <h5><%= t '.create_new_token' %></h5>
            <p class="h5-info-text"><%= t ".description_help" %></p>
            <div id="new-token-form">
              <%= render 'api_tokens/form', user: @user %>
            </div>
            <h5><%= t '.active_tokens' %></h5>
            <div id="token-table-placeholder">
              <%= render 'api_tokens/table', user: @user %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="card visualizations">
      <div class="card-supporting-text">
        <%= render partial: 'visualizations/punchcard', locals: {user: @user} %>
        <%= render partial: 'visualizations/heatmap', locals: {user: @user} %>
      </div>
    </div>
  </div>
</div>
