<%
  if course.present?
    if series.present?
      path = course_series_activity_path(I18n.locale, course.id, series.id, activity.id, anchor: 'submission-card', edit_submission: submission)
    else
      path = course_activity_path(I18n.locale, course.id, activity.id, anchor: 'submission-card', edit_submission: submission)
    end
  else
    path = activity_path(I18n.locale, activity.id, anchor: 'submission-card', edit_submission: submission)
  end
%>

<%= link_to path do %>
  <div class="card card-supporting-text series card-clickable" style="height: 100px; justify-content: space-between; display: flex">
    <div class="card-subtitle mb-1">
      <div style="margin-right: 16px">
        <%= activity_icon activity, 36 %>
      </div>

      <h4 class="ellipsis-overflow" title="<%= activity.name %>" style="width: 100%">
        <%= activity.name %><br>

        <% if course.present? %>
          <small class="ellipsis-overflow" title="<%= course.name%>">
            <%= course.name %>
            <% if series.present? %>
              > <%= series.name %>
            <% end %>
          </small>
        <% end %>
      </h4>
    </div>

    <small class="text-body ellipsis-overflow">
        <% if submission.present? %>
            <%= t ".jump_back_in_info" %>
        <% else %>
            <%= t ".jump_back_in_info_success" %>
        <% end %>
    </small>
  </div>
<% end %>
