<%= link_to course_path(I18n.locale, course.id) do %>
  <div class="card card-clickable" style="height: 100px">
    <div class="card-title">
      <h2 class="card-title-text ellipsis-overflow d-block" title="<%= course.name %>">
        <i class="mdi mdi-book-multiple mdi-24"></i> <%= course.name %>
      </h2>
      <h3 class="card-subtitle-text ellipsis-overflow mt-1 text-body" title="<%= course.formatted_year %>">
        <%= course.formatted_year %>
      </h3>
      <h3 class="card-subtitle-text ellipsis-overflow mt-1 text-body" title="<%= course.formatted_attribution %>">
        <%= course.formatted_attribution %>
      </h3>
    </div>
  </div>
<% end %>
