<% content_for :javascripts do %>
  <%= javascript_pack_tag 'punchcard' %>
<% end %>
<h4><%= t ".punchcard" %></h4>
<span class="h4-info-text"><%= t ".punchcard_details" %></span>

<div id="punchcard-container">
</div>

<script type="text/javascript">
    $(function () {
        dodona.initPunchcard('<%= raw punchcard_path(user_id: @user&.id, course_id: @course&.id) %>', <%= @time_zone_offset / -60  %>);
    });
</script>

