<div class="table-scroll-wrapper">
  <table class="table table-resource">
    <thead>
    <tr>
      <% if @user.nil? && (current_user.admin? || current_user.administrating_courses.any?) %>
        <th><%= t ".user" %></th>
      <% end %>
      <% unless @activity.present? %>
        <th><%= t ".exercise" %></th>
      <% end %>
      <th><%= t ".time" %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @read_states.each do |read_state| %>
      <tr id="read_state_<%= read_state.id %>">
        <% if @user.nil? && (current_user.admin? || current_user.administrating_courses.any?) %>
          <td>
            <% unless @activity.present? %>
              <dodona-filter-icon title="<%= t('.filter-by-user') %>" value="<%= read_state.user.full_name %>"></dodona-filter-icon>
            <% end %>
            <% if read_state.course.nil? %>
              <%= read_state.user.full_name %>
            <% else %>
              <%= link_to read_state.user.full_name, course_member_path(read_state.course, read_state.user), title: read_state.user.full_name, class: "ellipsis-overflow" %>
            <% end %>
          </td>
        <% end %>
        <% unless @activity.present? %>
          <td>
            <dodona-filter-icon title="<%= t('.filter-by-exercise') %>" value="<%= read_state.activity.name %>"></dodona-filter-icon>
            <% if read_state.course.nil? %>
              <%= link_to read_state.activity.name, activity_path(read_state.activity) %>
            <% else %>
              <%= link_to read_state.activity.name, course_activity_path(read_state.course, read_state.activity) %>
            <% end %>
          </td>
        <% end %>
        <td>
          <span title="<%= l read_state.created_at, format: :read_state %>"><%= time_ago_in_words read_state.created_at %> <%= t ".ago" %></span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%
  params = {}
  params[:activity_id] = local_assigns[:activity].id if local_assigns[:activity].present?
  params[:user_id] = local_assigns[:user].id if local_assigns[:user].present?
%>

<center><%= page_navigation_links read_states, true, 'activity_read_states', params %></center>
