<div class="row">
  <div class="col-sm-10 offset-sm-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= t ".title" %>
        </h2>
        <% if policy(ProgrammingLanguage).new? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: new_programming_language_path, icon: 'plus' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="table-scroll-wrapper">
          <table class="table table-index table-resource language-table">
            <thead>
            <tr>
              <th class='type-icon'></th>
              <th>
                <%= ProgrammingLanguage.human_attribute_name("name") %>
              </th>
              <th>
                <%= ProgrammingLanguage.human_attribute_name("editor_name") %>
              </th>
              <th>
                <%= ProgrammingLanguage.human_attribute_name("renderer_name") %>
              </th>
              <th>
                <%= ProgrammingLanguage.human_attribute_name("extension") %>
              </th>
              <th>
                <%= t('.exercises') %>
              </th>
              <th class="actions">
                <%= t('.actions') %>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @programming_languages.each do |programming_language| %>
              <tr>
                <td class='type-icon'>
                  <i class="<%= "mdi mdi-#{programming_language.icon} mdi-18" %>"></i>
                </td>
                <td>
                  <%= link_to programming_language.name, programming_language %>
                </td>
                <td>
                  <%= programming_language.editor_name %>
                </td>
                <td>
                  <%= programming_language.renderer_name %>
                </td>
                <td>
                  <%= programming_language.extension %>
                </td>
                <td>
                  <%= link_to programming_language.exercises.count, activities_path(programming_language: programming_language.name) %>
                </td>
                <td class="actions">
                  <% if policy(programming_language).edit? %>
                    <%= link_to edit_programming_language_path(programming_language), class: "btn btn-sm btn-secondary" do %>
                      <i class="mdi mdi-pencil mdi-18"></i>
                    <% end %>
                  <% end %>
                  <% if policy(programming_language).destroy? %>
                    <%= link_to programming_language, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn btn-sm btn-danger" do %>
                      <i class="mdi mdi-18 mdi-delete"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
