<div class="row">
  <div class="col-sm-10 offset-sm-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class='card-title-text float-end'>
          <i class="mdi mdi-<%= @programming_language.icon %> icon"></i>
        </h2>
        <h2 class="card-title-text"><%= @programming_language.name %></h2>
      </div>
      <div class="card-supporting-text">
        <p>
          <strong><%= ProgrammingLanguage.human_attribute_name("name") %></strong>
          <%= @programming_language.name %>
        </p>
        <p>
          <strong><%= ProgrammingLanguage.human_attribute_name("editor_name") %></strong>
          <%= @programming_language.editor_name %>
        </p>
        <p>
          <strong><%= ProgrammingLanguage.human_attribute_name("renderer_name") %></strong>
          <%= @programming_language.renderer_name %>
        </p>
        <p>
          <strong><%= ProgrammingLanguage.human_attribute_name("extension") %></strong>
          <%= @programming_language.extension %>
        </p>
      </div>
      <% if policy(@programming_language).edit? %>
        <div class="card-actions card-border">
          <%= button_to t('programming_languages.edit.title'), edit_programming_language_path(@programming_language), method: :get, class: 'btn-text' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
