<%= content_for :meta_tags do %>
  <meta property="og:description" content="<%= t "layout.head.description" %>"/>
<% end %>
<div class="home-cover-img">&nbsp;</div>
<div class="row">
  <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12">
    <div class="row home-header">
      <div class="col-12 col-sm-6 col-md-7 col-lg-7 col-xl-7 col-xxl-8 home-lead">
        <h1>Dodona</h1>
        <p class='lead'><%= t ".learn-to-code" %><br><%= t ".higher-education" %></p>
        <% unless current_user.present? %>
          <%= link_to t(".sign-in"), sign_in_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
      <div class="d-none d-sm-block col-sm-6 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
        <%= image_tag("home.png", class: 'img-fluid') %>
      </div>
    </div>
    <div class="card home-card row">
      <div class="card-supporting-text row">
        <div class="col-sm-4 info-step">
          <%= image_tag("code.png", class: 'img-fluid col-8 col-sm-12') %>
          <h3><%= t ".write-code" %></h3>
          <p><%= t ".write-code-text" %></p>
        </div>
        <div class="col-sm-4 info-step">
          <%= image_tag("plane.png", class: 'img-fluid col-8 col-sm-12') %>
          <h3><%= t ".hand-in" %></h3>
          <p><%= t ".hand-in-text" %></p>
        </div>
        <div class="col-sm-4 info-step">
          <%= image_tag("feedback.png", class: 'img-fluid col-8 col-sm-12') %>
          <h3><%= t ".get-feedback" %></h3>
          <p><%= t ".get-feedback-text" %></p>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= render partial: 'description' %>
      </div>
      <div class="card-supporting-text card-border">
        <%= render partial: 'metrics' %>
      </div>
    </div>
    <div class="card home-card row">
      <div class="card-supporting-text ugent row">
        <%= render partial: 'team' %>
      </div>
      <div class="card-supporting-text card-border">
        <div class="supporters row">
          <div class="col-12 col-sm-4 center-vertical">
            <%= link_to "https://www.ugent.be/we/#{I18n.locale}", title: t(".we") do %>
              <%= image_tag("we.#{I18n.locale}.png", class: 'img-fluid light-only', loading: 'lazy') %>
              <%= image_tag("we.#{I18n.locale}.white.png", class: 'img-fluid dark-only', loading: 'lazy') %>
            <% end %>
          </div>
          <div class="col-12 col-sm-3 center-vertical">
            <%= link_to "https://www.elixir-belgium.org/", title: t(".elixir") do %>
              <%= image_tag("elixir.png", class: 'img-fluid') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Organization",
    "name": "Dodona",
    "url": "https://dodona.ugent.be",
    "sameAs": [
      "https://twitter.com/DodonaEdu",
      "https://github.com/dodona-edu"
    ],
    "email": "dodona@ugent.be",
    "logo": "https://dodona.ugent.be/icon.png",
    "image": "https://dodona.ugent.be/social-image.png",
    "slogan": "Learn to code for secondary and higher education."
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Website",
    "name": "Dodona",
    "url": "https://dodona.ugent.be",
    "version": "<%= Dodona::Application::VERSION %>",
    "image": "https://dodona.ugent.be/social-image.png"
  }
</script>
