<%= content_for :meta_tags do %>
  <meta property="og:description" content="<%= t "layout.head.description" %>"/>
<% end %>
<div class="home-cover-img">&nbsp;</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="row home-header">
      <div class="col-xs-12 col-sm-8 col-md-7 home-lead">
        <h1>Dodona</h1>
        <p class='lead'><%= t ".learn-to-code" %><br><%= t ".higher-education" %></p>
        <% unless current_user.present? %>
          <%= link_to t(".sign-in"), sign_in_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
      <div class="hidden-xs col-sm-4 col-md-5">
        <%= image_tag("home.png", class: 'img-responsive') %>
      </div>
    </div>
    <div class="row card home-card">
      <div class="card-supporting-text">
        <div class="col-sm-4 info-step">
          <%= image_tag("code.png", class: 'img-responsive') %>
          <h3><%= t ".write-code" %></h3>
          <p><%= t ".write-code-text" %></p>
        </div>
        <div class="col-sm-4 info-step">
          <%= image_tag("plane.png", class: 'img-responsive') %>
          <h3><%= t ".hand-in" %></h3>
          <p><%= t ".hand-in-text" %></p>
        </div>
        <div class="col-sm-4 info-step">
          <%= image_tag("feedback.png", class: 'img-responsive') %>
          <h3><%= t ".get-feedback" %></h3>
          <p><%= t ".get-feedback-text" %></p>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= render partial: 'description' %>
      </div>
    </div>
    <div class="row card home-card">
      <div class="card-supporting-text ugent">
        <%= render partial: 'team' %>
      </div>
      <div class="card-supporting-text card-border supporters">
        <div class="col-xs-12 col-sm-4 center-vertical">
          <%= link_to "https://www.ugent.be/we/#{I18n.locale}", title: t(".we") do %>
            <%= image_tag("we.#{I18n.locale}.png", class: 'img-responsive') %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3 center-vertical">
          <%= link_to "https://www.elixir-belgium.org/", title: t(".elixir") do %>
            <%= image_tag("elixir.png", class: 'img-responsive') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
