<div class="card home-summary-card course">
  <%= link_to course_path(course), class: 'card-title-link' do %>
    <div class="card-title card-title-colored">
      <% if current_user.course_admin?(course) %>
        <% if current_user.admin_of?(course) %>
          <h2 class='card-title-text float-end' title='<%= t ".course-admin" %>'>
            <i class='mdi mdi-school'></i>
          </h2>
        <% end %>
        <% if !course.open_for_all? || course.moderated %>
          <% title = [] %>
          <% title.push t("courses.show.registration-#{course.registration}-info", institution: course.institution&.name) unless course.open_for_all? %>
          <% title.push t("courses.show.moderated-info") if course.moderated %>
          <h2 class='card-title-text float-end' title='<%= title.join("\n") %>'>
            <i class="mdi mdi-account-remove-outline"></i>
          </h2>
        <% end %>
        <% unless course.visible_for_all? %>
          <h2 class='card-title-text float-end' title='<%= t "courses.show.visibility-#{course.visibility}-info", institution: course.institution&.name %>'>
            <i class="mdi mdi-eye-off-outline"></i>
          </h2>
        <% end %>
      <% elsif local_assigns[:show_membership] and current_user.subscribed_courses.include? course %>
        <h2 class='card-title-text float-end' title='<%= t ".course-member" %>'><i class='mdi mdi-star'></i></h2>
      <% end %>
      <h2 class="card-title-text course-name" title="<%= course.name %>">
        <%= course.name %>
        <br/>
        <% if course.formatted_attribution.present? %>
          <small class="card-subtitle-text ellipsis-overflow" title="<%= course.formatted_attribution %>">
            <%= course.formatted_attribution %>
          </small>
        <% end %>
      </h2>

      <%= render partial: 'progress_chart', locals: {
        total: course.activity_count,
        tried: course.started_activity_count(current_user),
        correct: course.completed_activity_count(current_user),
        info_wrong: 'pages.clickable_homepage_cards.series.progress_chart_info_wrong',
        info_not_started: 'pages.clickable_homepage_cards.series.progress_chart_info_not_started',
        info_correct: 'pages.clickable_homepage_cards.series.progress_chart_info_correct',
        width: '100%',
        muted: true,
      } %>
    </div>
  <% end %>

  <div class="card-supporting-text card-border">
    <div class="mb-0 flex-row" style="display: flex">
      <div style="margin-right: 12px; align-content: center; display: grid;" >
        <small class="deadline-future" title="22 januari 2023 11:03" >
          <i class="mdi mdi-24 mdi-alarm"></i>
        </small>
      </div>
      <div style="width: 100%">
        <span class="float-end">
          <small class="deadline-future" title="22 januari 2023 11:03">
            <i class="mdi mdi-12 mdi-alarm"></i>
            binnen ongeveer een maand
          </small>
        </span>
        <a class="dynamic-homepage-series-link" title="Reeks 0" href="/nl/courses/1/?series=3#series-3-reeks-0">
          Reeks 0
        </a>
        <span data-bs-html="true" data-bs-toggle="tooltip" aria-label="0 oefeningen correct opgelost.<br />Eén oefening incorrect.<br />3 oefeningen nog niet begonnen.">
          <svg viewBox="0 0 1 1" preserveAspectRatio="none" height="8" width="100%" class="progress-chart">
              <line class="correct" x1="0" y1="0.5" x2="0.125" y2="0.5"></line><line class="wrong" x1="0.125" y1="0.5" x2="0.24999375015624611" y2="0.5"></line><line class="not-started" x1="0.24999375015624611" y1="0.5" x2="0.9999750006249845" y2="0.5"></line>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="card-supporting-text card-border">
    <div class="mb-3 flex-row" style="display: flex">
<!--      <div style="margin-right: 12px; align-content: center; display: grid;" >-->
<!--        <small class="deadline-future" title="22 januari 2023 11:03" >-->
<!--          <i class="mdi mdi-language-python mdi-24" title="Python oefening"></i>-->
<!--        </small>-->
<!--      </div>-->
      <div style="width: 100%">
        <span class="float-end"><i class="mdi mdi-close mdi-18 colored-wrong"></i></span>
        <a class="course-link" title="Het priemgetal van de UGent" href="/nl/courses/9/activities/830174145/">
          Het priemgetal van de UGent
        </a><br/>
        <span class="small text-muted ">
        Werk verder aan deze oefening
      </span>
      </div>
    </div>
<!--  </div>-->
<!--  <div class="card-supporting-text">-->
    <div class="mb-0 flex-row" style="display: flex">
<!--      <div style="margin-right: 12px; align-content: center; display: grid;" >-->
<!--        <small class="deadline-future" title="22 januari 2023 11:03" >-->
<!--          <i class="mdi mdi-language-python mdi-24" title="Python oefening"></i>-->
<!--        </small>-->
<!--      </div>-->
      <div style="width: 100%">
        <a class="course-link" title="Echo" href="/nl/courses/8/activities/855910192/">Echo</a><br/>
        <span class="small text-muted ">
        Of start met deze oefening
      </span>
      </div>
    </div>

  </div>

  <%# if local_assigns[:show_deadlines] %>
    <%# course_series = course.homepage_series %>
    <%# if course_series.any? %>
<!--      <div class="card-supporting-text card-border deadlines">-->
<!--        <h5>Deadlines</h5>-->
        <%# course_series.first(3).each do |series| %>
<!--          <p>-->
<!--            <span class='float-end'>-->
              <%#= render partial: 'deadlines/relative', locals: {deadline: series.deadline, met: series.completed_before_deadline?(current_user)} %>
<!--            </span>-->
            <%#= link_to series.name, course_path(course, series: series, anchor: series.anchor), class: "dynamic-homepage-series-link", title: series.name %>
<!--          </p>-->
        <%# end %>
<!--      </div>-->
    <%# end %>
  <%# end %>
  <div class="card-actions card-border">
    <div class="flex-grow-1">
      <i class="favorite-button mdi <%= @favorite_courses.include?(course)? "favorited mdi-heart" : "mdi-heart-outline" %>"
          data-course_id="<%= course.id %>"
          title="<%= @favorite_courses.include?(course) ? t('js.unfavorite-course-do') : t('js.favorite-course-do') %>"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
      >
      </i>
    </div>
    <%= link_to t('.go-to-course'), course_path(course), class: 'btn btn-text' %>
  </div>
</div>
