<div class="card home-summary-card course">
  <%= link_to course_path(course), class: 'card-title-link' do %>
    <div class="card-title card-colored-accent accent-<%= course.color %>">
      <% if current_user.course_admin?(course) %>
        <% if current_user.admin_of?(course) %>
          <h2 class='card-title-text float-right' title='<%= t ".course-admin" %>'>
            <i class='mdi mdi-school'></i>
          </h2>
        <% end %>
        <% if !course.open_for_all? || course.moderated %>
          <% title = [] %>
          <% title.push t("courses.show.registration-#{course.registration}-info", institution: course.institution&.name) unless course.open_for_all? %>
          <% title.push t("courses.show.moderated-info") if course.moderated %>
          <h2 class='card-title-text float-right' title='<%= title.join("\n") %>'>
            <i class="mdi mdi-account-remove-outline"></i>
          </h2>
        <% end %>
        <% unless course.visible_for_all? %>
          <h2 class='card-title-text float-right' title='<%= t "courses.show.visibility-#{course.visibility}-info", institution: course.institution&.name %>'>
            <i class="mdi mdi-eye-off-outline"></i>
          </h2>
        <% end %>
      <% elsif local_assigns[:show_membership] and current_user.subscribed_courses.include? course %>
        <h2 class='card-title-text float-right' title='<%= t ".course-member" %>'><i class='mdi mdi-star'></i></h2>
      <% end %>
      <h2 class="card-title-text course-name" title="<%= course.name %>"><%= course.name %></h2>
      <h3 class="card-subtitle-text"><%= course.formatted_year %>&nbsp;</h3>
      <% if course.formatted_attribution.present? %>
        <h3 class="card-subtitle-text ellipsis-overflow" title="<%= course.formatted_attribution %>">
          <%= course.formatted_attribution %>
        </h3>
      <% end %>
    </div>
  <% end %>
  <div class="card-supporting-text stats row">
    <% if local_assigns[:course_index] %>
      <div class="col-xs-6">
        <h1><%= number_with_delimiter course.subscribed_members_count, delimiter: " " %></h1>
        <%= t ".users" %>
      </div>
      <div class="col-xs-6">
        <h1><%= number_with_delimiter course.exercises_count, delimiter: " " %></h1>
        <%= t ".exercises" %>
      </div>
    <% else %>
      <% if current_user.course_admin?(course) %>
        <div class="col-xs-6">
          <%= link_to course_submissions_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter course.submissions.count, delimiter: " " %></h1>
            <%= t ".submissions" %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to course_members_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter course.subscribed_members_count, delimiter: " " %></h1>
            <%= t ".users" %>
          <% end %>
        </div>
      <% else %>
        <div class="col-xs-6">
          <%= link_to course_submissions_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter current_user.submissions.in_course(course).count, delimiter: " " %></h1>
            <%= t ".submissions" %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to course_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter current_user.correct_exercises(course: course), delimiter: " " %></h1>
            <%= t ".correct-exercises" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if local_assigns[:show_deadlines] %>
    <% course_series = course.homepage_series %>
    <% if course_series.any? %>
      <div class="card-supporting-text card-border deadlines">
        <h5>Deadlines</h5>
        <% course_series.first(3).each do |series| %>
          <p>
            <span class='float-right'>
              <%= render partial: 'deadlines/relative', locals: {deadline: series.deadline, met: series.completed_before_deadline?(current_user)} %>
            </span>
            <%= link_to series.name, course_path(course, series: series, anchor: series.anchor), class: "dynamic-homepage-series-link", title: series.name %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="card-actions card-border">
    <% if local_assigns[:course_index] and current_user.course_admin? course %>
      <%= link_to t('.edit-course'), edit_course_path(course), class: 'btn-text float-right' %>
    <% else %>
      <%= link_to t('.go-to-course'), course_path(course), class: 'btn-text float-right' %>
    <% end %>
    <% if not local_assigns[:course_index] %>
      <div class="float-left">
        <i class="favorite-button mdi <%= @favorite_courses.include?(course)? "favorited mdi-heart" : "mdi-heart-outline" %>"
           data-course_id="<%= course.id %>"
           title="<%= @favorite_courses.include?(course) ? t('js.unfavorite-course-do') : t('js.favorite-course-do') %>"
           data-toggle="tooltip"
           data-placement="bottom"
        >
        </i>
      </div>
    <% end %>
  </div>
</div>
