<div class="card home-summary-card course">
  <%= link_to course_path(course), class: 'card-title-link' do %>
    <div class="card-title card-colored-accent accent-<%= course.color %>">
      <% if current_user.course_admin?(course) %>
        <% if current_user.admin_of?(course) %>
          <h2 class='card-title-text pull-right' title='<%= t ".course-admin" %>'><i class='material-icons'>school</i>
          </h2>
        <% end %>
        <% if !course.open_for_all? || course.moderated %>
          <% title = [] %>
          <% title.push t("courses.show.registration-#{course.registration}-info") unless course.open_for_all? %>
          <% title.push t("courses.show.moderated-info") if course.moderated %>
          <h2 class='card-title-text pull-right' title='<%= title.join(" ") %>'>
            <i class="mdi mdi-account-remove-outline"></i>
          </h2>
        <% end %>
        <% unless course.visible_for_all? %>
          <h2 class='card-title-text pull-right' title='<%= t "courses.show.visibility-#{course.visibility}-info" %>'>
            <i class="mdi mdi-eye-off-outline"></i>
          </h2>
        <% end %>
      <% elsif local_assigns[:show_membership] and current_user.subscribed_courses.include? course %>
        <h2 class='card-title-text pull-right' title='<%= t ".course-member" %>'><i class='material-icons'>star</i></h2>
      <% end %>
      <h2 class="card-title-text course-name" title="<%= course.name %>"><%= course.name %></h2>
      <h3 class="card-subtitle-text"><%= course.formatted_year %>&nbsp;</h3>
      <% if course.institution&.name.present? && course.teacher.present? %>
        <h3 class="card-subtitle-text ellipsis-overflow" title="<%= course.teacher %> (<%= course.institution.name %>)"><%= course.teacher %>
          (<%= course.institution.name %>)&nbsp;</h3>
      <% elsif course.teacher.present? %>
        <h3 class="card-subtitle-text ellipsis-overflow" title="<%= course.teacher %>"><%= course.teacher %>&nbsp;</h3>
      <% elsif course.institution&.name.present? %>
        <h3 class="card-subtitle-text ellipsis-overflow" title="<%= course.institution.name %>"><%= course.institution.name %></h3>
      <% end %>
    </div>
  <% end %>
  <div class="card-supporting-text stats row">
    <% if local_assigns[:course_index] %>
      <div class="col-xs-6">
        <h1><%= number_with_delimiter course.subscribed_members_count, delimiter: " " %></h1>
        <%= t ".users" %>
      </div>
      <div class="col-xs-6">
        <h1><%= number_with_delimiter course.exercises_count, delimiter: " " %></h1>
        <%= t ".exercises" %>
      </div>
    <% else %>
      <% if current_user.course_admin?(course) %>
        <div class="col-xs-6">
          <%= link_to course_submissions_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter course.submissions.count, delimiter: " " %></h1>
            <%= t ".submissions" %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to course_members_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter course.subscribed_members_count, delimiter: " " %></h1>
            <%= t ".users" %>
          <% end %>
        </div>
      <% else %>
        <div class="col-xs-6">
          <%= link_to course_submissions_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter current_user.submissions.in_course(course).count, delimiter: " " %></h1>
            <%= t ".submissions" %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= link_to course_path(course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter current_user.correct_exercises(course: course), delimiter: " " %></h1>
            <%= t ".correct-exercises" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if local_assigns[:show_deadlines] %>
    <% course_series = course.homepage_series %>
    <% if course_series.any? %>
      <div class="card-supporting-text card-border deadlines">
        <h5>Deadlines</h5>
        <% course_series.first(3).each do |series| %>
          <p>
            <span class='pull-right'>
              <%= render partial: 'series/human_deadline', locals: {series: series} %>
            </span>
            <%= link_to series.name, course_path(course, series: series, anchor: series.anchor), class: "dynamic-homepage-series-link", title: series.name %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="card-actions card-border">
    <% if local_assigns[:course_index] and current_user.course_admin? course %>
      <%= link_to t('.edit-course'), edit_course_path(course), class: 'btn-text pull-right' %>
    <% else %>
      <%= link_to t('.go-to-course'), course_path(course), class: 'btn-text pull-right' %>
    <% end %>
    <% if not local_assigns[:course_index] and current_user.full_view? %>
      <div class="pull-left">
        <i class="favorite-button material-icons <%= "favorited" if current_user.favorite_courses.include? course %>"
           data-course_id="<%= course.id %>"
           title="<%= current_user.favorite_courses.include?(course) ? t('js.unfavorite-course-do') : t('js.favorite-course-do') %>"
           data-toggle="tooltip"
           data-placement="bottom"
        >
          <% if current_user.favorite_courses.include? course %>
            favorite
          <% else %>
            favorite_outline
          <% end %>
        </i>
      </div>
    <% end %>
  </div>
</div>
