<div class="card home-summary-card course">
  <%= link_to course_path(course), class: 'card-title-link' do %>
    <div class="card-title card-title-colored">
<!--      <h2 class="card-title-text float-end d-block"  style="text-align: right">-->
        <%# if current_user.course_admin?(course) %>
          <%# if current_user.admin_of?(course) %>
<!--            <i class='mdi mdi-school' title='<%#= t ".course-admin" %>'></i>-->
          <%# end %>
          <%# if !course.open_for_all? || course.moderated %>
            <%# title = [] %>
            <%# title.push t("courses.show.registration-#{course.registration}-info", institution: course.institution&.name) unless course.open_for_all? %>
            <%# title.push t("courses.show.moderated-info") if course.moderated %>
<!--            <i class="mdi mdi-account-remove-outline" title='<%#= title.join("\n") %>'></i>-->
          <%# end %>
          <%# unless course.visible_for_all? %>
<!--            <i class="mdi mdi-eye-off-outline" title='<%#= t "courses.show.visibility-#{course.visibility}-info", institution: course.institution&.name %>'></i>-->
          <%# end %>
        <%# elsif local_assigns[:show_membership] and current_user.subscribed_courses.include? course %>
<!--          <i class='mdi mdi-star' title='<%#= t ".course-member" %>'></i>-->
        <%# end %>
<!--        <br/>-->
<!--        <small class="card-subtitle-text ellipsis-overflow" title="<%#= Course.format_year(course.year) %>">-->
          <%#= Course.format_year(course.year) %>
<!--        </small>-->
<!--      </h2>-->

      <h2 class="card-title-text justify-content-between">
        <span class="ellipsis-overflow" title="<%= course.name %>"><%= course.name %></span>
        <span class="float-end" style="white-space: nowrap">
          <% if current_user.course_admin?(course) %>
            <% if current_user.admin_of?(course) %>
              <i class='mdi mdi-school' title='<%= t ".course-admin" %>'></i>
            <% end %>
              <% if !course.open_for_all? || course.moderated %>
              <% title = [] %>
                <% title.push t("courses.show.registration-#{course.registration}-info", institution: course.institution&.name) unless course.open_for_all? %>
                <% title.push t("courses.show.moderated-info") if course.moderated %>
                <i class="mdi mdi-account-remove-outline" title='<%= title.join("\n") %>'></i>
            <% end %>
              <% unless course.visible_for_all? %>
              <i class="mdi mdi-eye-off-outline" title='<%= t "courses.show.visibility-#{course.visibility}-info", institution: course.institution&.name %>'></i>
            <% end %>
          <% elsif local_assigns[:show_membership] and current_user.subscribed_courses.include? course %>
            <i class='mdi mdi-star' title='<%= t ".course-member" %>'></i>
          <% end %>
        </span>
      </h2>
      <div class="d-flex justify-content-between" style="width: 100%">
        <% if course.formatted_attribution.present? %>
          <small class="ellipsis-overflow mt-2 d-inline-block" title="<%= course.formatted_attribution %>">
            <%= course.formatted_attribution %>
          </small>
        <% end %>

        <small class="float-end mt-2" title="<%= Course.format_year(course.year) %>">
          <%= Course.format_year(course.year) %>
        </small>
      </div>

      <%= render partial: 'progress_chart', locals: {
        total: course.activity_count,
        tried: course.started_activity_count(current_user),
        correct: course.completed_activity_count(current_user),
        info_wrong: 'pages.clickable_homepage_cards.series.progress_chart_info_wrong',
        info_not_started: 'pages.clickable_homepage_cards.series.progress_chart_info_not_started',
        info_correct: 'pages.clickable_homepage_cards.series.progress_chart_info_correct',
        width: '100%',
        muted: true,
      } %>
    </div>
  <% end %>

  <% course_series = course.homepage_series.first(2) %>
  <% if course_series.any? %>
    <div class="card-supporting-text card-border">
      <% course_series.each do |series| %>
        <div class="course-item">
          <div class="course-item-icon">
            <i class="mdi mdi-24 <%= deadline_icon series.completed_before_deadline?(current_user), series.deadline %>
                                 <%= deadline_class series.completed_before_deadline?(current_user), series.deadline %>"></i>
          </div>
          <div class="ellipsis-overflow" style="width: 100%">
            <span class="float-end">
              <%= render partial: 'deadlines/relative', locals: {deadline: series.deadline, met: series.completed_before_deadline?(current_user)} %>
            </span>
            <%= link_to series.name, course_path(course, series: series, anchor: series.anchor), class: "dynamic-homepage-series-link", title: series.name %>

            <%= render partial: 'progress_chart', locals: {
              total: series.activity_count,
              tried: series.started_activity_count(current_user),
              correct: series.completed_activity_count(current_user),
              info_wrong: 'pages.clickable_homepage_cards.series.progress_chart_info_wrong',
              info_not_started: 'pages.clickable_homepage_cards.series.progress_chart_info_not_started',
              info_correct: 'pages.clickable_homepage_cards.series.progress_chart_info_correct',
              width: '100%',
            } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% course_activities = course.homepage_activities(current_user, 3 - course_series.length) %>
  <div class="card-supporting-text card-border <%= course_series.empty? ? 'course-activities-full-height' : '' %>">
    <% course_activities.each do |ca| %>
      <div class="course-item">
        <div class="course-item-icon" >
          <%= activity_icon ca[:activity], 24 %>
        </div>
        <div style="width: 100%">
          <%= link_to ca[:activity].name, course_series_activity_path(I18n.locale, course.id, ca[:series].id, ca[:activity].id, anchor: 'submission-card', edit_submission: ca[:submission])%>
          <br/>
          <span class="small text-muted ">
            <%= ca[:text] %>
          </span>
        </div>
      </div>
    <% end %>
    <% if course_series.length + course_activities.length < 3 && course_activities.length > 0 %>
      <div class="course-item" style="height: 36px; align-items: center;">
        <div class="course-item-icon">
          <i class="mdi mdi-24 mdi-thumb-up-outline"></i>
        </div>
        <div style="width: 100%">
          <%= markdown t ".few-activities-markdown", count: course_activities.length%>
        </div>
      </div>
    <% elsif course_series.length == 2 && course_activities.length == 0 %>
      <div class="course-item" style="height: 36px; align-items: center;">
        <div class="course-item-icon">
          <i class="mdi mdi-24 mdi-party-popper"></i>
        </div>
        <div style="width: 100%">
          <%= markdown t ".no-activities-markdown", count: course_activities.length%>
        </div>
      </div>
    <% elsif course_series.length == 1 && course_activities.length == 0 %>
      <div style="display: flex; align-items: center;">
        <%= image_tag("straight-popper.svg", class: 'img-fluid', style: 'height: 88px; width: 88px') %>
        <span style="margin-left: 16px">
          <%= markdown t ".no-activities-markdown" %>
        </span>
      </div>
    <% elsif course_series.length == 0 && course_activities.length == 0 %>
      <div style="width: 100%; text-align: center">
        <%= image_tag("straight-popper.svg", class: 'img-fluid', style: 'height: 130px; width: 130px') %>
      </div>
      <div style="width: 100%; text-align: center; margin-top: 16px">
        <%= markdown t ".no-activities-markdown" %>
      </div>
    <% end %>
  </div>
  <div class="card-actions card-border">
    <div class="flex-grow-1">
      <i class="favorite-button mdi <%= @favorite_courses.include?(course)? "favorited mdi-heart" : "mdi-heart-outline" %>"
          data-course_id="<%= course.id %>"
          title="<%= @favorite_courses.include?(course) ? t('js.unfavorite-course-do') : t('js.favorite-course-do') %>"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
      >
      </i>
    </div>
    <%= link_to t('.go-to-course'), course_path(course), class: 'btn btn-text' %>
  </div>
</div>
