<div class="card home-summary-card">
  <%= link_to course_path(course), class: 'card-title-link' do %>
    <div class="card-title card-colored-accent accent-<%= course.color %>">
      <% if @user.course_admin? course %> <h2 class='card-title-text pull-right' title='<%= t ".course-admin" %>'><span class='glyphicon glyphicon-education'></span></h2> <% end %>
      <h2 class="card-title-text"><%= course.name %></h2>
      <h3 class="card-subtitle-text"><%= course.formatted_year %>&nbsp;</h3>
      <h3 class="card-subtitle-text"><%= course.teacher %>&nbsp;</h3>
    </div>
  <% end %>
  <div class="card-supporting-text stats row">
    <% if @user.course_admin?(course) %>
    <div class="col-xs-6">
      <%= link_to submissions_path(course_id: course.id), class: 'card-title-link' do %>
        <h1><%= number_with_delimiter course.submissions.count, delimiter: " " %></h1>
        <%= t ".submissions" %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to course_path(course, anchor: "user-list"), class: 'card-title-link' do %>
          <h1><%= number_with_delimiter course.subscribed_members.count, delimiter: " " %></h1>
          <%= t ".users" %>
      <% end %>
    </div>
    <% else %>
      <div class="col-xs-6">
        <%= link_to submissions_path(course_id: course.id), class: 'card-title-link' do %>
          <h1><%= number_with_delimiter @user.submissions.in_course(course).count, delimiter: " " %></h1>
          <%= t ".submissions" %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= link_to course_path(course), class: 'card-title-link' do %>
          <h1><%= number_with_delimiter @user.correct_exercises(course), delimiter: " " %></h1>
          <%= t ".correct-exercises" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% course_series = course.homepage_series %>
  <% if course_series.any? %>
    <div class="card-supporting-text card-border deadlines">
      <h5>Deadlines</h5>
      <% course_series.first(3).each do |series| %>
        <p><%= link_to series.name, course_path(course, all: true , anchor: "series-#{series.id}"), class: "dynamic-homepage-series-link link-accent-#{course.color}" %>
          <span class='pull-right'>
            <%= render partial: 'series/human_deadline', locals: { series: series } %>
          </span>
        </p>
      <% end %>
    </div>
  <% end %>
  <div class="card-actions card-border">
    <%= link_to t('.go-to-course'), course_path(course), class: 'btn-text pull-right' %>
  </div>
</div>
