<div class="card home-summary-card course">
  <%= link_to course_path(course), class: 'card-title-link' do %>
    <div class="card-title card-title-colored-container">
      <h2 class="card-title-text justify-content-between">
        <span class="ellipsis-overflow" title="<%= course.name %>"><%= course.name %></span>
        <span class="float-end" style="white-space: nowrap">
          <% if current_user.course_admin?(course) %>
            <% if current_user.admin_of?(course) %>
              <i class='mdi mdi-school' title='<%= t ".course-admin" %>'></i>
            <% end %>
              <% if !course.open_for_all? || course.moderated %>
              <% title = [] %>
                <% title.push t("courses.show.registration-#{course.registration}-info", institution: course.institution&.name) unless course.open_for_all? %>
                <% title.push t("courses.show.moderated-info") if course.moderated %>
                <i class="mdi mdi-account-remove-outline" title='<%= title.join("\n") %>'></i>
            <% end %>
              <% unless course.visible_for_all? %>
              <i class="mdi mdi-eye-off-outline" title='<%= t "courses.show.visibility-#{course.visibility}-info", institution: course.institution&.name %>'></i>
            <% end %>
          <% elsif local_assigns[:show_membership] and current_user.subscribed_courses.include? course %>
            <i class='mdi mdi-star' title='<%= t ".course-member" %>'></i>
          <% end %>
        </span>
      </h2>
      <div class="d-flex justify-content-between mb-1" style="width: 100%">
        <% if course.formatted_attribution.present? %>
          <small class="ellipsis-overflow mt-2 d-inline-block" title="<%= course.formatted_attribution %>">
            <%= course.formatted_attribution %>
          </small>
        <% end %>

        <small class="float-end mt-2" style="white-space: nowrap" title="<%= Course.format_year(course.year) %>">
          <%= Course.format_year(course.year) %>
        </small>
      </div>

      <%= render partial: 'progress_chart', locals: {
        total: course.activity_count,
        tried: course.started_activity_count(current_user),
        correct: course.completed_activity_count(current_user),
        info_wrong: 'pages.clickable_homepage_cards.series.progress_chart_info_wrong',
        info_not_started: 'pages.clickable_homepage_cards.series.progress_chart_info_not_started',
        info_correct: 'pages.clickable_homepage_cards.series.progress_chart_info_correct',
        width: '100%',
        muted: true,
      } %>
    </div>
  <% end %>

  <% course_series = course.homepage_series.first(2) %>
  <% course_activities = course.homepage_activities(current_user, 3 - [1, course_series.length].max) %>
  <% if course_series.empty? && course_activities.any?
       course_series << course_activities.first[:series]
       course_activities = course_activities.first(2)
     end
  %>
  <% if course_series.any? %>
    <div class="card-supporting-text card-border">
      <% course_series.each do |series| %>
        <div class="course-item">
          <div class="course-item-icon">
            <div style="margin: -2px">
              <%= render partial: 'series/series_status', locals: {loaded: true, series: series, user: current_user, size: 28 } %>
            </div>
          </div>
          <div class="ellipsis-overflow" style="width: 100%">
            <% if series.deadline.present? %>
              <span class="float-end">
                <%= render partial: 'deadlines/relative', locals: {deadline: series.deadline, met: series.completed_before_deadline?(current_user)} %>
              </span>
            <% end %>
            <%= link_to series.name, course_path(course, series: series, anchor: series.anchor), class: "dynamic-homepage-series-link", title: series.name %>

            <%= render partial: 'progress_chart', locals: {
              total: series.activity_count,
              tried: series.started_activity_count(current_user),
              correct: series.completed_activity_count(current_user),
              info_wrong: 'pages.clickable_homepage_cards.series.progress_chart_info_wrong',
              info_not_started: 'pages.clickable_homepage_cards.series.progress_chart_info_not_started',
              info_correct: 'pages.clickable_homepage_cards.series.progress_chart_info_correct',
              width: '100%',
            } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="card-supporting-text card-border <%= course_series.empty? ? 'course-activities-full-height' : '' %>">
    <% course_activities.each do |ca| %>
      <div class="course-item">
        <div class="course-item-icon" >
          <% if ca[:submission].present? %>
              <span title="<%= ca[:submission].summary %>">
                <%= submission_status_icon(ca[:submission], 24) %>
              </span>
          <% else %>
            <%= activity_icon ca[:activity], 24 %>
          <% end %>
        </div>
        <div style="width: calc(100% - 36px)">
          <div class="ellipsis-overflow" title="<%= t (ca[:submission].present? ? ".continue-activity" : ".start-activity"), activity: ca[:activity].name %>">
            <%= link_to ca[:activity].name, course_series_activity_path(I18n.locale, course.id, ca[:series].id, ca[:activity].id, anchor: 'submission-card', edit_submission: ca[:submission])%>
          </div>
          <div class="small text-muted ellipsis-overflow" title="<%= ca[:series].name %>">
            <%= ca[:series].name %>
          </div>
        </div>
      </div>
    <% end %>
    <% if course_series.length + course_activities.length < 3 && course_series.length + course_activities.length > 0 %>
      <div class="course-item <%= course_series.length + course_activities.length == 1 ? "course-item-double" : "" %>">
        <% if course_activities.length > 0 %>
          <div class="course-item-icon">
            <i class="mdi mdi-24 mdi-thumb-up-outline"></i>
          </div>
          <span>
            <strong><%= t ".few-activities-title" %></strong>
            <br/>
            <%= t ".few-activities-help" %>
          </span>
        <% else %>
          <div class="course-item course-item-double">
            <div class="course-item-icon">
              <%= render partial: "popper", locals: { size: course_series.length == 1 ? 88 : 24 }%>
            </div>
            <span>
              <strong><%= t ".no-activities-title" %></strong>
              <br/>
              <%= t ".no-activities-help" %>
            </span>
          </div>
        <% end %>
      </div>
    <% elsif course_series.length == 0 && course_activities.length == 0 %>
      <div class="course-item course-item-triple">
        <div>
          <%= render partial: "popper", locals: { size: 120 } %>
        </div>
        <span style="margin-top: 16px">
        <strong><%= t ".no-activities-title" %></strong>
            <%= t ".no-activities-help" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="card-actions card-border">
    <div class="flex-grow-1">
      <i class="favorite-button mdi <%= @favorite_courses.include?(course)? "favorited mdi-heart" : "mdi-heart-outline" %>"
          data-course_id="<%= course.id %>"
          title="<%= @favorite_courses.include?(course) ? t('js.unfavorite-course-do') : t('js.favorite-course-do') %>"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
      >
      </i>
    </div>
    <%= link_to t('.go-to-course'), course_path(course), class: 'btn btn-text' %>
  </div>
</div>
