<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-8">
    <div class="row">
      <% @user.courses.each do |course| %>
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <%= render partial: "course_card", locals: {course: course} %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-12 col-lg-6">
        <div class="card home-summary-card">
          <div class="card-supporting-text">
            <%=link_to (t('.more-courses') + ' …'), courses_path, class: "btn-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="row">
      <div class="col-xs-12">
        <%= render "user_card" %>
      </div>
      <% pending = @user.pending_series %>
      <% if pending.any? %>
        <div class="col-xs-12">
          <%= render partial: "series_deadline_card", locals: {pending: pending} %>
        </div>
      <% end %>
      <% if @user.submissions.any? %>
        <div class="col-xs-12">
          <%= render "recent_exercises_card" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
