<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @user.full_name %></h2>
      </div>
      <div class="card-supporting-text">
        <p>
          <strong><%= t ".correctly_solved" %>:</strong> <%= @user.correct_exercises %>
        </p>
        <p>
          <strong><%= t ".unfinished" %>:</strong> <%= @user.unfinished_exercises %>
        </p>
        <p>
          <strong><%= t ".solutions" %>:</strong> <%= link_to @user.submissions.count, user_submissions_path(@user) %>
        </p>
      </div>
    </div>
    <div class="card home-summary-card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".recent-exercises" %></h2>
      </div>
      <div class="card-supporting-text">
        <% if @user.submissions.empty? %>
          No submissions available.
        <% else %>
          <table class="table">
            <tbody>
              <% @user.recent_exercises.each do |exercise| %>
                <% submission = exercise.last_submission(@user) %>
                <tr>
                  <td><%= submission_status_icon(submission) %></td>
                  <td><%= link_to submission.exercise.name, submission_path(submission) %></td>
                  <td><%= link_to exercise_submissions_path(submission.exercise), class: 'btn btn-icon' do %><span class="glyphicon glyphicon-chevron-right"></span><% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <div class="card home-summary-card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".pending-deadlines" %></h2>
      </div>
      <div class="card-supporting-text">
        <% pending = @user.pending_series %>
        <% if pending.empty? %>
          No pending deadlines.
        <% else %>
          <table class="table">
            <tbody>
              <% pending.each do |series| %>
                <tr>
                  <td><%= link_to "#{series.name} (#{series.course.name})", series %></td>
                  <td><span title="<%= l series.deadline, format: :long %>"><span class='glyphicon glyphicon-time'></span></span> <%= t "series.show.deadline_in" %> <%= time_ago_in_words series.deadline %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <% @user.courses.each do |course| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card home-summary-card">
        <div class="card-title card-title-colored">
          <h2 class="card-title-text"><%= link_to course.name, course %></h2>
          <h3 class="card-subtitle-text"><%= course.year %></h3>
        </div>
        <div class="card-supporting-text">
          <% pending = course.pending_series %>
          <% if pending.empty? %>
            No pending deadlines.
          <% else %>
            <table class="table">
              <tbody>
                <% pending.each do |series| %>
                  <tr>
                    <td><%= link_to series.name, series %></td>
                    <td><span title="<%= l series.deadline, format: :long %>"><span class='glyphicon glyphicon-time'></span></span> <%= t "series.show.deadline_in" %> <%= time_ago_in_words series.deadline %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="card home-summary-card">
      <div class="card-supporting-text">
        <%=link_to "more courses...", courses_path, class: "btn-text" %>
      </div>
    </div>
  </div>
</div>
