<div class="row">
  <% if @jump_back_in.present? %>
  <div class="col-4">
    <h4>Jump back in</h4>
    <% if @jump_back_in.is_a? Submission %>
      <%= link_to course_series_activity_path(I18n.locale, @jump_back_in.course_id, @jump_back_in.series.id, @jump_back_in.exercise_id, anchor: 'submission-card', edit_submission: @jump_back_in) do %>
        <div class="card card-clickable" style="height: 100px">
          <div class="card-title">
            <h2 class="card-title-text course-name ellipsis-overflow d-block" title="<%= @jump_back_in.exercise.name %>">
              <%= activity_icon @jump_back_in.exercise, size: 24 %> <%= @jump_back_in.exercise.name %>
            </h2>
            <h3 class="card-subtitle-text ellipsis-overflow mt-1 text-reset" title="<%= @jump_back_in.course.name%>">
              <%= @jump_back_in.course.name %>
            </h3>
            <h3 class="card-subtitle-text ellipsis-overflow mt-1 text-reset" title="<%= @jump_back_in.series.name%>">
              <%= @jump_back_in.series.name %>
            </h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <div class="col-8">
    <h4>Upcoming deadlines</h4>
    <div class="row">
      <% @homepage_series.first(2).each do |series| %>
        <% met ||= series.completed_before_deadline?(current_user) %>
        <div class="col-6">
          <%= link_to course_path(series.course, series: series, anchor: series.anchor) do %>
            <div class="card card-clickable" style="height: 100px">
              <div class="card-title">
                <h2 class="card-title-text course-name ellipsis-overflow d-block  <%= met ? "colored-correct" : "colored-wrong" %>" title="<%= series.name %>">
                  <i class="mdi mdi-24 <%= deadline_icon met, series.deadline %>"></i>
                  <%= series.name %>
                </h2>
                <h3 class="card-subtitle-text ellipsis-overflow mt-1 float-start" title="<%= series.course.name %>">
                  <%= series.course.name %>
                </h3>
                <h3 class="card-subtitle-text ellipsis-overflow mt-1 float-end">
                  <i class="mdi mdi-12 <%= deadline_icon met, series.deadline %>"></i>
                  <%= deadline_relative_time series.deadline %>
                </h3>

                <%= render partial: 'progress_chart', locals: {
                  total: series.activity_count,
                  tried: series.started_activity_count(current_user),
                  correct: series.completed_activity_count(current_user),
                  info_tried: 'activities.index.progress_chart_info_tried',
                  info_correct: 'activities.index.progress_chart_info_correct',
                  width: '100%',
                } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
