<%
  no_deadlines = [@homepage_series.count, 2].min
  no_jbi = [@jump_back_in.count, 3 - no_deadlines].min
  no_deadlines = [@homepage_series.count, 3].min if no_jbi == 0
%>

<div class="row">
  <% if @jump_back_in.present? %>
    <div class="col-lg-<%= no_jbi * 4%> ">
      <h4><%= t ".jump_back_in" %></h4>
      <div class="row">
        <% @jump_back_in.first(no_jbi).each do |card| %>
          <div class="col-lg-<%= 12 / no_jbi %>">
            <% if card[:activity].present? %>
              <%= render partial: 'pages/clickable_homepage_cards/activity', locals: card %>
            <% elsif card[:series].present? %>
              <%= render partial: 'pages/clickable_homepage_cards/series', locals: card %>
            <% else %>
              <%= render partial: 'pages/clickable_homepage_cards/course', locals: card %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @homepage_series.present? %>
    <div class="col-lg-<%= no_deadlines * 4%>">
      <h4><%= t '.upcoming_deadlines' %></h4>
      <div class="row">
        <% @homepage_series.first(no_deadlines).each do |series| %>
          <div class="col-lg-<%= 12 / no_deadlines %>">
            <%= render partial: 'pages/clickable_homepage_cards/series', locals: { series: series } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
