<div class="col-xs-6 col-md-3">
  <h1><%= number_with_delimiter @total_submissions, delimiter: " " %></h1>
  <%= t "pages.support.submitted_solutions" %>
</div>
<div class="col-xs-6 col-md-3">
  <h1><%= number_with_delimiter @total_users, delimiter: " " %></h1>
  <%= t "pages.support.students" %>
</div>
<div class="col-xs-6 col-md-3">
  <h1><%= number_with_delimiter @total_activities, delimiter: " " %></h1>
  <%= t "pages.support.exercises" %>
</div>
<div class="col-xs-6 col-md-3">
  <h1><%= number_with_delimiter @total_schools, delimiter: " " %></h1>
  <%= t "pages.support.schools" %>
</div>
