<div class="card home-summary-card user">
  <%= link_to user_path(@user), class: 'card-title-link' do %>
    <div class="card-title card-title-colored">
      <h2 class="card-title-text"><%= @user.full_name %></h2>
    </div>
  <% end %>

  <div class="card-supporting-text stats">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= number_with_delimiter @user.submissions.count, delimiter: " " %></h1>
        <%= t ".submissions" %>
      </div>
      <div class="col-xs-6">
        <h1><%= number_with_delimiter @user.correct_exercises, delimiter: " " %></h1>
        <%= t ".correct-exercises" %>
      </div>
    </div>
  </div>

  <% deadlines = @user.homepage_series %>
  <% if deadlines.any? %>
    <div class="card-supporting-text card-border deadlines">
      <h5>Deadlines</h5>
      <% deadlines.first(5).each do |series| %>
        <p>
          <span class='pull-right'>
            <%= render partial: 'series/human_deadline', locals: { series: series } %>
          </span>
          <%= link_to series.name, overview_series_path(series), class: "dynamic-homepage-series-link" %><br>
          <%= link_to series.course.name, course_path(series.course), class: "small text-muted course-link" %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if @user.submissions.any? %>
    <div class="card-supporting-text card-border recents">
      <h5><%= t ".recent-exercises" %></h5>
      <% @user.recent_exercises(5).each do |exercise| %>
        <% submission = exercise.last_submission(@user) %>
        <p>
          <%= submission_status_icon(submission) %>
          <%= link_to submission.exercise.name, course_exercise_path(submission.course, submission.exercise) %>
          <%= link_to exercise_submissions_path(submission.exercise), class: 'btn btn-icon pull-right' do %><span class="glyphicon glyphicon-chevron-right"></span><% end %>
        </p>
      <% end %>
    </div>
  <% end %>

</div>
