<div class="card home-summary-card user">
  <%= link_to user_path(current_user), class: 'card-title-link' do %>
    <div class="card-title card-title-colored">
      <h2 class="card-title-text"><%= current_user.full_name %></h2>
    </div>
  <% end %>

  <div class="card-supporting-text stats">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to user_submissions_path(current_user), class: 'card-title-link' do %>
          <h1><%= number_with_delimiter current_user.submissions.count, delimiter: " " %></h1>
          <%= t ".submissions" %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <h1><%= number_with_delimiter current_user.correct_exercises, delimiter: " " %></h1>
        <%= t ".correct-exercises" %>
      </div>
    </div>
  </div>

  <% deadlines = current_user.homepage_series %>
  <% if deadlines.any? %>
    <div class="card-supporting-text card-border deadlines">
      <h5>Deadlines</h5>
      <% deadlines.first(5).each do |series| %>
        <p>
          <span class='pull-right'>
            <%= render partial: 'deadlines/relative', locals: {deadline: series.deadline, met: series.completed_before_deadline?(current_user)} %>
          </span>
          <%= link_to series.name, course_path(series.course, series: series, anchor: series.anchor), class: "dynamic-homepage-series-link", title: series.name %>
          <%= link_to series.course.name, course_path(series.course), class: "small text-muted course-link", title: series.course.name %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if current_user.submissions.any? %>
    <div class="card-supporting-text card-border recents">
      <h5><%= t ".recent-exercises" %></h5>
      <% current_user.recent_exercises(5).each do |exercise| %>
        <% submission = exercise.last_submission(current_user) %>
        <p>
          <% if submission.course.nil? %>
            <%= link_to activity_submissions_path(submission.exercise), class: 'btn-icon pull-right' do %>
              <i class="mdi mdi-chevron-right mdi-18"></i>
            <% end %>
          <% else %>
            <%= link_to course_activity_submissions_path(submission.course, submission.exercise), class: 'btn-icon pull-right' do %>
              <i class="mdi mdi-chevron-right mdi-18"></i>
            <% end %>
          <% end %>
          <span class='pull-left'><%= submission_status_icon(submission) %></span>
          <% if submission.exercise.accessible?(current_user, submission.course) %>
            <%= link_to submission.exercise.name, activity_scoped_path(course: submission.course, activity: submission.exercise), class: "course-link", title: submission.exercise.name %>
          <% else %>
            <span title="<%= submission.exercise.name %>"><%= submission.exercise.name %></span>
          <% end %>
          <% unless submission.course.nil? %>
            <%= link_to submission.course.name, course_path(submission.course), class: "small text-muted course-link", title: submission.course.name %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>

</div>
