<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="col-sm-6">
          <p>Gebruik het formulier op deze pagina om een bericht te sturen naar het team achter Dodona. We zullen je vraag zo snel mogelijk via email beantwoorden.</p>
          <p>Op <a href="https://docs.dodona.be/nl" target = "_blank">docs.dodona.be</a> kan je onze handleiding vinden.</p>
          <p>Heb je een algemene vraag waarvan het antwoord ook voor anderen van nut kan zijn? Overweeg dan om de vraag te stellen op ons <a href="https://github.com/dodona-edu/dodona/discussions" target = "_blank">GitHub discussieforum</a>. Ook voor het melden van bugs en suggereren van nieuwe features kan je daar terecht.</p>
        </div>
        <div class="col-sm-6">
          <% if !policy(RightsRequest).create? %>
            <div class="callout callout-info">
              <h4><%= t('.rights_request_title') %></h4>
              <%= t('.rights_request_redirect_html', url: new_rights_request_path) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= form_for @contact_form, url: create_contact_path, html: {class: 'form-horizontal'} do |f| %>
          <div class="field form-group">
            <%= f.label t('.name'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-4"><%= f.text_field :name, required: true, class: "form-control" %></div>
          </div>
          <div class="field form-group">
            <%= f.label t('.email'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-4"><%= f.text_field :email, required: true, class: "form-control" %></div>
          </div>
          <div class="field form-group">
            <%= f.label t('.subject'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-4"><%= f.text_field :subject, required: true, class: "form-control" %></div>
          </div>
          <div class="field form-group">
            <%= f.label t('.message'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-8"><%= f.text_area :message, required: true, class: "form-control", rows: 8 %></div>
          </div>

          <% if Rails.env.production? || Rails.env.staging? %>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <%= recaptcha_tags %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-actions card-border">
        <button type="submit" class="btn-primary btn-text pull-right" form="new_contact_form"><%= t('.send') %></a>
      </div>
    </div>
  </div>
</div>
