<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "new_contact_form", icon: 'send' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= form_for @contact_form, url: create_contact_path, html: {class: 'form-horizontal'} do |f| %>
          <div class="field form-group">
            <%= f.label t('.name'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-4"><%= f.text_field :name, required: true, class: "form-control" %></div>
          </div>
          <div class="field form-group">
            <%= f.label t('.email'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-4"><%= f.text_field :email, required: true, class: "form-control" %></div>
          </div>
          <div class="field form-group">
            <%= f.label t('.subject'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-4"><%= f.text_field :subject, required: true, class: "form-control" %></div>
          </div>
          <div class="field form-group">
            <%= f.label t('.message'), :class => "col-sm-2 control-label" %>
            <div class="col-sm-8"><%= f.text_area :message, required: true, class: "form-control", rows: 8 %></div>
          </div>

          <% if Rails.env.production? %>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <%= recaptcha_tags %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
