<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'favorite_course_buttons' %>
<% end %>
<div class="row">
  <div class="col-3">
    <h4>Jump back in</h4>
    <div class="card" style="background: rgb(144 202 249)">
      <div class="card-title">
          <h2 class="card-title-text course-name ellipsis-overflow d-block" style="color: rgb(0 0 0 / 75%)">Echo function print</h2>
          <h3 class="card-subtitle-text ellipsis-overflow" style="color: rgb(0 0 0 / 60%)">Object oriented programming</h3>
          <h3 class="card-subtitle-text ellipsis-overflow mt-1" style="color: rgb(0 0 0 / 60%)">
              Series 5: Loops
          </h3>
        </div>
      </div>
  </div>
  <div class="col-3">
    <h4>Upcoming deadlines</h4>
    <div class="card" style="background: #A5D6A7">
      <div class="card-title">
          <h2 class="card-title-text course-name ellipsis-overflow d-block" style="color: rgb(0 0 0 / 75%)">Series 2: Variables</h2>
          <h3 class="card-subtitle-text ellipsis-overflow" style="color: rgb(0 0 0 / 60%)">Object oriented programming</h3>
          <h3 class="card-subtitle-text ellipsis-overflow mt-1" style="color: rgb(0 0 0 / 60%)">
              2 hours left
          </h3>
        </div>
      </div>
  </div>
  <div class="col-3 align-self-end">
    <div class="card" style="background: #EF9A9A">
      <div class="card-title">
          <h2 class="card-title-text course-name ellipsis-overflow d-block" style="color: rgb(0 0 0 / 75%)">Series 5: Loops</h2>
          <h3 class="card-subtitle-text ellipsis-overflow" style="color: rgb(0 0 0 / 60%)">Object oriented programming</h3>
          <h3 class="card-subtitle-text ellipsis-overflow mt-1" style="color: rgb(0 0 0 / 60%)">
              5 days left
          </h3>
        </div>
      </div>
  </div>
  <div class="col-3 align-self-end">
    <div class="card" style="background: #EF9A9A">
      <div class="card-title">
          <h2 class="card-title-text course-name ellipsis-overflow d-block" style="color: rgb(0 0 0 / 75%)">Series 6: Functions</h2>
          <h3 class="card-subtitle-text ellipsis-overflow" style="color: rgb(0 0 0 / 60%)">Object oriented programming</h3>
          <h3 class="card-subtitle-text ellipsis-overflow mt-1" style="color: rgb(0 0 0 / 60%)">
              2 weeks left
          </h3>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <h4>My courses</h4>
  <div class="col-12 col-md-6 col-xl-8">
    <% if @subscribed_courses.empty? %>
      <%= render "getting_started_card" %>
      <%= render 'privacy_disclaimer' %>
    <% else %>
      <div class="row favorites-row">
        <% unless @favorite_courses.empty? %>
          <% @favorite_courses.each do |course| %>
            <div class="col-12 col-lg-12 col-xl-6">
              <%= render partial: "course_card", locals: {course: course, show_deadlines: true} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% first = true %>
      <% @grouped_courses.each do |year, courses| %>
        <% if first %>
          <% first = false %>
          <div class="page-subtitle first <%= "hidden" if @favorite_courses.empty? %>">
            <a class="anchor" id="<%= year.parameterize %>"></a>
            <h3><%= Course.format_year year %></h3>
          </div>
        <% else %>
          <div class="page-subtitle">
            <a class="anchor" id="<%= year.parameterize %>"></a>
            <h3><%= Course.format_year year %></h3>
          </div>
        <% end %>
        <div class="row row-<%= year.parameterize %>">
          <% courses.each do |course| %>
            <div class="col-12 col-lg-12 col-xl-6">
              <%= render partial: "course_card", locals: {course: course, show_deadlines: true} %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-12 col-md-6 col-xl-4">
    <div class="row">
      <div class="col-12">
        <%= render "user_card" %>
        <% if current_user.pending_courses.any? %>
          <%= render "pending_courses_card" %>
        <% end %>
        <div class="card home-summary-card">
          <div class="card-supporting-text">
            <%= link_to (t('.more-courses') + ' …'), courses_path, class: "btn-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initFavoriteButtons();
    });
</script>
