<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'favorite_course_buttons' %>
<% end %>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-8">
    <% if @subscribed_courses.empty? %>
      <%= render "getting_started_card" %>
      <%= render 'privacy_disclaimer' %>
    <% else %>
      <div class="masonry-root favorites-row">
        <% unless @favorite_courses.empty? %>
          <% @favorite_courses.each do |course| %>
            <div class="masonry-cell">
              <%= render partial: "course_card", locals: {course: course, show_deadlines: true} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% first = true %>
      <% @grouped_courses.each do |year, courses| %>
        <% if first %>
          <% first = false %>
          <div class="page-subtitle first <%= "hidden" if @favorite_courses.empty? %>">
            <a class="anchor" id="<%= year.parameterize %>"></a>
            <h3><%= Course.format_year year %></h3>
          </div>
        <% else %>
          <div class="page-subtitle">
            <a class="anchor" id="<%= year.parameterize %>"></a>
            <h3><%= Course.format_year year %></h3>
          </div>
        <% end %>
        <div class="masonry-root row-<%= year.parameterize %>">
          <% courses.each do |course| %>
            <div class="masonry-cell">
              <%= render partial: "course_card", locals: {course: course, show_deadlines: true} %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="row">
      <div class="col-xs-12">
        <%= render "user_card" %>
        <% if current_user.pending_courses.any? %>
          <%= render "pending_courses_card" %>
        <% end %>
        <div class="card home-summary-card">
          <div class="card-supporting-text">
            <%= link_to (t('.more-courses') + ' …'), courses_path, class: "btn-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initHomePageCards();
    });
</script>
