<%= content_for :javascripts do %>
  <%= javascript_include_tag 'favorite_course_buttons' %>
  <%= javascript_include_tag 'search' %>
<% end %>
<%= render partial: "pages/important_homepage_links" %>
<div class="row">
  <div class="col-12 col-md-6 col-lg-8">
    <% if @courses.empty? %>
      <%= render "getting_started_card" %>
      <% if current_user.institutional? %>
        <%= render 'privacy_disclaimer' %>
      <% end %>
    <% else %>
      <div class="row favorites-row">
        <div class="page-subtitle <%= @favorite_courses.empty? ? "hidden" : "" %>">
          <h3><%= t('.favorites') %></h3>
        </div>
        <% unless @favorite_courses.empty? %>
          <%= render partial: "course_cards", locals: {courses: @favorite_courses} %>
        <% end %>
      </div>
      <div class="row">
        <div class="page-subtitle justify-content-between">
          <h3><%= t('.courses') %></h3>
          <d-standalone-dropdown-filter class="mt-2"
                                        param="year"
                                        labels="<%= @years.map { |y| { id: y, name: Course.format_year(y) } }.to_json %>"
                                        default="<%= @year %>">
          </d-standalone-dropdown-filter>
        </div>
        <d-loading-bar style="margin-top: -24px;"></d-loading-bar>
      </div>
      <div class="row" id="course-for-year-row">
        <%= render partial: "course_cards", locals: {courses: @courses} %>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="row">
      <div class="col-12">
        <%= render "user_card" %>
        <% if current_user.pending_courses.any? %>
          <%= render "pending_courses_card" %>
        <% end %>
        <div class="card home-summary-card">
          <div class="card-supporting-text">
            <%= link_to (t('.more-courses') + ' …'), courses_path(:can_register => :true), class: "btn btn-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    dodona.ready.then(function () {
        dodona.initFavoriteButtons();
        dodona.searchQuery.autoSearch = true;
    });
</script>
