<div class="row">
  <div class="sign-in-dialog-wrapper">
    <div class="sign-in-dialog-header">
      <h1><%= t("layout.menu.log_in") %><br>
        <small><%= t ".select-institution" %></small>
      </h1>
    </div>
    <div class="sign-in-dialog-institutions row">
    <% @institutions.saml.each do |institution| %>
      <%= link_to sign_in_path(idp: institution.short_name), class:'institution-sign-in' do %>
        <div class="col-sm-6 col-lg-4">
          <div class="institution">
            <div class="institution-logo">
              <%= image_tag "idp/#{institution.logo}", class: "img-responsive" %>
            </div>
            <div class="institution-name">
              <h3><%= institution.short_name %><br>
              <small><%= institution.name %></small></h3>
            </div>
            <div class="institution-go"><span class="glyphicon glyphicon-chevron-right"></span></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to user_office365_omniauth_authorize_path, class:'institution-sign-in' do %>
        <%# Only College Waregem uses O365 at this moment %>
        <div class="col-sm-6 col-lg-4">
          <div class="institution">
            <div class="institution-logo">
              <%= image_tag 'idp/collegewaregem.png', class: "img-responsive" %>
            </div>
            <div class="institution-name">
              <h3>College Waregem<br>
              <small>Inloggen met Office365</small></h3>
            </div>
            <div class="institution-go"><span class="glyphicon glyphicon-chevron-right"></span></div>
          </div>
        </div>
    <% end %>
    <%= link_to user_smartschool_omniauth_authorize_path, class: 'institution-sign-in' do%>
        <%# Only College Ieper uses Smartschool at this moment %>
        <div class="col-sm-6 col-lg-4">
          <div class="institution">
            <div class="institution-logo">
              <%= image_tag 'idp/collegeieper.png', class: "img-responsive" %>
            </div>
            <div class="institution-name">
              <h3>College Ieper<br>
              <small>Inloggen met smartschool</small></h3>
            </div>
            <div class="institution-go"><span class="glyphicon glyphicon-chevron-right"></span></div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
