
<p>
  <% if current_user.admin? %>
    <b><%= t ".user" %>:</b> <%= link_to submission.user.full_name + " - " + submission.user.username, user_path(submission.user) %><br />
  <% end %>
  <b><%= t ".exercise" %>:</b> <%= link_to submission.exercise.name, exercise_path(submission.exercise) %><br />
  <b><%= t ".handed_in" %>:</b> <span title="<%= submission.created_at.in_time_zone("CET").to_s(:long) %>"><%= time_ago_in_words submission.created_at %> <%= t ".ago" %></span><br />
  <b><%= t ".status" %>:</b> <%= submission.status %><br />
  <b><%= t ".summary" %>:</b> <%= submission.summary or "N/A" %><br />
</p>
<% unless submission.queued? or submission.running? %>
  <p><%= submission.judge.renderer.new(submission, current_user).parse %></p>
<% end %>
