<% content_for :javascripts do %>
  <%= javascript_pack_tag 'submission' %>
  <script>
    window.dodona.initMathJax();
  </script>
  <script id="MathJax-script" src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'></script>
  <%= javascript_pack_tag 'pythia_submission' if submission.judge.renderer == PythiaRenderer %>
<% end %>


<div class="submission-summary clearfix">
  <span class="description">
    <%= t "submissions.show.submission_for" %>
    <% if submission.course.nil? %>
      <%= link_to submission.exercise.name, activity_path(submission.exercise) %>
    <% else %>
      <%= link_to submission.exercise.name, course_activity_path(submission.course, submission.exercise) %>
    <% end %>
    <% if current_user.course_admin?(submission.course) %>
      <%= t "submissions.show.by" %>
      <% if submission.course.present? %>
        <%= link_to submission.user.full_name, course_member_path(submission.course, submission.user) %>
      <% else %>
        <%= link_to submission.user.full_name, user_path(submission.user) %>
      <% end %>
    <% end %>
    <% unless submission.course.nil? %>
      <%= t "submissions.show.in" %> <%= link_to submission.course.name, course_path(submission.course) %>
    <% end %>
  </span>
  <div class="row">
    <div class="col-md-6">
      <span class='status-icon float-start'>
        <button class="btn btn-icon" data-clipboard-text="<%= 'https://' + request.domain.to_s + submission_path(submission.id).to_s %>" title="<%= t "submissions.show.copy_submission_link" %>">
          <%= submission_status_icon(submission, 36) %>
        </button>
      </span>
      <span class="status-line">
        <%= Submission.human_enum_name(:status, submission.status) %>
        <% if submission.summary.present? and submission.summary.downcase != Submission.human_enum_name(:status, submission.status).downcase %>
          &middot; <span class='text-muted'><%= submission.summary %></span>
        <% end %>
      </span>
      <span class="by-line">
        <span class="text-muted small" title="<%= l submission.created_at, format: :submission %>"><%= time_ago_in_words submission.created_at %> <%= t "submissions.show.ago" %></span>
      </span>
    </div>
    <div class="col-md-6">
      <% @feedbacks.each do |feedback| %>
        <span class="score">
          <%= render 'feedbacks/score_link', feedback: feedback %>
        </span>
      <% end %>
    </div>
  </div>
</div>
<% @feedbacks.each do |feedback | %>
  <div class="collapse score-details" id="<%= "score-details-#{feedback.id}" %>">
    <%= render 'feedbacks/score_table', feedback: feedback %>
  </div>
<% end %>

<% unless submission.queued? or submission.running? %>
  <%= submission.judge.renderer.new(submission, current_user).parse %>
<% end %>
