<% content_for :javascripts do %>
  <%= javascript_pack_tag 'submission' %>
  <%= javascript_pack_tag 'pythia_submission' if submission.judge.renderer == PythiaRenderer %>
<% end %>
<p>
  <% if current_user.admin? %>
    <b><%= t "submissions.show.user" %>:</b> <%= link_to submission.user.full_name + " - " + submission.user.username, user_path(submission.user) %><br />
  <% end %>
  <b><%= t "submissions.show.exercise" %>:</b> <%= link_to submission.exercise.name, exercise_path(submission.exercise) %><br />
  <% unless submission.course.nil? %>
    <b><%= t "submissions.show.course" %>:</b> <%= link_to submission.course.name, course_path(submission.course) %><br />
  <% end %>
  <b><%= t "submissions.show.handed_in" %>:</b> <span title="<%= l submission.created_at, format: :submission %>"><%= time_ago_in_words submission.created_at %> <%= t "submissions.show.ago" %></span><br />
  <b><%= t "submissions.show.status" %>:</b> <%= Submission.human_enum_name(:status, submission.status) %><br />
  <b><%= t "submissions.submissions_table.summary" %>:</b> <%= submission.summary or "N/A" %><br />
</p>
<% unless submission.queued? or submission.running? %>
  <p><%= submission.judge.renderer.new(submission, current_user).parse %></p>
<% end %>
