<% content_for :javascripts do %>
  <%= javascript_include_tag 'submission' %>
  <script>
    window.dodona.initMathJax();
  </script>
  <script id="MathJax-script" src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'></script>
  <%= javascript_include_tag 'pythia_submission' if submission.judge.renderer == PythiaRenderer %>
<% end %>


<div class="submission-summary clearfix">
  <span class="description">
    <%= t "submissions.show.submission_for" %>
    <% if submission.course.nil? %>
      <%= link_to submission.exercise.name, activity_path(submission.exercise) %>
    <% else %>
      <%= link_to submission.exercise.name, course_activity_path(submission.course, submission.exercise) %>
    <% end %>
    <% if current_user.course_admin?(submission.course) %>
      <%= t "submissions.show.by" %>
      <% if submission.course.present? %>
        <%= link_to submission.user.full_name, course_member_path(submission.course, submission.user) %>
      <% else %>
        <%= link_to submission.user.full_name, user_path(submission.user) %>
      <% end %>
    <% end %>
    <% unless submission.course.nil? %>
      <%= t "submissions.show.in" %> <%= link_to submission.course.name, course_path(submission.course) %>
    <% end %>
  </span>
  <div class="row">
    <div class="col-md-6">
      <span class='status-icon float-start'><%= submission_status_icon(submission, 48) %></span>
      <span class="status-line">
        <%= Submission.human_enum_name(:status, submission.status) %>
        <% if submission.summary.present? and submission.summary.downcase != Submission.human_enum_name(:status, submission.status).downcase %>
          <br/><span class='text-muted'><%= submission.summary %></span>
        <% end %>
      </span>
      <span class="by-line">
        <span class="text-muted small" title="<%= l submission.created_at, format: :submission %>"><%= time_ago_in_words submission.created_at %> <%= t "submissions.show.ago" %></span>
      </span>
    </div>
    <% if @feedbacks.blank? %>
      <div class="col-md-6" style="display: flex; max-height: 75px; overflow-y: auto; margin-bottom: 12px">
        <div style="text-align: right; margin-right: 0.5em">
          <% @submissions_time_stamps.each do |t| %>
            <span class="text-muted small" style="display: inline-block; <%= t.present? ? 'margin-top: 6px;' : '' %>"><%= t %></span>
            <br/>
          <% end %>
        </div>
        <div>
          <% @submissions.each_with_index do |s, i| %>
            <span style="display: inline-block; <%= s.id == submission.id ? 'font-weight: bold;' : '' %> <%= @submissions_time_stamps[i].present? ? ' margin-top: 6px;' : '' %>">
              <%= link_to "##{@submissions.length - i}", submission_path(s), style: 'min-width: 24px; display: inline-block; margin-right:6px;' %>
              <span class='status-icon' id="history-<%= s.id %>"><%= submission_status_icon(s, 12) %></span>
              <span>
                <%= Submission.human_enum_name(:status, s.status) %>
                  <% if s.summary.present? and s.summary.downcase != Submission.human_enum_name(:status, s.status).downcase %>
                  &middot; <span class='text-muted'><%= s.summary %></span>
                <% end %>
              </span>
            </span>
            <br/>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="col-md-6">
        <% @feedbacks.each do |feedback| %>
          <span class="score">
            <%= render 'feedbacks/score_link', feedback: feedback %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% @feedbacks.each do |feedback | %>
  <div class="collapse score-details" id="<%= "score-details-#{feedback.id}" %>">
    <%= render 'feedbacks/score_table', feedback: feedback %>
  </div>
<% end %>

<% unless submission.queued? or submission.running? %>
  <%= submission.judge.renderer.new(submission, current_user).parse %>
<% end %>

<script>
  window.dodona.initSubmissionHistory(<%= submission.id %>)
</script>
