<div class="table-scroll-wrapper">
  <table class="table table-resource submissions-table">
    <thead>
    <tr>
      <th class="status-column"></th>
      <th></th>
      <% if user.nil? && (current_user.admin? || current_user.administrating_courses.any?) %>
        <th><%= t ".user" %></th>
      <% end %>
      <% unless exercise.present? %>
        <th><%= t ".exercise" %></th>
      <% end %>
      <th><%= t ".time" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".summary" %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'submissions/submission', collection: submissions, locals: {exercise: exercise, course: local_assigns[:course], user: user } %>
    </tbody>
  </table>
</div>

<%
  params = {}
  params[:exercise_id] = local_assigns[:exercise].id if local_assigns[:exercise].present?
  params[:user_id] = local_assigns[:user].id if local_assigns[:user].present?
%>

<center><%= page_navigation_links submissions, true, 'submissions', params %></center>
<script type="text/javascript">
    $(function () {
      if (dodona.initFilterButtons){
        dodona.initFilterButtons();
      }
    });
</script>
