<tr id="submission_<%= submission.id %>" data-status="<%= submission.status %>">
  <td>
    <%= submission_status_icon(submission) %>
    <% if submission.annotated? %>
      <%= link_to submission_url(submission, anchor: "code"), title: t('submissions.submissions_table.annotated'), data: { 'bs-toggle': "tooltip", placement: "top" } do %>
        <i class="mdi mdi-comment-text-outline mdi-18 colored-secondary"></i>
      <% end %>
    <% end %>
  </td>
  <% if user.nil? && (current_user.admin? || current_user.administrating_courses.any?) %>
    <td>
      <i class="mdi mdi-filter-outline mdi-18 filter-icon"
         title="<%= t('.filter-submissions-by-user') %>"
         data-filter="<%= submission.user.full_name %>"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
      >
      </i>
      <% if submission.course.nil? %>
        <%= submission.user.full_name %>
      <% else %>
        <%= link_to submission.user.full_name, course_member_path(submission.course, submission.user), title: submission.user.full_name, class: "ellipsis-overflow" %>
      <% end %>
    </td>
  <% end %>
  <% if !exercise %>
    <td>
      <i class="mdi mdi-filter-outline mdi-18 filter-icon"
        title="<%= t('.filter-submissions-by-exercise') %>"
        data-filter="<%= submission.exercise.name %>"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
      >
      </i>
      <% if submission.course.nil? %>
        <%= link_to submission.exercise.name, activity_path(submission.exercise) %>
      <% else %>
        <%= link_to submission.exercise.name, course_activity_path(submission.course, submission.exercise) %>
      <% end %>
    </td>
  <% end %>
  <td>
    <span title="<%= l submission.created_at, format: :submission %>"><%= time_ago_in_words submission.created_at %> <%= t ".ago" %></span>
  </td>
  <td>
    <%= Submission.human_enum_name(:status, submission.status) %>
  </td>
  <td>
    <%= submission.summary %>
  </td>
  <td>
    <%= link_to submission, class: "load-submission", title: t(".view_solution"), 'data-submission_id': submission.id do %>
      <i class="mdi mdi-chevron-right mdi-18"></i>
    <% end %>
  </td>
</tr>
