<tr id="submission_<%= submission.id %>" data-status="<%= submission.status %>">
  <td><%= submission.status_icon %></td>
  <% if current_user.admin? %>
    <td>
      <%= link_to submission.user.short_name, user_submissions_path(submission.user), title: submission.user.full_name %>
    </td>
  <% end %>
  <% if !exercise %>
    <td>
      <%= link_to submission.exercise.name, exercise_path(submission.exercise) %>
    </td>
  <% end %>
  <td>
    <span title="<%= l submission.created_at, format: :submission %>"><%= time_ago_in_words submission.created_at %> <%= t ".ago" %></span>
  </td>
  <td>
    <%= Submission.human_enum_name(:status, submission.status) %>
  </td>
  <td>
    <%= submission.summary %>
  </td>
  <td>
    <% if remote_links %>
      <%= link_to submission, class: "load-submission", title: t(".view_solution"), 'data-remote' => true do %><span class="glyphicon glyphicon-chevron-right"></span><% end %>
    <% else %>
      <%= link_to submission, class: "load-submission", title: t(".view_solution") do %><span class="glyphicon glyphicon-chevron-right"></span><% end %>
    <% end %>

  </td>
</tr>
