<tr id="submission_<%= submission.id %>" data-status="<%= submission.status %>">
  <td><%= submission_status_icon(submission) %></td>
  <% if current_user.administrating_courses.any? || current_user.admin? %>
    <td>
      <%= link_to submission.user.full_name, user_submissions_path(submission.user, course_id: @course&.id, exercise_id: @exercise&.id), title: submission.user.full_name, class: "ellipsis-overflow" %>
    </td>
  <% end %>
  <% if !exercise %>
    <td>
      <% if submission.course.nil? %>
        <%= link_to submission.exercise.name, exercise_path(submission.exercise) %>
      <% else %>
        <%= link_to submission.exercise.name, course_exercise_path(submission.course, submission.exercise) %>
      <% end %>
    </td>
  <% end %>
  <td>
    <span title="<%= l submission.created_at, format: :submission %>"><%= time_ago_in_words submission.created_at %> <%= t ".ago" %></span>
  </td>
  <td>
    <%= Submission.human_enum_name(:status, submission.status) %>
  </td>
  <td>
    <%= submission.summary %>
  </td>
  <td>
    <% if remote_links %>
      <%= link_to submission, class: "load-submission", title: t(".view_solution"), 'data-remote' => true do %>
        <i class="mdi mdi-chevron-right md-18"></i>
      <% end %>
    <% else %>
      <%= link_to submission, class: "load-submission", title: t(".view_solution") do %>
        <i class="mdi mdi-chevron-right md-18"></i>
      <% end %>
    <% end %>
  </td>
</tr>
