<div class="table-scroll-wrapper">
  <table class="table table-resource submissions-table">
    <thead>
    <tr>
      <th class="status-column"></th>
      <th></th>
      <% if user.nil? && (current_user.admin? || current_user.administrating_courses.any?) %>
        <th><dodona-sort-button column="user"><%= t ".user" %></dodona-sort-button></th>
      <% end %>
      <% unless exercise.present? %>
        <th><dodona-sort-button column="exercise"><%= t ".exercise" %></dodona-sort-button></th>
      <% end %>
      <th><dodona-sort-button column="created_at" default><%= t ".time" %></dodona-sort-button></th>
      <th><dodona-sort-button column="status"><%= t ".status" %></dodona-sort-button></th>
      <th><%= t ".summary" %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'submissions/submission', collection: submissions, locals: {exercise: exercise, course: local_assigns[:course], user: user } %>
    </tbody>
  </table>
</div>

<%
  params = {}
  params[:exercise_id] = local_assigns[:exercise].id if local_assigns[:exercise].present?
  params[:user_id] = local_assigns[:user].id if local_assigns[:user].present?
%>

<center><%= page_navigation_links submissions, true, 'submissions', params %></center>
