<tr>
  <% if current_user.admin? %>
    <td>
      <span title="<%= submission.user.full_name %>"><%= submission.user.username %></span>
    </td>
  <% end %>
  <td>
    <span title="<%= submission.created_at.in_time_zone("CET").to_s(:long) %>"><%= time_ago_in_words submission.created_at %> geleden</span>
  </td>
  <td>
    <%= submission.result %>
  </td>
  <td></td>
</tr>
