<tr>
  <% if current_user.admin? %>
    <td>
      <%= link_to submission.user.username, user_submissions_path(submission.user), title: submission.user.full_name %>
    </td>
  <% end %>
  <% if !exercise %>
    <td>
      <%= link_to submission.exercise.name.titleize, exercise_path(submission.exercise.name) %>
    </td>
  <% end %>
  <td>
    <span title="<%= submission.created_at.in_time_zone("CET").to_s(:long) %>"><%= time_ago_in_words submission.created_at %> geleden</span>
  </td>
  <td>
    <%= submission.status %>
  </td>
  <td>
    <%= submission.result %>
  </td>
  <td>
    <%= link_to submission, title: "Oplossing bekijken" do %><span class="glyphicon glyphicon-share-alt"></span><% end %>
  </td>
</tr>
