<%= render 'activities/navbar_links' if @activity %>
<%= render 'courses/navbar_links' if @course && !@activity %>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <span>
            <% if @course %>
              <%= "#{@course.name} - " %>
            <% end %>
            <%= t ".title" %>
            <% if @activity %>
              <%= t ".for" %> <%= @activity.name %>
            <% end %>
            <% if @user %>
              <%= t ".from" %>
              <% if @course_membership.present? && policy(@course_membership).show? %>
                <%= link_to @user.full_name, course_member_path(@course, @user) %>
              <% elsif policy(@user).show? %>
                <%= link_to @user.full_name, user_path(@user) %>
              <% else %>
                <%= @user.full_name %>
              <% end %>
            <% end %>
          </span>
        </h2>
      </div>
      <div class="card-supporting-text">
        <% actions = [] %>
        <% if current_user&.course_admin?(@course) %>
          <%
             actions << {icon: 'replay', text: t(".reevaluate_submissions"), confirm: t(".confirm_reevaluate_submissions"), action: mass_rejudge_submissions_path(user_id: @user&.id, activity_id: @activity&.id, course_id: @course&.id, series_id: @series&.id, judge_id: @judge&.id)} if policy(Submission).mass_rejudge?
             actions << {icon: 'done', text: t('.most_recent_correct'), search: {most_recent_correct_per_user: true}} if @activity
             actions << {icon: 'file-eye', text: t('.watch_submissions'), search: {refresh: true}, click: 'window.dodona.toggleIndexReload()'}
          %>
        <% end %>
        <%= render partial: 'layouts/searchbar', locals: {actions: actions, course_labels: @course_labels, statuses: Submission.statuses.keys, refresh_element: "#submissions-table-wrapper"} %>
        <div id="submissions-table-wrapper">
          <%= render partial: 'submissions_table', locals: {submissions: @submissions, exercise: @activity, course: @course, user: @user} %>
        </div>
      </div>
    </div>
  </div>
</div>
