<%= render 'exercises/navbar_links' if @exercise %>
<%= render 'courses/navbar_links' if @course && !@exercise %>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <% if @course %>
            <%= "#{@course.name} - " %>
          <% end %>
          <%= t ".title" %>
          <% if @exercise %>
            <%= t ".for" %> <%= @exercise.name %>
          <% end %>
          <% if @user %>
            <%= t ".from" %>&nbsp;<%= link_to @user.full_name, user_path(@user) %>
          <% end %>
        </h2>
      </div>
      <div class="card-supporting-text">
        <% if current_user && current_user.course_admin?(@course) %>
          <% actions = []
             actions << {icon: 'replay', text: t(".reevaluate_submissions"), confirm: t(".confirm_reevaluate_submissions"), action: mass_rejudge_submissions_path(user_id: @user&.id, exercise_id: @exercise&.id, course_id: @course&.id, series_id: @series&.id)} if policy(Submission).mass_rejudge?
             actions << {icon: 'done', text: t('.most_recent_correct'), search: {most_recent_correct_per_user: true}} if @exercise
          %>
          <%= render partial: 'layouts/searchbar', locals: {actions: actions, course_labels: @course_labels} %>
        <% end %>
        <div id="submissions-table-wrapper">
          <%= render partial: 'submissions_table', locals: {submissions: @submissions, exercise: @exercise, course: @course, remote_links: false} %>
        </div>
      </div>
    </div>
  </div>
</div>
