<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %>
          <% if @exercise %>
            <%= t ".for" %> <%= @exercise.name %>
          <% end %>
          <% if @user %>
             <%= t ".from" %>&nbsp;<%= link_to @user.full_name, user_path(@user) %>
          <% end %>
        </h2>
      </div>
      <div class="card-supporting-text">
        <% if current_user && current_user.admin? %>
          <%= render partial: 'layouts/searchbar', locals: {actions: [{icon: 'repeat', text: 'Rejudge submissions', action: mass_rejudge_submissions_path(user_id: @user&.id, exercise_id: @exercise&.id, couse_id: @course&.id)}]} %>
        <% end %>
        <div id="submissions-table-wrapper">
          <%= render partial: 'submissions_table', locals: {submissions: @submissions, exercise: @exercise, remote_links: false}  %>
        </div>
      </div>
    </div>
  </div>
</div>
