<%= render 'activities/navbar_links' if @activity %>
<%= render 'courses/navbar_links' if @course && !@activity %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-flex card-title-colored">
        <h2 class="card-title-text float-start">
          <span>
            <% if @course %>
              <%= "#{@course.name} - " %>
            <% end %>
            <%= t ".title" %>
            <% if @activity %>
              <%= t ".for" %> <%= @activity.name %>
            <% end %>
            <% if @user %>
              <%= t ".from" %>
              <% if @course_membership.present? && policy(@course_membership).show? %>
                <%= link_to @user.full_name, course_member_path(@course, @user) %>
              <% elsif policy(@user).show? %>
                <%= link_to @user.full_name, user_path(@user) %>
              <% else %>
                <%= @user.full_name %>
              <% end %>
            <% end %>
          </span>
        </h2>
        <% if !@activity && @activity_read_states_path %>
          <div class="float-end hidden-print">
            <%= link_to @activity_read_states_path, class: 'btn btn-icon btn-icon-inverted', title: t('.read-states'), data: { 'bs-toggle': 'tooltip', placement: 'top' } do %>
              <i class="mdi mdi-playlist-check"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text" id="refresh_element">
        <%
          actions = []
          options = []
        %>
        <% if current_user&.course_admin?(@course) %>
          <%
             actions << {icon: 'replay', text: t(".reevaluate_submissions"), confirm: t(".confirm_reevaluate_submissions"), action: mass_rejudge_submissions_path(user_id: @user&.id, activity_id: @activity&.id, course_id: @course&.id, series_id: @series&.id, judge_id: @judge&.id)} if policy(Submission).mass_rejudge?
             options << {text: t('.most_recent'), search: {most_recent_per_user: true}} if @activity
             options << {text: t('.watch_submissions'), search: {refresh: true}}
          %>
        <% end %>
        <%= render partial: 'layouts/searchbar', locals: {actions: actions, options: options, course_labels: @course_labels, statuses: Submission.statuses.keys, refresh_element: "#refresh_element"} %>
        <div id="submissions-table-wrapper">
          <%= render partial: 'submissions_table', locals: {submissions: @submissions, exercise: @activity, course: @course, user: @user} %>
        </div>
      </div>
    </div>
  </div>
</div>
