<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".submission" %> <%= @submission.exercise.name %></h2>
        <div class="card-title-fab">
          <%= link_to download_submission_path(@submission), class: 'btn btn-primary btn-fab', target: "_blank", download: '' do %>
            <span class="glyphicon glyphicon-save"></span>
          <% end %>
        </div>
      </div>
      <div class="card-supporting-text">
        <% if current_user.admin? %>
        <b><%= t ".user" %>:</b> <%= link_to @submission.user.full_name + " - " + @submission.user.username, user_path(@submission.user) %><br>
        <% end %>
        <b><%= t ".exercise" %>:</b> <%= link_to @submission.exercise.name.titleize, exercise_path(@submission.exercise.name) %><br>
        <b><%= t ".handed_in" %>:</b> <span title="<%= @submission.created_at.in_time_zone("CET").to_s(:long) %>"><%= time_ago_in_words @submission.created_at %> <%= t ".ago" %></span></br>
        <b><%= t ".status" %>:</b> <%= @submission.status %></br>
        <b><%= t ".summary" %>:</b> <%= @submission.summary %></br>
        <b><%= t ".result" %>:</b><br> <%= PythiaRenderer.new(@submission).parse %></br>
        <b><%= t ".code" %>:</b>
        <%= markdown("```javascript\n" + @submission.code + "\n```") %>
      </div>
    </div>
  </div>
</div>
