<%= render 'navbar_links' %>
<% content_for :javascripts do %>
  <%= javascript_pack_tag 'submission' %>
  <script>
    window.dodona.initMathJax();
  </script>
  <script id="MathJax-script" src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'></script>
<% end %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".submission_results" %></h2>
        <div class="card-title-fab">
          <% if policy(@submission).create? %>
            <%= link_to edit_submission_path(@submission), class: 'btn btn-primary btn-fab', title: t('.edit') do %>
              <i class="mdi mdi-square-edit-outline mdi-36"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'description', locals: {submission: @submission} %>
        <script>
          $(() => {
            <%# Python judge has a code tab with href="#code-n" where n is the
                number of tabs and for the other judges it is "#code-tab", so we
                can't generically handle code tabs, except for selecting the last
                tab. %>
            if (window.location.hash === "#code") {
              $(".nav.nav-tabs li:last-child a").tab("show");
            }
          });
        </script>
      </div>
    </div>
  </div>
</div>
<% if @submission.queued? || @submission.running? %>
  <script>setTimeout(function () {
      location.reload(1);
  }, 3000);</script>
<% end %>
