<%= render 'navbar_links' %>
<div class="row justify-content-center">
  <div class="col-lg-9 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".submission_results" %></h2>
        <div class="card-title-fab">
          <% if policy(@submission).create? %>
            <%= link_to edit_submission_path(@submission), class: 'btn btn-fab', title: t('.edit') do %>
              <i class="mdi mdi-square-edit-outline"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'description', locals: {submission: @submission} %>
        <script>
          dodona.ready.then(() => {
            <%# Python judge has a code tab with href="#code-n" where n is the
                number of tabs and for the other judges it is "#code-tab", so we
                can't generically handle code tabs, except for selecting the last
                tab. %>
            if (window.location.hash === "#code") {
              $(".nav.nav-tabs li:last-child a").tab("show");
            }
          });
        </script>
      </div>
    </div>
  </div>

  <!-- REMOVE IF AFTER CLOSED BETA -->
  <% if policy(SavedAnnotation).beta_course? @submission.course.id %>
    <d-saved-annotations-sidecard course-id="<%= @submission.course.id %>"
                                  exercise-id="<%= @submission.exercise.id %>"
                                  user-id="<%= current_user.id %>"
                                  class="col-12 col-lg-3"
    ></d-saved-annotations-sidecard>
  <% end %>
</div>
<% if @submission.queued? || @submission.running? %>
  <script>setTimeout(function () {
      location.reload(1);
  }, 3000);</script>
<% end %>
