<%= form_for(tag, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if tag.errors.any? %>
    <h2><%= t('errors.validation_errors', :count => tag.errors.count) %></h2>
    <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4"><%= f.text_field :name, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :color, class: 'col-sm-3 control-label' %>
    <div class="col-sm-6">
      <%= f.select :color,
                   options_for_select(Tag.colors.keys.map { |k| [t("activerecord.attributes.tag.colors.#{k}"), k] }, @tag.color),
                   {}, { class: 'form-control' } %>
    </div>
  </div>
<% end %>
