<% content_for :javascripts do %>
  <%= javascript_pack_tag 'reviews' %>
<% end %>
<%= form_for review_session, html: {class: "form-horizontal review-form"}, url: url do |f| %>
  <% if review_session.errors.any? %>
    <div class="card-supporting-text">
      <div class="callout callout-danger" id="error_explanation">
        <h4><%= t('errors.validation_errors', :count => review_session.errors.count) %></h4>
        <ul>
          <% review_session.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="card-supporting-text">
    <div class="field form-group">
      <%= f.label :deadline, :class => "col-sm-3 control-label" %>
      <div class='col-sm-6'>
        <div class="input-group" id='deadline-group' data-wrap=true data-enable-time=true data-time_24hr=true>
          <%= f.text_field :deadline, class: "form-control", 'data-input': true %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-toggle><i class='mdi mdi-calendar-blank mdi-18'></i></button>
            <button class="btn btn-default" type="button" data-clear><i class='mdi mdi-close mdi-18'></i></button>
          </span>
        </div>
      </div>
    </div>

    <% unless review_session.new_record? %>
      <div class="field form-group">
        <%= f.label :released, class: "col-sm-3 control-label" %>
        <%= f.check_box :released %>
      </div>
    <% end %>

    <div class="field form-group review-form-exercises">
      <%= f.label :exercises, class: "col-sm-3 control-label" %>
      <ul class="col-sm-3">
        <% review_session.series.exercises.each_with_index do |exercise, index| %>
          <li>
            <% id = "review-exercise-#{index}" %>
            <input type="checkbox" id=<%= id %> value="<%= exercise.id %>" name="review_session[exercises][]" <%= "checked" if review_session.review_exercises.where(exercise: exercise).exists? %>>
            <label for=<%= id %>><%= exercise.name %></label>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="field form-group review-form-users">
      <%= f.label :users, class: "col-sm-3 control-label" %>
      <ul class="col-sm-3">
        <% review_session.series.course.course_memberships.each_with_index do |membership, index| %>
          <li>
            <% id = "review-user-#{index}" %>
            <input type="checkbox" id=<%= id %> value="<%= membership.user.id %>" name="review_session[users][]" <%= "checked" if review_session.reviews.where(user: membership.user).exists? %>>
            <label for=<%= id %>>
              <%= render 'reviews/fragment/wizard_user', status: membership.status, user: membership.user %>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<script type="text/javascript">
    $(function () {
        dodona.initReviewForm();
    });
</script>
