<div class="row">
  <div class="col-xs-12">
    <div class="card evaluation-user-select">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <div class="row">
          <div class="col-lg-6 col-md-4 col-sm-12 col-md-push-8 col-lg-push-6">
            <div class="callout callout-info">
              <h4><%= t('review_sessions.add_users.explanation_title') %></h4>
              <p><%= t('review_sessions.add_users.explanation_part1') %></p>
              <p><%= t('review_sessions.add_users.explanation_part2') %></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-12 col-md-pull-4 col-lg-pull-6">
            <div class="card-subtitle">
              <h4><%= t('review_sessions.edit_users.mass_edit') %></h4>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="user-select-option">
                  <h1><%= @user_count_course %> <small><%= t('review_sessions.add_users.users') %></small></h1> <%= t('review_sessions.add_users.this_course') %>
                  <%= link_to t('review_sessions.add_users.select_users'), set_multi_user_review_session_path(@review_session, type: 'enrolled', format: :js), remote: true, class: "btn-text", method: :post %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="user-select-option">
                  <h1><%= @user_count_series %> <small><%= t('review_sessions.add_users.users') %></small></h1> <%= t('review_sessions.add_users.this_series') %>
                  <%= link_to t('review_sessions.add_users.select_users'), set_multi_user_review_session_path(@review_session, type: 'submitted', format: :js), remote: true, class: "btn-text", method: :post %>
                </div>
              </div>
            </div>
            <p class="selected-users">
              <span id="users-count-wrapper">
                <%= t("review_sessions.edit_users.users_selected_html", count: @review_session.users.count) %>
              </span>
              <%= link_to t('review_sessions.edit_users.clear'), set_multi_user_review_session_path(@review_session, type: 'none', format: :js), remote: true, method: :post %>.</p>
          </div>
        </div>
      </div>
      <div class="card-actions card-border">
        <%= link_to t('review_sessions.edit_users.to_review_session'), review_session_path(@review_session), class: "btn btn-text btn-primary" %>
      </div>
    </div>
    <%= render partial: 'edit_users', locals: { confirm: false } %>
  </div>
</div>
