<div class="row">
  <div class="col-xs-12">
    <div class="card review-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "edit_review_session_#{@review_session.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= render 'form', review_session: @review_session, url: review_session_path(@review_session) %>
      </div>
      <div class="card-supporting-text card-border">
        <div class = "page-subtitle">
          <h3><%= t ".manage_users" %></h3>
        </div>
        <%= render partial: 'layouts/searchbar',
                   locals: {
                       eager: false,
                       course_labels: @course_labels,
                       institutions: Institution.of_course_by_members(@course)
                   } %>
        <div id="users-table-wrapper">
          <%= render partial: 'members_table',
                     locals: {
                         course_memberships: @course_memberships,
                         pagination_opts: @pagination_opts
                     } %>
        </div>

      </div>
      <div class="card-actions card-border">
        <% if policy(@review_session).destroy? %>
          <%= link_to t('review_sessions.destroy'),
                      review_session_path(@review_session),
                      method: :delete,
                      data: { confirm: t('general.are_you_sure') },
                      class: "btn btn-primary btn-text" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
