<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title', series: @review_session.series.name) %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-lg-push-6">
            <div class="callout callout-info">
              <h4><%= t ".explanation_title" %></h4>
              <p><%= t ".explanation_part1_html" %></p>
              <p><%= t ".explanation_part2_html" %></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-lg-pull-6">
            <p><%= t '.deadline_html', users: @review_session.users.count, exercises: @review_session.exercises.count, deadline: l(@review_session.deadline, format: :submission) %></p>
            <%= render partial: 'exercises_progress_table', locals: { metadata: @review_session.metadata, series: @review_session.series } %>
          </div>
        </div>
      </div>
      <div class="card-actions card-border">
        <%= link_to t('review_sessions.edit.title'), edit_review_session_path(@review_session), class: "btn-text" %>
        <%= link_to (@review_session.released ? t('.unrelease') : t('.release')),
                    review_session_path(@review_session, review_session: { released: !@review_session.released }),
                    class: "btn-primary btn-text",
                    method: :patch %>
        <a class="btn btn-icon dropdown-toggle" data-toggle="dropdown">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
          <%= link_to t('review_sessions.destroy'),
                      review_session_path(@review_session),
                      method: :delete,
                      data: { confirm: t('general.are_you_sure') } %>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-supporting-text">
        <%= render 'review_table', reviews: @reviews, review_session: @review_session %>
      </div>
    </div>
  </div>
</div>
