<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% @versions.each do |version| %>
      <div class="card">
        <div class="card-title card-title-colored">
          <h2 class="card-title-text"><%= version.tag %></h2>
          <div class="card-title-fab">
            <% if policy(Version).new? && @versions.first.id == version.id %>
              <%= render 'application/fab_link', url: new_version_path, icon: 'add' %>
            <% end %>
            <% if policy(version).update? %>
              <%= render 'application/fab_link', url: edit_version_path(version), icon: 'edit' %>
            <% end %>
            <% if policy(version).destroy? %>
              <%= link_to version, method: :delete, class: "btn btn-primary btn-fab hidden-print" do %>
                <i class="material-icons md-36">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-supporting-text">
          <%= version.notes %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<center>
  <%= page_navigation_links @versions, false, 'versions' %>
</center>
