<% content_for :javascripts do %>
  <%= javascript_pack_tag 'evaluation' %>
<% end %>

<% if @feedback.score_items.empty? %>
  <div class="card-supporting-text">
    <% if @feedback.completed %>
      <span class='uncomplete-feedback'>
        <i class="mdi mdi-comment-check-outline mdi-18"></i>&nbsp;<b><%= t ".evaluation_done" %></b>&nbsp;
        <%= link_to feedback_path(@feedback, feedback: { completed: false }), method: :patch, remote: true, class: "btn-icon", title: t(".undo") do %>
          <i class="mdi mdi-undo-variant mdi-18"></i>
        <% end %>
      </span>
    <% else %>
      <%= button_to feedback_path(@feedback, feedback: { completed: true }),
                    method: :patch,
                    class: 'btn-text complete-feedback',
                    remote: true do %>
        <i class="mdi mdi-comment-check-outline mdi-18"></i>&nbsp;<span><%= t ".mark_as_done" %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="card-supporting-text card-border">
  <center>
    <%= button_tag class: "btn btn-text btn-primary", id: "next-feedback-button" do %>
      <%= t('.direction.next') %>
    <% end %>
  </center>
  <% if @feedback.score_items.empty? %>
    <br>
    <div class="form-check form-switch">
      <input id="auto-mark" type="checkbox" class="form-check-input" name="auto_mark" checked>
      <label class="form-check-label"
             for="auto-mark"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             title="<%= t(".auto-mark-help") %>">
        <%= t('.automatically_mark') %>
      </label>
    </div>
  <% end %>
  <br>
  <div class="form-check form-switch">
    <input id="skip-completed" type="checkbox" class="form-check-input" name="skip-completed" checked>
    <label class="form-check-label" for="skip-completed"><%= t('.skip_completed') %></label>
  </div>
</div>

<% if @feedback.evaluation_exercise.score_items.present? %>
  <div class="card-supporting-text card-border">
    <% score_items = @feedback.evaluation_exercise.score_items.order(:id) %>
    <% if score_items.length > 1 %>
      <div class="row">
        <div class="col-sm-12">
          <strong><%= t ".total" %></strong>
        </div>
      </div>
      <div class="row row-no-gutters form-row">
        <div class="form-group input">
          <div class="control-wrapper">
            <div class="input-group">
              <%= button_tag class: "btn btn-secondary btn-sm", type: :button, disabled: true do %>
                <% if @feedback.completed %>
                  <i id="completed-button" class="mdi mdi-check mdi-12" aria-hidden='true'></i>
                <% else %>
                  <i id="completed-button" class="mdi mdi-circle-slice-3 mdi-12" aria-hidden='true'></i>
                <% end %>
              <% end %>
              <input id="score-sum" class="form-control" disabled="disabled" value="<%= format_score @feedback.score %>">
              <%= button_tag class: "btn btn-secondary max-text", disabled: true, type: :button do %>
                / <%= format_score(@feedback.maximum_score) %>
              <% end %>
              <%= button_tag class: "btn btn-secondary btn-sm", id: 'zero-button', title: t(".give_zero_all") do %>
                <i class="mdi mdi-thumb-down-outline mdi-12" aria-hidden='true'></i>
              <% end %>
              <%= button_tag class: "btn btn-secondary btn-sm", id: 'max-button', title: t(".give_max_all") do %>
                <i class="mdi mdi-thumb-up-outline mdi-12" aria-hidden='true'></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% score_items.each_with_index do |score_item, index| %>
      <% score = @score_map.fetch(score_item.id, Score.new(score_item: score_item, feedback: @feedback)) %>
      <div class="row">
        <div class="col-sm-12">
          <% if score_item.description.present? %>
            <strong data-bs-toggle="tooltip" data-bs-placement="left" title="<%= strip_tags markdown(score_item.description) %>">
              <%= score_item.name %>
            </strong>
          <% else %>
            <strong><%= score_item.name %></strong>
          <% end %>
        </div>
      </div>
      <%= render 'feedbacks/score_actions', score: score, score_item: score_item, index: index %>
    <% end %>
  </div>
<% end %>

<div class="card-supporting-text card-border">
  <h4 class="ellipsis-overflow" title="<%= @feedback.exercise.name %>"><%= @feedback.exercise.name %></h4>
  <div class="progress-row">
    <%= render partial: 'feedbacks/progress_row', locals: { metadata: @feedback.evaluation_exercise.metadata } %>
  </div>
  <div class="username-row">
    <h4 class="ellipsis-overflow name" title="<%= @feedback.user.full_name %>"><%= @feedback.user.full_name %></h4>
    <% if @users_labels %>
      <% @users_labels[@feedback.user].each do |label| %>
        <span class="token accent-orange" title="<%= label.name %>"><%= label.name %></span>
      <% end %>
    <% end %>
  </div>
  
  <div class="user-feedback-row">
    <%= render partial: 'feedbacks/user_feedback_row', locals: { current_feedback: @feedback } %>
  </div>
</div>

<script>
    <% siblings = @feedback.siblings %>
    window.dodona.feedbackActions = new window.dodona.FeedbackActions({
        currentURL: <%= raw feedback_url(@feedback).to_json %>,
        feedbackId: <%= @feedback.id %>,
        nextURL: <%= raw (siblings[:next].present? ? feedback_url(siblings[:next]) : nil).to_json %>,
        nextUnseenURL: <%= raw (siblings[:next_unseen].present? ? feedback_url(siblings[:next_unseen]) : nil).to_json %>,
        buttonText: "<%= t('.direction.next') %>",
        scoreItems: <%= raw @feedback.score_items.map(&:id).to_json %>
    });
    $(() => window.dodona.initTooltips());
</script>
