<% content_for :javascripts do %>
  <%= javascript_pack_tag 'evaluation' %>
<% end %>

<% if @feedback.score_items.empty? %>
  <div class="card-supporting-text">
    <% if @feedback.completed %>
      <span class='uncomplete-feedback'>
        <i class="mdi mdi-comment-check-outline mdi-18"></i>&nbsp;<b><%= t ".evaluation_done" %></b>&nbsp;
        <%= link_to feedback_path(@feedback, feedback: { completed: false }), method: :patch, remote: true, class: "btn-icon", title: t(".undo") do %>
          <i class="mdi mdi-undo-variant mdi-18"></i>
        <% end %>
      </span>
    <% else %>
      <%= button_to feedback_path(@feedback, feedback: { completed: true }),
                    method: :patch,
                    class: 'btn-text complete-feedback',
                    remote: true do %>
        <i class="mdi mdi-comment-check-outline mdi-18"></i>&nbsp;<span><%= t ".mark_as_done" %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="card-supporting-text card-border">
  <center>
    <%= button_tag class: "btn btn-text btn-primary", id: "next-feedback-button" do %>
      <%= t('.direction.next') %>
    <% end %>
  </center>
  <% if @feedback.score_items.empty? %>
    <br>
    <div class="checkbox-inline">
      <input id="auto-mark" type="checkbox" name="auto_mark" checked>
      <label class="checkbox-label"
             for="auto-mark"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             title="<%= t(".auto-mark-help") %>">
        <%= t('.automatically_mark') %>
      </label>
    </div>
  <% end %>
  <br>
  <div class="checkbox-inline">
    <input id="skip-completed" type="checkbox" name="skip-completed" checked>
    <label class="checkbox-label" for="skip-completed"><%= t('.skip_completed') %></label>
  </div>
</div>

<% if @feedback.evaluation_exercise.score_items.present? %>
  <div class="card-supporting-text card-border">
    <% score_items = @feedback.evaluation_exercise.score_items.order(:id) %>
    <% if score_items.length > 1 %>
      <div class="row">
        <div class="col-sm-12">
          <strong><%= t ".total" %></strong>
        </div>
      </div>
      <div class="row row-no-gutters form-row">
        <div class="col-8 total-score" data-total="<%= @feedback.score %>">
          <span id="score-sum"><%= format_score @feedback.score %></span> / <%= format_score @feedback.maximum_score %>
        </div>
        <div class="col-4 score-buttons">
          <div class="btn-group" role="group">
            <%= button_tag class: "btn btn-secondary btn-sm", id: 'zero-button', title: t(".give_zero_all") do %>
              <i class="mdi mdi-thumb-down mdi-12" aria-hidden='true'></i>
            <% end %>
            <%= button_tag class: "btn btn-secondary btn-sm", id: 'max-button', title: t(".give_max_all") do %>
              <i class="mdi mdi-thumb-up mdi-12" aria-hidden='true'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% score_items.each_with_index do |score_item, index| %>
      <% score = @score_map.fetch(score_item.id, Score.new(score_item: score_item, feedback: @feedback)) %>
      <div class="row">
        <div class="col-sm-12">
          <strong><%= score_item.name %></strong>
        </div>
      </div>
      <%= render 'feedbacks/score_actions', score: score, score_item: score_item, index: index %>
    <% end %>
  </div>
<% end %>

<div class="card-supporting-text card-border">
  <h4 class="ellipsis-overflow" title="<%= @feedback.exercise.name %>"><%= @feedback.exercise.name %></h4>
  <% metadata = @feedback.evaluation_exercise.metadata %>
  <span><%= t('.exercise_progress', feedback_count: metadata[:done], feedback_total: metadata[:total]) %></span>
  <span class="feedback-actions-progress" data-bs-html="true" data-bs-toggle="tooltip" title="<%= t('evaluations.show.progress_html', feedback_count: metadata[:done], feedback_total: metadata[:total]) %>">
    <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
      <line x1="0" y1="0.5" x2="<%= metadata[:done].to_f / metadata[:total] %>" y2="0.5" class="info"></line>
      <line x1="<%= metadata[:done].to_f / metadata[:total] %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
    </svg>
  </span>

  <h4 class="ellipsis-overflow" title="<%= @feedback.user.full_name %>"><%= @feedback.user.full_name %></h4>
  <div class="user-feedback-row">
    <%= render partial: 'feedbacks/user_feedback_row', locals: { current_feedback: @feedback } %>
  </div>
</div>

<script>
    <% siblings = @feedback.siblings %>
    window.dodona.feedbackActions = new window.dodona.FeedbackActions({
        currentURL: <%= raw feedback_url(@feedback).to_json %>,
        feedbackId: <%= @feedback.id %>,
        nextURL: <%= raw (siblings[:next].present? ? feedback_url(siblings[:next]) : nil).to_json %>,
        nextUnseenURL: <%= raw (siblings[:next_unseen].present? ? feedback_url(siblings[:next_unseen]) : nil).to_json %>,
        buttonText: "<%= t('.direction.next') %>",
        scoreItems: <%= raw @feedback.score_items.map(&:id).to_json %>
    });
    $(() => window.dodona.initTooltips());
</script>
