<% url = score.persisted? ? evaluation_score_path(@feedback.evaluation, score) : evaluation_scores_path(@feedback.evaluation) %>
<div class="row row-no-gutters form-row" id="<%= "#{score_item.id}-score-form-wrapper" %>">
  <%= form_for score, url: '#',
               namespace: score_item.id,
               html: { class: "form-inline score-form col-12", data: { url: url, new: score.persisted? } } do |f| %>
    <%= f.hidden_field :expected_score, value: score.score, class: "expected-score" %>
    <div class="form-group input <%= 'has-warning' if @warning.present? && @warning == score&.id&.to_s %>">
      <div class="control-wrapper">
        <div class="input-group">
          <%= button_tag class: "btn btn-secondary btn-sm delete-button", type: :button, disabled: !@score_map.key?(score_item.id) do %>
            <i class="mdi mdi-delete-outline mdi-12" aria-hidden='true'></i>
          <% end %>
          <%= f.number_field :score,
                             class: "form-control score-input",
                             step: 0.25,
                             tabindex: index + 1,
                             min: 0,
                             max: score_item.maximum,
                             value: format_score(f.object.score, lang='en', numeric_only=true) %>
          <%= button_tag class: "btn btn-secondary max-text", disabled: true, type: :button, data: { max: format_score(score_item.maximum, lang='en', numeric_only=true) } do %>
            / <%= format_score(score_item.maximum) %>
          <% end %>
          <%= button_tag class: "btn btn-secondary btn-sm single-zero-button", type: :button, title: t('.give_zero_one') do %>
            <i class="mdi mdi-thumb-down-outline mdi-12" aria-hidden='true'></i>
          <% end %>
          <%= button_tag class: "btn btn-secondary btn-sm single-max-button", type: :button, title: t('.give_max_one', score: format_score(score_item.maximum)) do %>
            <i class="mdi mdi-thumb-up-outline mdi-12" aria-hidden='true'></i>
          <% end %>
        </div>
        <div class="dodona-progress dodona-progress-indeterminate">
          <div class="progressbar bar bar1" style="width: 0;"></div>
          <div class="bufferbar bar bar2" style="width: 100%;"></div>
          <div class="auxbar bar bar3" style="width: 0;"></div>
        </div>
      </div>
    </div>
    <%= f.hidden_field :score_item_id, class: "score-item" %>
    <%= f.hidden_field :id, class: "id" %>
  <% end %>
</div>
