<%#
    If the total is visible, show that.
    If there are other visible scores, display that.
    Else display nothing.
%>
<% total = policy(feedback.evaluation_exercise).show_total? %>
<% scores = policy_scope(feedback.scores) %>
<% if (total && feedback.score_items.present?) || scores.present? %>
  <span title="<%=t("feedbacks.score_link.view_breakdown")%>">
    <% if total && feedback.score_items.present? %>
      <%= t("feedbacks.score_link.score", score: format_score(feedback.score), max: format_score(feedback.maximum_score)) %>
    <% else %>
      <%= t("feedbacks.score_link.present", count: scores.length) %>
    <% end %>
  </span>
<% end %>
<%# Link to edit screen if needed %>
<% if policy(feedback).show? && scores.present? %>
  <%= link_to feedback_path(feedback), class: "edit-score btn btn-text with-icon float-end", title: t("feedbacks.score_link.view_feedback") do %>
    <i class="mdi mdi-pencil"></i>
    <%= t "score_items.table.edit" %>
  <% end %>
<% end %>
