<% total = policy(feedback.evaluation_exercise).show_total? %>
<% scores = policy_scope(feedback.scores) %>


<% if total || feedback.score_items.present? %>
  <div class="card-outlined card scores">
    <div class="card-title card-title-colored-container">
      <span><%= t(".evaluation")%></span>
      <%# Link to edit screen if needed %>
      <% if policy(feedback).show? %>
        <%= link_to feedback_path(feedback), class: "edit-score btn btn-text with-icon float-end", title: t(".view_feedback") do %>
          <i class="mdi mdi-pencil"></i>
          <%= t "score_items.table.edit" %>
        <% end %>
      <% end %>
    </div>
    <div class="card-supporting-text" id="<%= "score-details-#{feedback.id}" %>">
      <div class="mb-2">
        <%= t ".info_html", url: overview_evaluation_path(feedback.evaluation_exercise.evaluation) %>
      </div>
      <table class="table table-sm">
        <% if total %>
          <tr class="text-muted">
            <td>
              <%= t ".total_score" %>
              <% unless feedback.evaluation_exercise.visible_score? %>
                <i class="mdi mdi-school mdi-18 colored-secondary" title="<%= t "score_items.table.visible-no" %>"></i>
              <% end %>
            </td>
            <td class="text-end"><%= format_score feedback.score %> / <%= format_score feedback.maximum_score %></td>
          </tr>
        <% end %>
        <% scores.each do |score| %>
          <tr>
            <td>
              <%= score.score_item.name %>
              <% unless score.score_item.visible %>
                <i class="mdi mdi-school mdi-18 colored-secondary" title="<%= t "score_items.table.visible-no" %>"></i>
              <% end %>
              <br>
              <span class="text-muted small"><%= score.score_item.description %></span>
            </td>
            <td class="text-end"><%= format_score score.score %> / <%= format_score score.score_item.maximum %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
