<% url = score.persisted? ? evaluation_score_path(@feedback.evaluation, score) : evaluation_scores_path(@feedback.evaluation) %>
<div class="row row-no-gutters form-row" id="<%= "#{score_item.id}-score-form-wrapper" %>">
  <%= form_for score, url: '#',
               namespace: score_item.id,
               html: { class: "form-inline score-form col-md-5 col-xs-9", data: { url: url, new: score.persisted? } } do |f| %>
    <%= f.hidden_field :expected_score, value: score.score, class: "expected-score" %>
    <% e = if score&.out_of_bounds?
             'has-error'
           elsif @warning.present? && @warning == score&.id&.to_s
             'has-warning'
           end
    %>
    <div class="form-group input <%= e %>">
      <div class="control-wrapper">
        <%= f.number_field :score, required: true,
                           class: "form-control score-input",
                           step: 0.25,
                           tabindex: index + 1,
                           min: -999.75,
                           max: 999.75,
                           value: format_score(f.object.score, lang='en', numeric_only=true) %>
        <div class="dodona-progress dodona-progress-indeterminate">
          <div class="progressbar bar bar1" style="width: 0;"></div>
          <div class="bufferbar bar bar2" style="width: 100%;"></div>
          <div class="auxbar bar bar3" style="width: 0;"></div>
        </div>
      </div>
    </div>
    <%= f.hidden_field :score_item_id, class: "score-item" %>
    <%= f.hidden_field :id, class: "id" %>
  <% end %>
  <div class="col-xs-3 col-md-2">
    / <a class="score-click" href="#" data-value="<%= format_score(score_item.maximum, lang='en', numeric_only=true) %>"
         title="<%= t(".give_one", score: format_score(score_item.maximum)) %>">
    <%= format_score(score_item.maximum) %>
  </a>
  </div>
  <div class="col-md-5 col-xs-12 score-buttons">
    <% if @score_map.key?(score_item.id) %>
      <%= button_tag class: "btn btn-icon delete-button" do %>
        <i class="mdi mdi-delete mdi-18" aria-hidden='true'></i>
      <% end %>
    <% end %>
    <%= button_tag class: "btn-sm btn-text single-zero-button" do %>
      0
    <% end %>
    <%= button_tag class: "btn-sm btn-text single-max-button" do %>
      MAX
    <% end %>
  </div>
</div>
