<table class="table activity-table">
  <% current_feedback.evaluation.evaluation_exercises.map do |ex|
    Feedback.find_by(evaluation_user: current_feedback.evaluation_user,
                     evaluation_exercise: ex)
  end.each do |feedback| %>
    <tr>
      <td class="status-icon align-middle">
        <% if feedback.submission.present? %>
          <span title="<%= Submission.human_enum_name(:status, feedback.submission.status) %>">
            <%= submission_status_icon feedback.submission %>
          </span>
        <% else %>
          <span title="<%= t "evaluations.feedback_status.no_submission" %>">
            <i class="mdi mdi-18 mdi-cancel text-muted"></i>
          </span>
        <% end %>
      </td>
      <td class="ellipsis-overflow name" title="<%= feedback.exercise.name %>">
        <%= feedback.exercise.name %>
      </td>
      <td class="buttons">
        <% if current_feedback == feedback%>
          <%= t "evaluations.exercises_progress_table.evaluating" %>
        <% else %>
          <% classes = "btn btn-text"
             classes += " text-muted" if feedback.completed?
          %>
          <%= link_to evaluation_feedback_path(feedback.evaluation, feedback),
                      class: classes do %>
            <% if feedback.completed? %>
              <%= t "evaluations.exercises_progress_table.evaluated" %>
            <% else %>
              <%= t "evaluations.exercises_progress_table.evaluate" %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
