<% content_for :javascripts do %>
  <%= javascript_include_tag 'submission' %>
  <script>
    window.dodona.initMathJax();
  </script>
  <script id="MathJax-script" src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'></script>
  <%= javascript_include_tag 'pythia_submission' if @feedback.submission&.judge&.renderer == PythiaRenderer %>
<% end %>

<div class="row" id="feedback-page">
  <div class="col-12 order-lg-1 col-lg-3 feedback-metadata">
    <div class="card" id="feedback-actions-holder">
      <%= render partial: 'feedback_actions', locals: { evaluation: @feedback.evaluation, feedback: @feedback } %>
    </div>
  </div>
  <div class="col-12 order-lg-0 col-lg-9 feedback-submission">
    <div class="card feedback-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><span>
          <%= t '.submission_for' %>
          <%= link_to(@feedback.exercise.name, course_series_activity_path(@feedback.evaluation.series.course, @feedback.evaluation.series, @feedback.exercise)) %>
          <%= t '.by' %>
          <%= link_to(@feedback.user.full_name, course_member_path(@feedback.evaluation.series.course, @feedback.user)) %>
        </span></h2>
        <%=  %>
      </div>
      <div class="card-supporting-text card-border">
        <div class="row">
        <% if @feedback.total_attempts > 0 %>
          <div class="col-sm-6 order-sm-1">
            <div class="feedback-metadata-submission">
              <p>
              <% if @feedback.submission.present? %>
                <%= t('.submission.previous_attempts_html', count: @feedback.previous_attempts) %>
                <% if @feedback.later_attempts > 0 %>
                  <%= t('.submission.later_attempts_html', count: @feedback.later_attempts) %>
                <% end %>
                <% if @feedback.later_attempts + @feedback.previous_attempts > 0 %>
                  <%= link_to edit_feedback_path(@feedback) do %>
                    <%= t("feedbacks.edit.short_title") %>
                  <% end %>
                <% end %>
              <% elsif @feedback.total_attempts > 0 %>
                <%= t('.submission.total_attempts_html', count: @feedback.total_attempts) %>
                <%= link_to edit_feedback_path(@feedback) do %>
                  <%= t("feedbacks.edit.short_title") %>
                <% end %>
              <% end %>
              </p>
            </div>
          </div>
          <div class="col-sm-6 order-sm-0">
          <% else %>
          <div class="col-sm-12">
          <% end %>
            <% if @feedback.submission.present? %>
              <% submission = @feedback.submission %>
              <div class="submission-summary clearfix">
                <span class='status-icon float-start'><%= submission_status_icon(submission, 36) %></span>
                <span class="status-line">
                  <%= Submission.human_enum_name(:status, submission.status) %>
                  <% if submission.summary.present? and submission.summary.downcase != Submission.human_enum_name(:status, submission.status).downcase %>
                    &middot; <span class='text-muted'><%= submission.summary %></span>
                  <% end %>
                </span>
                <span class="by-line">
                  <span class="text-muted small"><%= l submission.created_at, format: :submission %></span>
                </span>
              </div>
            <% else %>
              <%= t('.no_linked_submission') %>
            <% end %>
          </div>
        </div>
        <% if @feedback.submission.present? %>
          <div class="code-table" data-submission-id="<%= @feedback.submission.id %>">
            <%= @feedback.submission.judge.renderer.new(@feedback.submission, current_user).parse %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @feedback.submission.present? %>
  <script>
      $(function () {
        window.MathJax.startup.promise.then(() => {
          window.dodona.codeListing.setEvaluation(<%= @feedback.evaluation.id %>);
        });
        $(".nav.nav-tabs li:last-child a").tab("show");
      });
  </script>
<% end %>
