<div class="table-scroll-wrapper">
  <table class="table table-index table-resource copy-courses-table">
    <thead>
    <tr>
      <th></th>
      <th><%= t('.info') %></th>
      <th><%= t '.users' %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @featured_courses.each do |course| %>
      <tr class="copy-course-row" data-course_id="<%= course.id %>" data-answer="<%= course.name %>">
        <td>
          <input type="radio" name="course-select" class="form-check-input">
        </td>
        <td>
          <span>
            <% if course.featured %>
              <span title='<%= Course.human_attribute_name("featured") %>'><i class='mdi mdi-18 mdi-star-outline'></i></span>
            <% end %>
            <%= course.name %> <span class="text-muted">(<%= course.formatted_year %>)</span>
          </span>
          <br/>
          <small class="text-muted"><%= [course.teacher, course.institution&.name].select(&:present?).join(" - ") %></small>
        </td>
        <td><%= course.subscribed_members_count %></td>
        <td class="actions">
          <%= link_to course_path(course), target: '_blank', class: 'btn btn-sm btn-secondary nested-link' do %>
            <i class="mdi mdi-open-in-new mdi-18"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% @own_courses.each do |course| %>
      <tr class="copy-course-row" data-course_id="<%= course.id %>" data-answer="<%= course.name %>">
        <td>
          <input type="radio" name="course-select" class="form-check-input">
        </td>
        <td>
          <span>
            <% if course.featured %>
              <span title='<%= Course.human_attribute_name("featured") %>'><i class='mdi mdi-18 mdi-star-outline'></i></span>
            <% end %>
            <%= course.name %> <span class="text-muted">(<%= course.formatted_year %>)</span>
          </span>
          <br/>
          <small class="text-muted"><%= [course.teacher, course.institution&.name].select(&:present?).join(" - ") %></small>
        </td>
        <td><%= course.subscribed_members_count %></td>
        <td class="actions">
          <%= link_to course_path(course), target: '_blank', class: 'btn btn-sm btn-secondary nested-link' do %>
            <i class="mdi mdi-open-in-new mdi-18"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% @other_courses.each do |course| %>
      <tr class="copy-course-row" data-course_id="<%= course.id %>" data-answer="<%= course.name %>">
        <td>
          <input type="radio" name="course-select" class="form-check-input">
        </td>
        <td>
          <span>
            <% if course.featured %>
              <span title='<%= Course.human_attribute_name("featured") %>'><i class='mdi mdi-18 mdi-star-outline'></i></span>
            <% end %>
            <%= course.name %> <span class="text-muted">(<%= course.formatted_year %>)</span>
          </span>
          <br/>
          <small class="text-muted"><%= [course.teacher, course.institution&.name].select(&:present?).join(" - ") %></small>
        </td>
        <td><%= course.subscribed_members_count %></td>
        <td class="actions">
          <%= link_to course_path(course), target: '_blank', class: 'btn btn-sm btn-secondary nested-link' do %>
            <i class="mdi mdi-open-in-new mdi-18"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<center>
  <%= page_navigation_links courses, true, 'courses' %>
</center>
