<% content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<%= form_for(course, :html => {:class => "form-horizontal"}) do |f| %>
  <% if course.errors.any? %>
    <div class="<%= course.new_record? ? "stepper-part" : "card-supporting-text" %>">
      <div class="callout callout-danger" id="error_explanation">
        <h4><%= t('errors.validation_errors', :count => course.errors.count) %></h4>
        <ul>
          <% course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% needs_border = false %>
  <% if defined?(copy_options) && copy_options.present? %>
    <div class="<%= "stepper-part#{needs_border ? " stepper-border" : ""}" %>">
      <input type="hidden" name="copy_options[base_id]" id="copy_base_id" value="<%= copy_options[:base_id] %>"/>
      <div class="form-group">
        <strong class="offset-sm-3 col-sm-6"><%= t('.copy_options_details') %></strong>
      </div>
      <div class="field form-group row">
        <div class="col-sm-6 offset-sm-3">
          <div class="form-check">
            <input id="copy_series" class="form-check-input" type="checkbox" checked disabled>
            <label for="copy_series" class="form-check-label"><%= t('.copy_series') %></label>
          </div>
        </div>
        <span class="help-block col-sm-6 offset-sm-3">
          <%= t('.copy_series_details') %>
        </span>
      </div>
      <%= render partial: 'copy_option', locals: {name: :exercises, copy_options: copy_options, explanation: t(".copy_exercises")} %>
      <%= render partial: 'copy_option', locals: {name: :deadlines, copy_options: copy_options, explanation: t(".copy_deadlines")} %>
      <%= render partial: 'copy_option', locals: {name: :admins, copy_options: copy_options, explanation: t(".copy_admins"), details: t(".copy_admins_details")} %>
      <div class="form-group">
        <strong class="col-sm-6"><%= t('.other_copy_options') %></strong>
      </div>
      <%= render partial: 'copy_option', locals: {name: :hide_series, copy_options: copy_options, explanation: t(".hide_series"), details: t(".hide_series_details")} %>
    </div>
    <% needs_border = true %>
  <% end %>

  <div class="<%= course.new_record? ? "stepper-part#{needs_border ? " stepper-border" : ""}" : "card-supporting-text" %>">
    <div class="field form-group row">
      <%= f.label :name, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.text_field :name, class: "form-control" %></div>
    </div>
    <div class="field form-group row">
      <%= f.label :teacher, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.text_field :teacher, class: "form-control" %></div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".teacher-help" %></span>
    </div>
    <div class="field form-group row">
      <%= f.label :year, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.text_field :year, class: "form-control" %></div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".year-help" %></span>
    </div>
    <div class="field form-group row">
      <%= f.label :institution, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6">
        <%= f.select :institution_id,
                     options_for_select(Institution.all.sort_by(&:name).map {|i| [i.name, i.id]}, course.institution_id),
                     {include_blank: t('.no_institution')},
                     {class: 'form-select'} %>
      </div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".institution-help_html" %></span>
    </div>
    <div class="field form-group row">
      <%= f.label :description, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.text_area :description, class: "form-control", rows: "8" %></div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".description-help" %></span>
    </div>

    <div class="field form-group row">
      <%= f.label :questions, t(".questions.title"), class: 'col-sm-3 col-form-label' %>
      <div class="col-sm-6 pt-2">
        <div class="form-check <%= "form-switch" unless course.new_record? %>">
          <%= f.check_box :enabled_questions, class: 'form-check-input' %>
          <%= f.label :enabled_questions, t(".questions.toggle-label"), class: 'form-check-label' %>
        </div>
      </div>
    </div>

    <% if current_user.zeus? %>
      <div class="field form-group row">
        <%= f.label :color, class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-6">
          <%= f.select :color,
                       options_for_select(Course.colors.keys.map {|k| [t("activerecord.attributes.course.colors.#{k}"), k]},
                                          course.color),
                       {},
                       {class: 'form-select'} %>
        </div>
      </div>
      <div class="field form-group row">
        <%= f.label :featured, t(".featured.title"), class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-6 pt-2">
          <div class="form-check">
            <%= f.check_box :featured, class: 'form-check-input' %>
            <%= f.label :featured, t(".featured.toggle-label"), class: 'form-check-label' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="<%= course.new_record? ? "stepper-part stepper-border" : "card-supporting-text card-border" %>">
    <h4><%= t('.access') %></h4>
    <div class="form-group">
      <strong class="col-12"><%= t('.visibility-label') %></strong>
    </div>
    <div class="field form-group row">
      <% Course.visibilities.keys.each.with_index do |v, i| %>
        <div class="col-sm-6 offset-sm-3">
          <div class="form-check">
            <%= f.radio_button :visibility, v, class: "form-check-input" %>
            <%= f.label :visibility, t(".visibility-#{v}_html"), value: v, class: "form-check-label" %>
          </div>
        </div>
        <span class="help-block offset-sm-3 col-sm-6"><%= t ".visibility-#{v}-help_html" %></span>
      <% end %>
    </div>
    <div class="field form-group row">
      <div class="offset-sm-3 col-sm-6">
        <div class="input-group" id="hidden_show_link_field">
          <%= render partial: 'application/token_field', formats: [:html],
                     locals: {
                         name: :hidden_show_link,
                         value: @course.new_record? ? t('.secret-link-placeholder') : course_url(@course, secret: @course.secret),
                         reset_url: @course.new_record? ? '' : reset_token_course_path(@course)
                     } %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <strong class="col-12"><%= t('.registration-label') %></strong>
    </div>
    <div class="field form-group row">
      <% Course.registrations.keys.each.with_index do |r, i| %>
        <div class="col-sm-6 offset-sm-3">
          <div class="form-check">
            <%= f.radio_button :registration, r, class: "form-check-input" %>
            <%= f.label :registration, t(".registration-#{r}_html"), value: r, class: "form-check-label" %>
          </div>
        </div>
        <span class="help-block offset-sm-3 col-sm-6"><%= t ".registration-#{r}-help_html" %></span>
      <% end %>
    </div>
    <div class="form-group">
      <strong class="col-12"><%= t('.moderated-label') %></strong>
    </div>
    <div class="field form-group row">
      <div class="offset-sm-3 col-sm-6">
        <div class="form-check">
          <%= f.radio_button :moderated, false, class: "form-check-input" %>
          <%= f.label :moderated, t('.automatically'), value: false, class: 'form-check-label' %>
        </div>
      </div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".moderated-automatically-help" %></span>
      <div class="offset-sm-3 col-sm-6">
        <div class="form-check">
          <%= f.radio_button :moderated, true, class: "form-check-input" %>
          <%= f.label :moderated, t('.moderated'), value: true, class: 'form-check-label' %>
        </div>
      </div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".moderated-moderated-help" %></span>
    </div>
  </div>
<% end %>
<script>
    dodona.initCourseForm();
</script>
