<%= form_for(course, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if course.errors.any? %>
    <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => course.errors.count) %></h4>
      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="field form-group">
    <%= f.label :teacher, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_field :teacher, class: "form-control" %></div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".teacher-help" %></span>
  </div>
  <div class="field form-group">
    <%= f.label :year, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_field :year, class: "form-control" %></div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".year-help" %></span>
  </div>
  <div class="field form-group">
    <%= f.label :institution, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= f.select :institution_id,
                   options_for_select(Institution.all.sort_by(&:name).map {|i| [i.name, i.id]}, @course.institution_id),
                   {include_blank: t('.no_institution')},
                   {class: 'form-control'} %>
    </div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".institution-help_html" %></span>
  </div>
  <div class="field form-group">
    <%= f.label :visibility, class: 'col-sm-3 control-label' %>
    <div class="col-sm-6">
      <%= f.select :visibility,
                   options_for_select(Course.visibilities.keys.map {|k| [t("activerecord.attributes.course.visibilities.#{k}"), k]},
                                      @course.visibility),
                   {},
                   {class: 'form-control'} %>
    </div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".visibility-help_html" %></span>
  </div>
  <div class="field form-group">
    <%= f.label :registration, class: 'col-sm-3 control-label' %>
    <div class="col-sm-6">
      <%= f.select :registration,
                   options_for_select(Course.registrations.keys.map {|k| [t("activerecord.attributes.course.registrations.#{k}"), k]},
                                      @course.registration),
                   {},
                   {class: 'form-control'} %>
    </div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".registration-help_html" %></span>
  </div>
  <div class="field form-group">
    <%= f.label :description, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_area :description, class: "form-control", rows: "8" %></div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".description-help" %></span>
  </div>
  <% if current_user.zeus? %>
    <div class="field form-group">
      <%= f.label :color, class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <%= f.select :color,
                     options_for_select(Course.colors.keys.map {|k| [t("activerecord.attributes.course.colors.#{k}"), k]},
                                        @course.color),
                     {},
                     {class: 'form-control'} %>
      </div>
    </div>
  <% end %>
<% end %>
