<%= form_for(course, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= t( "errors.validation_erors", :count => course.errors.count) %></h2>
      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="field form-group">
    <%= f.label :year, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4"><%= f.text_field :year, class: "form-control" %></div>
  </div>
<% end %>
