<%= form_for(course, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= t( "errors.validation_erors", :count => course.errors.count) %></h2>
      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="field form-group">
    <%= f.label :year, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_field :year, class: "form-control" %></div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".year-help" %></span>
  </div>
  <div class="field form-group">
    <%= f.label :description, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6"><%= f.text_area :description, class: "form-control", rows: "8" %></div>
    <span class="help-block col-sm-offset-3 col-sm-6"><%= t ".description-help" %></span>
  </div>
<% end %>
