<div class="col-sm-6 col-12">
  <div class="callout callout-info">
    <% if @course.closed? %>
      <p><%= t 'courses.registration.closed' %></p>
    <% else %>
      <% if @current_membership&.pending? %>
        <p><%= t 'courses.registration.pending' %></p>
      <% else %>
        <p><%= t 'courses.registration.not_a_member' %></p>
      <% end %>
      <% if @course.moderated %>
        <p><%= t 'courses.registration.moderated' %></p>
      <% end %>
    <% end %>
    <% unless @course.closed? %>
      <%= registration_action_for course: @course, membership: @current_membership, secret: (@course.secret if @course.secret_required?(current_user)) %>
    <% end %>
  </div>
</div>
