<div class="col-sm-6 col-xs-12">
  <div class="card">
    <div class="card-supporting-text">
      <% if @course.closed? %>
        <p>
        <strong><%= t 'layout.messages.danger' %>!</strong>
        <%= t '.registration_closed'%>
      <% else %>
        <p><%= t '.not_a_member' %>
        <% if @course.moderated? %>
          <p><%= t '.not_a_member_moderated' %>
        <% end %>
      <% end %>
    </div>
    <% unless @course.closed? %>
      <div class="card-actions card-border">
        <%= link_to t('.subscribe'),
          subscribe_course_path(@course),
          method: :post,
          class: 'btn-text' %>
      </div>
    <% end %>
  </div>
</div>
