<% if questions.present? %>
  <table class="table question-table">
    <colgroup>
      <col class="name"/>
      <col/>
      <col class="age"/>
      <col class="actions"/>
    </colgroup>
    <tbody>
    <% questions.each do |question| %>
      <tr class="selection-row" data-href="<%= submission_url(question.submission, anchor: 'code') %>">
        <td>
          <%= question.user.full_name %>
        </td>
        <td>
          <%= question.submission.activity.name %>
          <div class="ellipsis-overflow text-muted">
            <%= question.question_text %>
          </div>
        </td>
        <td>
          <%= t "courses.questions.ago", when: time_ago_in_words(question.created_at) %>
          <% unless question.unanswered? %>
            <div class="text-muted ellipsis-overflow">
              <%= t "courses.questions.last_edited_by.#{question.question_state}", who: question.last_updated_by.full_name %>
            </div>
          <% end %>
        </td>
        <td class="actions">
          <% if policy(question).transition?(:unanswered) %>
            <%= link_to annotation_path(question), data: { from: question.question_state, to: :unanswered }, class: 'btn btn-sm btn-default state-changer' do %>
              <i class="mdi mdi-restart mdi-18" title="<%= t('courses.questions.buttons.to_unresolved') %>"></i>
            <% end %>
          <% end %>
          <% if policy(question).transition?(:in_progress) && !question.answered? %>
            <%= link_to annotation_path(question), data: { from: question.question_state, to: :in_progress }, class: 'btn btn-sm btn-default state-changer' do %>
              <i class="mdi mdi-comment-processing-outline mdi-18" title="<%= t('courses.questions.buttons.to_in_progress') %>"></i>
            <% end %>
          <% end %>
          <% if policy(question).transition?(:answered) %>
            <%= link_to annotation_path(question), data: { from: question.question_state, to: :answered }, class: 'btn btn-sm btn-default state-changer' do %>
              <i class="mdi mdi-check mdi-18" title="<%= t('courses.questions.buttons.to_resolved') %>"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <%= t("courses.questions.no_questions.#{state}") %>
<% end %>
<% if questions.try(:total_pages) %>
  <center><%= page_navigation_links questions, false, 'courses', { refresh: refresh }, 'questions', "#{state}_page" %></center>
<% end %>
