<table class="table scoresheet-table">
  <thead>
  <tr>
    <th class="user-name"><%= t('.user') %></th>
    <% series.each do |s| %>
    <th class="status-number-header ellipsis-overflow" title="<%= s.name %>"><%= s.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% users.each do |student| %>
    <tr>
      <td class="user-name"><%= link_to student.full_name, course_member_path(course, student), title: student.full_name, class: "ellipsis-overflow" %></td>
      <% series.each do |s| %>
        <td class="status-number"><%= hash[[student.id, s.id]] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>