<div class="row">
  <div class="col-xs-6 admin-card-stat">
    <%= t ".subscribed_users" %>
    <h1>
      <%= @course.subscribed_members_count %>
    </h1>
  </div>
  <div class="col-xs-6 admin-card-stat">
    <%= t ".exercise_count" %>
    <h1>
      <%= @course.exercises_count %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 admin-card-stat">
    <%= t ".submitted_solutions" %>
    <h1>
      <%= number_with_delimiter @course.submissions.count, delimiter: " " %>
    </h1>
  </div>
  <div class="col-xs-6 admin-card-stat"
       title="<%= t '.average_progress_info' %>">
    <%= t ".average_progress" %>
    <h1>
      <%= number_to_percentage @course.average_progress, precision: 1 %>
    </h1>
  </div>
</div>
