<%= render partial: 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @course.name %></h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_course_#{@course.id}", icon: 'check' %>
        </div>
      </div>
      <%= render 'form', course: @course %>
      <div class="card-actions card-border">
        <button type="submit" class="btn btn-text btn-primary" form="<%= "edit_course_#{@course.id}" %>"><%= t('.update') %></button>
      </div>
    </div>
    <% if policy(@course).reorder_series? %>
      <div class="callout callout-info">
        <p><%= t ".series_reordering_moved_help_html", course_url: manage_series_course_url(@course) %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1 col-xs-12">
    <div class="card card-border">
      <div class="card-supporting-text">
        <h4><%= t ".delete.title" %></h4>
        <p><%= t '.delete.consequences' %></p>
        <ul>
          <li><%= t '.delete.submissions' %></li>
          <li><%= t '.delete.series' %></li>
        </ul>
      </div>
      <% if policy(@course).destroy? %>
        <div class="card-actions card-border">
          <%= link_to @course, method: :delete, data: {confirm: t("general.are_you_sure")}, class: "btn btn-text btn-danger", title: t(".delete.button") do %>
            <%= t('.delete.button') %>
          <% end %>
        </div>
      <% else %>
        <div class="card-supporting-text card-border">
          <%= t '.delete.impossible', count: CoursePolicy::MAX_SUBMISSIONS_FOR_DESTROY %>
          <%= t '.delete.contact_html', contact_url: contact_url %>
        </div>
      <% end %>
    </div>
  </div>
</div>
