<%= content_for :javascripts do %>
  <%= javascript_include_tag 'course' %>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="page-subtitle">
      <h2><%= t '.title' %></h2>
      <div class="flex-spacer"></div>
      <div>
        <% if policy(Course).new? %>
          <%= link_to new_course_path, title: t("courses.new.title"), class: "btn btn-filled with-icon" do %>
            <i class="mdi mdi-plus icon"></i>
            <span class='text'><%= t("courses.new.title") %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card course-search">
      <div class="card-supporting-text">
        <%
          labels = []
          labels << { name: t('.institution_courses', institution: (current_user.institution&.short_name || current_user.institution&.name)), id: 'institution' } if @show_institution_courses
          labels << { name: t('courses.index.featured_courses'), id: 'featured' }
          labels << { name: t('courses.index.all_courses'), id: 'all' }
          labels << { name: t('courses.index.my_courses'), id: 'my' } if @show_my_courses
        %>
        <d-filter-tabs labels="<%= labels.to_json %>"
                       default-tab="<%= @show_institution_courses ? "institution" : "featured" %>"
        ></d-filter-tabs>
        <%= render partial: 'layouts/searchbar', locals: {institutions: Institution.all, eager: true, no_dropdown_for: ["institutions"], actions: [{search: {can_register: true}, type: 'can-register', text: "#{t(".only_show_can_register")}"}]  } %>
        <div id="courses-table-wrapper"></div>
      </div>
    </div>
  </div>
</div>
