<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="page-subtitle">
      <h2><%= t '.title' %></h2>
      <div class="flex-spacer"></div>
      <div>
        <% if policy(Course).new? %>
          <%= link_to new_course_path, title: t("courses.new.title"), class: "btn with-text btn-primary btn-fab-extended" do %>
            <i class="mdi mdi-plus icon"></i>
            <span class='text'><%= t("courses.new.title") %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card course-search">
      <div class="card-supporting-text">
        <div class="card-tab">
          <ul id="course-tabs" class="nav nav-tabs" data-baseurl="<%= courses_path %>" role="tablist">
            <li role="presentation"><a href="#institution">Institution courses</a></li>
            <li role="presentation"><a href="#all">All courses</a></li>
            <li role="presentation"><a href="#my">My courses</a></li>
          </ul>
        </div>
        <%= render partial: 'layouts/searchbar', locals: {institutions: Institution.all, eager: false } %>
        <div id="courses-table-wrapper"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    dodona.initCoursesListing("institution");
  });
</script>
