<% filter_institutions = current_user&.institution.present? && current_user&.institution.courses.any? %>
<div class="row">
  <div class="col-12">
    <div class="page-subtitle">
      <h2><%= t '.title' %></h2>
      <div class="flex-spacer"></div>
      <div>
        <% if policy(Course).new? %>
          <%= link_to new_course_path, title: t("courses.new.title"), class: "btn with-text btn-primary btn-fab-extended" do %>
            <i class="mdi mdi-plus icon"></i>
            <span class='text'><%= t("courses.new.title") %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card course-search">
      <%= render partial: 'layouts/searchbar', locals: {institutions: Institution.all, eager: !filter_institutions} %>
    </div>
    <div id="grouped-course-cards-wrapper">
    </div>
  </div>
</div>
<% if filter_institutions %>
  <script type="text/javascript">
      $(function () {
          <% if @institution.present? %>
            dodona.addTokenToSearch("institutions", "<%= @institution.name %>");
          <% else %>
            dodona.addTokenToSearch("institutions", "<%= current_user.institution.name %>");
          <% end %>
      });
  </script>
<% end %>
