<% content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<%= render partial: 'courses/navbar_links' %>
<div class="row">
  <div class="col-md-10 col-12 offset-md-1">
    <div class="page-subtitle">
      <h2><%= @course.name %></h2>
      <div class="flex-spacer"></div>
      <div>
        <% if policy(@course).add_series? %>
          <%= link_to new_course_series_path(@course), title: t("series.new.title"), class: "btn with-text btn-primary btn-fab-extended" do %>
            <i class="mdi mdi-plus icon"></i><span class='text'><%= t("series.new.title") %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-12 offset-md-1">
    <div class="card">
      <div class="card-supporting-text">
        <h4><%= t('courses.show.manage_series') %></h4>
        <p class='h4-info-text'><%= t "courses.edit.series_reordering_help_html" %></p>
        <div class="course-series-list" data-course_id="<%= @course.id %>">
          <%= render partial: 'series/course_series_table', locals: {series: @course.series, course: @course} %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initSeriesReorder();
    });
</script>
