<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'scoresheet' %>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= @course.name %>
        </h2>
      </div>
      <div class="card-supporting-text">
        <select id="scoresheet-selector">
          <option data-url="<%= scoresheet_course_url(@course) %>" selected><%= t('.course_view') %></option>
          <% @course.series.reverse.each do |s| %>
            <option data-url="<%= scoresheet_series_url(s) %>"><%= s.name %></option>
          <% end %>
        </select>
        <%= render partial: 'layouts/searchbar', locals: {
            actions: [
                { text: t('.at_least_one_started'), search: { at_least_one_started: true } },
                { text: t('.download'), url: scoresheet_course_path(@course, format: :csv) }
            ],
            course_labels: @course_labels
        } %>
        <div id="scoresheet-table-wrapper">
          <%= render partial: "scoresheet_table", locals: { course: @course, series: @series, users: @users, hash: @hash } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(window.dodona.initScoresheetLinks)
</script>