<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @course.name %></h2>
        <% if policy(@course).edit? %>
          <div class="card-title-fab">
            <%= link_to edit_course_path(@course), class: "btn btn-primary btn-fab" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text row">
        <div class="col-sm-6 col-xs-12">
          <p>
            <strong><%= t ".course" %>:</strong> <%= @course.name %>
          </p>
          <p>
            <strong><%= Course.human_attribute_name("year") %>:</strong> <%= @course.year %>
          </p>
          <% if current_user && current_user.admin? %>
          <p>
            <strong><%= t ".auto_subscribe_link" %>:</strong> <%= request.protocol + request.host + subscribe_with_secret_course_path(@course.id, @course.secret) %>
          </p>
          <% end %>
        </div>
        <% if current_user && !current_user.member_of?(@course) %>
        <div class="col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-supporting-text">
              <p><%= t ".not_a_member" %></p>
            </div>
            <div class="card-actions card-border">
              <%=link_to t(".subscribe"), subscribe_course_path(@course), method: :post, class: "btn-text" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="card-supporting-text card-border">
        <div class="card-subtitle">
          <h3><%= t ".exercise_series" %></h3>
          <div class="flex-spacer"></div>
          <div class="card-subtitle-actions">
            <% if policy(@course).add_series? %>
              <%= link_to new_course_series_path(@course), title: t("series.new.title") do %>
                <span class='glyphicon glyphicon-plus pull-right'></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <% @course.series.each do |course| %>
          <h4><%= course.name %></h4>
          <p><%= markdown(course.description) %></p>
        <% end %>
      </div>
      <% if policy(@course).list_members? %>
        <div class="card-supporting-text card-border">
          <h3><%= t ".users" %></h3>
          <table class="table table-index table-resource">
            <thead>
              <tr>
                <th><%= User.human_attribute_name("username") %></th>
                <th><%= User.human_attribute_name("name") %></th>
                <th><%= User.human_attribute_name("email") %></th>
              </tr>
            </thead>
            <tbody>
              <% @course.users.each do |user| %>
                <tr>
                  <td><%= link_to user.username, user %></td>
                  <td><%= user.full_name %> </td>
                  <td><%= user.email %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
