<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<%= render partial: 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 col-xs-12 col-sm-offset-1">
    <div class="card">
      <div class="card-title card-title-colored">
        <% if !@course.open_for_all? || @course.moderated %>
          <% title = [] %>
          <% title.push t(".registration-#{@course.registration}-info", institution: @course.institution&.name) unless @course.open_for_all? %>
          <% title.push t(".moderated-info") if @course.moderated %>
          <h2 class='card-title-text pull-right' title='<%= title.join("\n") %>'>
            <i class="mdi mdi-account-remove-outline"></i>
          </h2>
        <% end %>
        <% unless @course.visible_for_all? %>
          <h2 class='card-title-text pull-right' title='<%= t ".visibility-#{@course.visibility}-info", institution: @course.institution&.name %>'>
            <i class="mdi mdi-eye-off-outline"></i>
          </h2>
        <% end %>
        <h2 class="card-title-text">
          <%= @course.name %> (<%= @course.formatted_year %>)
        </h2>
        <% if @course.institution&.name.present? || @course.teacher.present? %>
          <h3 class="card-subtitle-text">
            <% if @course.institution&.name.present? && @course.teacher.present? %>
              <%= t(".taught_by_at", {teacher: @course.teacher, institution: @course.institution.name}) %>
            <% elsif @course.institution&.name.present? %>
              <%= t(".taught_at", {institution: @course.institution.name}) %>
            <% elsif @course.teacher.present? %>
              <%= t(".taught_by", {teacher: @course.teacher}) %>
            <% end %>
          </h3>
        <% end %>
      </div>

      <% if @course.description.present? or current_user&.member_of?(@course).! %>
        <div class="card-supporting-text card-border row course-description">
          <div class="col-sm-<%= current_user&.member_of?(@course).! ? '6' : '12' %> col-xs-12">
            <%= markdown(@course.description) %>
          </div>
          <% if current_user&.member_of?(@course).! %>
            <%= render partial: 'not_a_member_card' %>
          <% end %>
        </div>
      <% end %>

      <% if current_user&.course_admin?(@course) %>
        <div class="card-supporting-text card-border">
          <div class="row">
            <div class="col-xs-12">
              <%= render 'user_stats' %>
            </div>
          </div>
        </div>
      <% end %>

      <% if policy(@course).scoresheet? or current_user&.member_of? @course or policy(@course).copy? %>
        <div class="card-actions card-border">
          <% if current_user&.member_of? @course %>
            <%= button_to t('.unsubscribe'), unsubscribe_course_path(@course), class: 'btn-text', data: {confirm: t('general.are_you_sure')} %>
          <% end %>
          <% if policy(@course).scoresheet? or policy(@course).copy? %>
            <a class="btn btn-icon dropdown-toggle hidden-print" data-toggle="dropdown">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <% if policy(@course).scoresheet? %>
                <li>
                  <%= link_to t(".download_scoresheet"), scoresheet_course_path(@course) %>
                </li>
              <% end %>
              <% if policy(@course).reorder_series? %>
                <% content_for :modal do %>
                  <% content_for :javascripts do %>
                    <%= javascript_pack_tag 'course' %>
                  <% end %>
                  <div class="modal fade" id="series-reorder-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">
                            <%= t(".manage_series") %>
                          </h4>
                        </div>
                        <div class="modal-body">
                          <p class='header-info-text'><%= t "courses.edit.series_reordering_help_html" %></p>
                          <div class="course-series-list" data-course_id="<%= @course.id %>">
                            <%= render partial: 'series/course_series_table', locals: {series: @course.series, course: @course} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {
                          dodona.initSeriesReorder();
                      });
                  </script>
                <% end %>
                <li>
                  <a data-toggle="modal" data-target="#series-reorder-modal"><%= t('.manage_series') %></a>
                </li>
              <% end %>
              <% if policy(@course).copy? %>
                <li>
                  <%= link_to t(".copy"), new_course_url(copy_options: {base_id: @course.id}) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="page-subtitle">
      <a class="anchor" id="series"></a>
      <h3><%= t ".exercise_series" %></h3>
      <div class="flex-spacer"></div>
      <div>
        <% if policy(@course).add_series? %>
          <%= link_to new_course_series_path(@course), title: t("series.new.title"), class: "btn with-text btn-primary btn-fab-extended" do %>
            <i class="material-icons icon">add</i><span class='text'><%= t("series.new.title") %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @series.empty? %>
      <p class="lead text-center"><%= t ".no_series_yet" %></p>
    <% end %>
    <div id="series-listing">
      <% @series.first(@series_loaded).each do |series| %>
        <%= render(partial: 'series/series', locals: {series: series, loaded: true}) %>
      <% end %>
      <% @series.offset(@series_loaded).each do |series| %>
        <%= render(partial: 'series/series', locals: {series: series, loaded: false}) %>
      <% end %>
    </div>
  </div>
  <nav class="col-md-1 hidden-xs hidden-sm hidden-print series-sidebar">
    <ul class="nav" data-spy="affix" data-offset-bottom="80">
      <li class="header"><%= t ".exercise_series" %></li>
      <% @series.each do |series| %>
        <li><%= link_to series.name, "#" + series.anchor, class: 'ellipsis-overflow', title: series.name %> </li>
      <% end %>
    </ul>
  </nav>
</div>
<script type="text/javascript">
    $(dodona.initCourseShow);
</script>
