<div class="row">
  <%= link_to '#series', class: "btn btn-lg btn-down col-sm-1 hidden-xs", title: t('.series') do %>
    <span class='hidden-sm'><%= t ".series" %></span><br>
    <span class="glyphicon glyphicon-chevron-down"></span>
  <% end %>

  <div class="col-sm-10 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @course.name %> (<%= @course.formatted_year %>)</h2>
        <div class="card-title-fab">
          <% if policy(@course).edit? %>
              <%= render 'fab_link', url: edit_course_path(@course), icon: 'pencil' %>
          <% end %>
        </div>
      </div>
      <% if @course.description.present? || current_user.member_of?(@course).! %>
        <div class="card-supporting-text row">
          <div class="col-sm-<%= current_user&.member_of?(@course).! ? '6' : '12' %> col-xs-12">
            <%= markdown(@course.description) %>
            <% if current_user&.member_of? @course %>
              <%= button_to t('.unsubscribe'),
                            unsubscribe_course_path(@course),
                            class: 'btn-text pull-right',
                            data: { confirm: t('general.are_you_sure') } %>
            <% end %>
          </div>
          <% if current_user&.member_of?(@course).! %>
            <%= render partial: 'not_a_member_card' %>
        <% end %>
      </div>
      <% end %>
      <% if current_user&.admin_of?(@course) %>
        <div class="card-supporting-text card-border">
          <strong><%= t ".invitation_link" %>:</strong> <%= registration_course_url(@course.id, @course.secret) %><br>
          <strong><%= t ".subscribed_users" %>:</strong> <%= @course.subscribed_members.count %><br>
          <% if policy(@course).scoresheet? %>
            <%= link_to t(".download_scoresheet"), scoresheet_course_path(@course), class: 'btn-text pull-right' %>
          <% end %>
        </div>
      <% end %>
      <% if policy(@course).show_series? %>
        <div class="card-supporting-text card-border">
          <div class="card-subtitle">
            <a class="anchor" id="series"></a>
            <h3><%= t ".exercise_series" %></h3>
            <div class="flex-spacer"></div>
            <div class="card-subtitle-actions">
              <% if policy(@course).add_series? %>
                <%= link_to new_course_series_path(@course), title: t("series.new.title") do %>
                  <span class='glyphicon glyphicon-plus pull-right'></span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div id="series-listing">
            <% @series.each do |series| %>
              <%= render(partial: 'series/series', locals: {series: series}) %>
            <% end %>
          </div>
          <% if @total_series > @series.length %>
            <div class="text-center"><button class='btn btn-text load-more-series' data-loading-text="<%= t("series.index.loading_more") %>"><%= t("series.index.load_more") %></button></div>
          <% end %>
        </div>
      <%  end %>
      <% if policy(@course).list_members? %>
        <div class="card-supporting-text card-border">
          <div class="card-subtitle">
            <h3><%= t ".users" %></h3>
          </div>
          <div class="card-tab">
            <ul id="user-tabs" class="nav nav-tabs" data-baseurl="<%= list_members_course_path(@course) %>" role="tablist">
              <li role="presentation" class="active"><a href="#enrolled"><%= t 'courses.show.subscribed' %></a></li>
              <% if @course.moderated? || !@course.pending_members.empty? %>
                <li role="presentation"><a href="#pending"><%= t 'courses.show.pending' %> <span class="badge"><%= @course.pending_members.count unless @course.pending_members.empty? %></span></a></li>
              <% end %>
              <li role="presentation"><a href="#unsubscribed"><%= t 'courses.show.unsubscribed' %></a></li>
            </ul>
          </div>
          <%= render(partial: 'layouts/searchbar',
                     remote_links: true,
                     locals: {
                        eager: false,
                        actions: [
                          {
                            icon: 'ok',
                            text: t(".accept_all"),
                            confirm: t(".confirm_accept_all"),
                            action: mass_accept_pending_course_path(@course)
                          },
                          {
                            icon: 'remove',
                            text: t(".decline_all"),
                            confirm: t(".confirm_decline_all"),
                            action: mass_decline_pending_course_path(@course)
                          }
                        ]
          }) %>
          <div id="users-table-wrapper">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    init_course_show(<%= @series.length %>, <%= @total_series %>, <%= !policy(@course).list_members? %>);
  });
</script>
