<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<%= render partial: 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 col-12 offset-sm-1">
    <div class="card">
      <div class="card-title card-title-colored">
        <% if !@course.open_for_all? || @course.moderated %>
          <% title = [] %>
          <% title.push t(".registration-#{@course.registration}-info", institution: @course.institution&.name) unless @course.open_for_all? %>
          <% title.push t(".moderated-info") if @course.moderated %>
          <h2 class='card-title-text float-end' title='<%= title.join("\n") %>'>
            <i class="mdi mdi-account-remove-outline"></i>
          </h2>
        <% end %>
        <% unless @course.visible_for_all? %>
          <h2 class='card-title-text float-end' title='<%= t ".visibility-#{@course.visibility}-info", institution: @course.institution&.name %>'>
            <i class="mdi mdi-eye-off-outline"></i>
          </h2>
        <% end %>
        <h2 class="card-title-text">
          <%= @course.name %> (<%= @course.formatted_year %>)
        </h2>
        <% if @course.formatted_attribution.present? %>
          <h3 class="card-subtitle-text">
            <%= @course.formatted_attribution %>
          </h3>
        <% end %>
      </div>

      <% if @course.description.present? or current_user&.member_of?(@course).! %>
        <div class="card-supporting-text card-border row course-description">
          <div class="col-sm-<%= current_user&.member_of?(@course).! ? '6' : '12' %> col-12">
            <%= cache @course do %>
              <%= markdown(@course.description) %>
            <% end %>
          </div>
          <% if current_user&.member_of?(@course).! %>
            <%= render partial: 'not_a_member_card' %>
            <% if @lti_launch %>
              <%= render partial: 'not_a_member_dialog' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if current_user&.course_admin?(@course) %>
        <div class="card-supporting-text card-border">
          <div class="row">
            <div class="col-12">
              <%= render 'user_stats' %>
            </div>
          </div>
        </div>
      <% end %>

      <% if current_user&.member_of? @course or policy(@course).copy? or policy(@course).scoresheet? %>
        <div class="card-actions card-border">
          <% if current_user&.member_of? @course %>
            <%= button_to t('.unsubscribe'), unsubscribe_course_path(@course), class: 'btn-text', data: {confirm: t('general.are_you_sure')} %>
          <% end %>
          <% if policy(@course).copy? or policy(@course).scoresheet? or policy(@course).download_submissions? %>
            <a class="btn btn-icon dropdown-toggle hidden-print" data-bs-toggle="dropdown">
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <% if policy(@course).scoresheet? %>
                <li>
                  <%= link_to t("courses.scoresheet.scoresheet"), scoresheet_course_url(@course), class: "dropdown-item" %>
                </li>
              <% end %>
              <% if policy(@course).copy? %>
                <li>
                  <%= link_to t(".copy"), new_course_url(copy_options: {base_id: @course.id}), class: "dropdown-item" %>
                </li>
              <% end %>
              <% if current_user&.course_admin?(@course) %>
                <li>
                  <%= link_to t(".download_submissions"), courses_exports_path(@course), class: "dropdown-item" %>
                </li>
              <% end %>
              <% if (policy(@course).copy? || current_user&.course_admin?(@course)) && policy(@course).download_submissions? %>
                <li role="separator" class="dropdown-divider"></li>
              <% end %>
              <% if policy(@course).download_submissions? %>
                <li>
                  <%= link_to t(".download_my_submissions"), courses_exports_path(@course, user_id: current_user.id), class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="page-subtitle">
      <a class="anchor" id="series"></a>
      <h3><%= t ".exercise_series" %></h3>
      <div class="flex-spacer"></div>
      <div>
        <% if policy(@course).manage_series? %>
          <%= link_to manage_series_course_path(@course), title: t(".manage_series"), class: "btn with-text btn-primary btn-fab-extended" do %>
            <i class="mdi mdi-playlist-edit icon"></i>
            <span class='text'><%= t(".manage_series") %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @series.empty? %>
      <p class="lead text-center"><%= t ".no_series_yet" %> <%= t ".get_started_adding" if policy(@course).manage_series? %></p>
    <% end %>
    <div id="series-listing">
      <% @series.first(@series_loaded).each do |series| %>
        <%= render(partial: 'series/series', locals: {series: series, loaded: true}) %>
      <% end %>
      <% @series.offset(@series_loaded).each do |series| %>
        <%= render(partial: 'series/series', locals: {series: series, loaded: false}) %>
      <% end %>
    </div>
  </div>
  <nav class="col-md-1 hidden-xs hidden-sm hidden-print series-sidebar">
    <ul class="nav" data-spy="affix" data-offset-bottom="80">
      <li class="header ellipsis-overflow"><%= t ".exercise_series" %></li>
      <% @series.each do |series| %>
        <li><%= link_to series.name, "#" + series.anchor, class: 'ellipsis-overflow', title: series.name %> </li>
      <% end %>
    </ul>
  </nav>
</div>
<script type="text/javascript">
    $(dodona.initCourseShow);
</script>
