<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'course' %>
<% end %>
<%= render partial: 'navbar_links' %>
<div class="row">
  <nav class="col-md-1 hidden-xs hidden-sm hidden-print series-sidebar">
    <% if policy(@course).show_series? %>
      <ul class="nav">
      <% @series.each do |series| %>
        <li><%= link_to series.name, course_path(series.course, anchor: series.anchor), class: 'ellipsis-overflow', title: series.name %> </li>
      <% end %>
      <ul>
    <% end %>
  </nav>
  <div class="col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= @course.name %> (<%= @course.formatted_year %>)
        </h2>
        <% if @course.institution&.name.present? || @course.teacher.present? %>
          <h3 class="card-subtitle-text">
            <% if @course.institution&.name.present? && @course.teacher.present? %>
              <%= t(".taught_by_at", {teacher: @course.teacher, institution: @course.institution.name}) %>
            <% elsif @course.institution&.name.present? %>
              <%= t(".taught_at", {institution: @course.institution.name}) %>
            <% elsif @course.teacher.present? %>
              <%= t(".taught_by", {teacher: @course.teacher}) %>
            <% end %>
          </h3>
        <% end %>
      </div>

      <% if @course.description.present? or current_user&.member_of?(@course).! %>
        <div class="card-supporting-text card-border row course-description">
          <div class="col-sm-<%= current_user&.member_of?(@course).! ? '6' : '12' %> col-xs-12">
            <%= markdown(@course.description) %>
          </div>
          <% if current_user&.member_of?(@course).! %>
            <%= render partial: 'not_a_member_card' %>
          <% end %>
        </div>
      <% end %>

      <% if current_user&.course_admin?(@course) %>
        <div class="card-supporting-text card-border">
          <div class="row">
            <div class="col-md-6">
              <%= render 'user_stats' %>
            </div>
            <div class="col-md-6">
              <p>
                <%= t ".invitation_link" %>
                <i title="<%= t ".invitation_link_help" %>" data-toggle="tooltip" data-placement="right" class="material-icons md-18 material-icons-info">info</i>
              <div class="input-group">
                <%= text_field_tag :registration_link, registration_course_url(@course, @course.secret), readonly: true, class: 'form-control' %>
                <span class="input-group-btn">
                    <%= clipboard_button_for :registration_link %>
                  </span>
              </div>
              <div class="admin-card-info">
                <span class="help-block">
                  <%= t ".visibility-#{@course.visibility}-info_html" %>
                </span>
                <span class="help-block">
                  <%= t ".registration-#{@course.registration}-info_html" %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if policy(@course).scoresheet? or current_user&.member_of? @course or policy(@course).copy? %>
        <div class="card-actions card-border">
          <% if current_user&.member_of? @course %>
            <%= button_to t('.unsubscribe'), unsubscribe_course_path(@course), class: 'btn-text', data: {confirm: t('general.are_you_sure')} %>
          <% end %>
          <% if policy(@course).scoresheet? or policy(@course).copy? %>
            <a class="btn btn-icon dropdown-toggle hidden-print" data-toggle="dropdown">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <% if policy(@course).scoresheet? %>
                <li>
                  <%= link_to t(".download_scoresheet"), scoresheet_course_path(@course) %>
                </li>
              <% end %>
              <% if policy(@course).copy? %>
                <li>
                  <%= link_to t(".copy"), new_course_url(copy_options: {base_id: @course.id}) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

    </div>
    <% if policy(@course).show_series? %>
      <div class="page-subtitle">
        <a class="anchor" id="series"></a>
        <h3><%= t ".exercise_series" %></h3>
        <div class="flex-spacer"></div>
        <div>
          <% if policy(@course).add_series? %>
            <%= link_to new_course_series_path(@course), title: t("series.new.title"), class: "btn with-text btn-primary btn-fab-extended" do %>
              <i class="material-icons icon">add</i><span class='text'><%= t("series.new.title") %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @series.empty? %>
        <p class="lead text-center"><%= t ".no_series_yet" %></p>
      <% end %>
      <div id="series-listing">
        <% @series.first(@series_loaded).each do |series| %>
          <%= render(partial: 'series/series', locals: {series: series, loaded: true}) %>
        <% end %>
        <% @series.offset(@series_loaded).each do |series| %>
          <%= render(partial: 'series/series', locals: {series: series, loaded: false}) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    $(dodona.initCourseShow);
</script>
