<%= render partial: 'navbar_links' %>
<div class="row">
  <div class="offset-md-1 col-md-10 col-12">
    <div class="card card-supporting-text">
      <h4><%= t ".statistics" %></h4>
      <div class="row">
        <div class="col-12 col-sm-3 admin-card-stat">
          <%= link_to course_members_path(@course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter @course.subscribed_members_count, delimiter: " " %></h1>
            <%= t "courses.user_stats.subscribed_users" %>
          <% end %>
        </div>
        <div class="col-12 col-sm-3 admin-card-stat">
          <%= link_to course_path(@course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter @course.exercises_count, delimiter: " " %></h1>
            <%= t "courses.user_stats.exercise_count" %>
          <% end %>
        </div>
        <div class="col-12 col-sm-3 admin-card-stat">
          <%= link_to course_submissions_path(@course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter @course.submissions.count, delimiter: " " %></h1>
            <%= t "courses.user_stats.submitted_solutions" %>
          <% end %>
        </div>
        <div class="col-12 col-sm-3 admin-card-stat">
          <%= link_to course_path(@course), class: 'card-title-link' do %>
            <h1><%= number_with_delimiter @course.content_pages_count, delimiter: " " %></h1>
            <%= t "courses.user_stats.content_count" %>
          <% end %>
        </div>
      </div>

      <%= render partial: 'visualizations/punchcard', locals: {course: @course} %>

      <%= render partial: 'visualizations/heatmap', locals: {course: @course} %>
    </div>
  </div>
</div>
