<div class="card">
  <%= link_to post_path(post), class: 'card-title-link' do %>
    <div class="card-title <%= post.draft ? "card-colored-accent accent-deep-purple" : "card-title-colored" %>">
      <h2 class="card-title-text"><%= post.title %></h2>
      <h3 class="card-subtitle-text"><%= post.release %></h3>
      <div class="card-title-fab card-subtitle-fab">
        <% if policy(post).update? %>
          <%= render 'application/fab_link', url: edit_post_path(post), icon: 'edit' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="card-supporting-text">
    <%= post.content %>
  </div>
</div>
