<% content_for :javascripts do %>
  <%= javascript_pack_tag 'questions' %>
<% end %>

<div class="table-scroll-wrapper">
  <table class="table table-resource question-index-table" id="question-container">
    <colgroup>
      <col class="name"/>
      <col/>
      <col class="status" />
      <col class="age"/>
      <col class="actions"/>
      <col class="view"/>
    </colgroup>
    <tbody>
    <% questions.each do |question| %>
      <tr>
        <td>
          <i class="mdi mdi-filter-outline mdi-18 filter-icon"
             title="<%= t('questions.question.filter-by-user') %>"
             data-filter="<%= question.user.full_name %>"
             data-toggle="tooltip"
             data-placement="top"></i>
          <%= link_to question.user.full_name, course_member_path(question.submission.course, question.user), title: question.user.full_name, class: "ellipsis-overflow" %>
          <% unless @course.present? %>
          <div class="ellipsis-overflow text-muted icon-indent">
            <span class="clickable-token" title="<%= question.submission.course.name %>" data-type="courses" data-name="<%= question.submission.course.name %>">
              <%= question.submission.course.name %>
            </span>
          </div>
          <% end %>
        </td>
        <td>
          <i class="mdi mdi-filter-outline mdi-18 filter-icon"
             title="<%= t('questions.question.filter-by-exercise') %>"
             data-filter="<%= question.submission.activity.name %>"
             data-toggle="tooltip"
             data-placement="top"></i>
            <%= link_to question.submission.activity.name, course_activity_path(question.submission.course, question.submission.activity) %>
          <div class="ellipsis-overflow text-muted icon-indent">
            <%= question.question_text %>
          </div>
        </td>
        <td>
          <% status = Question.human_enum_name(:question_state, question.question_state) %>
          <span class="clickable-token" title="<%= status %>" data-type="question_states" data-name="<%= status %>">
            <%= t "courses.questions.last_edited_by.#{question.question_state}", who: question.last_updated_by.full_name %>
          </span>
        </td>
        <td>
          <%= t "courses.questions.ago", when: time_ago_in_words(question.created_at) %>
        </td>
        <td class="actions">
          <% if policy(question).transition?(:unanswered) %>
            <%= link_to annotation_path(question), data: { from: question.question_state, to: :unanswered }, class: 'btn btn-sm btn-default state-changer' do %>
              <i class="mdi mdi-restart mdi-18" title="<%= t('courses.questions.buttons.to_unresolved') %>"></i>
            <% end %>
          <% end %>
          <% if policy(question).transition?(:in_progress) && !question.answered? %>
            <%= link_to annotation_path(question), data: { from: question.question_state, to: :in_progress }, class: 'btn btn-sm btn-default state-changer' do %>
              <i class="mdi mdi-comment-processing-outline mdi-18" title="<%= t('courses.questions.buttons.to_in_progress') %>"></i>
            <% end %>
          <% end %>
          <% if policy(question).transition?(:answered) %>
            <%= link_to annotation_path(question), data: { from: question.question_state, to: :answered }, class: 'btn btn-sm btn-default state-changer' do %>
              <i class="mdi mdi-check mdi-18" title="<%= t('courses.questions.buttons.to_resolved') %>"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to submission_path(question.submission, anchor: 'code'), title: t("questions.question.view"), 'data-submission_id': question.submission.id do %>
            <i class="mdi mdi-chevron-right mdi-18"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if questions.try(:total_pages) %>
  <center><%= page_navigation_links questions, true, "questions" %></center>
<% end %>
<script type="text/javascript">
    $(function () {
        dodona.initTokenClickables();
        if (dodona.initFilterButtons) {
            dodona.initFilterButtons();
        }
        new window.dodona.questionTable("<%= questions_path %>");
    });
</script>
