<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <span>
            <% if @course %>
              <%= "#{@course.name} - " %>
            <% end %>
            <%= t "questions.index.title" %>
            <% if @user %>
              <%= t "questions.index.from" %>
              <% if @course_membership.present? && policy(@course_membership).show? %>
                <%= link_to @user.full_name, course_member_path(@course, @user) %>
              <% elsif policy(@user).show? %>
                <%= link_to @user.full_name, user_path(@user) %>
              <% else %>
                <%= @user.full_name %>
              <% end %>
            <% end %>
          </span>
        </h2>
      </div>
      <div class="card-supporting-text" id="refresh-element">
        <% actions = [] %>
        <% if current_user&.a_course_admin? %>
          <% actions << { text: t('questions.index.watch'), search: { refresh: true }, click: 'window.dodona.toggleIndexReload()' } %>
          <% actions << { text: t('questions.index.everything'), search: { everything: true } } if @unfiltered %>
        <% end %>
        <%= render partial: 'layouts/searchbar', locals: { actions: actions, refresh_element: "#refresh-element", courses: @courses, question_states: Question.question_states.keys } %>
        <div id="questions-table-wrapper">
          <%= render partial: 'questions_table', locals: { questions: @questions } %>
        </div>
      </div>
    </div>
  </div>
</div>
