<div class="card rubrics-card">
  <div class="card-supporting-text" id="evaluation-score-templates">
    <h4><%= evaluation_exercise.exercise.name %></h4>

    <% if evaluation_exercise.rubrics.empty? %>
      <p><%= t 'rubrics.exercise.nothing' %></p>
    <% else %>
      <%= render 'rubrics/table', evaluation_exercise: evaluation_exercise, evaluation: @evaluation %>
    <% end %>
  </div>
  <div class="card-actions card-border">
    <%= link_to t('rubrics.exercise.copy'), "#copy-rubric-exercise-#{evaluation_exercise.id}", class: 'btn-text toggle-button',
                data: { toggle: 'collapse', parent: "#panels-#{evaluation_exercise.id}" } %>
    <%= link_to t('rubrics.exercise.add'), "#new-rubric-exercise-#{evaluation_exercise.id}", class: 'btn-text toggle-button',
                data: { toggle: 'collapse', parent: "#panels-#{evaluation_exercise.id}" } %>
  </div>
  <div id="panels-<%= evaluation_exercise.id %>">
    <div class="panel">
      <div class="card-supporting-text collapse panel <%= " in" if new&.errors.present? %>" id="new-rubric-exercise-<%= evaluation_exercise.id %>">
        <%= render 'rubrics/form', rubric: new || Rubric.new, evaluation_exercise: evaluation_exercise, evaluation: @evaluation %>
      </div>
      <div class="card-supporting-text collapse panel" id="copy-rubric-exercise-<%= evaluation_exercise.id %>">
        <%= render 'rubrics/copy', evaluation_exercise: evaluation_exercise, evaluation: @evaluation %>
      </div>
    </div>
  </div>
</div>