
<% content_for :javascripts do %>
    <%= javascript_include_tag 'coding_scratchpad' %>
<% end %>
<button class="btn btn-outline hidden" type="button" data-bs-toggle="offcanvas"
data-bs-target="#scratchpad-offcanvas" aria-controls="scratchpad-offcanvas" id="scratchpad-offcanvas-show-btn">
    <%= t '.start_coding' %>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="scratchpad-offcanvas" data-bs-keyboard="false">
  <div class="scratchpad-header">
  <h4>
      <%= activity_icon(@activity, 24) %>
      &nbsp; <%= t('.title', programming_language: @activity.programming_language.name.titleize) %>
  </h4>
  <div class="flex-spacer"></div>
  <button class="btn-close btn-close-white" id="scratchpad-offcanvas-close-btn"
  data-bs-dismiss="offcanvas" aria-label="<%= t '.close' %>"></button>
  </div>
  <div class="offcanvas-body scratchpad-margin">
    <div class="row scratchpad-body">
      <div class="col-md-6 scratchpad-panel">
        <div class="card-tab">
          <ul class="nav nav-tabs" id="scratchpadTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-target="#scratchpad-description" data-bs-toggle="tab">Description</a>
            </li>
            <li class="nav-item hidden" id="scratchpad-trace-tab">
              <a class="nav-link" data-bs-target="#scratchpad-trace-wrapper" data-bs-toggle="tab">Trace</a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="scratchpadTabContent">
          <div  id="scratchpad-description" role="tabpanel" class="tab-pane fade show active">
            <%= description_iframe @activity %>
          </div>
          <div id="scratchpad-trace-wrapper" role="tabpanel" class="tab-pane fade"></div>
        </div>
      </div>
      <div class="col-md-6 scratchpad-panel">
        <div class="scratchpad-info">
          <i class="mdi mdi-information mdi-18"></i>
          <%= t ".experimental_feature_html", :url => contact_path %>
        </div>
        <div id="scratchpad-editor-wrapper" class="highlighter-rouge"></div>
        <div id="scratchpad-panel-wrapper"></div>
        <div id="scratchpad-output-wrapper"></div>
        <div id="scratchpad-input-wrapper"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  dodona.ready.then(function () {
        dodona.initCodingScratchpad(
            "<%= escape_javascript @activity.programming_language&.name %>"
        );
    });
</script>
