<% if activity.programming_language %>
  <dodona-filter-button param="programming_language" value="<%= activity.programming_language&.name %>">
    <span class="clickable-token"><%= activity.programming_language&.name%></span>
  </dodona-filter-button>
<% end %>
<div class="text-muted">
  <%# We can't just use activity.labels because a search by labels might restrict the loaded labels %>
  <% labels = Label.includes(:activities).where(activities: {id: activity.id}).to_a %>
  <small>
    <% if labels.count > 5 %>
      <span title="<%= labels.map(&:name).join(", ") %>">
        <% labels.first(5).each do |label| %>
          <dodona-filter-button param="labels" value="<%= label.name %>" multi>
            <span class='clickable-token'><%= label.name %></span>,
          </dodona-filter-button>
        <% end %>
        ...</span>
    <% elsif labels.any? %>
      <% labels.each do |label| %>
        <dodona-filter-button param="labels" value="<%= label.name %>" multi>
          <span class='clickable-token'><%= label.name %></span>,
        </dodona-filter-button>
      <% end %>
    <% end %>
  </small>
</div>
