<span class="<%= activity.programming_language ? "clickable-token" : "" %>" data-type="programming_languages" data-name="<%= activity.programming_language&.name %>"><%= activity.programming_language&.name || "" %></span>
<div class="text-muted">
  <%# We can't just use activity.labels because a search by labels might restrict the loaded labels %>
  <% labels = Label.includes(:activities).where(activities: {id: activity.id}).to_a %>
  <small>
    <% if labels.count > 5 %>
      <span title="<%= labels.map(&:name).join(", ") %>">
        <% labels.first(5).each do |label| %>
          <span class='clickable-token' data-type='labels' data-name='<%= label.name %>'><%= label.name %></span>,
        <% end %>
        ...</span>
    <% elsif labels.any? %>
      <span class='clickable-token' data-type='labels' data-name='<%= labels.first.name %>'><%= labels.first.name %></span>,
      <% labels.drop(1).first(4).each do |label| %>
        <span class='clickable-token' data-type='labels' data-name='<%= label.name %>'><%= label.name %></span>,
      <% end %>
    <% end %>
  </small>
</div>
