<table class="table activity-table table-resource">
  <thead>
    <th/>
    <th/>
    <th class="col-5">
      <% if local_assigns.fetch(:show_buttons_for_present, false) %>
        <%= t "activities.index.activity_title" %>
      <% else %>
        <d-sort-button column="name"><%= t "activities.index.activity_title" %></d-sort-button>
      <% end %>
    </th>
    <th class="col-1"><%= t "activities.index.languages" %></th>
    <th class="col-4"/>
    <% unless local_assigns.fetch(:show_buttons_for_present, false) %>
      <th class="col-2">
        <d-sort-button column="popularity" default="DESC"><%= t "activities.index.popularity" %></d-sort-button>
      </th>
    <% end %>
    <th class="col-1"/>
  </thead>
  <tbody>
  <% activities.each do |activity| %>
    <tr>
      <td>
        <% if local_assigns.fetch(:show_buttons_for_present, false) %>
          <div class="drag-handle">
            <i class="mdi mdi-reorder-horizontal mdi-18"></i>
          </div>
        <% end %>
      </td>
      <td class="status-icon">
        <%= raw "<i class='mdi mdi-eye-off mdi-18' title='#{t("activities.index.private")}'></i>" if activity.access_private? %>
        <%= raw "<i class='mdi mdi-delete mdi-18' title='#{t("activities.index.removed")}'></i>" if activity.removed? %>
        <%= raw "<i class='mdi mdi-alert-circle mdi-18' title='#{t("activities.index.invalid")}'></i>" if activity.not_valid? %>
        <%= activity_icon(activity) %>
      </td>
      <td class="link">
        <span class="ellipsis-overflow" title="<%= activity.name %>">
          <% if local_assigns.fetch(:show_buttons_for_present, false) %>
            <%= link_to activity.name, course_series_activity_path(series.course, series, activity), target: "_blank" %>
          <% else %>
            <%= link_to activity.name, activity_path(activity), target: "_blank" %>
          <% end %>
        </span>
        <div class="text-muted ellipsis-overflow">
          <small>
            <d-filter-button param="repository_id" value="<%= activity.repository.id %>" title="<%= activity.repository.name %>: <%= activity.path %>" >
                <%= activity.repository.name %>: <%= activity.path %>
            </d-filter-button>
          </small>
        </div>
      </td>
      <td class="description-languages">
        <div class="text-muted">
          <%= raw activity.description_languages.map {|language| "<d-filter-button param='description_languages' value='#{language}' multi><span class='clickable-token' title='#{t("js.#{language}")}'>#{language}</span></d-filter-button> "}.join(", ") %>
        </div>
      </td>
      <td class="series-activities-table-labels">
        <%= render partial: 'activities/labels', locals: { activity: activity } %>
      </td>
      <% unless local_assigns.fetch(:show_buttons_for_present, false) %>
        <td>
          <%= popularity_icon(activity) %>
        </td>
      <% end %>
      <td class="actions">
        <% if local_assigns.fetch(:show_buttons_for_present, false) %>
          <a href="#" class="btn btn-icon remove-activity" title="<%= t "series.edit.remove_activity" %>" data-series_id="<%= series.id %>" data-scoped_url="<%= course_series_activity_path(series.course, series, activity)%>" data-activity_id="<%= activity.id %>" data-activity_name="<%= activity.name %>">
            <i class="mdi mdi-delete"></i>
          </a>
        <% else %>
          <a href="#" class="btn btn-icon add-activity <%= "hidden" if series.activities.include? activity %>" title="<%= t "series.edit.add_activity" %>" data-series_id="<%= series.id %>" data-scoped_url="<%= course_series_activity_path(series.course, series, activity) %>" data-activity_id="<%= activity.id %>" data-activity_name="<%= activity.name %>" data-confirm="<%= t('.course_added_to_usable') unless activity.usable_by? @series.course %>">
            <i class="mdi mdi-plus"></i>
          </a>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if local_assigns.fetch(:paginate, true) %>
  <center><%= page_navigation_links activities, true, "activities", {series_id: series.id}, "available" %></center>
<% end %>
