<% # arguments: activity (Activity), series (Series | nil), user (User) %>
<% if activity.exercise? %>
  <% submission = activity.last_submission(user, series) %>
  <% best_submission = activity.best_submission(user, series) %>
  <% if submission.present? %>
    <% if submission.accepted? %>
      <%= link_to submission, class: 'deadline-ok' do %>
        <%= t 'activities.activity.correct' %>
      <% end %>
      <% if series&.deadline? && !activity.accepted_before_deadline_for?(user, series) %>
        <%= link_to best_submission,
                    title: t('activities.activity.correct_after_deadline', deadline: l(series&.deadline, format: :long)),
                    class: 'btn btn-icon',
                    'data-bs-toggle': 'tooltip',
                    'data-bs-placement': 'right' do %>
          <i class="mdi mdi-information colored-info mdi-18"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to submission, class: "colored-wrong" do %>
        <%= t 'activities.activity.wrong' %>
      <% end %>
      <% if series&.deadline? && activity.accepted_before_deadline_for?(user, series) %>
        <%= link_to best_submission,
                    title: t('activities.activity.wrong_after_deadline', deadline: l(series.deadline, format: :long)),
                    'data-bs-toggle': 'tooltip',
                    'data-bs-placement': 'right' do %>
          <i class="mdi mdi-information colored-info mdi-18"></i>
        <% end %>
      <% elsif activity.solved_for?(user, series) %>
        <%= link_to best_submission,
                    title: t('series.show.best_is_not_last'),
                    'data-bs-toggle': 'tooltip',
                    'data-bs-placement': 'right' do %>
          <i class="mdi mdi-alert colored-warning mdi-18"></i>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <span class='text-muted'><%= t 'activities.activity.not_solved' %></span>
  <% end %>
<% elsif activity.content_page? %>
  <% if activity.accepted_for?(user, series) %>
    <span class="deadline-ok">
      <%= t 'activities.activity.read' %>
    </span>
    <% if series&.deadline? && !activity.accepted_before_deadline_for?(user, series) %>
      <span
          class="btn btn-icon"
          title="<%= t('activities.activity.read_after_deadline', deadline: l(series&.deadline, format: :long)) %>"
          data-bs-toggle="tooltip"
          data-bs-placement="right">
          <i class="mdi mdi-information colored-info mdi-18"></i>
      </span>
    <% end %>
  <% else %>
    <span class='text-muted'><%= t 'activities.activity.not_read' %></span>
  <% end %>
<% end %>
