<%= render 'navbar_links' %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <% if @activity.exercise? %>
            <i class="<%= "mdi mdi-#{@activity.programming_language&.icon} mdi-24" %>" title="<%= "#{t "activities.index.type.exercise_language", language: @activity.programming_language&.name&.titleize}" %>"></i>
          <% elsif @activity.content_page? %>
            <i class="mdi mdi-book-open-variant mdi-24" title="<%= t "activities.index.type.content" %>"></i>
          <% end %>
          &nbsp;
          <%= @activity.name %>
        </h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_activity_#{@activity.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', activity: @activity %>
      </div>
    </div>
  </div>
</div>
