<%= render 'navbar_links' %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= show_type_icon(@activity, 24) %>
          &nbsp;
          <%= @activity.name %>
        </h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_activity_#{@activity.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', activity: @activity %>
      </div>
    </div>
  </div>
</div>
