<% content_for :javascripts do %>
  <%= javascript_pack_tag 'exercise' %>
  <% if @activity.exercise? %>
    <%= javascript_pack_tag 'submission' %>
    <%= javascript_pack_tag 'pythia_submission' if @activity.judge.renderer == PythiaRenderer %>
  <% end %>
<% end %>
<%= render 'navbar_links' %>

<% if @series.present?
  previous_activity, next_activity = previous_next_activity_path(@series, @activity)
  previous_link = previous_activity || breadcrumb_series_path(@series, current_user)
  previous_tooltip = previous_activity ? t('.navigation.previous') : t('.navigation.back_to_course')
  next_link = next_activity || breadcrumb_series_path(@series, current_user)
  next_tooltip = next_activity ? t('.navigation.next') : t('.navigation.back_to_course')
end %>

<div class="row">
  <% if @activity.exercise? %>
    <%= link_to '#submission-card', class: "btn btn-lg btn-down col-sm-1 hidden-xs hidden-print", title: t('.handin') do %>
      <span class='hidden-sm'><%= t('.handin') %></span><br>
      <i class="mdi mdi-chevron-down"></i>
    <% end %>
  <% else %>
    <div class="col-sm-1 hidden-xs hidden-print">&nbsp;</div>
  <% end %>
  <div class="col-sm-10 col-xs-12">
    <div class="card activity-description">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= @activity.name %>
        </h2>
        <% if @series.present? %>
          <div class="card-title-navigation hidden-print">
            <%= link_to previous_link, class: 'btn-icon-inverted', title: previous_tooltip, data: {toggle: 'tooltip', placement: 'top'} do %>
              <i class="mdi mdi-chevron-left"></i>
            <% end %>
            <%= link_to next_link, class: 'btn-icon-inverted', title: next_tooltip, data: {toggle: 'tooltip', placement: 'top'} do %>
                <i class="mdi mdi-chevron-right"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= description_iframe @activity %>
    </div>
  </div>

  <% if @series.present? %>
    <nav class="col-md-1 hidden-xs hidden-sm hidden-print activity-sidebar">
      <ul class="nav affix">
        <li class="header ellipsis-overflow" title="<%= @series.name %>"><%= @series.name %></li>
        <% @series.activities.each do |activity| %>
          <li <%= 'class=active' if activity.id == @activity.id %>><%= link_to activity.name, activity_scoped_path(activity: activity, series: @series), class: 'ellipsis-overflow', title: activity.name %> </li>
        <% end %>
      </ul>
    </nav>
  <% end %>

</div>
<% if @activity.exercise? %>
<div class="row hidden-print">
  <a class="anchor" id="submission-card"></a>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card card-nav">
      <div class="card-title card-title-colored">
        <% if policy(@activity).submit? %>
          <div class="card-title-fab">
            <button class="btn btn-primary btn-fab mdi mdi-play mdi-36" id="editor-process-btn" data-user_id="<%= current_user.id %>">
            </button>
            <a class="btn btn-primary btn-fab hidden-fab" id="submission-copy-btn">
              <i class="mdi mdi-pencil mdi-36"></i>
            </a>
          </div>
        <% end %>
        <ul class="nav nav-tabs">
          <% if policy(@activity).submit? || !user_signed_in? %>
            <li class="active"><a href="#handin" id="activity-handin-link" data-toggle="tab"><%= t ".handin" %></a></li>
          <% end %>
          <li class="<%= 'active' if !(policy(@activity).submit? || !user_signed_in?) %>">
            <a href="#submissions" data-toggle="tab" id='activity-submission-link'><%= t ".solutions" %></a></li>
          <li><a href="#feedback" data-toggle="tab" id='activity-feedback-link' class='hidden'><%= t ".feedback" %></a>
          </li>
        </ul>
      </div>
      <div class="card-supporting-text">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="handin">
            <% if !user_signed_in? %>
              <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
            <% end %>
            <% if policy(@activity).submit? || !user_signed_in? %>
              <% if @series.present? && @series.deadline.present? %>
                <div id="deadline-info" class="alert alert-info" hidden>
                  <%= t('.deadline_in_5_minutes', deadline: @series.deadline.strftime("%R")) %>
                </div>
                <div id="deadline-warning" class="alert alert-warning" hidden>
                  <%= t('.deadline_passed', deadline: @series.deadline.today? ? @series.deadline.strftime('%R') : @series.deadline.strftime('%F %R')) %>
                </div>
              <% end %>
              <div id="editor-window" class='tex2jax_ignore'>
                <div id="editor-text"><%= @code %></div>
              </div>
              <span class="header-info-text"><i class="mdi mdi-information mdi-18"></i> <%= t ".hand_in_info" %></span>
            <% end %>
          </div>
          <div class="tab-pane fade <%= 'in active' if !(policy(@activity).submit? || !user_signed_in?) %>" id="submissions">
            <div id="submissions-table-wrapper">
              <% if !user_signed_in? %>
                <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
              <% elsif @submissions.length > 0 %>
                <%= render partial: 'submissions/submissions_table', locals: {submissions: @submissions, exercise: @activity, course: @course, user: current_user} %>
              <% else %>
                <div class="alert alert-info"><%= t ".hand_in_tooltip" %></div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade hidden" id="feedback">
            <div id="submission-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif @activity.content_page? %>
<div class="row hidden-print">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="content-page-actions">
      <% if @series.present? %>
        <%= link_to previous_link, class: 'content-page-action btn-fab-extended previous' do %>
          <i class="mdi mdi-chevron-left icon"></i><span class="text"><%= previous_tooltip %></span>
        <% end %>
      <% end %>
      <%= render partial: 'content_page_read_button', locals: {activity: @activity, course: @series&.course, user: current_user, read_state: @read_state} %>
      <% if @series.present? %>
        <%= link_to next_link, class: 'content-page-action btn-fab-extended right next' do %>
          <span class="text"><%= next_tooltip %></span>
          <i class="mdi mdi-chevron-right icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
    $(function () {
        dodona.initExerciseShow(
            <%= @activity.id %>,
            "<%= @activity.programming_language&.editor_name || "text" %>",
            <%= user_signed_in? %>,
            <%= policy(@activity).submit? || !user_signed_in? %>,
            <%= @course&.id || "null" %>,
            <%= raw "\"#{@series&.deadline&.httpdate}\"" || "null" %>
        );
    });
</script>
