<% content_for :javascripts do %>
  <%= javascript_include_tag 'exercise' %>
  <% if @activity.exercise? %>
    <%= javascript_include_tag 'submission' %>
    <script>
      window.dodona.initMathJax();
    </script>
    <script id="MathJax-script" src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'></script>
    <%= javascript_include_tag 'pythia_submission' if @activity.judge.renderer == PythiaRenderer %>
  <% end %>
<% end %>
<%= render 'navbar_links' %>

<% if @not_registered && @lti_launch %>
  <%= render 'courses/not_a_member_dialog' %>
<% end %>

<% if @series.present?
  previous_activity, next_activity = previous_next_activity_path(@series, @activity)
  previous_link = previous_activity || breadcrumb_series_path(@series, current_user)
  previous_tooltip = previous_activity ? t('.navigation.previous') : t('.navigation.back_to_course')
  next_link = next_activity || breadcrumb_series_path(@series, current_user)
  next_tooltip = next_activity ? t('.navigation.next') : t('.navigation.back_to_course')
  next_tooltip_actionable = next_activity ? t('.navigation.next_actionable') : t('.navigation.back_to_course_actionable')
end %>

<div class="row">
  <% if @activity.exercise? %>
    <div class="col-md-1 p-0">
      <%= link_to '#submission-card', class: "btn btn-lg btn-down d-none d-md-block hidden-print", title: t('.handin') do %>
        <span class='d-none d-lg-inline'><%= t('.handin') %></span><br>
        <i class="mdi mdi-chevron-down"></i>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-1 d-none d-md-block hidden-print">&nbsp;</div>
  <% end %>
  <div class="col-md-10 col-12">
    <div class="card activity-description">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= activity_icon(@activity, 24) %>
          &nbsp;
          <%= @activity.numbered_name(@series) %>
        </h2>
        <% if @series.present? %>
          <div class="card-title-navigation hidden-print">
            <%= link_to previous_link, class: 'btn-icon-inverted', title: previous_tooltip, data: {'bs-toggle': 'tooltip', placement: 'top'} do %>
              <i class="mdi mdi-chevron-left"></i>
            <% end %>
            <%= link_to next_link, class: 'btn-icon-inverted', title: next_tooltip, data: {'bs-toggle': 'tooltip', placement: 'top', title: next_tooltip_actionable}, id: 'next-exercise-link' do %>
                <i class="mdi mdi-chevron-right"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= description_iframe @activity %>
    </div>
  </div>

  <% if @series.present? %>
    <nav class="col-md-1 d-none d-md-block hidden-print activity-sidebar">
      <ul class="nav affix">
        <li class="header ellipsis-overflow" title="<%= @series.name %>"><%= @series.name %></li>
        <% @series.activities.each_with_index do |activity, index| %>
          <% numbered_name = @series.activity_numbers_enabled? ? "#{index + 1}. #{activity.name}" : activity.name %>
          <li><%= link_to numbered_name, activity_scoped_path(activity: activity, series: @series), class: "ellipsis-overflow #{' active' if activity.id == @activity.id }", title: activity.name %> </li>
        <% end %>
      </ul>
    </nav>
  <% end %>

</div>
<% if @activity.exercise? %>
<div class="row hidden-print">
  <a class="anchor" id="submission-card"></a>
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card card-nav">
      <div class="card-title card-title-colored">
        <% if policy(@activity).submit? %>
          <div class="card-title-fab">
            <button class="btn btn-primary btn-fab mdi mdi-send mdi-36" id="editor-process-btn" data-user_id="<%= current_user.id %>">
            </button>
            <a class="btn btn-primary btn-fab hidden-fab" id="submission-copy-btn">
              <i class="mdi mdi-pencil mdi-36"></i>
            </a>
          </div>
        <% end %>
        <ul class="nav nav-tabs">
          <% if policy(@activity).submit? || !user_signed_in? %>
            <li><a href="#handin" id="activity-handin-link" data-bs-toggle="tab" class="active"><%= t ".handin" %></a></li>
          <% end %>
          <li>
            <a href="#submissions" data-bs-toggle="tab" id='activity-submission-link' class="<%= 'active' if !(policy(@activity).submit? || !user_signed_in?) %>"><%= t ".solutions" %></a></li>
          <li><a href="#feedback" data-bs-toggle="tab" id='activity-feedback-link' class='hidden'><%= t ".feedback" %></a>
          </li>
        </ul>
      </div>
      <div class="card-supporting-text">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="handin">
            <% if !user_signed_in? %>
              <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
            <% end %>
            <% if policy(@activity).submit? || !user_signed_in? %>
              <% if @series.present? && @series.deadline.present? %>
                <div id="deadline-info" class="alert alert-info" hidden>
                  <%= t('.deadline_in_5_minutes', deadline: @series.deadline.strftime("%R")) %>
                </div>
                <div id="deadline-warning" class="alert alert-warning" hidden>
                  <%= t('.deadline_passed', deadline: @series.deadline.today? ? @series.deadline.strftime('%R') : @series.deadline.strftime('%F %R')) %>
                </div>
              <% end %>
              <div id="editor-window" class='tex2jax_ignore'>
                <div id="editor-text"><%= @code %></div>
              </div>
              <span class="header-info-text"><i class="mdi mdi-information mdi-18"></i> <%= t ".hand_in_info" %></span>
            <% end %>
          </div>
          <div class="tab-pane fade <%= 'show active' if !(policy(@activity).submit? || !user_signed_in?) %>" id="submissions">
            <div id="submissions-table-wrapper">
              <% if !user_signed_in? %>
                <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
              <% elsif @submissions.length > 0 %>
                <%= render partial: 'submissions/submissions_table', locals: {submissions: @submissions, exercise: @activity, course: @course, user: current_user} %>
              <% else %>
                <div class="alert alert-info"><%= t ".hand_in_tooltip" %></div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade hidden" id="feedback">
            <div id="submission-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif @activity.content_page? %>
<div class="row hidden-print">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="content-page-actions">
      <% if @series.present? %>
        <%= link_to previous_link, class: 'content-page-action btn-fab-extended previous' do %>
          <i class="mdi mdi-chevron-left icon"></i><span class="text"><%= previous_tooltip %></span>
        <% end %>
      <% end %>
      <span class="gap"></span>
      <%= render partial: 'content_page_read_button', locals: {activity: @activity, course: @course, user: current_user, read_state: @read_state} %>
      <span class="gap"></span>
      <% if @series.present? %>
        <%= link_to next_link, class: 'content-page-action btn-fab-extended right next' do %>
          <span class="text"><%= next_tooltip %></span>
          <i class="mdi mdi-chevron-right icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% if @activity.exercise? && @activity.programming_language&.name == 'python' %>
  <%= render partial: 'coding_scratchpad', locals: {activity: @activity} %>
<% end %>
<script type="text/javascript">
    $(function () {
        dodona.initExerciseShow(
            <%= @activity.id %>,
            "<%= @activity.programming_language&.editor_name || "text" %>",
            <%= user_signed_in? %>,
            <%= policy(@activity).submit? || !user_signed_in? %>,
            <%= @course&.id || "null" %>,
            <%= raw "\"#{@series&.deadline&.httpdate}\"" || "null" %>,
            "<%= submissions_url %>"
        );
    });
</script>
