<% content_for :javascripts do %>
  <%= javascript_include_tag 'exercise' %>
  <% if @activity.exercise? %>
    <%= javascript_include_tag 'submission' %>
    <script>
      window.dodona.initMathJax();
    </script>
    <script id="MathJax-script" src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'></script>
  <% end %>
<% end %>
<% content_for :container_class do %>container-fluid<% end %>


<% if @not_registered && @lti_launch %>
  <%= render 'courses/not_a_member_dialog' %>
<% end %>

<% if @series.present?
  previous_activity, next_activity = previous_next_activity_path(@series, @activity)
  previous_link = previous_activity || breadcrumb_series_path(@series, current_user)
  previous_tooltip = previous_activity ? t('.navigation.previous') : t('.navigation.back_to_course')
  next_link = next_activity || breadcrumb_series_path(@series, current_user)
  next_tooltip = next_activity ? t('.navigation.next') : t('.navigation.back_to_course')
  next_tooltip_actionable = next_activity ? t('.navigation.next_actionable') : t('.navigation.back_to_course_actionable')
end %>

<%= render partial: 'draft_notice' %>

<% if @activity.draft? && @activity.exercise? && @activity.judge.deprecated? %>
  <div class="callout callout-info">
    <h4>
      <i class="mdi mdi-lightbulb-outline"></i>
      <%= t '.tips.title' %>
    </h4>
    <p>
      <%= t '.tips.deprecated_judge_html', judge: @activity.judge.name %>
    </p>
  </div>
<% end %>

<div class="row">
  <% if @series.present? %>
    <nav class="d-none d-md-block hidden-print" style="width: 12%">
      <h1 class="drawer-group-title" title="<%= @series.name %>"><%= @series.name %></h1>
      <ul class="drawer-list">
        <% @series.activities.each_with_index do |activity, index| %>
          <% numbered_name = @series.activity_numbers_enabled? ? "#{index + 1}. #{activity.name}" : activity.name %>
          <li class="drawer-item">
            <%= link_to activity_scoped_path(activity: activity, series: @series), class: "drawer-list-item #{' active' if activity.id == @activity.id }", title: activity.name do %>
              <%= activity_icon(activity, 18) %>
              <%= numbered_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
  <div class="col-lg-5 col-md-10">
        <h2>
          <%= activity_icon(@activity, 24) %>
          &nbsp;
          <%= @activity.numbered_name(@series) %>
        </h2>
      <%= description_iframe @activity %>
  </div>
  <div class="col-lg-5 col-md-10">
    <div class="card-tab">
      <ul class="nav nav-tabs">
        <% if policy(@activity).submit? || !user_signed_in? %>
          <li class="nav-item"><a href="#handin" id="activity-handin-link" data-bs-toggle="tab" class="nav-link active"><%= t ".handin" %></a></li>
        <% end %>
        <li class="nav-item">
          <a href="#submissions" data-bs-toggle="tab" id='activity-submission-link' class="nav-link <%= 'active' if !(policy(@activity).submit? || !user_signed_in?) %>"><%= t ".solutions" %></a></li>
        <li class="nav-item"><a href="#feedback" data-bs-toggle="tab" id='activity-feedback-link' class='nav-link'><%= t ".feedback" %></a>
        </li>
        <li class="nav-item">
          <a href="#information" data-bs-toggle="tab" id='activity-feedback-link' class='nav-link'>
            <i class="mdi mdi-school mdi-18"></i>
            Informatie
          </a>
        </li>
      </ul>
    </div>
        <div class="card-supporting-text">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="handin">
              <% if !user_signed_in? %>
                <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
              <% end %>
              <% if policy(@activity).submit? || !user_signed_in? %>
                <% if @series.present? && @series.deadline.present? %>
                  <div id="deadline-info" class="alert alert-info" hidden>
                    <%= t('.deadline_in_5_minutes', deadline: @series.deadline.strftime("%R")) %>
                  </div>
                  <div id="deadline-warning" class="alert alert-warning" hidden>
                    <%= t('.deadline_passed', deadline: @series.deadline.today? ? @series.deadline.strftime('%R') : @series.deadline.strftime('%F %R')) %>
                  </div>
                <% end %>
                <% if !@edit_submission && !@solution && @last_submission %>
                  <div class="callout callout-info mt-0" id="restore-boilerplate">
                    <%= t ".preloaded_info" %>
                    <a class="link-primary">
                      <%= t(@activity.boilerplate ? ".preloaded_restore" : ".preloaded_clear") %>
                    </a>
                  </div>
                <% end %>
                <div id="editor-window" class='tex2jax_ignore'>
                  <div class="highlighter-rouge" id="editor-text"><%= @code %></div>
                </div>
                <div class="header-info-text mt-1"><i class="mdi mdi-information mdi-18"></i> <%= t ".hand_in_info" %></div>
                <div class="float-end mt-1">
                  <% if @activity.exercise? && @activity.programming_language&.name == 'python' %>
                  <span data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-trigger="hover"
                        data-bs-delay='{"show": 500, "hide": 0}'
                        title="<%= t '.sandbox_tooltip' %>">
                    <button class="btn btn-outline with-icon"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#scratchpad-offcanvas"
                            aria-controls="scratchpad-offcanvas"
                            id="scratchpad-offcanvas-show-btn">
                      <i class="mdi mdi-clipboard-arrow-right-outline"></i>
                      <%= t '.to_sandbox' %>
                    </button>
                  </span>
                    <button class="btn btn-filled with-icon">
                      <i class="mdi mdi-send"></i>
                      Submit
                    </button>
                    <script type="text/javascript">
                      dodona.ready.then(function () {
                        dodona.initCodingScratchpad(
                          "<%= escape_javascript @activity.programming_language&.name %>"
                        );
                      });
                    </script>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade <%= 'show active' if !(policy(@activity).submit? || !user_signed_in?) %>" id="submissions">
              <%= render partial: 'layouts/searchbar', locals: {statuses: Submission.statuses.keys, refresh_element: "#refresh_element"} %>
              <div id="submissions-table-wrapper">
                <% if !user_signed_in? %>
                  <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
                <% elsif @submissions.length > 0 %>
                  <%= render partial: 'submissions/submissions_table', locals: {submissions: @submissions, exercise: @activity, course: @course, user: current_user} %>
                <% else %>
                  <div class="alert alert-info"><%= t ".hand_in_tooltip" %></div>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade hidden" id="feedback">
              <div id="submission-wrapper"></div>
            </div>
            <div class="tab-pane fade" id="information">
              <%= render partial: "info" %>
            </div>
          </div>
        </div>
      </div>
</div>
<% if @activity.exercise? %>

<% elsif @activity.content_page? %>
<div class="row hidden-print">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="content-page-actions">
      <% if @series.present? %>
        <%= link_to previous_link, class: 'content-page-action btn btn-text with-icon previous' do %>
          <i class="mdi mdi-chevron-left icon"></i><span class="text"><%= previous_tooltip %></span>
        <% end %>
      <% end %>
      <span class="gap"></span>
      <%= render partial: 'content_page_read_button', locals: {activity: @activity, course: @course, user: current_user, read_state: @read_state} %>
      <span class="gap"></span>
      <% if @series.present? %>
        <%= link_to next_link, class: 'content-page-action btn btn-text with-icon right next' do %>
          <span class="text"><%= next_tooltip %></span>
          <i class="mdi mdi-chevron-right icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% if @activity.exercise? && @activity.programming_language&.name == 'python' %>
  <%= render partial: 'coding_scratchpad', locals: {activity: @activity} %>
<% end %>
<script type="text/javascript">
    dodona.ready.then(async function() {
        await dodona.initExerciseShow(
            <%= @activity.id %>,
            "<%= @activity.programming_language&.editor_name || "text" %>",
            <%= user_signed_in? %>,
            <%= policy(@activity).submit? || !user_signed_in? %>,
            <%= @course&.id || "null" %>,
            <%= raw "\"#{@series&.deadline&.httpdate}\"" || "null" %>,
            "<%= submissions_url %>",
            `<%= escape_javascript (@activity.exercise? && @activity.boilerplate)|| "" %>`,
        );
    });
</script>
