<% review_pointers = @review.siblings %>

<div>
  <%= link_to edit_review_path(@review), class: "btn btn-text btn-primary" do %>
    <%= t("reviews.edit.short_title") %>
  <% end %>
</div>

<div class="routing-actions">
  <div class="routing-action by-id">
    <h4><%= t('.category.id') %></h4>
    <%= review_action_button t('.direction.prev'), review_pointers[:id][:prev] %>
    <%= review_action_button t('.direction.next'), review_pointers[:id][:next] %>
  </div>

  <div class="routing-action by-user">
    <h4><%= t('.category.user') %></h4>
    <%= review_action_button t('.direction.prev'), review_pointers[:user][:prev] %>
    <%= review_action_button t('.direction.next'), review_pointers[:user][:next] %>
  </div>

  <div class="routing-action by-exercise">
    <h4><%= t('.category.exercise') %></h4>
    <%= review_action_button t('.direction.prev'), review_pointers[:exercise][:prev] %>
    <%= review_action_button t('.direction.next'), review_pointers[:exercise][:next] %>
  </div>
</div>

<div class="review-actions card-border">
  <h4><%= t('.completed.button.header') %></h4>
  <%= form_for @review do |f| %>
    <%= f.hidden_field :completed, value: !@review.completed %>
    <% state = !@review.completed ? "completed": "unfinished" %>
    <%= f.submit t(".completed.button.#{state}"), class: "btn btn-text" %>
  <% end %>
</div>
