<% content_for :javascripts do %>
  <%= javascript_pack_tag 'review' %>
<% end %>

<% review_pointers = @review.siblings %>
<div class="card-supporting-text">
  <div class="routing-actions">
    <div class="page-subtitle">
      <h4><%= t('.category.user') %></h4>
      <div class="flex-spacer"></div>
      <% metadata = @review.review_user.metadata %>
      <span class="review-actions-progress" data-html="true" data-toggle="tooltip" title="<%= t('review_sessions.show.progress.finished', review_count: metadata[:done]) %> <%= t('review_sessions.show.progress.unfinished', review_count: (metadata[:total] - metadata[:done])) %>">
        <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
          <line x1="0" y1="0.5" x2="<%= metadata[:done].to_f / metadata[:total] %>" y2="0.5" class="correct"></line>
          <line x1="<%= metadata[:done].to_f / metadata[:total] %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
        </svg>
      </span>
    </div>
    <%= review_action_button t('.direction.prev'), review_pointers[:user][:prev] %>
    <%= review_action_button t('.direction.random'), review_pointers[:user][:random] %>
    <%= review_action_button t('.direction.next'), review_pointers[:user][:next] %>

    <div class="page-subtitle">
      <h4><%= t('.category.exercise') %></h4>
      <div class="flex-spacer"></div>
      <% metadata = @review.review_exercise.metadata %>
      <span class="review-actions-progress" data-html="true" data-toggle="tooltip" title="<%= t('review_sessions.show.progress.finished', review_count: metadata[:done]) %> <%= t('review_sessions.show.progress.unfinished', review_count: (metadata[:total] - metadata[:done])) %>">
        <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
          <line x1="0" y1="0.5" x2="<%= metadata[:done].to_f / metadata[:total] %>" y2="0.5" class="correct"></line>
          <line x1="<%= metadata[:done].to_f / metadata[:total] %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
        </svg>
      </span>
    </div>
    <%= review_action_button t('.direction.prev'), review_pointers[:exercise][:prev] %>
    <%= review_action_button t('.direction.random'), review_pointers[:exercise][:random] %>
    <%= review_action_button t('.direction.next'), review_pointers[:exercise][:next] %>
  </div>
</div>

<div class="card-supporting-text card-border">
  <%= form_for @review, remote: true do |f| %>
    <center>
      <div class="form-group">
        <% state = !@review.completed ? "completed": "unfinished" %>
        <%= f.submit t(".completed.button.#{state}"), class: "btn btn-primary btn-text" %>
      </div>
    </center>
    <%= f.hidden_field :completed, value: !@review.completed %>
    <div class="form-group">
      <input id="auto-mark" type="checkbox" name="auto_mark" <%= "checked" if @auto_mark %>>
      <label class="checkbox-label" for="auto-mark"><%= t('.automatically_mark') %></label>
      <span class="help-block"><%= t(".auto-mark-help") %></span>
    </div>
  <% end %>
</div>
<script>
  $(() => window.dodona.interceptNavClicks("<%= review_url(@review, review: { completed: true }) %>"))
</script>
