<% content_for :javascripts do %>
  <%= javascript_pack_tag 'review' %>
<% end %>

<% review_pointers = @review.siblings %>
<div class="routing-actions">
  <h4><%= t('.progress') %></h4>
  <% metadata = @review.review_session.metadata %>
  <span data-html="true" data-toggle="tooltip" title="<%= t('review_sessions.show.progress.finished', review_count: metadata[:done]) %> <%= t('review_sessions.show.progress.unfinished', review_count: (metadata[:total] - metadata[:done])) %>">
    <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
      <line x1="0" y1="0.5" x2="<%= metadata[:done].to_f / metadata[:total] %>" y2="0.5" class="correct"></line>
      <line x1="<%= metadata[:done].to_f / metadata[:total] %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
    </svg>
  </span>

  <h4><%= t('.category.user') %></h4>
  <%= review_action_button t('.direction.prev'), review_pointers[:user][:prev] %>
  <%= review_action_button t('.direction.next'), review_pointers[:user][:next] %>

  <h4><%= t('.category.exercise') %></h4>
  <%= review_action_button t('.direction.prev'), review_pointers[:exercise][:prev] %>
  <%= review_action_button t('.direction.next'), review_pointers[:exercise][:next] %>
</div>

<div class="review-actions card-border">
  <h4><%= t('.completed.button.header') %></h4>
  <%= form_for @review, remote: true do |f| %>
    <%= f.hidden_field :completed, value: !@review.completed %>
    <input id="auto-mark" type="checkbox" name="auto_mark" <%= "checked" if @auto_mark %>>
    <label class="checkbox-label" for="auto-mark"><%= t('.automatically_mark') %></label>
    <% state = !@review.completed ? "completed": "unfinished" %>
    <%= f.submit t(".completed.button.#{state}"), class: "btn btn-text" %>
  <% end %>
</div>
<script>
  $(() => window.dodona.interceptNavClicks("<%= review_url(@review, review: { completed: true }) %>"))
</script>
