<% if review.submission.present? %>
  <div class="review-metadata-submission">
    <h4><%= t('.submission.title') %></h4>
    <p>
    <%= t('.submission.time.html', time_ago: time_ago_in_words(review.submission.created_at), made_on: l(review.submission.created_at), format: :short) %>

    </p>
    <% ttd = review.time_to_deadline %>
    <% if ttd[:deadline].present? %>
      <p>
      <%= t('.submission.time_to_series_deadline.html', time_ago: distance_of_time_in_words(ttd[:submission_time], ttd[:deadline])) %>
      </p>
    <% end %>

    <p>
    <%= t('.submission.previous_attempts.html', count: review.previous_attempts) %>
    </p>
  </div>
<% end %>

<div class="review-metadata-session">
  <h4><%= t('.session.title') %></h4>

  <% meta = review.session_metadata %>

  <p>
    <%= t('.session.remaining_exercise.html', count: meta[:exercise_remaining]) %>
  </p>

  <p>
    <%= t('.session.remaining_user.html', count: meta[:user_remaining]) %>
  </p>

  <p>
    <%= t('.session.remaining.html', count: meta[:remaining])%>
    <% total = meta[:total] %>
    <% done = total - meta[:remaining] %>
    <span data-html="true" data-toggle="tooltip" title="<%= t('.session.progress.finished', review_count: done) %><br><%= t('.session.progress.unfinished', review_count: meta[:remaining]) %>">
      <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
        <line x1="0" y1="0.5" x2="<%= done.to_f / total %>" y2="0.5" class="correct"></line>
        <line x1="<%= done.to_f / total %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
      </svg>
    </span>
  </p>
</div>
