<div class="card">

  <div class="card-title card-title-colored">
    <h2 class="card-title-text"><%= t('review.overview.title') %></h2>
  </div>

  <div class="card-supporting-text">
    <table class="table table-resource">
      <thead>
      <tr>
        <td><%= t('exercises.index.exercise') %></td>
        <td><%= t('review.overview.annotations.count') %></td>
        <%# TODO: Add score here %>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <% @reviewed_submissions.each do |review| %>
        <tr>
          <td>
            <%= review.review_exercise.exercise.name %>
          </td>
          <td>
            <%= t("review.overview.annotations.amount", count: review.submission.annotations.count) %>
          </td>
          <td>
            <%= link_to submission_path(review.submission, anchor: 'code') do %>
              <i class="mdi mdi-chevron-right mdi-18"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
