<% content_for :javascripts do %>
  <%= javascript_pack_tag 'reviews' %>
  <%= javascript_pack_tag 'submission' %>
<% end %>

<% content_for :container_class do %>container-fluid
<% end %>

<div class="row" id="review-page">
  <div class="col-xs-12 col-md-push-9 col-md-3 review-metadata">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('review.action.title') %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <%= render 'reviews/fragment/review_actions', review_session: @review.review_session, review: @review %>
      </div>
    </div>
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('review.metadata.title') %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <%= render 'reviews/fragment/review_metadata', review: @review %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-pull-3 col-md-9 review-submission">
    <div class="card review-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('review.title', submission_id: @review.submission.id) %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <div class="code-table" data-submission-id="<%= @review.submission.id %>">
          <%== FeedbackTableRenderer.new(@review.submission, current_user).parse %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(() => window.dodona.codeListing.setReviewSession(<%= @review.review_session.id %>));
</script>
