<% content_for :javascripts do %>
  <%= javascript_pack_tag 'submission' %>
<% end %>

<% content_for :container_class do %>container-fluid<% end %>

<div class="row" id="review-page">
  <div class="col-xs-12 col-md-push-9 col-md-3 review-metadata">
    <div class="card review-actions-holder">
      <%= render partial: 'review_actions', locals: { review_session: @review.review_session, review: @review } %>
    </div>
  </div>
  <div class="col-xs-12 col-md-pull-3 col-md-9 review-submission">
    <div class="card review-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t '.submission_for_by', for: @review.exercise.name, by: @review.user.full_name %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <div class="pull-right">
          <% if @review.submission.present? %>
            <div class="review-metadata-submission">
              <p><%= t('.submission.previous_attempts_html', count: @review.previous_attempts) %></p>
            </div>
          <% end %>
          <div class="pull-right">
            <%= link_to edit_review_path(@review), class: "btn btn-text" do %>
              <%= t("reviews.edit.short_title") %>
            <% end %>
          </div>
        </div>
        <% if @review.submission.present? %>
          <% submission = @review.submission %>
          <div class="submission-summary clearfix">
            <span class='status-icon pull-left'><%= submission_status_icon(submission, 36) %></span>
            <span class="status-line">
              <%= Submission.human_enum_name(:status, submission.status) %>
              <% if submission.summary.present? and submission.summary.downcase != Submission.human_enum_name(:status, submission.status).downcase %>
                &middot; <span class='text-muted'><%= submission.summary %></span>
              <% end %>
            </span>
            <span class="by-line">
              <span class="text-muted small"><%= l submission.created_at, format: :submission %></span>
            </span>
          </div>
          <div class="code-table" data-submission-id="<%= @review.submission.id %>">
            <%= @review.submission.judge.renderer.new(@review.submission, current_user).parse %>
          </div>
        <% else %>
          <%= t('.no_linked_submission') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @review.submission.present? %>
  <script>
    $(() => window.dodona.codeListing.setReviewSession(<%= @review.review_session.id %>));
  </script>
<% end %>
