<div class="card-supporting-text">
  <% if exercise.removed? %>
    <div class="alert alert-info"><%= t "exercises.show.alert_removed" %></div>
  <% elsif exercise.not_valid? %>
    <div class="alert alert-info"><%= t "exercises.show.alert_not_valid" %></div>
  <% else %>
    <% description, footnotes, first_image = exercise_description_footnotes_and_first_image(exercise) %>
    <% content_for :meta_tags do %>
      <% if first_image.present? %>
        <meta property="og:image" content="<%= first_image %>">
      <% end %>
    <% end %>
    <%= description %>
  <% end %>
  <footer class="footnote-links visible-print">
    <% if footnotes&.any? %>
      <h4>Links</h4>
      <% footnotes.each do |index, url| %>
        <%= link_to "[#{index}]: #{url}", url %><br/>
      <% end %>
    <% end %>
  </footer>
</div>
