<%
if user_signed_in?
  accepted_before_deadline = exercise.accepted_for(current_user, series.try(:deadline), @course)
  accepted_without_deadline = if series.try(:deadline).nil?
    accepted_before_deadline
  else
    exercise.accepted_for(current_user, nil, @course)
  end
end
%>
<tr>
  <td>
    <% if user_signed_in? && current_user.admin? %>
      <%= raw "<span class='glyphicon glyphicon-eye-close' title='#{t("exercises.index.hidden")}'></span>" if exercise.hidden? %>
      <%= raw "<span class='glyphicon glyphicon-ban-circle' title='#{t("exercises.index.closed")}'></span>" if exercise.closed? %>
      <%= raw "<span class='glyphicon glyphicon-trash' title='#{t("exercises.index.removed")}'></span>" if exercise.removed? %>
      <%= raw "<span class='glyphicon glyphicon-exclamation-sign' title='#{t("exercises.index.invalid")}'></span>" if exercise.not_valid? %>
    <% end %>
    <% if user_signed_in? && !current_user.admin? %>
      <% if accepted_without_deadline == true %>
        <span class="glyphicon glyphicon-ok <%= accepted_before_deadline ? 'colored-correct' : 'colored-wrong' %>"></span>
      <% elsif accepted_without_deadline == false %>
        <span class="glyphicon glyphicon-remove colored-wrong"></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to exercise.name, @course.nil? ? exercise_path(exercise) : course_exercise_path(@course, exercise) %>
  </td>
  <td class='text-right'>
    <% if @course.nil? %>
      <span title="<%= t ".count_tooltip" %>"><%= exercise.users_correct %>/<%= exercise.users_tried %></span>
    <% else %>
      <% membership = SeriesMembership.except(:order).find_by(series_id: series.id, exercise_id: exercise.id) %>
      <span title="<%= t ".count_tooltip" %>"><%= membership.cached_users_correct %>/<%= membership.cached_users_tried %></span>
    <% end %>
  </td>
  <% if user_signed_in? %>
    <td>
      <% if series && series.deadline? && series.deadline < Time.now # deadline passed %>
        <% if accepted_before_deadline %>
          <%= link_to t(".correct"), exercise.last_submission(current_user, series.deadline, @course), class: 'deadline-ok' %>
        <% else %>
          <span class='deadline-passed'><%= t "series.show.missed_deadline" %></span>
        <% end %>
      <% else # no or future deadline %>
        <% if accepted_without_deadline == true %>
          <%= link_to t(".correct"), exercise.last_submission(current_user, nil, @course) %>
        <% elsif accepted_without_deadline == false %>
          <%= link_to t(".wrong"), exercise.last_submission(current_user, nil, @course) %>
          <% if !exercise.best_is_last_submission?(current_user, nil, @course) %>
            <%= link_to exercise.best_submission(current_user, nil, @course), title: t("series.show.best_is_not_last"), class: "btn btn-icon" do %>
              <span class='glyphicon glyphicon-exclamation-sign colored-warning'></span>
            <% end %>
          <% end %>
        <% else %>
          <%= t ".not_solved" %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if exercise.number_of_submissions_for(current_user, @course).positive? || current_user.admin? %>
        <%= link_to exercise_submissions_path(exercise, course_id: @course.try(:id)), title: t("layout.menu.my_submissions"), class: "btn btn-icon" do %>
          <span class='glyphicon glyphicon-chevron-right'></span>
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>
