<tr>
  <td>
    <%= link_to exercise.name.titleize, exercise_path(exercise) %>
  </td>
  <td>
    <span title="<%= t ".count_tooltip" %>"><%= exercise.users_correct %>/<%= exercise.users_tried %></span>
  </td>
  <% if user_signed_in? %>
  <td>
    <% if :correct == exercise.status_for(current_user) %>
      <%= link_to t(".correct"), exercise.last_correct_submission(current_user) %>
    <% elsif :wrong == exercise.status_for(current_user) %>
      <%= link_to t(".wrong"), exercise.last_submission(current_user) %>
    <% else %>
      <%= t ".not_solved" %>
    <% end %>
  </td>
  <% end %>
</tr>
