<% get_exercise_path ||= method(:exercise_path) %>
<% if defined? user
     user = user || current_user
   else
     user = current_user
   end %>
<% summary ||= SeriesSummary.new(
    user: user,
    series: local_assigns[:series],
    exercises: local_assigns[:exercises]) %>

<div class="table-scroll-wrapper">
  <table class="table exercise-table table-resource">
    <thead>
    <tr>
      <th class='status-icon'></th>
      <th><%= t "exercises.index.exercise" %></th>
      <th class='count'></th>
      <% if user_signed_in? %>
        <th class='status ellipsis-overflow' title="<%= t "exercises.index.status" %>"><%= t "exercises.index.status" %></th>
        <th class='status-icon'></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% summary.exercise_summaries.each do |ex| %>
      <tr>
        <td class='status-icon'>
          <% if user_signed_in? %>
            <% if current_user.repository_admin?(ex.exercise.repository) || current_user.course_admin?(@course) %>
              <%= render partial: 'exercises/repository_status', locals: {exercise: ex.exercise, series: local_assigns[:series]} %>
            <% end %>
            <%= render partial: 'exercises/user_status_icon', locals: {summary: ex} %>
          <% end %>
        </td>

        <td>
          <% if ex.exercise.accessible?(current_user, @course) %>
            <%= link_to ex.exercise.name, get_exercise_path.call(ex.exercise) %>
          <% else %>
            <%= ex.exercise.name %>
          <% end %>
        </td>

        <td class='text-right'>
          <%= content_tag :span, title: t('exercises.exercise.count_tooltip'), class: "text-muted" do %>
            <%= ex.users_correct %>/<%= ex.users_tried %>
          <% end %>
        </td>

        <% if user_signed_in? %>
          <td>
            <%= render partial: 'exercises/user_status', locals: {summary: ex} %>
          </td>
          <td>
            <% if ex.submitted? || current_user.course_admin?(local_assigns[:series]&.course) %>
              <% options = current_user == user ? {} : {user_id: user.id} %>
              <%= link_to submissions_scoped_path(exercise: ex.exercise, course: ex.series&.course, series: ex.series, options: options),
                          title: t('layout.menu.my_submissions'),
                          class: 'btn-icon' do %>
                <i class="material-icons md-18">chevron_right</i>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<center><%= page_navigation_links exercises, true, "exercises" if exercises.try(:total_pages) %></center>
