<%
if user_signed_in?
  exercise_status_with_deadline = exercise.status_for(current_user, series.try(:deadline))
  exercise_status_without_deadline = if exercise_status_with_deadline == :correct || series.try(:deadline).nil?
    exercise_status_with_deadline
  else
    exercise.status_for(current_user)
  end
end
%>
<tr>
  <td>
    <% if user_signed_in? && current_user.admin? %>
      <%= raw "<span class='glyphicon glyphicon-eye-close' title='#{t("exercises.index.hidden")}'></span>" if exercise.hidden? %>
      <%= raw "<span class='glyphicon glyphicon-ban-circle' title='#{t("exercises.index.closed")}'></span>" if exercise.closed? %>
      <%= raw "<span class='glyphicon glyphicon-trash' title='#{t("exercises.index.removed")}'></span>" if exercise.removed? %>
      <%= raw "<span class='glyphicon glyphicon-exclamation-sign' title='#{t("exercises.index.invalid")}'></span>" if exercise.not_valid? %>
    <% end %>
    <% if user_signed_in? && !current_user.admin? %>
      <% if exercise_status_without_deadline == :correct %>
        <span class="glyphicon glyphicon-ok <%= exercise_status_with_deadline == :correct ? 'colored-correct' : 'colored-wrong' %>"></span>
      <% elsif exercise_status_without_deadline == :wrong %>
        <span class="glyphicon glyphicon-remove colored-wrong"></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to exercise.name, exercise_path(exercise) %>
  </td>
  <td class='text-right'>
    <% if @course.nil? %>
      <span title="<%= t ".count_tooltip" %>"><%= exercise.users_correct %>/<%= exercise.users_tried %></span>
    <% else %>
      <% membership = SeriesMembership.except(:order).find_by(series_id: series.id, exercise_id: exercise.id) %>
      <span title="<%= t ".count_tooltip" %>"><%= membership.cached_users_correct %>/<%= membership.cached_users_tried %></span>
    <% end %>
  </td>
  <% if user_signed_in? %>
    <td>
      <% if series && series.deadline? && series.deadline < Time.now %>
        <% if :correct == exercise_status_with_deadline %>
          <%= link_to t(".correct"), exercise.last_correct_submission(current_user, series.deadline), class: 'deadline-ok' %>
        <% else %>
          <span class='deadline-passed'><%= t "series.show.missed_deadline" %></span>
        <% end %>
      <% else %>
        <% if :correct == exercise_status_without_deadline %>
          <%= link_to t(".correct"), exercise.last_correct_submission(current_user) %>
        <% elsif :wrong == exercise_status_without_deadline %>
          <%= link_to t(".wrong"), exercise.last_submission(current_user) %>
        <% else %>
          <%= t ".not_solved" %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if exercise.number_of_submissions_for(current_user).positive? || current_user.admin? %>
        <%= link_to exercise_submissions_path(exercise, course_id: @course.try(:id)), title: t("layout.menu.my_submissions"), class: "btn btn-icon" do %>
          <span class='glyphicon glyphicon-chevron-right'></span>
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>
