<% content_for :javascripts do %>
  <% javascript_pack_tag 'exercise' %>
<% end %>
<%= form_for(exercise, :url => exercise_scoped_path(exercise: exercise, course: @course, series: @series), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if exercise.errors.any? %>
   <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => exercise.errors.count) %></h4>
      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name_nl, :class => "col-sm-3 col-xs-12 control-label" %>
    <div class="col-sm-6 col-xs-12"><%= f.text_field :name_nl, class: "form-control", disabled: !f.permission?(:name_nl) %></div>
  </div>
  <div class="field form-group">
    <%= f.label :name_en, :class => "col-sm-3 col-xs-12 control-label" %>
    <div class="col-sm-6 col-xs-12"><%= f.text_field :name_en, class: "form-control", disabled: !f.permission?(:name_en) %></div>
  </div>
  <div class="field form-group">
    <%= f.label :access, :class => "col-sm-3 col-xs-12 control-label" %>
    <div class="col-sm-6 col-xs-12"><%= f.select :access, Exercise.accesses.map {|key, value| [Exercise.human_enum_name(:access, key), key]}, {}, {:class => 'form-control'} %></div>
  </div>
  <div class="field form-group">
    <%= f.label :labels, :class => "col-sm-3 col-xs-12 control-label" %>
    <div class="col-sm-6 col-xs-12"><%= f.text_field :labels, class: 'form-control', disable: !f.permission?(:labels), value: exercise.labels.map(&:name).join(','), placeholder: t(".labels") %></div>
    <span class="help-block col-sm-offset-3 col-sm-6 col-xs-12"><%= t '.labels_delimiter' %></span>
  </div>
<% end %>
<script>
    dodona.initLabelsEdit(<%= raw render template: 'labels/index', formats: :json %>, <%= raw (exercise.merged_dirconfig['labels'] || []).to_json %>);
</script>
