<%= form_for(exercise, :url => exercise_path(exercise), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.validation_errors', :count => exercise.errors.count) %></h2>
      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name_nl, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4"><%= f.text_field :name_nl, class: "form-control" , disabled: !f.permission?(:name_nl) %></div>
  </div>
  <div class="field form-group">
    <%= f.label :name_en, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4"><%= f.text_field :name_en, class: "form-control" , disabled: !f.permission?(:name_en) %></div>
  </div>
  <div class="field form-group">
    <%= f.label :access, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4"><%= f.select :access, Exercise.accesses.map { |key, value| [Exercise.human_enum_name(:access, key), key] }, {}, { :class => 'form-control' } %></div>
  </div>
  <div class="field form-group">
    <%= f.label :tags, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4"><%= f.select :tags, Tag.all.map { |tag| [tag.name, tag.id] }, {selected: exercise.tags.map{|t| t.id}}, { multiple: true, class: 'form-control' }%></div>
  </div>
  <div class="field form-group">
    <label class="col-sm-2 control-label"><%= Exercise.human_attribute_name("repository") %></label>
    <div class="col-sm-4 form-control-static"><%= link_to exercise.repository.name, exercise.repository %></div>
  </div>
  <div class="field form-group">
    <label class="col-sm-2 control-label"><%= Exercise.human_attribute_name("judge") %></label>
    <div class="col-sm-4 form-control-static"><%= link_to exercise.judge.name, exercise.judge %></div>
  </div>
  <div class="field form-group">
    <label class="col-sm-2 control-label"><%= t ".edit_exercise" %></label>
    <div class="col-sm-4 form-control-static"><%= link_to t(".open_on_github"), @exercise.github_url, target: '_blank' %></div>
  </div>
<% end %>
