<%= render 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @exercise.name %></h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_exercise_#{@exercise.id}", icon: 'done' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', exercise: @exercise %>
      </div>
      <div class="card-supporting-text card-border">
        <h4 class="card-subtitle"><%= t('.courses') %></h4>
        <ul>
          <% @exercise.courses.each do |c| %>
            <li>
              <% if policy(c).show? %>
                <%= link_to c.name, c %>
              <% else %>
                <%= c.name %>
              <% end %>
              (<%= c.teacher %> - <%= c.year %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
