<%= render 'navbar_links' %>
<%
  solutions = @exercise.solutions.sort(&method(:compare_solutions))
%>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card exercise-info">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @exercise.name %></h2>
      </div>

      <div class="card-supporting-text card-border">
        <% if @exercise.labels.any? %>
        <div class="row">
          <div class="col-xs-12 labels">
            <p>
            <% @exercise.labels.each do |label| %>
              <%= link_to label_path(label) do %>
                <span class="label label-default"><%= label.name %></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-4 col-md-push-8 col-sm-6  col-sm-push-6 col-xs-12">
            <div class="row">
              <div class="col-xs-12 repo-details">
                <div class="row">
                  <div class="col-xs-12">
                    <p><i class="mdi mdi-account-box mdi-24" title="<%= t '.contact' %>"></i>
                    <%= mail_to(@config['contact'] || @repository.first_admin&.pretty_email) %>
                  </div>
                  <div class="col-sm-12 col-xs-6">
                    <p><i class="mdi mdi-server mdi-24" title="<%= t '.repository' %>"></i>
                    <% if policy(@repository).show? %>
                      <%= link_to @repository.name, repository_path(@repository) %>
                    <% else %>
                      <%= @repository.name %>
                    <% end %>
                    <% if current_user&.repository_admin?(@repository) %>
                    <p>
                    <i class="mdi mdi-file-search mdi-24" title="<%= t '.repository_path' %>"></i>
                    <%= github_link @repository, @exercise.path %>
                    <% end %>
                  </div>
                  <div class="col-sm-12 col-xs-6">
                    <p><i class="mdi mdi-clock-outline mdi-24" title="<%= t '.created' %>"></i>
                    <span title="<%= l @exercise.created_at, format: :long %>">
                    <%= time_ago_in_words(@exercise.created_at) %> <%= t '.ago' %>.
                    </span>
                    <p><i class="mdi mdi-update mdi-24" title="<%= t '.updated' %>"></i>
                    <span title="<%= l @exercise.updated_at, format: :long %>">
                    <%= time_ago_in_words(@exercise.updated_at) %> <%= t '.ago' %>.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-pull-4 col-sm-6 col-sm-pull-6 col-xs-12">
            <div class="row exercise-details">
              <div class="col-md-4 col-sm-6 col-xs-4 exercise-detail">
                <% if @exercise.programming_language.icon_class.present? %>
                  <h1><i class="mdi mdi-36 <%= @exercise.programming_language.icon_class %>" title="<%= @exercise.programming_language.name.titlecase %>"></i></h1>
                <% else %>
                  <h1><%= @exercise.programming_language.name.titlecase %></h1>
                <% end %>
                <%= t '.programming_language' %>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-4 exercise-detail">
                <h1><%= @exercise.description_languages.join(', ') %></h1>
                <%= t '.natural_language' %>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-4 exercise-detail">
                <h1><%= @config.dig('evaluation', 'time_limit') %>s</h1>
                <%= t '.time_limit' %>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-4 exercise-detail">
                <h1><%= human_bytes @config.dig('evaluation', 'memory_limit')&.to_i %></h1>
                <%= t '.memory_limit' %>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-4 exercise-detail">
                <% if @config['network_enabled'] %>
                <h1>
                  <i class="mdi mdi-36 mdi-wan"></i>
                </h1>
                <%= t '.network_enabled' %>
                <% else %>
                <h1>
                  <i class="mdi mdi-36 mdi-lan-disconnect"></i>
                </h1>
                <%= t '.network_disabled' %>
                <% end %>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-4 exercise-detail">
                <h1><%= @exercise.submissions.count %></h1>
                <%= t '.submission_count' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-supporting-text card-border">
        <div class="row">
          <div class="col-xs-12">
            <% if @exercise.about.present? %>
              <%= markdown @exercise.about %>
            <% else %>
              <span class="text-muted"><%= t '.no_about_present' %></span>
              <% if current_user&.repository_admin?(@repository) %>
                <%= github_link @repository,
                  @exercise.path + "?filename=about.#{I18n.locale.to_s}.md",
                  name: t('.click_here_to_create_one'),
                  mode: 'new' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title">
        <h3><%= t ".sample_solutions" %></h2>
      </div>
      <div class="card-supporting-text row">
        <div class="col-xs-12">
          <% if solutions.any? %>
            <div class="card-tab">
              <ul class="nav nav-tabs">
                <% solutions.map(&:first).each_with_index do |fname, i| %>
                  <li>
                    <a href="#solution-<%= i %>" data-toggle="tab" aria-expanded="false"><%= fname %></a>
                  </li>
                <% end %>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active">
                  <span class="text-muted"><%= t '.sample_solutions_hint' %></span>
                </div>
                <% solutions.map(&:last).each_with_index do |code, i| %>
                  <div id="solution-<%= i %>" class="tab-pane">
                    <div class="code-table">
                      <%= raw FeedbackCodeRenderer.new(code, @exercise.programming_language.name).parse.html %>

                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <span class="text-muted"><%= t '.no_solutions' %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title">
        <h3><%= t ".courses_using_this_exercise" %>&nbsp;<span class="badge"><%= @courses_series.count %></span></h2>
      </div>
      <div class="card-supporting-text row">
        <div class="col-xs-12 courses-using-exercise">
          <% if @courses_series.any? %>
            <div class="row">
              <% @courses_series.each do |course, series| %>
                <div class="col-lg-4 col-md-6 col-sm-12 course">
                  <div>
                    <%= link_to course.name, course,
                      class: "course-link", title: course.name %>
                    in
                    <%= raw series.map{ |s| link_to(s.name, s, class: "course-link", title: s.name).html_safe }.to_sentence %>
                  </div>
                  <span class="small text-muted">
                    <% if course.teacher.present? %>
                      <%= course.teacher %> &middot;
                    <% end %>
                    <%= course.year %>
                  </span>
                </div>
              <% end %>
            </div>
          <% else %>
            <span class="text-muted"><%= t '.not_used_in_courses' %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
