<%= render 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @exercise.name %></h2>
      </div>
      <div class="card-supporting-text">
        <p>
        <strong><%= t '.repository' %>:</strong>
          <% if policy(@repository).show? %>
            <%= link_to @repository.name,
                        repository_path(@repository) %>
          <% else %>
            <%= @repository.name %>
          <% end %>
        </p>
        <% if current_user&.repository_admin?(@repostiry) %>
          <p>
          <strong><%= t '.location' %>:</strong>
            <%= github_link @repository, @exercise.path %>
          </p>
        <% end %>
        <p>
        <strong><%= t '.contact' %>:</strong>
          <%= mail_to  @exercise.contact_email %>
        </p>
        <p>
        <strong><%= t '.programming_language' %>:</strong>
        <%= @exercise.programming_language.name || t('.unknown') %>
        </p>
        <strong><%= t '.natural_language' %>:</strong>
          <%= @exercise.description_languages.join(', ') %>
        </p>
        <p>
        <strong><%= t '.labels' %>:</strong>
        <%= safe_join(@exercise.labels.map{ |label| link_to label.name, label_path(label) }, ', ') %>
        </p>
        <p>
          <strong><%= t '.about' %>:</strong>
          <%= @exercise.about || t('.about_not_present') %>
        </p>
        <p>
          <strong><%= t '.used_in_courses' %>:</strong>
          <%= safe_join(@exercise.courses.map{ |course| link_to course.name, course_path(course) }, ', ') %>
        </p>
      </div>
      <div class="card-supporting-text card-border">
        <h4 class="card-subtitle"><%= t('.solution') %></h4>
        <% if @exercise.solution_exist? %>
          <%= raw FeedbackCodeRenderer.new(@exercise.solution, @exercise.programming_language.name).parse.html %>
        <% else %>
          No solution
        <% end %>
      </div>
    </div>
  </div>
</div>
