<%= render 'navbar_links' %>
<%
  solutions = @exercise.solutions.sort(&method(:compare_solutions))
%>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card exercise-info">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @exercise.name %></h2>
      </div>

      <div class="card-supporting-text card-border">
        <% if @exercise.labels.any? %>
        <div class="row">
          <div class="col-xs-12 labels" title="<%= exercise_config_explanation 'labels' %>">
            <p>
            <% @exercise.labels.each do |label| %>
              <%= link_to label_path(label) do %>
                <span class="label label-default"><%= label.name %></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-4 col-md-push-8 col-sm-6  col-sm-push-6 col-xs-12">
            <div class="row">
              <div class="col-xs-12 repo-details">
                <div class="row">
                  <% if (contact_info = @config['contact'] || @repository.first_admin&.pretty_email) %>
                    <div class="col-sm-12 col-xs-6">
                      <p title="<%= t '.contact' %>">
                        <i class="mdi mdi-account-box mdi-24"></i>
                        <%= mail_to(contact_info) %>
                    </div>
                  <% end %>
                  <div class="col-sm-12 col-xs-6">
                    <p title="<%= t '.judge' %>">
                    <i class="mdi mdi-gavel mdi-24"></i>
                    <% if policy(@exercise.judge).show? %>
                      <%= link_to @exercise.judge.name, judge_path(@exercise.judge) %>
                    <% else %>
                      <%= @exercise.judge.name %>
                    <% end %>
                  </div>
                  <div class="col-sm-12 col-xs-6">
                    <p title="<%= t '.repository' %>">
                    <i class="mdi mdi-server mdi-24"></i>
                    <% if policy(@repository).show? %>
                      <%= link_to @repository.name, repository_path(@repository) %>
                    <% else %>
                      <%= @repository.name %>
                    <% end %>
                  </div>
                  <div class="col-sm-12 col-xs-6">
                    <% if current_user&.repository_admin?(@repository) %>
                    <p title="<%= t '.repository_path' %>">
                    <i class="mdi mdi-file-search mdi-24"></i>
                    <%= github_link @repository, @exercise.path %>
                    <% end %>
                  </div>
                  <div class="col-sm-12 col-xs-6">
                    <p title="<%= t '.created' %>">
                    <i class="mdi mdi-clock-outline mdi-24"></i>
                    <span title="<%= l @exercise.created_at, format: :long %>">
                    <%= time_ago_in_words(@exercise.created_at) %> <%= t '.ago' %>
                    </span>
                  </div>
                  <div class="col-sm-12 col-xs-6">
                    <p title="<%= t '.updated' %>">
                    <i class="mdi mdi-update mdi-24"></i>
                    <span title="<%= l @exercise.updated_at, format: :long %>">
                    <%= time_ago_in_words(@exercise.updated_at) %> <%= t '.ago' %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-pull-4 col-sm-6 col-sm-pull-6 col-xs-12">
            <div class="row exercise-details">
              <div title="<%= exercise_config_explanation 'programming_language' %>" class="col-md-4 col-sm-6 col-xs-6 exercise-detail">
                <h1><%= @exercise.programming_language.name.titlecase %></h1>
                <%= t '.programming_language' %>
              </div>
              <div title="<%= t '.description_files', path: './' + @exercise.path + '/' + Exercise::DESCRIPTION_DIR  + '/' %>" class="col-md-4 col-sm-6 col-xs-6 exercise-detail">
                <h1><%= @exercise.description_languages.join(', ') %></h1>
                <%= t '.natural_language' %>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6 exercise-detail" title="<%= exercise_config_explanation 'evaluation', 'time_limit' %>">
                <h1><%= @config.dig('evaluation', 'time_limit') || SubmissionRunner.default_config['time_limit']  %>s</h1>
                <%= t '.time_limit' %>
              </div>
              <div title="<%= exercise_config_explanation 'evaluation', 'memory_limit' %>" class="col-md-4 col-sm-6 col-xs-6 exercise-detail">
                <h1>
                  <%= human_bytes (@config.dig('evaluation', 'memory_limit') || SubmissionRunner.default_config['memory_limit']).to_i %>
                </h1>
                <%= t '.memory_limit' %>
              </div>
              <div title="<%= exercise_config_explanation 'network_enabled' %>" class="col-md-4 col-sm-6 col-xs-6 exercise-detail">
                <%
                    if @config['network_enabled']
                      network_icon = 'mdi-wan'
                      network_config_name = t('.network_enabled')
                    else
                      network_icon = 'mdi-lan-disconnect'
                      network_config_name = t('.network_disabled')
                    end
                  %>
                <h1>
                  <i class="mdi mdi-36 <%= network_icon %>"></i>
                </h1>
                <%= network_config_name %>
              </div>
              <div title="<%= t '.submission_details', correct: @exercise.submissions.correct.count, total: @exercise.submissions.count, users: @exercise.users_tried %>" class="col-md-4 col-sm-6 col-xs-6 exercise-detail">
                <h1><%= number_with_delimiter @exercise.submissions.count, delimiter: " " %></h1>
                <%= t '.submission_count' %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <span class="small text-muted"><%= raw t('.config_info', doc_site: link_to(t('.doc_site'), 'https://dodona-edu.github.io/references/exercise-config/')) %></span>
          </div>
        </div>
      </div>

      <div class="card-supporting-text card-border">
        <div class="row">
          <div class="col-xs-12">
            <% if @exercise.about.present? %>
              <%= markdown @exercise.about %>
            <% else %>
              <span class="text-muted"><%= t '.no_about_present' %></span>
              <% if current_user&.repository_admin?(@repository) && @repository.github_url.present? %>
                <%= github_link @repository,
                  "?filename=#{@exercise.path}/about.#{I18n.locale.to_s}.md",
                  name: t('.click_here_to_create_one'),
                  mode: 'new' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title">
        <h3><%= t ".sample_solutions" %></h3>
      </div>
      <div class="card-supporting-text row">
        <div class="col-xs-12">
          <% if solutions.any? %>
            <div class="card-tab">
              <ul class="nav nav-tabs">
                <% solutions.map(&:first).each_with_index do |fname, i| %>
                  <li>
                    <a href="#solution-<%= i %>" data-toggle="tab" aria-expanded="false"><%= fname %></a>
                  </li>
                <% end %>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active">
                  <span class="text-muted"><%= t '.sample_solutions_hint' %></span>
                </div>
                <% solutions.each_with_index do |(fname, code), i| %>
                  <div id="solution-<%= i %>" class="tab-pane feedback-table">
                    <div class="feedback-table-options">
                      <%= link_to t('.sample_solution_submit'), exercise_url(@exercise, from_solution: fname), class: "btn btn-default btn-secondary" %>
                    </div>
                    <div class="code-table">
                      <%= raw FeedbackCodeRenderer.new(code, @exercise.programming_language.name).parse.html %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <span class="text-muted"><%= t '.no_solutions' %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-supporting-text">
        <div class="card-title">
          <h3><%= t ".usage" %></h3>
          <h4 class="card-subtitle"><%= t('.courses_using_this_exercise', count: @courses_series.count) %></h4>
          <% if @courses_series.any? %>
            <div class="table-scroll-wrapper">
              <table class="table table-index table-resource">
                <thead>
                  <tr>
                    <th><%= Course.human_attribute_name("name") %></th>
                    <th><%= Course.human_attribute_name("series") %></th>
                    <th><%= Course.human_attribute_name("teacher") %></th>
                    <th><%= Course.human_attribute_name("year") %></th>
                    <th><%= Course.human_attribute_name("institution") %></th>
                    <th><%= t 'courses.index.users' %></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @courses_series.each do |course, series| %>
                    <tr>
                      <td title="<%= course.name %>" class="text">
                        <span><%= link_to course.name, course %></span>
                      </td>
                      <td class="text">
                        <%= raw series.map{ |s| link_to(s.name, s, class: "course-link", title: s.name).html_safe }.to_sentence %>
                      </td>
                      <td title="<%= course.teacher %>" class="text"><span><%= course.teacher %></span></td>
                      <td><%= course.formatted_year %></td>
                      <td title="<%= course.institution&.name %>"><%= course.institution&.short_name || t('courses.form.no_institution') %></td>
                      <td><%= course.subscribed_members_count %></td>
                      <td class="actions">
                        <% if policy(course).edit? %>
                          <%= link_to edit_course_path(course), class: "btn btn-sm btn-default" do %>
                            <i class="mdi mdi-pencil mdi-18"></i>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
