<%= render 'navbar_links' %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @exercise.name %></h2>
      </div>
      <div class="card-supporting-text">
        <p>
          <strong><%= t '.repository' %>:
          <% if policy(@repository).show? %>
            <%= link_to @repository.name,
                        repository_path(@repository) %>
          <% else %>
            <%= @repository.name %>
          <% end %>
        </p>
        <p>
          <strong><%= t '.author' %>:
          <%= mail_to  @exercise.contact_email %>
        </p>
      </div>
    </div>
  </div>
</div>
