<% content_for :javascripts do %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <%= javascript_pack_tag 'exercise' %>
  <%= javascript_pack_tag 'submission' %>
  <%= javascript_pack_tag 'pythia_submission' if @exercise.judge.renderer == PythiaRenderer %>
<% end %>
<%= render 'navbar_links' %>

<div class="row">
  <%= link_to '#submission-card', class: "btn btn-lg btn-down col-sm-1 hidden-xs hidden-print", title: t('.handin') do %>
    <span class='hidden-sm'><%= t('.handin') %></span><br>
    <i class="material-icons">expand_more</i>
  <% end %>
  <div class="col-sm-10 col-xs-12">
    <div class="card exercise-description">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= @exercise.name %>
        </h2>
      </div>
      <%= render partial: 'description_card', locals: {exercise: @exercise} %>
    </div>
  </div>
</div>
<div class="row hidden-print">
  <a class="anchor" id="submission-card"></a>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card card-nav">
      <div class="card-title card-title-colored">
        <% if policy(@exercise).submit? %>
          <div class="card-title-fab">
            <% if Time.zone.now.day == 1 && Time.zone.now.month == 4 %>
              <%= render partial: 'april_fools' %>
            <% end %>

            <button class="btn btn-primary btn-fab" id="editor-process-btn" data-user_id="<%= current_user.id %>">
              <i class="material-icons md-36">play_arrow</i>
            </button>
            <a class="btn btn-primary btn-fab hidden-fab" id="submission-copy-btn">
              <i class="material-icons md-36">edit</i>
            </a>
          </div>
        <% end %>
        <ul class="nav nav-tabs">
          <% if policy(@exercise).submit? || !user_signed_in? %>
            <li class="active"><a href="#handin" id="exercise-handin-link" data-toggle="tab"><%= t ".handin" %></a></li>
          <% end %>
          <li class="<%= 'active' if !(policy(@exercise).submit? || !user_signed_in?) %>">
            <a href="#submissions" data-toggle="tab" id='exercise-submission-link'><%= t ".solutions" %></a></li>
          <li><a href="#feedback" data-toggle="tab" id='exercise-feedback-link' class='hidden'><%= t ".feedback" %></a>
          </li>
        </ul>
      </div>
      <div class="card-supporting-text">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="handin">
            <% if !user_signed_in? %>
              <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
            <% end %>
            <% if policy(@exercise).submit? || !user_signed_in? %>
              <% if @series.present? && @series.deadline.present? %>
                <div id="deadline-info" class="alert alert-info" hidden>
                  <%= t('.deadline_in_5_minutes', deadline: @series.deadline.strftime("%R")) %>
                </div>
                <div id="deadline-warning" class="alert alert-warning" hidden>
                  <%= t('.deadline_passed', deadline: @series.deadline.today? ? @series.deadline.strftime('%R') : @series.deadline.strftime('%F %R')) %>
                </div>
              <% end %>
              <div id="editor-window" class='tex2jax_ignore'>
                <div id="editor-text"><%= @edit_submission.try(:code) || @exercise.boilerplate %></div>
              </div>
              <span class="header-info-text"><i class="material-icons md-18 material-icons-info">info</i> <%= t ".hand_in_info" %></span>
            <% end %>
          </div>
          <div class="tab-pane fade <%= 'in active' if !(policy(@exercise).submit? || !user_signed_in?) %>" id="submissions">
            <div id="submissions-table-wrapper">
              <% if !user_signed_in? %>
                <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
              <% elsif @submissions.length > 0 %>
                <%= render partial: 'submissions/submissions_table', locals: {submissions: @submissions, exercise: @exercise, course: @course, user: current_user, remote_links: true} %>
              <% else %>
                <div class="alert alert-info"><%= t ".hand_in_tooltip" %></div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade hidden" id="feedback">
            <div id="submission-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initExerciseShow(
            <%= @exercise.id %>,
            "<%= @exercise.programming_language&.editor_name || "text" %>",
            <%= user_signed_in? %>,
            <%= policy(@exercise).submit? || !user_signed_in? %>,
            <%= @course&.id || "null" %>,
            <%= raw "\"#{@series&.deadline&.httpdate}\"" || "null" %>
        );
    });
</script>
