<% content_for :javascripts do %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <%= javascript_pack_tag 'exercise' %>
  <%= javascript_pack_tag 'submission' %>
  <%= javascript_pack_tag 'pythia_submission' if @exercise.judge.renderer == PythiaRenderer %>
<% end %>
<%= render 'navbar_links' %>

<div class="row">
  <%= link_to '#submission-card', class: "btn btn-lg btn-down col-sm-1 hidden-xs hidden-print", title: t('.handin') do %>
    <span class='hidden-sm'><%= t('.handin') %></span><br>
    <i class="material-icons">expand_more</i>
  <% end %>
  <div class="col-sm-10 col-xs-12">
    <div class="card exercise-description">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= @exercise.name %>
        </h2>
      </div>
      <%= render partial: 'description_card', locals: {exercise: @exercise} %>
    </div>
  </div>
</div>
<div class="row hidden-print">
  <a class="anchor" id="submission-card"></a>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card card-nav">
      <div class="card-title card-title-colored">
        <% if policy(@exercise).submit? %>
          <div class="card-title-fab">
            <button class="btn btn-primary btn-fab" data-toggle="modal" data-target="#paidSolutionModal">
              <i class="material-icons md-36">attach_money</i>
            </button>

            <% content_for :modal do %>
              <style>



                #paidSolutionModal ul,
                #paidSolutionModal li {
                  display: block;
                  margin: 0;
                  padding: 0;
                }

                #paidSolutionModal input[type=radio] {
                  display: none;
                }

                #paidSolutionModal input[type=radio] + label {
                  display: block;
                  width: 100%;
                  padding: 5px;
                }

                #paidSolutionModal .product {
                  display: block;
                  width: 100%;
                  height: 7em;
                  border-radius: 1em;
                  padding: 1em 5px 10px;
                  text-align: center;
                  font-size: 160%;
                  position: relative;
                  overflow: hidden;
                  background: #F5F5F5;
                  cursor: pointer;
                }

                #paidSolutionModal .product .price {
                }

                #paidSolutionModal .product .korting {
                  position: absolute;
                  top: 12px;
                  right: -53px;
                  width: 160px;
                  height: 25px;
                  font-size: 18px;
                  transform: rotate(45deg);
                  background: linear-gradient(#F70505 0%, #8F0808 100%);
                  color: white;
                  box-shadow: 0 1px 2px -5px rgba(0, 0, 0, 1);
                }

                #paidSolutionModal input[type=radio]:checked + label .product {
                  background: #68df68;
                }


.product > .material-icons {

    display: block;
    font-size: 3em;
    color: green;

}

#paidSolutionModal input[type=radio]:checked + label .product > .material-icons {

    color: white;

}

              </style>
              <div class="modal fade" id="paidSolutionModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">
                        <i class="material-icons">add_shopping_cart</i>
                        Dodona Premium
                      </h4>
                    </div>
                    <div class="modal-body">
                      Koop jouw correcte antwoorden!
                      <ul class="row">
                        <li class="d-block col-sm-4">
                          <input type="radio" name="paidPlan" value="oef" id="paidPlan_oef">
                          <label for="paidPlan_oef">
                            <div class="product">
                                <i class="material-icons">done</i>
                              een oefening
                              <div class="price">€5</div>
                            </div>
                          </label>
                        </li>
                        <li class="col-sm-4">
                          <input type="radio" name="paidPlan" value="oef" id="paidPlan_ree">
                          <label for="paidPlan_ree">
                            <div class="product">
                              <span class="korting">-20%</span>
                                <i class="material-icons">done_all</i>
                              een reeks
                              <div class="price"><s>€25</s>

                                <i class="material-icons">arrow_right_alt</i>
                                €20</div>
                            </div>
                          </label>
                        </li>
                        <li class="col-sm-4">
                          <input type="radio" name="paidPlan" value="oef" id="paidPlan_cur">
                          <label for="paidPlan_cur">
                            <div class="product">
                              <span class="korting">-50%</span>
                                <i class="material-icons">done_outline</i>
                              een cursus
                              <div class="price"><s>€80</s>
                                <i class="material-icons">arrow_right_alt</i>
                              €40</div>
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn-text" data-dismiss="modal" data-toggle="modal" data-target="#quoteModal">
                        Bestel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <% content_for :modal do %>
              <style>
                #quoteModal .motivational-quote {
                  font-style: italic;
                  font-size: 140%;
                  text-align: center;
                }
              </style>
              <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Bestelling opgenomen</h4>
                    </div>
                    <div class="modal-body motivational-quote">
                      "Nothing worth having comes easy"
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn-text btn-primary" data-dismiss="modal">Oké</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <button class="btn btn-primary btn-fab" id="editor-process-btn" data-user_id="<%= current_user.id %>">
              <i class="material-icons md-36">play_arrow</i>
            </button>
            <a class="btn btn-primary btn-fab hidden-fab" id="submission-copy-btn">
              <i class="material-icons md-36">edit</i>
            </a>
          </div>
        <% end %>
        <ul class="nav nav-tabs">
          <% if policy(@exercise).submit? || !user_signed_in? %>
            <li class="active"><a href="#handin" id="exercise-handin-link" data-toggle="tab"><%= t ".handin" %></a></li>
          <% end %>
          <li class="<%= 'active' if !(policy(@exercise).submit? || !user_signed_in?) %>">
            <a href="#submissions" data-toggle="tab" id='exercise-submission-link'><%= t ".solutions" %></a></li>
          <li><a href="#feedback" data-toggle="tab" id='exercise-feedback-link' class='hidden'><%= t ".feedback" %></a>
          </li>
        </ul>
      </div>
      <div class="card-supporting-text">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="handin">
            <% if !user_signed_in? %>
              <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
            <% end %>
            <% if policy(@exercise).submit? || !user_signed_in? %>
              <div id="editor-window" class='tex2jax_ignore'>
                <div id="editor-text"><%= @edit_submission.try(:code) || @exercise.boilerplate %></div>
              </div>
            <% end %>
          </div>
          <div class="tab-pane fade <%= 'in active' if !(policy(@exercise).submit? || !user_signed_in?) %>" id="submissions">
            <div id="submissions-table-wrapper">
              <% if !user_signed_in? %>
                <div class="alert alert-info"><%= t ".not_logged_in_html", :url => sign_in_path %></div>
              <% elsif @submissions.length > 0 %>
                <%= render partial: 'submissions/submissions_table', locals: {submissions: @submissions, exercise: @exercise, course: @course, remote_links: true} %>
              <% else %>
                <div class="alert alert-info"><%= t ".hand_in_tooltip" %></div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="feedback" class='hidden'>
            <div id="submission-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initExerciseShow(<%= @exercise.id %>, "<%= @exercise.programming_language&.editor_name || "text" %>", <%= user_signed_in? %>, <%= policy(@exercise).submit? || !user_signed_in? %>, <%= @course&.id || "null" %>);
    });
</script>
