<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".overview" %> <%= @exercise.name %></h2>
      </div>
      <div class="card-supporting-text">
        <table class="table table-index table-resource">
          <thead>
            <tr>
              <th></th>
              <th><%= User.human_attribute_name("username") %></th>
              <th><%= User.human_attribute_name("name") %></th>
              <th><%= Submission.human_attribute_name("status") %></th>
              <th><%= t ".solutions" %></th>
              <th><%= t ".speed" %></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% if :correct == @exercise.status_for(user) %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% elsif :wrong == @exercise.status_for(user) %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
                <td><%= link_to user.username, user %></td>
                <td><%= user.full_name %></td>
                <td>
                  <% if :correct == @exercise.status_for(user) %>
                    <%= link_to "correct", @exercise.last_correct_submission(user) %>
                  <% elsif :wrong == @exercise.status_for(user) %>
                    <%= link_to @exercise.last_submission(user).summary, @exercise.last_submission(user) %>
                  <% else %>
                    <%= t ".not_solved" %>
                  <% end %>
                </td>
                <td><%= @exercise.number_of_submissions_for(user) %></td>
                <td><%= @exercise.solving_speed_for(user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
