<table class="table series-table table-resource">
  <colgroup>
    <col/>
    <col/>
    <col class="col-xs-5"/>
    <col class="col-xs-5"/>
    <col class="col-xs-2"/>
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th><%= t ".name" %></th>
    <th><%= t ".deadline" %></th>
    <th><%= t ".num_activities", {count: '#'} %></th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% series.each do |s| %>
    <tr>
      <td>
        <div class="drag-handle">
          <i class="mdi mdi-reorder-horizontal mdi-18"></i>
        </div>
      </td>
      <td class="status-icon">
      <span class="pull-right">
        <% if s.hidden? %>
        <i class="mdi mdi-eye-off mdi-18" title="<%= t "activerecord.attributes.series.visibilities.hidden" %>"></i>
        <% elsif s.closed? %>
        <i class="mdi mdi-cancel mdi-18" title="<%= t "activerecord.attributes.series.visibilities.closed" %>"></i>
        <% end %>
      </span>
      </td>
      <td class="series-name" data-series_id="<%= s.id %>">
        <span class="ellipsis-overflow" title="<%= s.name %>">
          <%= link_to s.name, course_path(course, anchor: s.anchor), target: "_blank" %>
        </span>
      </td>
      <td>
        <% if s.deadline? %>
          <span class="ellipsis-overflow" title="<%= l s.deadline, format: :long %>">
            <%= l s.deadline, format: :long %>
          </span>
        <% end %>
      </td>
      <td>
        <%= t ".num_activities", {count: s.activity_count} %>
      </td>
      <td class="actions">
        <% if policy(s).edit? %>
          <%= link_to edit_series_url(s), class: "btn btn-sm btn-default", title: t("series.edit.title") do %>
            <i class="mdi mdi-18 mdi-pencil"></i>
          <% end %>
        <% end %>
        <% if policy(s).destroy? %>
          <%
              confirm = t('series.delete.confirm')
              if s.evaluation.present?
                confirm += " " + t('series.delete.confirm_evaluation')
              end
           %>
          <%= link_to s, method: :delete, data: {confirm: confirm}, class: "btn btn-sm btn-danger", title: t("series.delete.title") do %>
            <i class="mdi mdi-18 mdi-delete"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
