<% content_for :javascripts do %>
  <%= javascript_pack_tag 'series' %>
<% end %>
<%= form_for(series, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if series.errors.any? %>
    <div class="card-supporting-text">
      <div class="callout callout-danger" id="error_explanation">
        <h4><%= t('errors.validation_errors', :count => series.errors.count) %></h4>
        <ul>
          <% series.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :course_id, class: "form-control", value: (series.course_id || params[:course_id]) %>
  <div class="card-supporting-text">
    <div class="field form-group row">
      <%= f.label :name, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.text_field :name, class: "form-control" %></div>
    </div>
    <div class="field form-group row">
      <%= f.label :deadline, :class => "col-sm-3 col-form-label" %>
      <div class='col-sm-6'>
        <div class="input-group" id='deadline-group' data-wrap=true data-enable-time=true data-time_24hr=true>
          <%= f.text_field :deadline, class: "form-control", 'data-input': true %>
          <button class="btn btn-secondary" type="button" data-toggle><i class='mdi mdi-calendar-blank mdi-18'></i></button>
          <button class="btn btn-secondary" type="button" data-clear><i class='mdi mdi-close mdi-18'></i></button>
        </div>
      </div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t(".deadline-help", time_zone: current_user.time_zone) %></span>
    </div>
    <div class="field form-group row">
      <%= f.label :visibility, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.select :visibility, Series.visibilities.map {|key, value| [Series.human_enum_name(:visibility, key), key]}, {}, {:class => 'form-select'} %></div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".visibility-help_html" %></span>
    </div>
    <div class="field form-group row">
      <%= f.label :description, :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-6"><%= f.text_area :description, class: "form-control", rows: "8" %></div>
      <span class="help-block offset-sm-3 col-sm-6"><%= t ".description-help" %></span>
    </div>
  </div>

  <div class="card-supporting-text card-border">
    <h4><%= t('.advanced_settings') %></h4>
    <div class="field form-group row">
      <div class="offset-sm-3 col-sm-6">
        <input type="hidden" value="1" name="series[progress_enabled]">
        <%= check_box_tag "series[progress_enabled]", "0", !@series.progress_enabled %>
        <%= f.label :progress_enabled, t('.class_progress_disable'), class: 'checkbox-label' %>
      </div>
      <span class="help-block offset-sm-3 col-sm-6">
        <%= t('.class_progress_disable_help') %>
      </span>
    </div>
  <% if series.course.institution == Institution.first %>
    <div class="field form-group row">
      <div class="col-sm-6 offset-sm-3">
        <div class="checkbox">
          <%= f.label :indianio_support do %>
            <%= f.check_box :indianio_support %>
            <%= Series.human_attribute_name(:indianio_support) %>
          <% end %>
        </div>
      </div>
      <span class="help-block offset-sm-3 col-sm-6">
        <%= t '.indianio-support-help' %>
      </span>
    </div>
  <% end %>
  <div class="field form-group row">
      <div class="col-sm-6 offset-sm-3">
        <div class="checkbox">
          <%= f.label :activities_visible, class: 'checkbox-label' do %>
            <input type="hidden" value="1" name="series[activities_visible]">
            <%= check_box_tag "series[activities_visible]", "0", !@series.activities_visible %>
            <%= t '.hide_activities' %>
          <% end %>
        </div>
      </div>
      <span class="help-block offset-sm-3 col-sm-6">
        <%= t '.hide_activities_help' %>
      </span>
    </div>
  </div>
<% end %>
<script type="text/javascript">
    $(function () {
        dodona.initDeadlinePicker("#deadline-group");
    });
</script>
