<%= form_for(series, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if series.errors.any? %>
    <div id="error_explanation">
      <h2><%= t( "errors.validation_erors", :count => series.errors.count) %></h2>
      <ul>
        <% series.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :course, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.select :course_id, Course.all.collect {|c| [ c.formatted_year + " - " + c.name, c.id ] }, {selected: (series.course_id || params[:course_id])}, {class: "form-control"} %></div>
  </div>
  <div class="field form-group">
    <%= f.label :name, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="field form-group">
    <%= f.label :visibility, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.select :visibility, Series.visibilities.map { |key, value| [Series.human_enum_name(:visibility, key), key] }, {}, { :class => 'form-control' } %></div>
  </div>
  <div class="field form-group">
    <%= f.label :description, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.text_area :description, class: "form-control", rows: "8" %></div>
    <span class="help-block col-sm-offset-4 col-sm-8"><%= t ".description-help" %></span>
  </div>
<% end %>
