<% content_for :javascripts do %>
  <%= javascript_pack_tag 'series' %>
<% end %>

<%= form_for(series, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if series.errors.any? %>
    <div class="callout callout-danger" id="error_explanation">
      <h4><%= t('errors.validation_errors', :count => series.errors.count) %></h4>
      <ul>
        <% series.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :course_id, class: "form-control", value: (series.course_id || params[:course_id]) %>
  <div class="field form-group">
    <%= f.label :name, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="field form-group">
    <%= f.label :deadline, :class => "col-sm-4 control-label" %>
    <div class='col-sm-8'>
      <div class="input-group" id='deadline-group' data-wrap=true data-enable-time=true data-time_24hr=true>
        <%= f.text_field :deadline, class: "form-control", 'data-input': true %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" data-toggle><i class='material-icons md-18'>calendar_today</i></button>
          <button class="btn btn-default" type="button" data-clear><i class='material-icons md-18'>clear</i></button>
        </span>
      </div>
    </div>
    <span class="help-block col-sm-offset-4 col-sm-8"><%= t(".deadline-help", time_zone: current_user.time_zone) %></span>
  </div>
  <div class="field form-group">
    <%= f.label :visibility, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.select :visibility, Series.visibilities.map {|key, value| [Series.human_enum_name(:visibility, key), key]}, {}, {:class => 'form-control'} %></div>
    <span class="help-block col-sm-offset-4 col-sm-8"><%= t ".visibility-help_html" %></span>
  </div>
  <div class="field form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= f.check_box :progress_enabled %> <%= f.label :progress_enabled, t('.class_progress_enable'), class: 'checkbox-label' %>
    </div>
    <span class="help-block col-sm-offset-4 col-sm-8"><%= t('.class_progress_enable_help') %></span>
  </div>
  <div class="field form-group">
    <%= f.label :description, :class => "col-sm-4 control-label" %>
    <div class="col-sm-8"><%= f.text_area :description, class: "form-control", rows: "8" %></div>
    <span class="help-block col-sm-offset-4 col-sm-8"><%= t ".description-help" %></span>
  </div>
  <% if series.course.institution == Institution.first %>
    <div class="field form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <div class="checkbox">
          <%= f.label :indianio_support do %>
            <%= f.check_box :indianio_support %>
            <%= Series.human_attribute_name(:indianio_support) %>
          <% end %>
        </div>
      </div>
      <span class="help-block col-sm-offset-4 col-sm-8">
        <%= t '.indianio-support-help' %>
      </span>
    </div>
  <% end %>
<% end %>
<script type="text/javascript">
    $(function () {
        dodona.initSeriesForm();
    });
</script>
