<div class="table-scroll-wrapper status-table-wrapper">
  <table class="table">
    <thead>
    <tr>
      <th class="user-name"><dodona-sort-button  column="status_in_course_and_name" default="ASC"> <%= t('series.scoresheet.user') %></dodona-sort-button></th>
      <th class="status-header ellipsis-overflow"><dodona-sort-button  column="status_in_course_and_name" default="ASC"> <%= t('series.scoresheet.total') %></dodona-sort-button></th>
      <% activities.each do |activity| %>
        <th class="status-header ellipsis-overflow" title="<%= activity.name %>">
          <dodona-sort-button  column="<%= activity.id %>"><%= activity.name %></dodona-sort-button>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr class="summary-row">
      <td class="user-name ellipsis-overflow"><%= t('series.scoresheet.users', count: users.length) %></td>
      <td class="status">
        <% i = 0 %>
        <% statuses.each do |status| %>
          <% count = total[status] %>
          <% if count > 0 %>
            <% if i > 0 %>
              &middot;
            <% end %>
            <% i += 1 %>
            <span data-bs-toggle="tooltip" title="<%= count %> <%= Submission.human_enum_name(:status, status) %>">
                  <%= count %>
              <%= status_icon(status, 12) %>
                </span>
          <% else %>
          <% end %>
        <% end %>
      </td>
      <% activities.each do |activity| %>
        <% if activity.exercise? %>
          <td class="status">
            <% i = 0 %>
            <% statuses.each do |status| %>
              <% count = submission_counts[[activity.id, status]] %>
              <% if count > 0 %>
                <% if i > 0 %>
                  &middot;
                <% end %>
                <% i += 1 %>
                <span data-bs-toggle="tooltip" title="<%= count %> <%= Submission.human_enum_name(:status, status) %>">
                  <%= count %>
                  <%= status_icon(status, 12) %>
                </span>
              <% else %>
              <% end %>
            <% end %>
          </td>
        <% elsif activity.content_page? %>
          <% count = read_state_counts[activity.id] %>
          <td class="status">
            <% if count > 0 %>
              <%= count %>
              <i class="mdi mdi-12 mdi-check colored-correct"></i>
            <% else %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>

    <% users.each do |student| %>
      <tr>
        <td class="user-name ellipsis-overflow"><%= link_to student.full_name, course_member_path(course, student), title: student.full_name, class: "ellipsis-overflow" %></td>
        <td class="status summary-col">
          <% i = 0 %>
          <% statuses.each do |status| %>
            <% count = summary_by_user[[student.id, status]] %>
            <% if count > 0 %>
              <% if i > 0 %>
                &middot;
              <% end %>
              <% i += 1 %>
              <span data-bs-toggle="tooltip" title="<%= count %> <%= Submission.human_enum_name(:status, status) %>">
                  <%= count %>
                <%= status_icon(status, 12) %>
                </span>
            <% else %>
            <% end %>
          <% end %>
        </td>
        <% activities.each do |activity| %>
          <% if activity.exercise? %>
            <% submission = submissions[[student.id, activity.id]] %>
            <td class="status">
              <% if submission.present? %>
                <%= link_to submission_status_icon(submission), submission, title: Submission.human_enum_name(:status, submission.status) %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          <% elsif activity.content_page? %>
            <% read_state = read_states[[student.id, activity.id]] %>
            <td class="status">
              <% if read_state.present? %>
                <i class="mdi mdi-18 mdi-check colored-correct"></i>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
