<div class="table-scroll-wrapper scoresheet-table-wrapper">
  <table class="table scoresheet-table">
    <thead>
    <tr>
      <th class="user-name"><%= t('series.scoresheet.user') %></th>
      <% exercises.each do |exercise| %>
        <th class="status-header ellipsis-overflow" title="<%= exercise.name %>"><%= exercise.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% users.each do |student| %>
      <tr>
        <td class="user-name ellipsis-overflow"><%= link_to student.full_name, course_member_path(course, student), title: student.full_name, class: "ellipsis-overflow" %></td>
        <% exercises.each do |exercise| %>
          <% submission = submissions[[student.id, exercise.id]] %>
          <td class="status">
            <% if submission.present? %>
              <%= link_to submission_status_icon(submission), submission, title: Submission.human_enum_name(:status, submission.status) %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>