<% # arguments: loaded (bool), series (Series), user (User) %>
<% size ||= 40 %>
<% if !loaded %>
  <div class="card-title-icon skeleton">
    <i class="mdi mdi-school"></i>
  </div>
<% elsif loaded && user.present? %>
  <% deadline_class, deadline_icon = series_status_deadline(series, user) %>
  <% progress_class, progress_icon = series_status_progress(series, user) %>
  <% overlay_class = series_status_overlay %>
  <svg viewBox="0 0 40 40"
       style="width: <%= size %>px; height: <%= size %>px; "
       class="series-icon <%= overlay_class %> <%= progress_class %>  <%= deadline_class %>"
       title="<%= series_status(series, user) %>"
       data-bs-toggle="tooltip"
       data-bs-placement="top"
  >
    <defs>
      <linearGradient id="rainbow" gradientTransform="rotate(135, 0.5, 0.5)" >
        <stop stop-color="var(--red)" offset="1%" />
        <stop stop-color="var(--orange)" offset="25%" />
        <stop stop-color="var(--yellow)" offset="40%" />
        <stop stop-color="var(--green)" offset="60%" />
        <stop stop-color="var(--blue)" offset="75%" />
        <stop stop-color="var(--purple)" offset="99%" />
      </linearGradient>
    </defs>

    <g class="icon-base" >
      <circle cx="50%" cy="50%" r= "50%" fill="var(--icon-color)" class="outer-circle"></circle>
      <circle cx="50%" cy="50%" r= "42%" fill="var(--icon-background-color)"></circle>
      <foreignObject x="8" y="8"  height="24" width="24" style="color: var(--icon-color)">
        <i class="mdi <%= progress_icon %>"></i>
      </foreignObject>

      <% if deadline_icon %>
        <circle cx="33" cy="34.5" r= "11" fill="var(--deadline-icon-background-color)"></circle>
        <foreignObject x="24" y="26"  height="18" width="18" style="color: var(--deadline-icon-color)">
          <i class="mdi mdi-18 <%= deadline_icon %>"></i>
        </foreignObject>
      <% end %>
    </g>

    <% if overlay_class  %>
      <foreignObject width="100%" height="100%" class="overlay">
        <div></div>
      </foreignObject>
    <% end %>
  </svg>
<% else %>
  <svg viewBox="0 0 40 40" style="width: <%= size %>px; height: <%= size %>px; " class="series-icon">
    <circle cx="50%" cy="50%" r= "50%" fill="var(--icon-color)" class="outer-circle"></circle>
    <circle cx="50%" cy="50%" r= "42%" fill="var(--icon-background-color)"></circle>
    <foreignObject x="8" y="8"  height="24" width="24" style="color: var(--icon-color)">
      <i class="mdi mdi-school"></i>
    </foreignObject>
  </svg>
<% end %>
