<% get_activity_path ||= ->(ex) {course_series_activity_path series.course_id, series.id, ex} %>
<% unless defined? loaded %>
  <% loaded = true %>
<% end %>
<% if defined? user
     user = user || current_user
   else
     user = current_user
   end %>
<% ActivityStatus.add_status_for_user_and_series(user, series, [:last_submission, :best_submission]) if loaded %>

<div class="card card-supporting-text series"
     id="series-card-<%= series.id %>"
     data-series-url="<%= user&.id ? series_path(series, format: :js, user_id: user.id) : series_path(series, format: :js) %>">
  <div class="card-subtitle">
    <a class="anchor" id="<%= series.anchor %>" name="series-<%= series.id %>"></a>
    <div class="hidden-print">
      <%= render partial: 'series/series_status', locals: {loaded: loaded, series: series, user: user} %>
    </div>
    <h4 class="ellipsis-overflow" title="<%= series.name %>"><%= series.name %><br>
      <%= render partial: 'deadlines/absolute', locals: {deadline: series.deadline, met: user && loaded ? series.completed_before_deadline?(user) : false} %>
    </h4>
    <div class="flex-spacer"></div>
    <div class="card-subtitle-actions d-flex">
      <% if policy(series).statistics? %>
        <div id="series-view-<%= series.id %>" class="btn-group btn-toggle nav d-none d-sm-flex" role="tablist">
          <button class="btn active" data-bs-target="#series-content-<%= series.id %>" data-bs-toggle="tab" role="tab" title="<%= t("series.show.series_overview") %>">
            <i class="mdi mdi-format-list-bulleted"></i>
          </button>
          <button class="btn graph-toggle" data-bs-target="#series-graph-<%= series.id %>" data-bs-toggle="tab" data-series-id="<%= series.id %>" data-type="violin" role="tab" title="<%= t("js.violin_title") %>">
            <%= custom_icon("violin", {class: "mdi svg-icon-btn"}) %>
          </button>
          <button class="btn graph-toggle" data-bs-target="#series-graph-<%= series.id %>" data-bs-toggle="tab" data-series-id="<%= series.id %>" data-type="stacked" role="tab" title="<%= t("js.stacked_title") %>">
            <%= custom_icon("stacked-bar-chart", {class: "mdi svg-icon-btn rotate"}) %>
          </button>
          <!-- <button class="btn graph-toggle" data-bs-target="#series-graph-<%= series.id %>" data-bs-toggle="tab" data-series-id="<%= series.id %>" data-type="timeseries" role="tab" title="<%= t("js.timeseries_title") %>">
            <%= custom_icon("heatmap", {class: "mdi svg-icon-btn"}) %>
          </button> -->
          <button class="btn graph-toggle" data-bs-target="#series-graph-<%= series.id %>" data-bs-toggle="tab" data-series-id="<%= series.id %>" data-type="ctimeseries" role="tab" title="<%= t("js.ctimeseries_title") %>">
            <%= custom_icon("stacked-line-chart", {class: "mdi svg-icon-btn"}) %>
          </button>
        </div>
      <% end %>
      <div class="btn-group">
        <a class="btn btn-icon dropdown-toggle series-dropdown hidden-print" data-bs-toggle="dropdown">
          <i class="mdi mdi-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <% if current_user&.course_admin?(series.course) %>
            <% if policy(series).edit? %>
              <li>
                <%= link_to edit_series_path(series), class: "dropdown-item" do %>
                  <i class='mdi mdi-pencil mdi-18'></i> <%= t("series.edit.title") %>
                <% end %>
              </li>
            <% end %>
            <% if policy(series).destroy? %>
              <li>
                <%
                    confirm = t('series.delete.confirm')
                    if series.evaluation.present?
                      confirm += " " + t('series.delete.confirm_evaluation')
                    end
                 %>
                <%= link_to series_path(series), method: :delete, data: {confirm: confirm}, class: "dropdown-item" do %>
                  <i class='mdi mdi-delete mdi-18'></i> <%= t("series.delete.title") %>
                <% end %>
              </li>
            <% end %>
            <% if policy(series).create_evaluation? %>
              <li>
                <% if series.evaluation.present? %>
                  <%= link_to evaluation_path(series.evaluation), class: "dropdown-item" do %>
                    <i class='mdi mdi-message-draw mdi-18'></i> <%= t("evaluations.show.view_evaluation") %>
                  <% end %>
                <% else %>
                  <%= link_to new_evaluation_path(series_id: series.id), class: "dropdown-item" do %>
                    <i class='mdi mdi-message-draw mdi-18'></i> <%= t("evaluations.new.create_evaluation") %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
            <% if policy(series).edit? && !series.open? %>
              <li>
                <%= link_to series_path(series, token: series.access_token), class: "dropdown-item" do %>
                  <i class="mdi mdi-link mdi-18"></i>
                  <%= t 'series.show.token_link' %>
                <% end %>
              </li>
            <% end %>
            <% if policy(series).scoresheet? %>
              <li>
                <%= link_to scoresheet_series_path(series), class: "dropdown-item" do %>
                  <i class='mdi mdi-view-list mdi-18'></i> <%= t("series.show.series_scoresheet") %>
                <% end %>
              </li>
            <% end %>
            <% if policy(series).download_submissions? && current_user.course_admin?(series.course) %>
              <li>
                <%= link_to series_exports_path(series, token: (series.access_token if series.hidden?)), class: "dropdown-item" do %>
                  <i class='mdi mdi-cloud-download mdi-18'></i> <%= t("series.show.download_all_solutions") %>
                <% end %>
              </li>
            <% end %>
            <% if policy(series).mass_rejudge? %>
              <li>
                <%= link_to mass_rejudge_series_path(series), method: :post, remote: true, data: {confirm: t("submissions.index.confirm_reevaluate_submissions")}, class: "dropdown-item" do %>
                  <i class='mdi mdi-replay mdi-18'></i> <%= t("submissions.index.reevaluate_submissions") %>
                <% end %>
              </li>
            <% end %>
            <li role="separator" class="dropdown-divider"></li>
          <% end %>
          <% if policy(series).overview? %>
            <li>
              <%= link_to overview_series_path(series, token: (series.access_token if series.hidden?), user_id: (user.id if user&.id)), class: "dropdown-item" do %>
                <i class='mdi mdi-eye mdi-18'></i> <%= t("series.show.show_overview") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(series).download_submissions? %>
            <li>
              <%= link_to series_exports_path(series, token: (series.access_token if series.hidden?), user_id: (user.id if user&.id)), class: "dropdown-item" do %>
                <i class='mdi mdi-cloud-download mdi-18'></i> <%= t("series.show.download_submissions") %>
              <% end %>
            </li>
          <% end %>
          <% if series.evaluation.present? && policy(series.evaluation).overview? %>
            <li>
              <%= link_to overview_evaluation_path(series.evaluation), class: "dropdown-item" do %>
                <i class='mdi mdi-message-draw mdi-18'></i> <%= t("series.show.evaluation_overview") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if current_user&.course_admin?(series.course) && series.hidden? %>
    <div class="alert alert-info hidden-print">
      <%= t "series.show.series_not_visible" %>
      <%= t('series.show.make_visible_html', series_url: series_path(series, series: {visibility: :open}), method: :patch) %>
    </div>
  <% end %>
  <% if current_user&.course_admin?(series.course) && series.closed? %>
    <div class="alert alert-info hidden-print">
      <%= t "series.show.series_not_accessible" %>
      <%= t('series.show.make_visible_html', series_url: series_path(series, series: {visibility: :open}), method: :patch) %>
    </div>
  <% end %>
  <% if current_user&.course_admin?(series.course) && !series.activities_visible %>
    <div class="alert alert-info hidden-print">
      <%= t "series.show.activities_not_visible" %>
      <%= t('series.show.make_visible_html', series_url: series_path(series, series: {visibility: :open}), method: :patch) %>
    </div>
  <% end %>
  <div class="tab-content">
    <% if policy(series).statistics? %>
      <div class="tab-pane" id="series-graph-<%= series.id %>">
        <div class="graph-header">
          <div class="graph-title">
            <span></span>
            <a class="hidden-print" >
              <i class="mdi mdi-information graph-info"></i>
            </a>
          </div>
        </div>
        <div class="stats-container" id="stats-container-<%= series.id %>"></div>
      </div>
    <% end %>

    <div class="series-content tab-pane active" id="series-content-<%= series.id %>">
      <div class="series-description">
        <%= cache series do %>
          <%= markdown(series.description) %>
        <% end %>
      </div>

      <% if policy(series).overview? && series.activity_count > 0 %>
        <div class="series-activities-table-wrapper">
          <% if loaded %>
            <%= render partial: 'activities/series_activities_table', locals: {
                series: series,
                activities: series.activities,
                get_activity_path: get_activity_path,
                user: user
            } %>
          <% else %>
            <div class="activity-table-skeleton">
              <div class="skeleton-head"></div>
              <% series.activity_count.times do %>
                <div class="skeleton-row"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(dodona.initSeriesShow(<%= series.id %>));
</script>
