<% content_for :javascripts do %>
  <%= javascript_pack_tag 'series' %>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="card series-edit">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @series.name %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "edit_series_#{@series.id}", icon: 'check' %>
        </div>
      </div>
      <%= render 'form', series: @series %>
      <% if @series.indianio_token || !@series.open? %>
        <div class="card-supporting-text card-border">
          <h4><%= t '.confidential' %></h4>
          <div class="col-12 col-sm-10">
            <div class="form-horizontal">
              <% if @series.indianio_token %>
                <div class="field form-group row">
                  <%= label_tag :indianio_token, 'Indianio token', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <div class="input-group" id="indianio_token">
                      <%= render partial: 'token_field',
                                 locals: {
                                     name: :indianio_token,
                                     value: @series.indianio_token,
                                     reset_url: reset_token_series_path(@series, type: :indianio_token)
                                 } %>
                    </div>
                  </div>
                  <span class="help-block offset-sm-3 col-sm-9">
                <%= t '.indianio-help' %>
              </span>
                </div>
              <% end %>
              <% unless @series.open? %>
                <div class="field form-group row">
                  <%= label_tag :access_token, t('.access-link'), class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <div class="input-group" id="access_token_field">
                      <%= render partial: 'token_field',
                                 locals: {
                                     name: :access_token,
                                     value: series_url(@series, token: @series.access_token),
                                     reset_url: reset_token_series_path(@series, type: :access_token)
                                 } %>
                    </div>
                  </div>
                  <span class="help-block offset-sm-3 col-sm-9">
                <%= t '.access-help' %>
              </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if policy(@series).modify_activities? %>
      <div class="card">
        <div class="card-supporting-text">
          <div class="col-12">
            <div class="page-subtitle">
              <h3><%= t ".manage_activities" %></h3>
              <div class="flex-spacer"></div>
              <div>
                <a class="btn btn-down" title="<%= t(".add_activities") %>" href="#add-activities">
                  <i class="mdi mdi-chevron-down mdi-12"></i><span><%= t(".add_activities") %></span>
                </a>
              </div>
            </div>
            <p class="h3-info-text"><%= t ".manage_activities_info" %></p>
            <h4><%= t ".activities_in_series" %></h4>
            <p class="h4-info-text"><%= t ".activities_in_series_info" %></p>
            <div class="series-activity-list">
              <% if @series.activities.empty? %>
                <p id="no-activities" class="text-center"><%= t ".no_activities" %><br><span class="small"><%= t ".no_activities_bis" %></span></p>
              <% end %>
              <%= render partial: 'activities/series_activities_add_table', locals: {activities: @series.activities, series: @series, paginate: false, show_buttons_for_present: true} %>
            </div>
          </div>
        </div>
        <div class="card-supporting-text card-border">
          <div class="col-12">
            <h4 id="add-activities"><%= t ".add_activities" %></h4>
            <%= render partial: 'layouts/searchbar', locals: {baseUrl: available_activities_series_path(@series), eager: true, labels: @labels, programming_languages: @programming_languages, repositories: @repositories, activity_types: [ContentPage, Exercise], description_languages: ["en", "nl"]} %>
            <div id="activities-table-wrapper">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initSeriesEdit();
    });
</script>
