<% user = @user || current_user %>
<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'series_overview' %>
<% end %>

<div class="col-sm-10 offset-sm-1 col-12">
  <h2><%= @series.course.name %></h2><br>
  <%= render partial: 'series/series', locals: {
      series: @series,
      get_activity_path: method(:activity_anchor),
      user: @user
  } %>
  <% @series.activities.each do |exercise| %>
    <div class="card exercise-description">
      <%= content_tag :a,
                      '',
                      name: activity_anchor_id(exercise),
                      class: 'anchor' %>
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= link_to exercise.name, activity_path(exercise) %>
        </h2>
      </div>
      <%= description_iframe exercise %>
      <div class="card-actions card-border hidden-print">
        <% if user && (exercise.started_for?(user, @series) || @series.deadline&.past?) %>
          <div class="btn-text submission-status-button">
            <%= render partial: 'activities/user_status_icon', locals: {activity: exercise, series: @series, user: user} %>
            <%= render partial: 'activities/user_status', locals: {activity: exercise, series: @series, user: user} %>
          </div>
        <% else %>
          <%= link_to t('activities.show.handin'), course_series_activity_path(@series.course, @series.id, exercise, anchor: "submission-card"), class: "btn-text" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
