<%= content_for :javascripts do %>
  <%= javascript_pack_tag 'scoresheet' %>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= "#{@series.name} (#{@course.name})" %>
        </h2>
      </div>
      <div class="card-supporting-text">
        <div class="scoresheet-options-container">
          <div class="form-group">
            <label for="scoresheet-selector"><%= t('.select_view') %></label>
            <select class="form-control" id="scoresheet-selector">
              <option data-url="<%= scoresheet_course_url(@course) %>"><%= t('.course_view') %></option>
              <% @course.series.reverse.each do |s| %>
                <option data-url="<%= scoresheet_series_url(s) %>" <%= "selected" if s.id == @series.id %>><%= s.name %></option>
              <% end %>
            </select>
          </div>
          <% if @series.activities.any? %>
            <%= link_to scoresheet_series_path(@series, format: :csv), class: "btn btn-primary btn-text" do %>
              <i class="mdi mdi-cloud-download"></i>
              <%=  t('.download') %>
            <% end %>
          <% end %>
        </div>
        <% if @series.activities.any? %>
          <%= render partial: 'layouts/searchbar', locals: {
              actions: [
                  { text: t('.at_least_one_started'), search: { at_least_one_started: true } }
              ],
              course_labels: @course_labels
          } %>
          <div id="scoresheet-table-wrapper">
            <%= render partial: "scoresheet_table", locals: {course: @course, series: @series, activities: @activities, users: @users, submissions: @submissions, read_states: @read_states} %>
          </div>
        <% else %>
          <span><%= t('.no_exercises_html', series_edit_url: edit_series_path(@series)) %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(window.dodona.initScoresheetLinks)
</script>
