<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @series.name %></h2>
        <% if policy(@series).edit? %>
          <div class="card-title-fab">
            <%= link_to edit_series_path(@series), class: "btn btn-primary btn-fab" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class="col-sm-6 col-xs-12">
          <p>
            <strong><%= t ".series" %>:</strong> <%= @series.name %>
          </p>
          <p>
            <strong><%= Series.human_attribute_name("course") %>:</strong> <%= link_to "#{@series.course.name} (#{@series.course.year})", course_path(@series.course) %>
          </p>
          <p>
            <strong><%= Series.human_attribute_name("visibility") %>:</strong> <%= Series.human_enum_name(:visibility, @series.visibility) %>
          </p>
          <p>
            <strong><%= Series.human_attribute_name("description") %>:</strong> <%= markdown(@series.description) %>
          </p>
          <p>
            <strong><%= t ".exercises" %>:</strong>
            <ul>
              <% @series.exercises.each do |exercise| %>
                <li><%= link_to exercise.name, exercise %></li>
              <% end %>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
