<div class="field form-group">
  <div class="col-sm-6 offset-sm-3">
    <input type="checkbox" id="<%= name %>" name="<%= name %>" <%= "checked" if local_assigns[:checked] %>>
    <label class="checkbox-label" for="<%= name %>"><%= explanation %></label>
  </div>
  <% if local_assigns.key? :details %>
    <span class="help-block col-sm-6 offset-sm-3">
        <%= local_assigns[:details] %>
    </span>
  <% end %>
</div>
