<div class="table-scroll-wrapper">
  <table class="table table-index table-resource copy-table">
    <thead>
    <tr>
      <th class="col-md-1 fs-6">
        <input type="checkbox" id="check-all" class="form-check-input">
      </th>
      <th>
        <%= data[:table_header_type] %>
      </th>
      <% if data[:is_series?] && policy(data[:item]).show_progress? %>
        <th class='count d-none d-sm-table-cell'>
            <%= t "activities.index.class_progress" %>
        </th>
      <% end %>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <% data[:list].each do |el| %>
      <% if policy(el).show? %>
        <tr class="selection-row">
          <td class="col-md-1">
            <input type="checkbox" class="form-check-input selection-checkbox" value="<%= el.id %>">
          </td>
          <td>
            <span> <%= el.name %> </span>
          </td>
          <% if data[:is_series?] && policy(data[:item]).show_progress? %>
            <td class="d-none d-sm-table-cell">
              <%= render partial: 'application/progress_chart',
                  locals: {
                      total: data[:course].subscribed_members_count,
                      tried: el.users_tried(course: data[:course]),
                      correct: el.users_correct(course: data[:course]),
                      info_tried: 'activities.index.progress_chart_info_tried',
                      info_correct: 'activities.index.progress_chart_info_correct'
                  }
              %>
            </td>
          <% end %>
          <td>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
