<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
      </div>
      <div class="card-supporting-text">
        <span class="header-info-text">
          <%= t '.explanation' %>
        </span>
        <% if @exports.any? %>
          <div class="table-scroll-wrapper">
            <table class="table activity-table table-resource">
              <thead>
              <tr>
                <th><%= t '.status' %></th>
                <th><%= t '.started' %></th>
                <th><%= t '.filename' %></th>
                <th class="actions"></th>
              </tr>
              </thead>
              <tbody>
              <% @exports.each do |export| %>
                <tr <%= raw 'class="active"' if export.id == @highlighted_id %>>
                  <td><%= Export.human_enum_name(:status, export.status) %></td>
                  <td><%= t('.created', when: time_ago_in_words(export.created_at)) %></td>
                  <td>
                    <% if export.archive.attached? %>
                      <%= export.archive.filename %>
                    <% end %>
                  </td>
                  <td class="actions">
                    <% if export.archive.attached? %>
                      <%= link_to rails_blob_path(export.archive, disposition: "attachment"), class: 'btn btn-sm btn-secondary' do %>
                        <i class="mdi mdi-cloud-download mdi-18"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <span class="header-info-text">
              <i class="mdi mdi-information mdi-12"></i>
              <%= t('.automatic_deletion') %>
            </span>
          </div>
        <% else %>
          <span class="header-info">
            <%= t '.no_exports_yet_html', user_link: users_exports_path(current_user) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @exports.where(status: :started).any? %>
    <script>
      setTimeout(function () {
        location.reload(1);
      }, 3000);
    </script>
<% end %>
