<%
  if @crumbs.nil? && @title.present?
    @crumbs = [[@title, "#"]]
  end
%>

<div class="crumbs">
  <% if !user_signed_in? %>
    <div class="crumb list">
      <%= link_to(t("layout.menu.activities"), activities_path) %>
      <%= link_to(t("layout.menu.courses"), courses_path) %>
      <%= link_to(t("layout.menu.support_us"), support_us_path) %>
      <%= link_to(t("layout.menu.manual"), "https://docs.dodona.be/#{I18n.locale}") %>
      <%= link_to(t("layout.menu.contact"), contact_path) %>
    </div>
  <% elsif @crumbs.present? %>
    <% is_first = true %>
    <% @crumbs.each do |name, path| %>
      <% unless is_first %>
        <div class="crumb-separator">
          <i class="mdi mdi-chevron-right"></i>
        </div>
      <% end %>
      <div class="crumb"><%= link_to name, path, title: name %></div>
      <% is_first = false %>
    <% end %>
  <% end %>
</div>
