<% content_for :drawer do %>
  <div class="drawer-group <%='drawer-group-scrollable' if scrollable %>">
    <% if defined?(title) %>
      <h1 class="drawer-group-title"><%= title %></h1>
    <% end %>
    <ul class="drawer-list">
      <% items.each do |id, item| %>
        <% current = current_page?(item[:url]) %>
        <li>
          <%= link_to item[:url],
            class: "drawer-list-item #{'active' if current}",
            id: "drawer-item-#{id}",
            title: item[:text] do %>
            <span class="glyphicon glyphicon-<%= item[:icon] %>">
            </span>
            <%= item[:text].capitalize %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
