<aside id="drawer" class="drawer">
  <nav>
    <div class="drawer-group">
      <h1 class="drawer-group-title"><%= t 'layout.menu.courses' %></h1>
      <ul class="drawer-list">
        <% courses = current_user.drawer_courses %>
        <% courses.each do |course| %>
          <li>
            <%= activatable_link_to course_path(course),
                                    class: 'drawer-list-item',
                                    title: course.name do %>
              <div class="drawer-list-ellipsis">
                <%= course.name %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.admin? %>
      <div class="drawer-group">
        <h1 class="drawer-group-title">Admin</h1>
        <ul class="drawer-list">
          <% if policy(Submission).index? %>
            <li>
              <%= activatable_link_to submissions_path,
                                      class: 'drawer-list-item' do %>
                <%= custom_icon 'submissions' %>
                <%= t('layout.menu.submissions') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Activity).index? %>
            <li>
              <%= activatable_link_to activities_path,
                                      class: 'drawer-list-item' do %>
                <%= custom_icon 'exercises' %>
                <%= t("layout.menu.activities") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(User).index? %>
            <li>
              <%= activatable_link_to users_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-account-multiple mdi-24"></i>
                <%= t("layout.menu.users") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Course).index? %>
            <li>
              <%= activatable_link_to courses_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-book-multiple mdi-24"></i>
                <%= t("layout.menu.courses") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Judge).index? %>
            <li>
              <%= activatable_link_to judges_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-gavel mdi-24"></i>
                <%= t("layout.menu.judges") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Repository).index? %>
            <li>
              <%= activatable_link_to repositories_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-server mdi-24"></i>
                <%= t("layout.menu.repositories") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Label).index? %>
            <li>
              <%= activatable_link_to labels_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-palette-swatch mdi-24"></i>
                <%= t('layout.menu.labels') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(ProgrammingLanguage).index? %>
            <li>
              <%= activatable_link_to programming_languages_path,
                                      class: 'drawer-list-item' do %>
                <i class='mdi mdi-code-tags mdi-24'></i>
                <%= t("layout.menu.programming_languages") %>
              <% end %>
          <% end %>
          <% if policy(Institution).index? %>
            <li>
              <%= activatable_link_to institutions_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-library mdi-24"></i>
                <%= t('layout.menu.institutions') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Event).index? %>
            <li>
              <%= activatable_link_to events_path,
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-calendar mdi-24"></i>
                <%= t('layout.menu.events') %>
              <% end %>
            </li>
          <% end %>
          <% if current_user.zeus? %>
            <li>
              <%= activatable_link_to "/dj/overview",
                                      class: 'drawer-list-item' do %>
                <i class="mdi mdi-plus-box-multiple mdi-24"></i>
                Job queue
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="drawer-group">
      <ul class="drawer-list">
        <li><%= activatable_link_to user_path(current_user),
                                    class: 'drawer-list-item' do %>
            <i class="mdi mdi-account-circle mdi-24"></i>
            <%= t("layout.menu.profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "https://dodona-edu.github.io/#{I18n.locale}/news/", class: 'drawer-list-item' do %>
            <i class="mdi mdi-alert-decagram mdi-24"></i>
            <%= t('layout.menu.news') %>
          <% end %>
        </li>
        <li>
          <%= link_to "https://dodona-edu.github.io/#{I18n.locale}", class: 'drawer-list-item' do %>
            <i class="mdi mdi-help-circle mdi-24"></i>
            <%= t('layout.menu.manual') %>
          <% end %>
        </li>
        <li>
          <%= link_to sign_out_path, method: :delete do %>
            <i class="mdi mdi-power mdi-24"></i>
            <%= t('layout.menu.log_out') %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="drawer-background"></div>
</aside>
