<% content_for :drawer do %>
<%= javascript_pack_tag 'drawer' %>
  <div class="drawer-group">
    <nav class="drawer-list">
      <% items.each do |id, item| %>
        <% current = current_page?(item[:url]) %>
          <% if item.key?(:url)%>
            <%= link_to item[:url],
              class: "drawer-list-item #{'active' if current}",
                id: "drawer-item-#{id}" do %>
               <span class="glyphicon glyphicon-<%= item[:icon] %>">
               </span>
               <%= item[:text] %>
               <% end %>

          <%  elsif item.key?(:group) %>
          <%= link_to "#"+item[:group],
            class: "drawer-list-item",
              id: "drawer-item-#{id}" do %>
             <span class="glyphicon glyphicon-<%= item[:icon] %>">
             </span>
             <%= item[:text] %>
             <% end %>
        <% end %>
      <% end %>
    </nav>
  </div>
<% end %>
