<aside id="drawer" class="drawer">
  <nav>
    <div class="drawer-group">
      <h1 class="drawer-group-title"><%= t 'layout.menu.courses' %></h1>
      <ul class="drawer-list">
        <% current_user.recent_courses(1).each do |course| %>
          <li>
            <%= activatable_link_to course_path(course),
                                    class: 'drawer-list-item',
                                    title: course.name do %>
              <div class="drawer-list-ellipsis">
                <%= course.name %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.admin? %>
      <div class="drawer-group">
        <h1 class="drawer-group-title">Admin</h1>
        <ul class="drawer-list">
          <% if policy(Submission).index? %>
            <li>
              <%= activatable_link_to submissions_path,
                                      class: 'drawer-list-item' do %>
                <%= custom_icon 'submissions' %>
                <%= t("layout.menu.all_submissions") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Exercise).index? %>
            <li>
              <%= activatable_link_to exercises_path,
                                      class: 'drawer-list-item' do %>
                <%= custom_icon 'exercises' %>
                <%= t("layout.menu.exercises") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(User).index? %>
            <li>
              <%= activatable_link_to users_path ,
                                      class: 'drawer-list-item' do %>
                <i class="material-icons md-24">group</i>
                <%= t("layout.menu.users") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Course).index? %>
            <li>
              <%= activatable_link_to courses_path ,
                                      class: 'drawer-list-item' do %>
                <i class="material-icons md-24">collections_bookmark</i>
                <%= t("layout.menu.courses") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Judge).index? %>
            <li>
              <%= activatable_link_to judges_path ,
                                        class: 'drawer-list-item' do %>
                <i class="material-icons md-24">gavel</i>
                <%= t("layout.menu.judges") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Repository).index? %>
            <li>
              <%= activatable_link_to repositories_path ,
                                        class: 'drawer-list-item' do %>
                <i class="material-icons md-24">code</i>
                <%= t("layout.menu.repositories") %>
              <% end %>
            </li>
          <% end %>
          <% if policy(Label).index? %>
            <li>
              <%= activatable_link_to labels_path,
                                      class: 'drawer-list-item' do %>
                <i class="material-icons md-24">style</i>
                <%= t('layout.menu.labels') %>
              <% end %>
            </li>
          <% end %>
          <% if current_user.zeus? %>
            <li>
              <%= activatable_link_to "/dj/overview",
                                        class: 'drawer-list-item' do %>
                <i class="material-icons md-24">storage</i>
                Job queue
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="drawer-group">
      <ul class="drawer-list">
        <li><%= activatable_link_to user_path(current_user),
                                    class: 'drawer-list-item' do %>
            <i class="material-icons md-24">account_circle</i>
            <%= t("layout.menu.profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://dodona.readthedocs.io/', class: 'drawer-list-item' do %>
            <i class="material-icons md-24">help</i>
            <%=  t('layout.menu.manual') %>
          <% end %>
        </li>
        <li>
          <% if current_user.institution&.saml? %>
            <%= link_to destroy_user_session_path(idp: session[:current_idp]), :method => :delete, target: "_blank", onclick: "window.setTimeout(function () {location.href = '#{root_path}';}, 1000);", class: 'drawer-list-item' do %>
              <i class="material-icons md-24">power_settings_new</i>
              <%=  t('layout.menu.log_out') %>
            <% end %>
          <% else %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons md-24">power_settings_new</i>
              <%=  t('layout.menu.log_out') %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="drawer-background"></div>
</aside>
