<footer class="footer">
  <div class="footer-block <%= 'with-drawer' if current_user %>">
    &copy; <%= Date.today.year %> <%= t "layout.footer.ugent" %>
  </div>
  <div class='footer-spacer'></div>
  <div class="footer-block">
    <div class='footer-version'>
    <%= link_to 'Contact', contact_path %>
    <%= link_to "Dodona #{Dodona::Application::VERSION}", about_path %>
    </div>
  </div>
</footer>
