<div id="main-container" class="<%= content_for?(:container_class) ? yield(:container_class) : "container" %> main">
  <div class="page-messages hidden-print" data-nosnippet>
    <% flash.each do |key, value| %>
      <% type = flash_to_bootstrap(key) %>
      <% if value.present? && type.present? %>
        <div class="alert alert-<%= type %>">
          <strong><%= t("layout.messages.#{type}") %></strong>
          <%= value %>
          <%= link_to(flash[:extra]["message"], flash[:extra]["url"]) if flash[:extra] %>
        </div>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <div class="row" id="announcements-row"></div>
      <script>
        dodona.fetchAnnouncements();
      </script>
      <div class='alert alert-warning hidden' id="time-zone-warning">
        <strong><%= t("layout.messages.warning") %></strong> <%= t("layout.messages.time_zone_html", time_zone: current_user.time_zone, profile_edit: edit_user_path(current_user)) %>
      </div>
    <% end %>
    <div class='alert alert-warning hidden' id="iframe-warning">
      <strong><%= t("layout.messages.warning") %></strong> <%= t("layout.messages.iframe", url: request.original_url).html_safe %>
    </div>
    <% if user_signed_in? && current_user != true_user %>
      <div class='alert alert-info'>
        <%= t("layout.impersonate.impersonating_user") %>
        <%= link_to(current_user.full_name, current_user) %>!
        <%= link_to(t("layout.impersonate.switch_back"), stop_impersonating_users_path) + " " + t("layout.impersonate.your_account") %>
      </div>
    <% end %>
    <% if user_signed_in? && Current.demo_mode %>
      <div class='alert alert-info'>
        <b><%= t("layout.demo_mode.demo_mode_enabled") %>:</b>
        <%= t("layout.demo_mode.info") %>
        <%= link_to(t("layout.demo_mode.switch_back"), toggle_demo_mode_path, remote: true, method: "POST") %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</div>
