<%= content_for :javascripts do %>
  <%= javascript_include_tag 'search' %>
<% end %>
<%
  no_filter_for = local_assigns.fetch :no_filter_for, []
  no_dropdown_for = local_assigns.fetch :no_dropdown_for, []
  no_dropdown_for += no_filter_for
%>
<div class='table-toolbar'>
  <d-search-tokens class="search-tokens"
                   hide="<%= no_filter_for.to_json %>"></d-search-tokens>
  <div class='table-toolbar-tools'>
    <i class="mdi mdi-magnify"></i>
    <form class='search' onsubmit="return false;">
      <d-search-field placeholder="<%= t("layout.search.search") %>"
                      eager="<%= local_assigns.fetch :eager, false %>"
                      hide="<%= no_filter_for.to_json %>"
      ></d-search-field>
      <d-loading-bar search-based></d-loading-bar>
    </form>
    <% if local_assigns[:options]&.any? %>
      <d-search-options options='<%= raw (local_assigns.fetch :options, false).to_json %>'></d-search-options>
    <% end %>
  </div>
  <div class="d-flex align-items-center">
    <d-dropdown-filters class="dropdown-filters"
                        hide="<%= no_dropdown_for.to_json %>"
    ></d-dropdown-filters>
    <% if local_assigns[:actions]&.any? %>
      <div class="flex-spacer"></div>
      <d-search-actions
        actions='<%= raw (local_assigns.fetch :actions, false).to_json %>'
        <% if local_assigns[:actionFilter].present? %>
          filter-param='<%= local_assigns.fetch :actionFilter, false %>'
        <% end %>
      ></d-search-actions>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    dodona.ready.then(function () {
        dodona.search.setRefreshElement("<%= local_assigns.fetch :refresh_element, "" %>");

        // load the given localStorageKey if present. This key is used to retrieve the values stored in localStorage
        const localStorageKey = "<%= local_assigns.fetch :local_storage_key, "" %>"
        dodona.search.setBaseUrl("<%= local_assigns.fetch :baseUrl, "" %>");
        dodona.search.autoSearch = <%= local_assigns.fetch :autoSearch, true %>;
        dodona.search.setLocalStorageKey(localStorageKey);

        dodona.search.updateFilters(<%= raw @filters.to_json %>);
    });
</script>
