<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="<%= I18n.locale.to_s %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= t "layout.head.description" %>">
  <meta name="author" content="<%= t "layout.footer.ugent" %>">
  <meta name="application-name" content="Dodona">
  <meta name="theme-color" content="#2196F3">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@DodonaEdu">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:title" content="<%= @title || 'Dodona' %>">
  <%= yield :meta_tags %>
  <meta property="og:image" content="<%= root_url(locale: nil) %>social-image.png">
  <meta name="msapplication-TileColor" content="#2196F3"/>
  <meta name="msapplication-TileImage" content="/icon.png"/>
  <link rel="apple-touch-icon-precomposed" href="/icon.png"/>
  <link rel="shortcut icon" sizes="192x192" href="<%= @dot_icon&.any? ? "/icon-not.png" : "/icon.png" %>">
  <link rel="shortcut icon" href="<%= @dot_icon&.any? ? "/favicon-not.ico" : "/favicon.ico" %>">
  <link rel="manifest" href="/manifest.json">
  <title><%= "#{@title} - " if @title %>Dodona</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" type='text/css'>

  <script>
    window.dodona = window.dodona || {};
    window.dodona.dotCount = <%= @dot_icon&.to_json&.html_safe || "[]" %>;
    window.dodona.sandboxUrl = "<%= sandbox_url %>";
    window.dodona.tutorUrl = "<%= Rails.configuration.tutor_url.to_s %>";
  </script>

  <%= javascript_include_tag 'application_pack' %>
  <%= javascript_include_tag 'commons' %>
  <%= javascript_include_tag 'runtime' %>
  <%= stylesheet_link_tag "application" %>
  <script>
    window.dodona.setTheme("<%= session[:theme] || "auto" %>");
  </script>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body tabindex="-1">
<div id="page-wrapper">
  <%= yield :modal %>
  <%= render 'layouts/navbar' %>
  <% if user_signed_in? %>
    <%= render 'layouts/drawer' %>
  <% end %>
  <%= render 'layouts/main_container' %>
  <section class="toasts"></section>
  <%= render 'layouts/footer' %>
</div>
<script>
    I18n = I18n || {};
    I18n.locale = "<%= I18n.locale %>";
    dodona.checkTimeZone(<%= @time_zone_offset %>);
    dodona.checkIframe();
</script>
</body>
</html>
