<!DOCTYPE html>
<html
  prefix="og: http://ogp.me/ns#"
  lang="<%= I18n.locale.to_s %>"
  class="dodona-frame">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :meta_tags %>
  <meta property="og:image" content="<%= root_url(locale: nil) %>icon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" type='text/css'>
  <% if params[:dark].nil? %>
    <%= stylesheet_link_tag "application-dark", media: '(prefers-color-scheme: dark)' %>
    <%= stylesheet_link_tag "application", media: '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)' %>
    <script>
      const lightModeCSS = '<%= stylesheet_link_tag "application", media: "all" %>';
      document.addEventListener("DOMContentLoaded", () => {
        if (window.matchMedia("(prefers-color-scheme)").media === "not all") {
          document.head.insertAdjacentHTML("beforeend", lightModeCSS);
        }
      });
    </script>
  <% else %>
    <%= stylesheet_link_tag "application#{'-dark' if params[:dark] == 'true'}", media: 'all' %>
  <% end %>
  <%= javascript_include_tag 'frame' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>
</head>
<body>
<%# Open links in the parent window %>
<base target="_parent" href="<%= request.original_url %>">
  <%= yield %>
</body>
</html>
