<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="<%= I18n.locale.to_s %>" class="lti-frame">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :meta_tags %>
  <title>Dodona<%= " - #{@title}" if @title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/5.2.45/css/materialdesignicons.min.css" rel="stylesheet" type='text/css'>
  <% if session[:dark].nil? %>
    <%= stylesheet_link_tag "application-dark", media: '(prefers-color-scheme: dark)' %>
    <%= stylesheet_link_tag "application", media: '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)' %>
    <script>
      window.dodona = window.dodona || {};
      window.dodona.darkMode = false;
      window.dodona.hideDrawer = true;

      const lightModeCSS = '<%= stylesheet_link_tag "application", media: "all" %>';
      document.addEventListener("DOMContentLoaded", () => {
          if (window.matchMedia("(prefers-color-scheme)").media === "not all") {
              document.head.insertAdjacentHTML("beforeend", lightModeCSS);
          }
      });
    </script>
  <% else %>
    <%= stylesheet_link_tag "application#{session[:dark] ? '-dark' : ''}", media: 'all' %>
    <script>
      window.dodona = window.dodona || {};
      window.dodona.darkMode = <%= session.include?(:dark) && session[:dark] %>;
      window.dodona.hideDrawer = true;
    </script>
  <% end %>

  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>
  <script>
      (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments);
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
      })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

      ga("create", "UA-76309350-1", "auto");
      ga("send", "pageview");
  </script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
<div class="<%= content_for?(:container_class) ? yield(:container_class) : "container" %> main">
  <div class="page-messages hidden-print">
    <% flash.each do |key, value| %>
      <% unless value.nil? %>
        <%= content_tag(:div, raw("<strong>#{t("layout.messages.info")}:</strong> ") + value, :class => "alert alert-info") if key == "notice" %>
        <%= content_tag(:div, raw("<strong>#{t("layout.messages.danger")}!</strong> ") + value, :class => "alert alert-danger") if key == "error" %>
        <%= content_tag(:div, raw("<strong>#{t("layout.messages.warning")}!</strong> ") + value, :class => "alert alert-warning") if key == "alert" %>
        <%= content_tag(:div, raw("<strong>#{t("layout.messages.success")}!</strong> ") + value, :class => "alert alert-success") if key == "success" %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <div class='alert alert-warning hidden' id="time-zone-warning">
        <strong><%= t("layout.messages.warning") %></strong> <%= t("layout.messages.time_zone_html", time_zone: current_user.time_zone, profile_edit: edit_user_path(current_user)) %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user != true_user %>
      <div class='alert alert-info'>
        <%= t("layout.impersonate.impersonating_user") %>
        <%= link_to(current_user.full_name, current_user) %>!
        <%= link_to(t("layout.impersonate.switch_back"), stop_impersonating_users_path) + " " + t("layout.impersonate.your_account") %>
      </div>
    <% end %>
    <% if user_signed_in? && Current.demo_mode %>
      <div class='alert alert-info'>
        <b><%= t("layout.demo_mode.demo_mode_enabled") %>:</b>
        <%= t("layout.demo_mode.info") %>
        <%= link_to(t("layout.demo_mode.switch_back"), toggle_demo_mode_path, remote: true, method: "POST") %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</div>
<div class="toasts"></div>
<script>
    I18n = I18n || {};
    I18n.locale = "<%= I18n.locale %>";
    dodona.checkTimeZone(<%= @time_zone_offset %>);
</script>
</body>
</html>
